<ngc-titlebar title="export.NAWB.title" (save)="onSave($event)" (cancel)="onCancel($event)" (clear)="onClear($event)"></ngc-titlebar>
<form [formGroup]="nawbForm" *ngIf="showPage">
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <div>
          <ngc-label label="g.svc"></ngc-label>
        </div>
        <ngc-checkbox formControlName="svcFlag" [width]='40'></ngc-checkbox>
      </ngc-column>
      <ngc-column>
        <div>
          <ngc-label label="awb.awbnumber"></ngc-label>
        </div>
        <ngc-display formControlName='awbNumber'></ngc-display>
      </ngc-column>
      <ngc-column [column]='1'>
      </ngc-column>
      <ngc-column>
        <ngc-button label='export.NAWB.stock' (click)="onStock()" #stockButton [disabled]="disableStock"></ngc-button>
      </ngc-column>
      <ngc-column [column]='8'>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type='section'>
    <ngc-row>
      <ngc-column>
        <ngc-tabs>
          <div ngc-tab-card title='export.NAWB.shipper.consignee.issuing' [indicatorIconType]="shipperIndicatorIcon"
            indicatorIconColor="red">
            <ngc-container>
              <ngc-row>
                <ngc-column [column]='4'>
                  <ngc-container formGroupName="shipperInfo" title='awb.shipper.details'>
                    <ngc-row>
                      <ngc-column>
                        <div>
                          <ngc-label label="g.code"></ngc-label>
                        </div>
                        
                        <ngc-lov (select)="onCodeChange()" formControlName="customerCode" sourceId="CUSTOMER_LIST_AGT"
                          title="g.customer.list" dataField="code" [width]="100" (select)="onSelect($event)">
                          <ngc-data-column text="customer.code" dataField="code" [width]="50"></ngc-data-column>
                          <ngc-data-column text="g.customer.full.name" dataField="desc" [width]="80"></ngc-data-column>
                        </ngc-lov>
                      </ngc-column>
                      <ngc-column>
                        <div>
                          <ngc-label label="g.accountNumber"></ngc-label>
                        </div>
                        <ngc-input formControlName='customerAccountNumber' [width]='180'></ngc-input>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column [column]='4'>
                        <div>
                          <ngc-label label="export.nawb.name.address"></ngc-label>
                        </div>
                        <ngc-input formControlName='customerName' [width]='400' required></ngc-input>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row formGroupName='customerAddressInfo'>
                      <ngc-column [column]='4'>
                        <div>
                          <ngc-label label=" "></ngc-label>
                        </div>
                        <ngc-input formControlName='streetAddress1' [width]='400' required></ngc-input>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row formGroupName="customerAddressInfo">
                      <ngc-column>
                        <div>
                          <ngc-label label="export.nawb.post.code"></ngc-label>
                        </div>
                        <ngc-input formControlName='postalCode' [width]='100' required></ngc-input>
                      </ngc-column>
                      <ngc-column>
                        <div>
                          <ngc-label label="g.city"></ngc-label>
                        </div>
                        <ngc-lov required sourceId="CITY"  title="g.city" formControlName='customerPlace'  dataField="code"
                          width="50%">
                          <ngc-data-column text="g.city"  dataField="code"  [width]="50"></ngc-data-column>
                          <ngc-data-column text="g.description" [width]="150" dataField="desc"></ngc-data-column>
                        </ngc-lov>
                      </ngc-column>
                      <ngc-column>
                        <div>
                          <ngc-label label="g.country"></ngc-label>
                        </div>
                        <ngc-lov required formControlName="countryCode" sourceId="COUNTRY"  title="g.country"  dataField="code"
                          width="50%">
                          <ngc-data-column text="g.country" dataField="code" [width]="50"></ngc-data-column>
                          <ngc-data-column text="g.description" [width]="150" dataField="desc"></ngc-data-column>
                        </ngc-lov>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row formGroupName="customerAddressInfo">
                      <ngc-column formGroupName="customerContactInfo">
                        <ngc-label label="g.contact.type"></ngc-label>
                      </ngc-column>
                      <ngc-column>
                        <ngc-label label="export.details"></ngc-label>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row formGroupName="customerAddressInfo">
                      <ngc-column formGroupName="customerContactInfo">
                        <ngc-dropdownlist formControlName="contactIdentifier" sourceId='CONTACTTYPEDROPDOWN' sourceType="query"
                          [width]='100'></ngc-dropdownlist>
                      </ngc-column>
                      <ngc-column>
                        <ngc-input [disabled]="false" formControlName="contactDetail" [width]='180'></ngc-input>
                      </ngc-column>
                    </ngc-row>
                   
                  </ngc-container>
                </ngc-column>
                <ngc-column [column]='4'>
                  <ngc-container formGroupName="consigneeInfo" title='export.nawb.consignee.details'>
                    <ngc-row>
                      <ngc-column>
                        <div>
                          <ngc-label label="g.code"></ngc-label>
                        </div>
                       
                        <ngc-lov (select)="onCodeChange()" formControlName="customerCode" sourceId="CUSTOMER_LIST_AGT"
                          title="g.customer.list" dataField="code" [width]="100" (select)="onSelect($event)">
                          <ngc-data-column text="customer.code" dataField="code" [width]="50"></ngc-data-column>
                          <ngc-data-column text="g.customer.full.name" dataField="desc" [width]="80"></ngc-data-column>
                        </ngc-lov>
                      </ngc-column>
                      <ngc-column>
                        <div>
                          <ngc-label label="g.accountNumber"></ngc-label>
                        </div>
                        <ngc-input formControlName='customerAccountNumber' [width]='180'></ngc-input>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column [column]='4'>
                        <div>
                          <ngc-label label="export.nawb.name.address"></ngc-label>
                        </div>
                        <ngc-input formControlName='customerName' [width]='400' required></ngc-input>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row formGroupName='customerAddressInfo'>
                      <ngc-column [column]='4'>
                        <div>
                          <ngc-label label=" "></ngc-label>
                        </div>
                        <ngc-input formControlName='streetAddress1' [width]='400' required></ngc-input>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row formGroupName="customerAddressInfo">
                      <ngc-column>
                        <div>
                          <ngc-label label="export.nawb.post.code"></ngc-label>
                        </div>
                        <ngc-input formControlName='postalCode' [width]='100' required></ngc-input>
                      </ngc-column>
                      <ngc-column>
                        <div>
                          <ngc-label label="g.city"></ngc-label>
                        </div>
                        <ngc-lov required sourceId="CITY"  title="g.city" formControlName='customerPlace'  dataField="code"
                          width="50%">
                          <ngc-data-column text="g.city"  dataField="code"  [width]="50"></ngc-data-column>
                          <ngc-data-column text="g.description" [width]="150" dataField="desc"></ngc-data-column>
                        </ngc-lov>
                      </ngc-column>
                      <ngc-column>
                        <div>
                          <ngc-label label="g.country"></ngc-label>
                        </div>
                        <ngc-lov required formControlName="countryCode" sourceId="COUNTRY"  title="g.country"  dataField="code"
                          width="50%">
                          <ngc-data-column text="g.country" dataField="code" [width]="50"></ngc-data-column>
                          <ngc-data-column text="g.description" [width]="150" dataField="desc"></ngc-data-column>
                        </ngc-lov>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row formGroupName="customerAddressInfo">
                      <ngc-column formGroupName="customerContactInfo">
                        <ngc-label label="g.contact.type"></ngc-label>
                      </ngc-column>
                      <ngc-column>
                        <ngc-label label="export.details"></ngc-label>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row formGroupName="customerAddressInfo">
                      <ngc-column formGroupName="customerContactInfo">
                        <ngc-dropdownlist sourceId='CONTACTTYPEDROPDOWN' sourceType="query" [width]='100'></ngc-dropdownlist>
                      </ngc-column>
                      <ngc-column>
                        <ngc-input [width]='180'></ngc-input>
                      </ngc-column>
                    </ngc-row>
                  
                  </ngc-container>
                </ngc-column>
                <ngc-column [column]='4'>
                  <ngc-container title='export.NAWB.issuing.agent' formGroupName="agentInfo">
                    <ngc-row>
                      <ngc-column>
                        <div>
                          <ngc-label label="g.code"></ngc-label>
                        </div>
                        SATS
                      
                      </ngc-column>
                      <ngc-column>
                        <div>
                          <ngc-label label="g.accountNumber"></ngc-label>
                        </div>
                        <ngc-input formControlName='accountNumber' [width]='180'></ngc-input>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column [column]='4'>
                        <div>
                          <ngc-label label="g.name"></ngc-label>
                        </div>
                        SATS Singapore

                      </ngc-column>
                    </ngc-row>

                    <ngc-row>
                      <ngc-column>
                        <div>
                          <ngc-label label="export.nawb.iata.code"></ngc-label>
                        </div>
                        <ngc-input formControlName='iATACargoAgentNumericCode' [width]='100' required></ngc-input>
                      </ngc-column>
                      <ngc-column>
                        <div>
                          <ngc-label label="g.city"></ngc-label>
                        </div>
                        Singapore
                      </ngc-column>
                      <ngc-column>
                        <div>
                          <ngc-label label="export.NAWB.cass.code"></ngc-label>
                        </div>
                        <ngc-input formControlName='iATACargoAgentCASSAddress' [width]='100'></ngc-input>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>
          <div ngc-tab-card title='export.routing' [indicatorIconType]="routingIndicatorIcon" indicatorIconColor="red">
            <ngc-container type='section'>

            </ngc-container>
            <ngc-container title="export.NAWB.requested.routing.and.carrier">
              <ngc-row>
                <ngc-column formGroupName="routing">
                  <div>
                    <ngc-label label="g.from"></ngc-label>
                  </div>
                  <ngc-lov formControlName="from" [width]="60" upperCase="true" [dropDownWidth]="60" sourceId="APT"
                    title="flight.airport" displayMember="code" dataField="code" (select)="onSelectCarrier($event,item)"
                    required>
                    <ngc-data-column text="flight.airportCode" dataField="code" [width]="100">
                    </ngc-data-column>
                    <ngc-data-column text="flight.airportName" dataField="desc" [width]="150">
                    </ngc-data-column>
                  </ngc-lov>
                </ngc-column>
                <ngc-column formGroupName="flightBooking">
                  <div>
                    <ngc-label label="g.by"></ngc-label>
                  </div>
                  <ngc-lov formControlName="carrierCode" sourceId="CARRIER" title="carrier" dataField='code' (select)="onSelect($event)"
                    [width]="50" required>
                    <ngc-data-column text="g.carrier" dataField="code" [width]="100"></ngc-data-column>
                    <ngc-data-column text="g.description" dataField="desc" [width]="150"></ngc-data-column>
                  </ngc-lov>
                </ngc-column>
                <ngc-column formGroupName="flightBooking">
                  <div>
                    <ngc-label label="flight.Flight"></ngc-label>
                  </div>
                  <ngc-input formControlName='flightNumber' [width]='100'></ngc-input>
                </ngc-column>
                <ngc-column formGroupName="flightBooking">
                  <div>
                    <ngc-label label="flight.date"></ngc-label>
                  </div>
                  <ngc-datetimeinput [width]="100" formControlName="flightDate"></ngc-datetimeinput>
                </ngc-column>
                <ngc-column formGroupName="routing">
                  <div>
                    <ngc-label label="g.to"></ngc-label>
                  </div>
                  <ngc-lov formControlName="to" [width]="60" upperCase="true" [dropDownWidth]="60" sourceId="APT" title="flight.airport"
                    displayMember="code" dataField="code" (select)="onSelectCarrier($event,item)" required>
                    <ngc-data-column text="flight.airportCode" dataField="code" [width]="100">
                    </ngc-data-column>
                    <ngc-data-column text="flight.airportName" dataField="desc" [width]="150">
                    </ngc-data-column>
                  </ngc-lov>
                </ngc-column>

              </ngc-row>
            </ngc-container>
          </div>
          <div ngc-tab-card title='export.NAWB.accounting.info' [indicatorIconType]="accountIndicatorIcon" indicatorIconColor="red">
            <ngc-container title="export.NAWB.accounting.and.charges" formGroupName='chargeDeclaration'>
              <ngc-row>
                <ngc-column>
                  <div>
                    <ngc-label label="export.NAWB.accounting.code"></ngc-label>
                  </div>
                  <ngc-input formControlName='chargeCode' [width]='100' required></ngc-input>
                </ngc-column>
                <ngc-column>
                  <div>
                    <ngc-label label="g.description"></ngc-label>
                  </div>
                  <div>
                 
                  </div>
                </ngc-column>
                <ngc-column [column]='8'>
                </ngc-column>
              </ngc-row>
              <ngc-row>
                <ngc-column>
                  <div>
                    <ngc-label label="g.currency.code"></ngc-label>
                  </div>
                  <ngc-lov formControlName="currencyCode" [width]="60" upperCase="true" [dropDownWidth]="60" sourceId="CURRENCY"
                    title="CURRENCY" displayMember="code" dataField="code" (select)="onSelectCarrier($event,item)"
                    required>
                    <ngc-data-column text="g.code" dataField="code" [width]="100">
                    </ngc-data-column>
                    <ngc-data-column text="g.name" dataField="desc" [width]="150">
                    </ngc-data-column>
                  </ngc-lov>
                </ngc-column>
                <ngc-column>
                  <div>
                    <ngc-label label="export.NAWB.charges.code"></ngc-label>
                  </div>
                  <ngc-input formControlName='chargeCode' [width]='100'></ngc-input>
                </ngc-column>
                <ngc-column [column]='2'>
                  <div>
                    <ngc-label label="export.NAWB.weight.valuation.charges"></ngc-label>
                  </div>
                  <ngc-radiobutton formControlName="prepaIdCollectChargeDeclarationPPD" groupName="prepaIdCollectChargeDeclaration"></ngc-radiobutton>
                  <ngc-label label="export.NAWB.ppd"></ngc-label>
                  <ngc-radiobutton formControlName="prepaIdCollectChargeDeclarationCollect" groupName="prepaIdCollectChargeDeclaration"></ngc-radiobutton>
                  <ngc-label label="export.NAWB.collect"></ngc-label>

                </ngc-column>

                <ngc-column>
                  <div>
                    <ngc-label label="export.NAWB.value.of.carriage"></ngc-label>
                  </div>
                  <ngc-input formControlName='carriageValueDeclaration' [width]='100' required></ngc-input>
                </ngc-column>
                <ngc-column>
                  <div>
                    <ngc-label label="export.NAWB.value.of.customs"></ngc-label>
                  </div>
                  <ngc-input formControlName='customsValueDeclaration' [width]='100' required></ngc-input>
                </ngc-column>
                <ngc-column>
                  <div>
                    <ngc-label label="export.NAWB.amount.of.insurance"></ngc-label>
                  </div>
                  <ngc-input formControlName='insuranceValueDeclaration' [width]='100' required></ngc-input>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>
          <div ngc-tab-card title='export.NAWB.special.handling' [indicatorIconType]="shcIndicatorIcon" indicatorIconColor="red">
            <ngc-container>
              <ngc-row>
                <ngc-column>
                  <div>
                    <ngc-label label="export.NAWB.customs.origin"></ngc-label>
                  </div>
                  <ngc-lov formControlName="origin" [width]="60" upperCase="true" [dropDownWidth]="60" sourceId="APT"
                    title="flight.airport" displayMember="code" dataField="code" (select)="onSelectCarrier($event,item)"
                    required>
                    <ngc-data-column text="flight.airportCode" dataField="code" [width]="100">
                    </ngc-data-column>
                    <ngc-data-column text="flight.airportName" dataField="desc" [width]="150">
                    </ngc-data-column>
                  </ngc-lov>
                </ngc-column>
                <ngc-column column="10">
                  <ngc-container formArrayName="shcCode">
                    <ngc-row>
                      <ngc-column column="2">
                        <ngc-label label="g.special.handling.code"></ngc-label>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column *ngFor="let shc of nawbForm.controls.shcCode.controls; let routeIndex = index; "
                        [formGroupName]="routeIndex">
                        <ngc-lov  formControlName="specialHandlingCode"  upperCase="true"  dataField="code"
                           displayMember="code"  [width]="50"  sourceId='SHC_LIST' title='g.special.handling.code'>
                          <ngc-data-column text="g.code"  dataField="code"  [width]="100"></ngc-data-column>
                          <ngc-data-column text="g.description"  dataField="desc"  [width]="150"></ngc-data-column>
                        </ngc-lov>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
              </ngc-row>
              <ngc-row>
              </ngc-row>
            </ngc-container>
            <ngc-container title='export.NAWB.handling.information' formArrayName="shcCode">
              <ngc-row>
                <ngc-column>
                  <ngc-label label="g.type"></ngc-label>
                </ngc-column>
                <ngc-column [column]='10'>
                  <ngc-label label="g.description"></ngc-label>
                </ngc-column>
              </ngc-row>
              <ngc-row>
                <ngc-column>
                  <ngc-input formControlName='type' [width]='100'></ngc-input>
                </ngc-column>
                <ngc-column [column]='10'>
                  <ngc-input formControlName='description' [width]='700'></ngc-input>
                </ngc-column>
              </ngc-row>

            </ngc-container>

          </div>
          <div ngc-tab-card title='export.NAWB.also.notify' [indicatorIconType]="alsoNotifyIndicatorIcon" indicatorIconColor="red">
            <ngc-container formGroupName='consigneeInfo'>
              <ngc-row>
                <ngc-column>
                  <div>
                    <ngc-label label="export.NAWB.customer.details"></ngc-label>
                  </div>
                  <ngc-input formControlName='customerName' [width]='920' required></ngc-input>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>


          <!-- //////////////////////////////////////////////// -->
          <div ngc-tab-card title='export.NAWB.commodity' [indicatorIconType]="commodityIndicatorIcon" indicatorIconColor="red">
            <ngc-container>
            
              <ngc-row>
                <ngc-column>
                  <ngc-table>
                    <thead>
                      <tr>
                        <th [width]='100'>
                          <ngc-label label='export.NAWB.pc.rcp'></ngc-label>
                        </th>
                        <th [width]='100'>
                          <ngc-label label='export.NAWB.gross.weight'></ngc-label>
                        </th>
                        <th [width]='100'>
                          <ngc-label label='export.NAWB.rate.class'></ngc-label>
                        </th>
                        <th [width]='100'>
                          <ngc-label label='export.NAWB.commodity.item.no'></ngc-label>
                        </th>
                        <th [width]='100'>
                          <ngc-label label='export.NAWB.chargeable.weight'></ngc-label>
                        </th>
                        <th [width]='100'>
                          <ngc-label label='export.NAWB.rate.charge'></ngc-label>
                        </th>
                        <th [width]='100'>
                          <ngc-label label='g.total'></ngc-label>
                        </th>
                        <th [width]='150'>
                          <ngc-label label='export.NAWB.nature.quantity.goods'></ngc-label>
                        </th>
                      
                      </tr>
                    </thead>
                    <tbody formArrayName="rateDescription">
                      <tr *ngFor="let commodity of nawbForm.controls.rateDescription.controls; let routeIndex = index; "
                        [formGroupName]="routeIndex">
                        <td>
                          <ngc-piecesinput formControlName='numberOfPieces' required></ngc-piecesinput>
                        </td>
                        <td>
                          <ngc-weightinput formControlName='grossWeight'></ngc-weightinput>
                        </td>
                        <td>
                          <ngc-input formControlName="rateClassCode" [width]="90"></ngc-input>
                        </td>
                        <td>
                          <ngc-input formControlName='commodityItemNo' [width]='100'></ngc-input>
                        </td>
                        <td>
                          <ngc-weightinput formControlName='chargeableWeight'></ngc-weightinput>
                        </td>
                        <td>
                          <ngc-currencyinput formControlName='rateChargeAmount'></ngc-currencyinput>
                        </td>
                        <td>
                          <ngc-currencyinput formControlName='totalChargeAmount'></ngc-currencyinput>
                        </td>
                        <td>
                          <ngc-input formControlName='natureOfGoodsDescription' [width]='150'></ngc-input>
                        </td>
                      </tr>
                    </tbody>
                  </ngc-table>
                </ngc-column>
              </ngc-row>
             
              <ngc-row>
                <ngc-column>
                  <ngc-table>
                    <thead>
                      <tr>
                        <th [width]='100'>
                          <ngc-label label='export.NAWB.length'></ngc-label>
                        </th>
                        
                        <th [width]='100'>
                          <ngc-label label='export.NAWB.width'></ngc-label>
                        </th>
                        <th [width]='100'>
                          <ngc-label label='export.NAWB.height'></ngc-label>
                        </th>
                        <th [width]='100'>
                          <ngc-label label='export.NAWB.number.of.pieces'></ngc-label>
                        </th>
                        <th [width]='100'>
                          <ngc-label label='export.NAWB.volume.code'></ngc-label>
                        </th>
                        <th [width]='100'>
                          <ngc-label label='export.NAWB.volume.amount'></ngc-label>
                        </th>
                        <th [width]='150'>
                          <ngc-label label='uld.uld.number'></ngc-label>
                        </th>
                        <th [width]='150'>
                          <ngc-label label='export.NAWB.slac'></ngc-label>
                        </th>
                        <th [width]='150'>
                          <ngc-label label='export.NAWB.harmonized.commodity.code'></ngc-label>
                        </th>
                        <th [width]='150'>
                          <ngc-label label='export.NAWB.iso.country.code'></ngc-label>
                        </th>
                        <th [width]='150'>
                          <ngc-label label='export.NAWB.service.code'></ngc-label>
                        </th>
                      </tr>
                    </thead>
                    <tbody formArrayName='rateDescriptionOtherInfo'>
                      <tr *ngFor="let commodity of nawbForm.controls.rateDescriptionOtherInfo.controls; let routeIndex = index; "
                        [formGroupName]="routeIndex">
                        <td>
                          <ngc-input formControlName='dimensionLength' [width]='80' required></ngc-input>
                        </td>
                        <td>
                          <ngc-input formControlName='dimensionWIdth' [width]='80' required></ngc-input>
                        </td>
                        <td>
                          <ngc-input formControlName='dimensionHeight' [width]='80' required></ngc-input>
                        </td>
                        <td>
                          <ngc-input formControlName='numberOfPieces' [width]='80' required></ngc-input>
                        </td>
                        <td>
                          <ngc-input formControlName="volumeUnitCode" [width]="90"></ngc-input>
                        </td>
                        <td>
                          <ngc-input formControlName='volumeAmount' [width]='80'></ngc-input>
                        </td>
                        <td>
                          <ngc-input formControlName='uldNumber' [width]='100'></ngc-input>
                        </td>
                        <td>
                          <ngc-input formControlName='slacCount' [width]='50'></ngc-input>
                        </td>
                        <td>
                          <ngc-input formControlName='harmonisedCommodityCode' [width]='100'></ngc-input>
                        </td>
                        <td>
                          <ngc-input formControlName='countryCode' [width]='50'></ngc-input>
                        </td>
                        <td>
                          <ngc-input formControlName="serviceCode" [width]="100"></ngc-input>
                        </td>

                        <!-- <td>
                          <ngc-link (click)="deleteRateDescriptionOther(routeIndex)" iconType="delete"></ngc-link>
                        </td> -->
                      </tr>
                    </tbody>
                  </ngc-table>
                </ngc-column>
              </ngc-row>
            </ngc-container>
            <ngc-container>


            </ngc-container>
          </div>

          <!-- /////////////////////////////////////////////////// -->

          <div ngc-tab-card title='awb.charge.details' [indicatorIconType]="chargeIndicatorIcon" indicatorIconColor="red">
            <ngc-container formArrayName="ppdCol">
              <ngc-row *ngFor="let col of nawbForm.controls.ppdCol.controls; let routeIndex = index; " [formGroupName]="routeIndex">
                <ngc-column [column]='6'>
                  <ngc-container>
                    <ngc-row>
                      <ngc-column [column]='12'>
                        <ngc-table>
                          <thead>
                            <tr>
                              <th [width]='300'>
                                <ngc-label label='export.NAWB.prepaid'></ngc-label>
                              </th>
                              <th [width]='300'>
                                <ngc-label label='export.NAWB.collect'></ngc-label>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th>
                                <ngc-label label='export.NAWB.weight.charge'></ngc-label>
                              </th>
                              <td>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <ngc-currencyinput formControlName='totalWeightChargeAmount'></ngc-currencyinput>
                              </td>
                              <td>
                                <ngc-currencyinput formControlName='totalWeightChargeAmount'></ngc-currencyinput>
                              </td>
                            </tr>
                            <tr>
                              <th>
                                <ngc-label label='export.NAWB.valuation.charge'></ngc-label>
                              </th>
                              <td>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <ngc-input formControlName='valuationChargeIdentifier'></ngc-input>
                              </td>
                              <td>
                                <ngc-input formControlName='valuationChargeIdentifier'></ngc-input>
                              </td>
                            </tr>
                            <tr>
                              <th>
                                <ngc-label label='export.NAWB.tax'></ngc-label>
                              </th>
                              <td>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <ngc-input formControlName='taxesChargeIdentifier' [width]='100'></ngc-input>
                              </td>
                              <td>
                                <ngc-input formControlName='taxesChargeIdentifier' [width]='100'></ngc-input>
                              </td>
                            </tr>
                            <tr>
                              <th>
                                <ngc-label label='export.NAWB.other.charges.due.agent'></ngc-label>
                              </th>
                              <td>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <ngc-input formControlName='totalOtherChargesDueAgentChargeIdentifier'></ngc-input>
                              </td>
                              <td>
                                <ngc-input formControlName='totalOtherChargesDueAgentChargeIdentifier'></ngc-input>
                              </td>
                            </tr>
                            <tr>
                              <th>
                                <ngc-label label='export.NAWB.other.charges.due.carrier'></ngc-label>
                              </th>
                              <td>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <ngc-input formControlName='totalOtherChargesDueCarrierChargeIdentifier'></ngc-input>
                              </td>
                              <td>
                                <ngc-input formControlName='totalOtherChargesDueCarrierChargeIdentifier'></ngc-input>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <ngc-input formControlName='chargeSummaryTotalChargeIdentifier'></ngc-input>
                              </td>
                              <td>
                                <ngc-input formControlName='chargeSummaryTotalChargeIdentifier'></ngc-input>
                              </td>
                            </tr>
                          </tbody>
                        </ngc-table>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
                <ngc-column [column]='6'>
                  <ngc-container title='export.NAWB.due.agent'>
                    <ngc-row>
                      <ngc-column>
                        <div>
                          <ngc-label label="g.code"></ngc-label>
                        </div>
                        <ngc-input formControlName='totalOtherChargesDueAgentChargeIdentifier' [width]='100'></ngc-input>

                     
                      </ngc-column>
                      <ngc-column>
                        <div>
                          <ngc-label label="export.NAWB.amount"></ngc-label>
                        </div>
                        <ngc-currencyinput formControlName='totalWeightChargeAmount'></ngc-currencyinput>
                      </ngc-column>
                      <ngc-column>
                        <div>
                          <ngc-label label="export.NAWB.charge.code"></ngc-label>
                        </div>
                        <ngc-input formControlName='totalWeightChargeAmount' [width]='100'></ngc-input>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                  <ngc-container title='export.NAWB.duecarrier'>
                    <ngc-row>
                      <ngc-column>
                        <div>
                          <ngc-label label="g.code"></ngc-label>
                        </div>
                        <ngc-input formControlName='totalOtherChargesDueCarrierChargeIdentifier' [width]='100'></ngc-input>
                      </ngc-column>
                      <ngc-column>
                        <div>
                          <ngc-label label="export.NAWB.amount"></ngc-label>
                        </div>
                        <ngc-currencyinput formControlName='totalWeightChargeAmount'></ngc-currencyinput>
                      </ngc-column>
                      <ngc-column>
                        <div>
                          <ngc-label label="export.NAWB.charge.code"></ngc-label>
                        </div>
                        <ngc-input formControlName='totalWeightChargeAmount' [width]='100'></ngc-input>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>
          <div ngc-tab-card title='export.NAWB.customs' [indicatorIconType]="customsIndicatorIcon" indicatorIconColor="red">
            <ngc-container type='section'>
              <ngc-row>
                <ngc-column [column]='3'>
                  <ngc-container>
                    <ngc-row>
                      <ngc-column>
                        <ngc-radiobutton [width]='100'></ngc-radiobutton>
                        <ngc-label label="export.NAWB.customs.permit.follow"></ngc-label>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column>
                        <ngc-radiobutton [width]='100'></ngc-radiobutton>
                        <ngc-label label="export.NAWB.customs.permit.number"></ngc-label>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column>
                        <ngc-radiobutton [width]='100'></ngc-radiobutton>
                        <ngc-label label="export.NAWB.customs.exemption.code"></ngc-label>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
                <ngc-column [column]='4'>
                  <ngc-container type='square'>
                    <ngc-row formGroupName='neutralAWBLocalAuthDetails'>
                      <ngc-column>
                        <div>
                          <ngc-label label="export.NAWB.aces"></ngc-label>
                        </div>
                        <ngc-input formControlName='aces' [width]='100'></ngc-input>
                      </ngc-column>
                      <ngc-column>
                        <div>
                          <ngc-label label="agent.appointed.agent"></ngc-label>
                        </div>
                        <ngc-input formControlName='customerAppAgentId' [width]='100' required></ngc-input>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
               
              </ngc-row>
            </ngc-container>
            <ngc-container title='export.NAWB.OCI.information'>
              <ngc-row>
                <ngc-column>
                  <ngc-table>
                    <thead>
                      <tr>
                        <th [width]='150'>
                          <ngc-label label='export.NAWB.OCI.ISO.country.code'></ngc-label>
                        </th>
                        <th [width]='150'>
                          <ngc-label label='export.NAWB.OCI.information.identifier'></ngc-label>
                        </th>
                        <th [width]='150'>
                          <ngc-label label='export.NAWB.OCI.custom.information.identifier'></ngc-label>
                        </th>
                        <th [width]='600'>
                          <ngc-label label='export.NAWB.OCI.suppl.custom.information'></ngc-label>
                        </th>
                        <th [width]='50'>

                          <ngc-label label='g.delete'></ngc-label>

                        </th>
                      </tr>
                    </thead>
                    <tbody formArrayName="accountingInfo">
                      <tr *ngFor="let item of nawbForm.controls.accountingInfo.controls; let index=index"
                        [formGroupName]="index">
                        <td>
                          <ngc-input formControlName='countryCode' [width]='150'></ngc-input>
                        </td>
                        <td>
                          <ngc-input formControlName='informationIdentifier' [width]='150' required></ngc-input>
                        </td>
                        <td>
                          <ngc-input formControlName='accountingInformation' [width]='150' required></ngc-input>
                        </td>
                        <td>
                          <ngc-input formControlName='supplementaryCustomerInformation' [width]='150'></ngc-input>
                        </td>

                        <td>
                          <ngc-link (click)="deleteOCI(index)" iconType="delete"></ngc-link>
                        </td>
                      </tr>
                    </tbody>
                  </ngc-table>
                </ngc-column>
              </ngc-row>
              <ngc-row>
                <ngc-column>
                  <ngc-column>
                    <ngc-button label="g.addRow" (click)="onOciAddRow()"></ngc-button>
                  </ngc-column>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>
          <div ngc-tab-card title='g.remarks' [indicatorIconType]="remarksIndicatorIcon" indicatorIconColor="red">
            <ngc-container type='section'>
              <ngc-row>
                <ngc-column>
                  <ngc-table>
                    <thead>
                      <tr>
                        <th>
                          <ngc-label label='export.details'></ngc-label>
                        </th>
                        <th [width]='50'>

                          <ngc-label label='g.delete'></ngc-label>

                        </th>
                      </tr>
                    </thead>
                    <tbody formArrayName="ssrOsiInfo">
                      <tr *ngFor="let item of nawbForm.controls.ssrOsiInfo.controls; let index=index" [formGroupName]="index">
                        <td>
                          <ngc-input formControlName='serviceRequestType' [width]='400'></ngc-input>
                        </td>

                        <td>
                          <ngc-link (click)="deleteRemarks(index)" iconType="delete"></ngc-link>
                        </td>
                      </tr>
                    </tbody>
                  </ngc-table>
                </ngc-column>
              </ngc-row>
              <ngc-row>
                <ngc-column>
                  <ngc-button label="g.addRow" (click)="onRemarksAddRow()"></ngc-button>
                </ngc-column>
              </ngc-row>
            </ngc-container>
            <ngc-container>
              <ngc-row>
                <ngc-column>
                  <div>
                    <ngc-label label="export.NAWB.shipper.agent.name"></ngc-label>
                  </div>
                  <ngc-input formControlName='remarksShipperName' [width]='180'></ngc-input>
                </ngc-column>
                <ngc-column [column]='2'>
                  <div>
                    <ngc-label label="export.NAWB.document.execution.date"></ngc-label>
                  </div>
                  <ngc-datetimeinput [width]="100" formControlName="executionDate" [width]='100'></ngc-datetimeinput>
                </ngc-column>
                <ngc-column>
                  <div>
                    <ngc-label label="g.city"></ngc-label>
                  </div>
                  <ngc-input formControlName='executionCity' [width]='100'></ngc-input>
                </ngc-column>
                <ngc-column>
                  <div>
                    <ngc-label label="export.NAWB.agent.signature"></ngc-label>
                  </div>
                  <ngc-input formControlName='agentSignature' [width]='100'></ngc-input>
                </ngc-column>
                <ngc-column>
                  <ngc-button label="export.NAWB.print.preview.copy" (click)="printPreviewCopy()"></ngc-button>
                </ngc-column>
                <ngc-column [column]='3'>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>

        </ngc-tabs>
      </ngc-column>
    </ngc-row>
  </ngc-container>

</form>
<form [formGroup]="stockForm">
  <ngc-window #awbWindow title="export.NAWB.select.awb" [showCloseButton]="true" [width]="500" height='500'>
    <ngc-container type="tab">
      <ngc-row>
        <ngc-column>
          <div>
            <ngc-label value='carrier'></ngc-label>
          </div>
          <ngc-lov formControlName='carrierCode' width='40px' upperCase='true' sourceId='CARRIER' title='g.carrier.type'
            dataField='code' (select)='onSelect($event)' displayMember="code" [dropDownWidth]='60'>
            <ngc-data-column text='g.carrier' dataField='code' [width]='100'></ngc-data-column>
            <ngc-data-column text='g.description' dataField='desc' [width]='150'></ngc-data-column>
          </ngc-lov>
        </ngc-column>
        <ngc-column>
          <div>
            <ngc-label label="g.category"></ngc-label>
          </div>
          <ngc-dropdownlist formControlName='stockCategoryCode' [width]='100' sourceId='Shipment$NAWBStock'
            [dropDownWidth]="140"></ngc-dropdownlist>
        </ngc-column>
        <ngc-column>
          <div>
            <ngc-label label="export.NAWB.stock.id"></ngc-label>
          </div>
          <ngc-input formControlName='stockId' [width]='100'></ngc-input>
        </ngc-column>
        <ngc-column>
          <ngc-button label='g.search' (click)="onSearch($event)" iconType="search" #searchButton></ngc-button>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column>
          <ngc-datatable formArrayName="awbListArray" (onRowClick)="onRowClick($event)">
            <!-- <ngc-data-column text="g.select" [width]="40" dataField="select" type="check" align="center" cellsAlign="center"></ngc-data-column> -->
            <ngc-data-column text="awb.awbnumber" height='40' cellsAlign="left" dataField="awbNumber" [width]="100"></ngc-data-column>
            <ngc-data-column text="export.category" height='40' cellsAlign="left" dataField="stockCategoryCode" [width]="100"></ngc-data-column>
            <ngc-data-column text="export.stockId" height='40' cellsAlign="left" dataField="stockId" [width]="100"></ngc-data-column>
          </ngc-datatable>
        </ngc-column>
      </ngc-row>
    </ngc-container>
  </ngc-window>
</form>