<ngc-titlebar title="Maintain.EIC" (save)="onSave($event)" *ngIf=!showAsPopup>
</ngc-titlebar>

<form [formGroup]="maintainEic">
  <ngc-container>
    <ngc-row>
      <ngc-column [column]="1.5">
        <ngc-label label="acceptance.handling.type"></ngc-label>
        <div>
          <ngc-dropdownlist [disabled]="flag" required accessEnableOn="r" formControlName="eicType"
            sourceId="eicType$eicType" [width]="130" (modelChange)="statusSelect($event)" dataField="code">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column *ngIf="maintainEic.get(['eicType']).value == 'Export_EIC'" [column]="1.5">
        <ngc-label label="uld.Number"></ngc-label>
        <div>
          <ngc-lov [width]="100" formControlName='uldNo' upperCase='true' sourceId='MAINTAIN_EIC_EXPORT'
            title='Export_EIC' dataField='code' (select)='onLOVSelect($event)' valueMember="code" [dropDownWidth]='70'
            accessEnableOn="r">
            <ngc-data-column text='uld.Number' dataField='code' [width]='180'></ngc-data-column>
            <ngc-data-column text='g.flight' dataField='parameter1' [width]='180'></ngc-data-column>
            <ngc-data-column text='g.date' dataField='parameter2' [width]='180'></ngc-data-column>
            <ngc-data-column text='export.offPoint' dataField='parameter3' [width]='180'></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column *ngIf="maintainEic.get(['eicType']).value == 'Import_EIC'" [column]="1.5">
        <ngc-label label="uld.Number"></ngc-label>
        <div>
          <ngc-lov [width]="100" formControlName='uldNo' upperCase='true' sourceId='MAINTAIN_EIC_IMPORT'
            title='Import_EIC' dataField='code' (select)='onLOVSelect($event)' valueMember="code" [dropDownWidth]='70'
            accessEnableOn="r">
            <ngc-data-column text='uld.Number' dataField='code' [width]='180'></ngc-data-column>
            <ngc-data-column text='g.flight' dataField='parameter1' [width]='180'></ngc-data-column>
            <ngc-data-column text='g.date' dataField='parameter2' [width]='180'></ngc-data-column>
            <ngc-data-column text='flight.boarding.point' dataField='parameter3' [width]='180'></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column *ngIf="maintainEic.get(['eicType']).value == 'Without_Flight'" [column]="1.5">
        <ngc-label label="uld.Number"></ngc-label>
        <div>
          <ngc-lov [width]="100" formControlName='uldNo' upperCase='true' sourceId='MAINTAIN_EIC_FLT'
            title='Without_Flight' dataField='code' (select)='onLOVSelect($event)' valueMember="code"
            [dropDownWidth]='70' accessEnableOn="r">
            <ngc-data-column text='uld.Number' dataField='code' [width]='180'></ngc-data-column>
            <ngc-data-column text='g.flight' dataField='parameter1' [width]='180'></ngc-data-column>
            <ngc-data-column text='g.date' dataField='parameter2' [width]='180'></ngc-data-column>
            <ngc-data-column text='flight.boarding.point' dataField='parameter3' [width]='180'></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column
        *ngIf="maintainEic.get(['eicType']).value == 'Import_EIC' || maintainEic.get(['eicType']).value == 'Export_EIC'"
        [column]="1.5">
        <ngc-label label="g.flight">
        </ngc-label>
        <div>
          <ngc-display *ngIf="maintainEic.get(['eicType']).value == 'Import_EIC'" formControlName="flightNumber"
            [width]="100" accessEnableOn="r" upperCase="true">
          </ngc-display>
          <ngc-input *ngIf="maintainEic.get(['eicType']).value == 'Export_EIC'" formControlName="flightNumber"
            [width]="100" accessEnableOn="r" upperCase="true">
          </ngc-input>
        </div>
      </ngc-column>
      <ngc-column
        *ngIf="maintainEic.get(['eicType']).value == 'Import_EIC'  || maintainEic.get(['eicType']).value == 'Export_EIC'"
        [column]="1.5">
        <ngc-label label="g.date"></ngc-label>
        <div>
          <ngc-display *ngIf="maintainEic.get(['eicType']).value == 'Import_EIC'" formControlName="flightDate"
            [onlyDate]="true" [width]="100" accessEnableOn="r"></ngc-display>
          <ngc-datetimeinput *ngIf="maintainEic.get(['eicType']).value == 'Export_EIC'" formControlName="flightDate">
          </ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column
        *ngIf="maintainEic.get(['eicType']).value == 'Import_EIC' || maintainEic.get(['eicType']).value == 'Export_EIC'">
        <ngc-label *ngIf="maintainEic.get(['eicType']).value == 'Import_EIC'" label="flight.boarding.point"></ngc-label>
        <ngc-label *ngIf="maintainEic.get(['eicType']).value == 'Export_EIC'"
          label="inbound.transhipment.flightlist.unloadingPoint"></ngc-label>
        <div>
          <ngc-display *ngIf="maintainEic.get(['eicType']).value == 'Import_EIC'" formControlName="uploadingPoint">
          </ngc-display>
          <ngc-input *ngIf="maintainEic.get(['eicType']).value == 'Export_EIC'" formControlName="uploadingPoint"
            [width]="100" accessEnableOn="r" upperCase="true">
          </ngc-input>
        </div>
      </ngc-column>
      <ngc-column align="center">
        <ngc-label label=""></ngc-label>
        <div>
          <ngc-button (click)="onsearch(true)" label='g.search' accessEnableOn="r" iconType="search"></ngc-button>
        </div>
      </ngc-column>
      <ngc-container type="sectiontop"></ngc-container>
    </ngc-row>
  </ngc-container>
  <ngc-container *ngIf="show" type="sectiontop"></ngc-container>
  <ngc-container *ngIf="show" formGroupName="maintainEicInformation" type="section">
    <ngc-row>
      <ngc-column>
        <ngc-label label="Base.Pallet"></ngc-label>
        <div>
          <ngc-display formControlName="basePallet"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column *ngIf="eicType=='Import_EIC' || eicType=='Export_EIC' ">
        <ngc-label label="g.flight"></ngc-label>
        <div>
          <ngc-display formControlName="flightNumber"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column *ngIf="eicType=='Import_EIC' || eicType=='Export_EIC'">
        <ngc-label label="g.date"></ngc-label>
        <div>
          <ngc-display formControlName="date" [onlyDate]="true"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column *ngIf="eicType=='Export_EIC'">
        <ngc-label label="expbu.std"></ngc-label>
        <div>
          <ngc-display formControlName="std"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column *ngIf="eicType=='Import_EIC'">
        <ngc-label align="left" label="flight.ata"></ngc-label>
        <div>
          <ngc-display formControlName="ata"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column *ngIf="eicType=='Export_EIC'">
        <ngc-label label="flight.port.of.call"></ngc-label>
        <div>
          <ngc-display formControlName="portOfCall"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column *ngIf=" eicType=='Without_Flight' ||  eicType=='Export_EIC' ">
        <ngc-label [width]="100" label="Counter Code"></ngc-label>
        <div>
          <ngc-input [width]="100" formControlName="counterCode"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column *ngIf="eicType=='Import_EIC' || eicType=='Without_Flight' || eicType=='Export_EIC'">
        <ngc-label label="flight.tareweight"></ngc-label>
        <div>
          <ngc-numberinput [required]="eicType=='Import_EIC' || eicType=='Without_Flight' ||  eicType=='Export_EIC'"
            formControlName="tareWeight" (modelChange)="checkTareWeight()" [width]="100" upperCase="true">
          </ngc-numberinput>
        </div>
      </ngc-column>
      <ngc-column *ngIf="eicType=='Import_EIC' || eicType=='Without_Flight' || eicType=='Export_EIC'">
        <ngc-label label="exp.acceptance.weight.gross.weight"></ngc-label>
        <div>
          <ngc-numberinput [required]="eicType=='Import_EIC' || eicType=='Without_Flight' || eicType=='Export_EIC'"
            formControlName="grossWeight" (modelChange)="checkTareWeight()" [width]="100" upperCase="true">
          </ngc-numberinput>
        </div>
      </ngc-column>
      <!-- sneha -->
      <ngc-column *ngIf=" eicType=='Without_Flight' ||  eicType=='Export_EIC' ">
        <ngc-label [width]="100" label="accessory"></ngc-label>
        <div>
          <ngc-link text="accessory" (linkClick)="openAddAccessory(item,index)" iconType="add" [width]="140"
            dataField="" align="center" cellsAlign="center" type="link">Add Accessory</ngc-link>
        </div>
      </ngc-column>
      <!-- sneha -->
      <ngc-column [hidden]="true">
        <ngc-input formControlName="flightId" [width]="100" upperCase="true"></ngc-input>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column *ngIf="eicType=='Import_EIC' || eicType=='Without_Flight' || eicType=='Export_EIC' ">
        <ngc-label label=""></ngc-label>
        <div>
          <ngc-label label="g.remarks"></ngc-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <ngc-input formControlName="remarks" [width]="500" [maxlength]="15" upperCase="true"></ngc-input>
        </div>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column align="right">
        <div>
          <ngc-button (click)="add()" label='add' accessEnableOn="r"></ngc-button>
          <ngc-button (click)="dismantle()" label='dismantle' accessEnableOn="r"></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container *ngIf="show">
    <ngc-row>
      <ngc-column>
        <ngc-table>
          <thead>
            <tr>
              <th>
                <ngc-checkbox (modelChange)="oncheckAll($event)" type="checkbox">
                </ngc-checkbox>
              </th>
              <th>
                <ngc-label value="flight.sNo"></ngc-label>
              </th>
              <th>
                <ngc-label value="uld.Number"></ngc-label>
              </th>
              <th style="visibility: hidden; border: none;column-width: 1px;"> </th>
              <th>
                <ngc-label></ngc-label>
              </th>
              <th>
                <ngc-label value="flight.sNo"></ngc-label>
              </th>
              <th>
                <ngc-label value="uld.Number"></ngc-label>
              </th>
            </tr>
          </thead>
          <tbody formArrayName="maintainEicUld">
            <tr *ngFor="let item of maintainEic.controls.maintainEicUld.controls let index=index"
              [formGroupName]="index">
              <td>
                <ngc-checkbox formControlName="lcheck">
                </ngc-checkbox>
              </td>
              <td>
                {{index +1}}
              </td>
              <td>
                <ngc-uldinput formControlName="lUldNumber"></ngc-uldinput>
              </td>
              <td style="visibility: hidden; border: none; column-width: 1px;"></td>
              <td>
                <ngc-checkbox formControlName="rcheck">
                </ngc-checkbox>
              </td>
              <td>
                {{index+1 + rowValue}}
              </td>
              <td>
                <ngc-uldinput formControlName="rUldNumber"></ngc-uldinput>
              </td>
            </tr>
          </tbody>
        </ngc-table>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>
<ngc-window #accessoryPopUp [width]="1500" [height]="600" title="accessory.add.title">
  <app-add-accessory (autoSearchAccessoryInfo)="autoSearchAccessoryInfo()" (closeWindow)="closeWindow()"
    [showAsPopup]="true" [inputData]="inputData">
  </app-add-accessory>
</ngc-window>