<form [formGroup]="truckQueingInfoForm">
  <ngc-titlebar title="tcs.truckQueingInfoTitle"></ngc-titlebar>
  <ng-container formGroupName="search">
    <ngc-container type="section">
      <ngc-row>
        <ngc-column [column]="2">
          <ngc-label label="tcs.purpose"></ngc-label>
          <div>
            <ngc-dropdownlist [dropDownWidth]="200" accessEnableOn="r" formControlName="declaredPurposeCode"
              sourceId="INCOMING_PURPOSE" sourceType='query'>
            </ngc-dropdownlist>
          </div>
        </ngc-column>
        <ngc-column [column]="1.5">
          <ngc-label label="tcs.truckQvehicleNo"></ngc-label>
          <div>
            <ngc-input [maxlength]="10" patternName="alphanum" formControlName="vehicleNo" accessEnableOn="r"
              sourceId="TCS_VEHICLES" sourceCategory="dropdown" sourceType="query"></ngc-input>
          </div>
        </ngc-column>

        <ngc-column [column]="1.5">
          <ngc-label label="tcs.priority_type"></ngc-label>
          <div>
            <ngc-dropdownlist accessEnableOn="r" formControlName="priority" sourceId="TCS$PRIORITY_TYPE" [width]="150">
            </ngc-dropdownlist>
          </div>
        </ngc-column>

        <ngc-column [column]="6" verticalAlign="bottom">
          <ngc-button accessEnableOn="r" label="search" (click)="onSearch()"></ngc-button>

        </ngc-column>

        <ngc-column align="right" *ngIf="searched" verticalAlign="bottom" [column]="1">
          <ngc-label label="tcs.truckQAutoRefresh"></ngc-label>
          <div>
            <ngc-switchbutton accessEnableOn="r" formControlName="auto" (change)="onSwitchChange($event)">
            </ngc-switchbutton>
          </div>
        </ngc-column>

      </ngc-row>
    </ngc-container>
  </ng-container>
  <ngc-container *ngIf="searched && truckQueingInfoForm.get('priorityQueue').length > 0"
    title="tcs.priorityQueuingListTitle" type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-datatable (linkClick)="onPriorityDataTableClick($event)" formArrayName="priorityQueue"
          [columnsHeight]="50">
          <ngc-data-column text="tcs.truckQPositionNo" dataField="orderNo" [width]="20" cellsAlign="right">
          </ngc-data-column>
          <ngc-data-column text="tcs.truckQvehicleNo" dataField="vehicleNo" [width]="30">
          </ngc-data-column>
          <ngc-data-column text="tcs.purpose" dataField="declaredPurposeCode" [width]="60">
          </ngc-data-column>
          <ngc-data-column text="tcs.vehicleType" dataField="vehicleType" [width]="40">
          </ngc-data-column>
          <ngc-data-column text="tcs.terminal" dataField="terminal" [width]="30">
          </ngc-data-column>
          <ngc-data-column text="tcs.floor" dataField="level" [width]="20"></ngc-data-column>
          <ngc-data-column text="tcs.truckQueuingTime" dataField="queuingTime" type="displayTime"
            [cellsStyleRenderer]="cellsStyleRenderer" cellsAlign="center" [width]="35">
          </ngc-data-column>
          <ngc-data-column text="tcs.fltNo/Date" dataField="" [width]="30"></ngc-data-column>
          <ngc-data-column text="tcs.SPL" dataField="" [width]="30"></ngc-data-column>
          <ngc-data-column cellsAlign="center" text="tcs.truckAction" dataField="action" type="link" cellsAlign="center"
            [width]="30">
          </ngc-data-column>
          <ngc-data-column cellsAlign="center" text="tcs.moveUp" dataField="moveUp" type="link" iconType="up"
            cellsAlign="center" [width]="25">
          </ngc-data-column>
          <ngc-data-column cellsAlign="center" text="tcs.moveDown" dataField="moveDown" type="link" iconType="down"
            cellsAlign="center" [width]="25">
          </ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container *ngIf="searched && truckQueingInfoForm.get('normalQueue').length > 0"
    title="tcs.normalQueuingListTitle" type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-datatable (linkClick)="onNormalDataTableClick($event)" formArrayName="normalQueue" [columnsHeight]="50">
          <ngc-data-column text="tcs.truckQPositionNo" dataField="orderNo" [width]="20" cellsAlign="right">
          </ngc-data-column>
          <ngc-data-column text="tcs.truckQvehicleNo" dataField="vehicleNo" [width]="30">
          </ngc-data-column>
          <ngc-data-column text="tcs.purpose" dataField="declaredPurposeCode" [width]="60">
          </ngc-data-column>
          <ngc-data-column text="tcs.vehicleType" dataField="vehicleType" [width]="40">
          </ngc-data-column>
          <ngc-data-column text="tcs.terminal" dataField="terminal" [width]="30">
          </ngc-data-column>
          <ngc-data-column text="tcs.floor" dataField="level" [width]="20"></ngc-data-column>
          <ngc-data-column text="tcs.queuingTime" dataField="queuingTime" type="displayTime"
            [cellsStyleRenderer]="cellsStyleRenderer" cellsAlign="center" [width]="35">
          </ngc-data-column>
          <ngc-data-column text="tcs.fltNo/Date" dataField="" [width]="50"></ngc-data-column>
          <ngc-data-column text="tcs.SPL" dataField="" [width]="30"></ngc-data-column>
          <ngc-data-column cellsAlign="center" text="tcs.truckAction" dataField="action" type="link" cellsAlign="center"
            [width]="30">
          </ngc-data-column>
          <ngc-data-column cellsAlign="center" text="tcs.moveUp" dataField="moveUp" type="link" iconType="up"
            cellsAlign="center" [width]="25">
          </ngc-data-column>
          <ngc-data-column cellsAlign="center" text="tcs.moveDown" dataField="moveDown" type="link" iconType="down"
            cellsAlign="center" [width]="25">
          </ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>

</form>