<ngc-titlebar title="export.special.shipment.title" (save)="onSave($event)" (clear)="onClear($event)"></ngc-titlebar>

<form [formGroup]='specialShipmentForm'>
  <ngc-container type="section">
    <ngc-row>
      <ngc-column column="2">
        <ngc-label label="g.terminal"></ngc-label>
        <div>
          <ngc-input [width]="100" formControlName="terminal"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label="flight.dateFrom"></ngc-label>
        <div>
          <ngc-datetimeinput formControlName="dateFrom" [width]='100' required></ngc-datetimeinput>
        </div>

      </ngc-column>
      <ngc-column column="2">
        <ngc-label label="flight.dateTo" indent></ngc-label>
        <div>
          <ngc-datetimeinput formControlName="dateTo" [width]='100' required></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label="flight.carrier"></ngc-label>
        <div>
          <ngc-input [width]="150" formControlName="carrier"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="g.shipmentType"></ngc-label>
        <ngc-dropdownlist [width]="100" formControlName="shipmentType" [source]='shipmentList' [dropDownWidth]="140"
          (ngModelChange)="onChange($event)"></ngc-dropdownlist>
      </ngc-column>

      <ngc-column>
        <ngc-label label="export.exclude.rac"></ngc-label>
        <div>
          <ngc-checkbox formControlName="excludeRAC"></ngc-checkbox>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label="g.special.handling.code"></ngc-label>
        <div>
          <ngc-input [width]="150" formControlName="specialHandlingCode"></ngc-input>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-datatable *ngIf="dataDisplay" formArrayName="specialShipmentList">
          <ngc-data-column text="sys.sno" dataField="sno" [width]="50" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="awb.awbnumber" dataField="awbNo" [width]="100" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="awb.org" dataField="origin" [width]="50" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="awb.des" dataField="destination" [width]="50" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="g.totalpieces" dataField="pieces" [width]="100" cellsAlign="right" type="displayPieces"></ngc-data-column>
          <ngc-data-column text="g.totalweight" dataField="weight" [width]="100" cellsAlign="right" type="displayWeight"></ngc-data-column>
          <ngc-data-column text="flight.Flight" dataField="inFlight" [width]="80" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="flight.sta" dataField="inSta" [width]="80" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="flight.eta" dataField="inEta" [width]="80" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="flight.ata" dataField="inAta" [width]="80" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="g.pieces" dataField="inPieces" [width]="80" cellsAlign="right" type="displayPieces"></ngc-data-column>
          <ngc-data-column text="g.weight" dataField="inWeight" [width]="80" cellsAlign="right" type="displayWeight"></ngc-data-column>
          <ngc-data-column text="flight.Flight" dataField="outFlight" [width]="80" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="flight.sta" dataField="outSta" [width]="80" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="flight.eta" dataField="outEta" [width]="100" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="flight.ata" dataField="outAta" [width]="100" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="g.pieces" dataField="outPieces" [width]="80" cellsAlign="right" type="displayPieces"></ngc-data-column>
          <ngc-data-column text="g.weight" dataField="outWeight" [width]="80" cellsAlign="right" type="displayWeight"></ngc-data-column>
          <ngc-data-column text="export.ready.to.load" dataField="readyToLoad" [width]="100" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="export.transfer.type" dataField="transferType" [width]="80" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="export.rfid" dataField="rfid" [width]="50" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="SCH" dataField="sch" [width]="40" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="export.dwell.time" dataField="dwellTime" [width]="85" cellsAlign="center"></ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>