.tcs-slot {
    color: gray;
    cursor: auto;
    min-width: 30px;
}

.tcs-slot-reservable {
    color: darkblue;
    cursor: pointer;
}

.tcs-slot-selected {
    background-color: lightblue;
}

.tcs-slot-header96 {
    transform: rotate(-45deg);
    font-size: 0.8rem;
    min-width: 30px;
    width: 30px;
    height: 30px;
}

.tcs-slot-header24,
.tcs-slot-header12 {
    height: 30px;
}

.tcs-slot-pastday {
    color: gray;
    background-color: slategray;
}