<form [formGroup]="form">
  <ngc-titlebar title='spcl.handl.auto.select.master' (save)="onSave()" (cancel)="onBack($event)">
  </ngc-titlebar>
  <ngc-container type="section">
    <ngc-row>
      <ngc-column [column]="3">
        <ngc-label label="import.Breakdown.Handling.Form"></ngc-label>&nbsp;&nbsp;
        <ngc-dropdownlist [width]="250" formControlName="breakdownHandlingForm" [noCache]="true"
          sourceId="CARGO_HANDLING_MASTER" sourceType='query'>
        </ngc-dropdownlist>
      </ngc-column>
      <ngc-column [column]="1">
        <!--   <ngc-label label=''></ngc-label> -->
        <div>
          <ngc-button label='g.search' accessEnableOn="r" (click)="onSearch()" iconType="search" [disabled]="searchFlag"
            #searchbutton></ngc-button>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <!--  <ngc-label label=''></ngc-label> -->
        <div>
          <ngc-button value="val.add" accessEnableon="r" (click)="onAdd()"></ngc-button>
        </div>

      </ngc-column>
    </ngc-row>
  </ngc-container>


  <ngc-container type="section" *ngIf="displayResults">
    <ngc-row>
      <ngc-column [column]="10">
        <ngc-edittable formArrayName="specialHandlingAutoSelectList">

          <ngc-data-column text="handling.form.section" align="center" cellsAlign="center" cellsAlign="center"
            [width]="200" dataField="breakdownHandlingForm">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group"
                *ngIf="form.get(['specialHandlingAutoSelectList',group,'flagCRUD']).value !=='C'">
                <ngc-display formControlName="breakdownHandlingForm" [width]="400" uppercase='false'>
                </ngc-display>
              </ng-container>
              <ng-container [formGroupName]="group"
                *ngIf="form.get(['specialHandlingAutoSelectList',group,'flagCRUD']).value =='C'">
                <ngc-dropdownlist [width]="250" required formControlName="breakdownHandlingForm" [noCache]="true"
                  sourceId="CARGO_HANDLING_MASTER" sourceType='query'>
                </ngc-dropdownlist>
              </ng-container>
            </ng-template>
          </ngc-data-column>

          <ngc-data-column text="import.Options" align="center" cellsAlign="center" cellsAlign="center" [width]="200"
            dataField="priorityOptions">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group"
                *ngIf="form.get(['specialHandlingAutoSelectList',group,'flagCRUD']).value !=='C'">
                <ngc-display formControlName="priorityOptions" [width]="400" uppercase='false'>
                </ngc-display>
              </ng-container>
              <ng-container [formGroupName]="group"
                *ngIf="form.get(['specialHandlingAutoSelectList',group,'flagCRUD']).value =='C'">
                <ngc-dropdownlist [width]="400" required formControlName="priorityOptions" [noCache]="true"
                  sourceId="HandlingMaster$Options">
                </ngc-dropdownlist>
              </ng-container>
            </ng-template>
          </ngc-data-column>

          <ngc-data-column text="auto.select" align="center" cellsAlign="center" cellsAlign="center" [width]="300"
            dataField="autoSelect">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group"
                *ngIf="form.get(['specialHandlingAutoSelectList',group,'flagCRUD']).value !=='C'">
                <ngc-display formControlName="autoSelect" [width]="400" uppercase='false'>
                </ngc-display>
              </ng-container>
              <ng-container [formGroupName]="group"
                *ngIf="form.get(['specialHandlingAutoSelectList',group,'flagCRUD']).value =='C'">
                <ngc-input formControlName="autoSelect" required [width]="600" uppercase='false' [maxlength]="65">
                </ngc-input>
              </ng-container>
            </ng-template>
          </ngc-data-column>

          <ngc-data-column text="g.delete" [width]="10" align="center" cellsAlign="center">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group" cellsAlign="center">
                <ngc-link (linkClick)="delete($event,group)" iconType="delete">
                </ngc-link>
              </ng-container>
            </ng-template>
          </ngc-data-column>
        </ngc-edittable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>