<ngc-titlebar title='warehouse.setupwarehouse.profileconfiguration' (cancel)="onCancel()"></ngc-titlebar>
<ngc-container>
    <ngc-row>
        <ngc-column>
            <ngc-tabs (select)='onTabChange($event)'>
                <ng-container *ngFor="let terminal of listHandlingArea; let index=index">
                    <ngc-tab-card [title]='terminal.terminalCode + "-" + terminal.description'>
                        <ngc-wh-terminal (requestRefresh)="onCatchRequestRefresh($event, index)"
                            *ngIf="currentSelectedIndex === index && terminal" [terminal]="terminal"></ngc-wh-terminal>
                    </ngc-tab-card>
                </ng-container>
            </ngc-tabs>
        </ngc-column>
    </ngc-row>
</ngc-container>