<form [formGroup]="form">
  <ngc-titlebar title='warehouse.operationalmessages.processarea' (save)="onSave($event)" (cancel)="onCancel($event)">
  </ngc-titlebar>
  <ngc-container type="sectiontop">
    <ngc-row>
      <ngc-column align="right">
        <ngc-button label="g._add" (click)='addOperationalProcessArea($event)'></ngc-button>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-table>
          <thead>
            <tr>
              <th>
                <ngc-label label="g.sNo"></ngc-label>
              </th>
              <th>
                <ngc-label label="warehouse.processname"></ngc-label>
              </th>
              <th>
                <ngc-label label="warehouse.message"></ngc-label>
              </th>
              <th>
                <ngc-label label="g.delete"></ngc-label>
              </th>
            </tr>
          </thead>
          <tbody formArrayName="operationalMessages">
            <tr *ngFor="let item of form.controls.operationalMessages.controls; let index=index"
              [formGroupName]="index">
              <td>
                <ngc-label label="{{index+1}}"></ngc-label>
              </td>
              <td>
                <ngc-dropdownlist formControlName="processAreaId" (select)='selectDropDown($event, index)'
                  sourceType='query' sourceId="CPE_PROCESS_AREA_TYPES_FOR_MESSAGE_PRECEDENTS"></ngc-dropdownlist>
              </td>
              <td>
                <ngc-input [maxlength]='100' [width]='950' required formControlName="operationalMessage"
                  upperCase='false'></ngc-input>
              </td>
              <td>
                <ngc-link (click)="deleteOperationalMessages(index)" iconType="delete">
                </ngc-link>
              </td>
          </tbody>
        </ngc-table>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>