<form [formGroup]="tenatQueingInfoForm">
  <ngc-titlebar title="tcs.tenentQueuingInfoTitle"></ngc-titlebar>
  <ng-container formGroupName="search">
    <ngc-container type="section">
      <ngc-row>
        <ngc-column [column]="3">
          <ngc-label label="tcs.tenantname"></ngc-label>
          <div>
            <ngc-lov accessEnableOn="r" patternName="alphanum" formControlName="companyId" dataField="param1"
              displayField="desc" accessEnableOn="r" sourceId="TCS_TENANT" [width]="300">
              <ngc-data-column text="tcs.tenantCompanyCode" dataField="code" [width]="50"></ngc-data-column>
              <ngc-data-column text="tcs.tenantCompany_Name" [width]="150" dataField="desc"></ngc-data-column>
            </ngc-lov>
          </div>
        </ngc-column>
        <ngc-column verticalAlign="bottom" [column]="8">
          <ngc-button accessEnableOn="r" label="search" (click)="onSearch()"></ngc-button>
        </ngc-column>

        <ngc-column align="right" *ngIf="searched" verticalAlign="bottom" [column]="1">
          <ngc-label label="tcs.tenantAutoRefresh"></ngc-label>
          <div>
            <ngc-switchbutton accessEnableOn="r" align="right" formControlName="auto" (change)="onSwitchChange($event)">
            </ngc-switchbutton>
          </div>
        </ngc-column>

      </ngc-row>
    </ngc-container>
  </ng-container>
  <ngc-container *ngIf="searched" type="tab">
    <ngc-row>
      <ngc-column [column]="4">
        <ngc-label label="tcs.tenantname"></ngc-label>
        <div>
          <ngc-display formControlName="tenantName"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="tcs.enableAutoQueue"></ngc-label>
        <div>
          <ngc-icon type="yesno" formControlName="enableAutoQueue"></ngc-icon>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container *ngIf="searched" type="tab">
    <ngc-row>
      <ngc-column [column]="6">
        <ngc-label label="tcs.tenentQueueTitle"></ngc-label>
        <ngc-datatable formArrayName="tenantQueue" (linkClick)="onHyperLinkClick($event)">


          <ngc-data-column type="serialNo" text="tcs.tenantSerialNo" [width]="30">
          </ngc-data-column>
          <ngc-data-column text="tcs.tenantPositionNo" dataField="orderNo" [width]="30" cellsAlign="right">
          </ngc-data-column>
          <ngc-data-column type="link" text="tcs.tenantVehicleNo" dataField="vehicleNo">
          </ngc-data-column>

          <ngc-data-column text="tcs.tenantQueuingTime" dataField="queuingTime" type="displayDateTime">
          </ngc-data-column>
        </ngc-datatable>
      </ngc-column>
      <ngc-column [column]="6">
        <ngc-label label="tcs.waitingManualQueueTitle"></ngc-label>
        <ngc-datatable formArrayName="waitingManualQueue" (linkClick)="onHyperLinkClick($event)">
          <ngc-data-column [width]="40" type="serialNo" text="tcs.tenantSerialNo">
          </ngc-data-column>
          <ngc-data-column text="tcs.tenantVehicleNo" type="link" dataField="vehicleNo">
          </ngc-data-column>
          <ngc-data-column [width]="120" text="tcs.tenantPurposeStartTime" dataField="declarePurposeDateTime"
            type="displayDateTime">
          </ngc-data-column>
          <ngc-data-column text="tcs.oscharge" dataField="outstandingCharges" cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="tcs.tenantAction" dataField="action" type="link" cellsAlign="center">
          </ngc-data-column>
        </ngc-datatable>
      </ngc-column>


    </ngc-row>
    <ngc-row>
      <ngc-column [column]="6">
        <ngc-label label="tcs.allocatedVehicleTitle"></ngc-label>
        <ngc-datatable formArrayName="allocatedVehicle" (linkClick)="onHyperLinkClick($event)">
          <ngc-data-column [width]="30" type="serialNo" text="tcs.tenantSerialNo">
          </ngc-data-column>
          <ngc-data-column text="tcs.tenantVehicleNo" type="link" dataField="vehicleNo">
          </ngc-data-column>
          <ngc-data-column [width]="100" text="tcs.tenantAllocatedTime" dataField="dockAllocatedDateTime"
            type="displayDateTime">
          </ngc-data-column>
          <ngc-data-column text="tcs.tenantAction" dataField="action" type="link" cellsAlign="center">
          </ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>

  </ngc-container>
  <!-- <ngc-window #maintainTruckDockWindow title="tcs.maintainDockAllocationWindowTitle" [width]="1190" [height]="563">
    <app-maintain-truck-dock #maintainDockScreen [incomingVehicleNo]="vehicleNo" [callerScreen]="callerScreen">
    </app-maintain-truck-dock>
    <ngc-window-footer>
      <ngc-container type="sectiontop">
        <ngc-row>
          <ngc-column align="right">
            <ngc-button label="tcs.tenantPopupCancel" (click)="cancel(maintainTruckDockWindow)"></ngc-button>
          </ngc-column>
        </ngc-row>
      </ngc-container>
    </ngc-window-footer>
  </ngc-window> -->

</form>