<form [formGroup]="form">
  <ngc-titlebar title='shipment.priority.email.group' (print)='print()' (save)="onSave()" (cancel)="onBack($event)">
  </ngc-titlebar>
  <ngc-container type="section">
    <ngc-row>
      <ngc-column [column]="2.5">
        <ngc-label label="email.group"></ngc-label>&nbsp;&nbsp;
        <ngc-dropdownlist [width]="200" formControlName="groupCode" [noCache]="true"
          sourceId="HandlingMaster$EmailGroup">
        </ngc-dropdownlist>
      </ngc-column>
      <ngc-column [column]="1">
        <!--   <ngc-label label=''></ngc-label> -->
        <div>
          <ngc-button label='g.search' accessEnableOn="r" (click)="onSearch()" iconType="search" [disabled]="searchFlag"
            #searchbutton></ngc-button>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <!--  <ngc-label label=''></ngc-label> -->
        <div>
          <ngc-button value="val.add" accessEnableon="r" (click)="onAdd()"></ngc-button>
        </div>

      </ngc-column>
    </ngc-row>
  </ngc-container>


  <ngc-container type="section" *ngIf="displayResults">
    <ngc-row>
      <ngc-column [column]="8">
        <ngc-edittable formArrayName="shipmentPriorityList">
          <ngc-data-column text="shipment.priority.email.group" align="center" cellsAlign="center" [width]="200"
            dataField="groupCode">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group"
                *ngIf="form.get(['shipmentPriorityList',group,'flagCRUD']).value !=='C'">
                <ngc-display formControlName="groupCode" [width]="400" uppercase='false'>
                </ngc-display>
              </ng-container>
              <ng-container [formGroupName]="group"
                *ngIf="form.get(['shipmentPriorityList',group,'flagCRUD']).value =='C'">
                <ngc-dropdownlist [width]="400" required formControlName="groupCode" [noCache]="true"
                  sourceId="HandlingMaster$EmailGroup">
                </ngc-dropdownlist>
              </ng-container>
            </ng-template>
          </ngc-data-column>

          <ngc-data-column text="ciq.emailId" align="center" cellsAlign="center" [width]="400" dataField="emailAddress">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group"
                *ngIf="form.get(['shipmentPriorityList',group,'flagCRUD']).value !=='C'">
                <ngc-display formControlName="emailAddress" [width]="400" uppercase='false'>
                </ngc-display>
              </ng-container>
              <ng-container [formGroupName]="group"
                *ngIf="form.get(['shipmentPriorityList',group,'flagCRUD']).value =='C'">
                <ngc-input formControlName="emailAddress" required [width]="800" uppercase='false' [maxlength]="100">
                </ngc-input>
              </ng-container>
            </ng-template>

          </ngc-data-column>
          <ngc-data-column text="g.delete" [width]="10" align="center" cellsAlign="center">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group" cellsAlign="center">
                <ngc-link (linkClick)="delete($event,group)" iconType="delete">
                </ngc-link>
              </ng-container>
            </ng-template>
          </ngc-data-column>
        </ngc-edittable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>