<form [formGroup]='form'>
  <ngc-capturephoto [previewSelectable]='true' [entityType]="form.get('entityType').value" [entityKey]="form.get('entityKey').value"
    [associatedTo]="form.get('associatedTo').value" [stage]="form.get('stage').value">

    <!-- <ngc-container type="tab">
      <ngc-row>
        <ngc-column [column]="6">
          <br />
          <ngc-label label="Email To"></ngc-label>
          <div>
            <ngc-emailinput formControlName="emailTo" maxLength='50' [width]='200'></ngc-emailinput>
            <ngc-label label=" "></ngc-label>
            <ngc-button label="Send" (click)="onSendEmail()"></ngc-button>
          </div>
        </ngc-column>
      </ngc-row>
    </ngc-container> -->

  </ngc-capturephoto>

</form>