<form [formGroup]="form">
  <ngc-titlebar title='import.uncollected.freight.report' (cancel)='backToHome($event)' >
  </ngc-titlebar>
  <ngc-container type="tab">
    <ngc-row>
      <!-- <ngc-column [column]="2">
        <ngc-label label='From Date'></ngc-label>
        <div>
          <ngc-datetimeinput formControlName="fromdate" required="true" [max]='currentDate'>
          </ngc-datetimeinput>
        </div>
      </ngc-column> -->

      <ngc-column [column]="2">
        <ngc-label label='g.toDate'></ngc-label>
        <div>
          <ngc-datetimeinput formControlName="date" required="true" [max]='currentDate'>
          </ngc-datetimeinput>
        </div>
      </ngc-column>
      <!--<ngc-column [column]="1"></ngc-column>
       <ngc-column [column]="1">
        <ngc-label label=''></ngc-label>
        <div>
          <ngc-button label='Search' (click)="onSearchData()" [width]="140" #searchbutton>
          </ngc-button>
        </div>
      </ngc-column> 
      <ngc-column [column]="1"></ngc-column>-->
      <ngc-column [column]="1">
        <ngc-label label=''></ngc-label>
        <div>
          <ngc-button accessEnableOn="r" label='import.generate.irp' (click)="onreportcreation()" [width]="140" #searchbutton>
          </ngc-button>
        </div>
      </ngc-column>
      <ngc-column [column]="1"></ngc-column>
      <ngc-column [column]="1">
        <ngc-label label=''></ngc-label>
        <div>
          <ngc-button  label='import.send.irp' (click)="onSearch()" [width]="140" #searchbutton></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab" *ngIf="isData">
    <ngc-row>
      <ngc-column>
        <ngc-datatable formArrayName="shipments" [pageSize]="10">

          <ngc-data-column text="g.select" type="check" dataField="select" cellsAlign="center">
            <ng-template let-data let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-checkbox formControlName="select"></ngc-checkbox>
              </ng-container>
            </ng-template>
          </ngc-data-column>
          <ngc-data-column text="g.awbNumber" dataField="shipmentNumber" [width]="40">
          </ngc-data-column>
          <ngc-data-column text="g.pieces" dataField="pieces" [width]="30">
          </ngc-data-column>
          <ngc-data-column text="g.weight" dataField="weight" [width]="30">
          </ngc-data-column>
          <ngc-data-column text="import.flight.date" [width]="50" dataField="flight">
          </ngc-data-column>
          <!-- <ngc-data-column text="Flight Date" [width]="70" dataField="flightDate" align="center" type="displayDate">
          </ngc-data-column> -->
          <ngc-data-column text="g.origin" [width]="30" dataField="origin">
          </ngc-data-column>
          <!-- <ngc-data-column text="g.destination" [width]="50" dataField="destination" align="center"></ngc-data-column> -->
          <ngc-data-column text="import.collection.terminal" [width]="30" dataField="collectionTerminal">
          </ngc-data-column>



        </ngc-datatable>
      </ngc-column>
    </ngc-row>

  </ngc-container>

  <ngc-report  format='pdf' #reportWindow title="import.uncollected.freight.report"  reportId='UncollectedFreightReport'
    [reportParameters]='reportParameters'>
  </ngc-report>
</form>