<form [formGroup]="exitGateForm">
  <ngc-titlebar title="tcs.ExitGate"></ngc-titlebar>
  <ng-container formGroupName="search">
    <ngc-container type="section">
      <ngc-row>
        <ngc-column [column]="2">
          <ngc-label label="tcs.GateNo"></ngc-label>
          <div>
            <ngc-dropdownlist accessEnableOn="r" [dropDownWidth]="200" formControlName="gateNumber"
              sourceId="GATE_NUMBER" sourceType='query'>
            </ngc-dropdownlist>

          </div>
        </ngc-column>
        <ngc-column verticalAlign="bottom" [column]="9">
          <ngc-button accessEnableOn="r" label="search" (click)="onSearch()"></ngc-button>
        </ngc-column>
        <ngc-column align="right" *ngIf="searched" verticalAlign="bottom" [column]="1">
          <ngc-label label="tcs.exitAutoRefresh"></ngc-label>
          <div>
            <ngc-switchbutton accessEnableOn="r" formControlName="auto" (change)="onSwitchChange($event)">
            </ngc-switchbutton>
          </div>
        </ngc-column>
      </ngc-row>
    </ngc-container>
    <ngc-container *ngIf="searched" type="tab">
      <ngc-row>
        <ngc-column [column]="6">
          <ngc-datatable formArrayName="gateRecords" (linkClick)="onInfo($event, vehicleInfoWindow, truckInfoScreen)"
            [pageable]="false">
            <ngc-data-column type="serialNo" text="tcs.serialNo" [width]="40"></ngc-data-column>
            <ngc-data-column dataField="tripId" [hidden]="true">
            </ngc-data-column>
            <ngc-data-column text="tcs.GateNo" dataField="gateNo" [width]="40">
            </ngc-data-column>
            <ngc-data-column text="tcs.vehicleNo" dataField="truckNo" type="link" [width]="50">
            </ngc-data-column>
            <ngc-data-column text="tcs.terminalArrivalTime" type="displayDateTime" dataField="terminalArrivalTime"
              [width]="80">
            </ngc-data-column>
            <ngc-data-column text="tcs.terminalExitTime" type="displayDateTime" dataField="terminalExitTime"
              [width]="80">
            </ngc-data-column>
          </ngc-datatable>
        </ngc-column>
      </ngc-row>
    </ngc-container>
  </ng-container>
</form>


<ngc-window #vehicleInfoWindow title="tcs.truckDetails" [width]="800" [height]="550">
  <app-truck-information #truckInfoScreen [tripId]="tripId">
  </app-truck-information>
  <ngc-window-footer>
    <ngc-container type="sectiontop">
      <ngc-row>
        <ngc-column align="right">
          <ngc-button label="g.cancel" (click)="cancel(vehicleInfoWindow)"></ngc-button>
        </ngc-column>
      </ngc-row>
    </ngc-container>
  </ngc-window-footer>
</ngc-window>