<form [formGroup]="form">
  <ngc-titlebar title="export.shipment.embargo.title" (save)="onSave($event)" (clear)="onClear($event)"></ngc-titlebar>

  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-label label="awb.carrier"></ngc-label>
        <div>
          <ngc-lov formControlName="carrierCode" upperCase="true" dataField="code" displayMember="code" [width]="75" sourceId='CARRIER'
            title='flight.carrierType' (onChange)="onSelectCarrier($event)" (select)="onSelectCarrier($event)" required>
            <ngc-data-column text="g.carrier" dataField="code" [width]="100"></ngc-data-column>
            <ngc-data-column text="g.description" dataField="desc" [width]="150"></ngc-data-column>
            <ngc-data-column text="flight.assisted" dataField="param1" [width]="150"></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label=" "></ngc-label>
        <div>
          <ngc-button label="g.search" iconType="search" (click)="onSearchWithCarrier()"></ngc-button>
        </div>
      </ngc-column>
      <ngc-column>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column [column]="10">

      </ngc-column>
      <ngc-column>
        <ngc-button value="g._add" (click)="onAddRow()"></ngc-button>
      </ngc-column>
      <ngc-column>
        <ngc-button value="g.delete" (click)="onDeleteRows()"></ngc-button>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-datatable formArrayName="embargoList" [height]="500" (linkClick)="onEditRow($event)">
          <ngc-data-column text="g.select" dataField="isSelected" type="check" [width]="100"></ngc-data-column>
          <ngc-data-column text="g.country" dataField="country" [width]="100"></ngc-data-column>
          <ngc-data-column text="flight.flight.sector" dataField="flightSector" [width]="100"></ngc-data-column>
          <ngc-data-column text="export.shc.group" dataField="shcGroup" [width]="100"></ngc-data-column>
          <ngc-data-column text="export.shc.code" dataField="schCode" [width]="100"></ngc-data-column>
          <ngc-data-column text="g.startDate" type="displayDate" dataField="startDate" [width]="100"></ngc-data-column>
          <ngc-data-column text="g.endDate" type="displayDate" dataField="endDate" [width]="100"></ngc-data-column>
          <ngc-data-column text="flight.aircraftType" dataField="aircraftType" [width]="100"></ngc-data-column>
          <ngc-data-column text="export.shipment.embargo.pax.frt" dataField="paxOrFrt" [width]="100"></ngc-data-column>
          <ngc-data-column text="g.reason" dataField="reason" [width]="100"></ngc-data-column>
          <ngc-data-column text="g.edit" [width]="100" type="link" iconType="edit" align="left" cellsAlign="left">
          </ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>

<form [formGroup]="addForm">
  <ngc-window #addWindow [width]="1200" title="export.shipment.embargo.add">
    <ngc-container type="tab">
      <ngc-row>
        <ngc-column>
          <ngc-label label="g.country"></ngc-label>
          <div>
            <ngc-input [width]="103" upperCase="true" formControlName="country" required></ngc-input>
          </div>
        </ngc-column>
        <ngc-column>
          <ngc-label label="flightSector"></ngc-label>
          <div>
            <ngc-input [width]="103" upperCase="true" formControlName="flightSector" required></ngc-input>
          </div>
        </ngc-column>
        <ngc-column>
          <ngc-label label="shcGroup"></ngc-label>
          <div>
            <ngc-input [width]="103" upperCase="true" formControlName="shcGroup" required></ngc-input>
          </div>
        </ngc-column>
        <ngc-column>
          <ngc-label label="schCode"></ngc-label>
          <div>
            <ngc-input [width]="103" upperCase="true" formControlName="schCode" required></ngc-input>
          </div>
        </ngc-column>
        <ngc-column>
          <ngc-label label="startDate"></ngc-label>
          <div>
            <ngc-datetimeinput [width]="103" formControlName="startDate" required></ngc-datetimeinput>
          </div>
        </ngc-column>
        <ngc-column>
          <ngc-label label="endDate"></ngc-label>
          <div>
            <ngc-datetimeinput [width]="100" formControlName="endDate" ></ngc-datetimeinput>
          </div>
        </ngc-column>
        <ngc-column>
          <ngc-label label="aircraftType"></ngc-label>
          <div>
            <ngc-input [width]="103" upperCase="true" formControlName="aircraftType" required></ngc-input>
          </div>
        </ngc-column>
        <ngc-column>
          <ngc-label label="paxOrFrt"></ngc-label>
          <div>
            <ngc-input [width]="103" upperCase="true" formControlName="paxOrFrt" required></ngc-input>
          </div>
        </ngc-column>
        <ngc-column>
          <ngc-label label="g.reason"></ngc-label>
          <div>
            <ngc-input [width]="103" upperCase="true" formControlName="reason" required></ngc-input>
          </div>
        </ngc-column>
      </ngc-row>
    </ngc-container>
    <ngc-window-footer>
      <ngc-container type="tab">
        <ngc-row>
          <ngc-column align="right">
            <ngc-button value="g._add" (click)="onSaveRow()"></ngc-button>
          </ngc-column>
        </ngc-row>
      </ngc-container>
    </ngc-window-footer>
  </ngc-window>

</form>