#Code{
    width: 100px;
}
label{
float:left;
width:100px;
margin-bottom:10px; /*or whatever you want the spacing to be*/
margin-top:10px;
}
.check{
   display: block;
  float: left;
  padding-right: 10px;
  padding-left: 22px;
  text-indent: -22px;
  
}