<form [formGroup]="newFoundAtApronForm">
  <ngc-container type="header" title="title.DETAILS">

    <ngc-row>
      <ngc-column column="4">
        <ngc-label value="uld.Date"></ngc-label>
        <div>
          <ngc-datetimeinput formControlName="date" [showTimeButton]="true" [showCalendarButton]="true" [width]="170"
            required></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column column="4">
        <ngc-label value="uld.remarks"></ngc-label>
        <div>
          <ngc-input [placeHolder]="'uld.remarks'" maxlength="65" formControlName="remarks"></ngc-input>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>