<form [formGroup]='AmendDcSearchForm'>
  <ngc-titlebar title='create.amend.dc.details' (clear)='onClear($event)' (save)="saveDcDetails()"></ngc-titlebar>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-label label="g.shipmentType"></ngc-label>
        <div>
          <ngc-dropdownlist sourceId="Custom_Intrface$Shipment-Type" required accessEnableOn="r" upperCase="true"
            formControlName="shipmentType" [width]="100">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="flight.flightNumber"></ngc-label>
        <div>
          <ngc-input required accessEnableOn="r" upperCase="true" formControlName="flightNo" [width]="100">
          </ngc-input>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='flight.arrival.date'></ngc-label>
        <div>
          <ngc-datetimeinput required n="r" formControlName="flightDate" [showCalendarButton]="true"
            [showTimeButton]="true">
          </ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label></ngc-label>
        <div>
          <ngc-button [width]="100" accessEnableOn="r" (click)="onSearch()" value="awb.search"></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column column='3'>
        <ngc-label label="awbNo"></ngc-label>
        <div>
          <ngc-input required accessEnableOn="r" upperCase="true" formControlName="awbNumber" [width]="100">
          </ngc-input>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="Gen.HawbNo"></ngc-label>
        <div>
          <ngc-input accessEnableOn="r" upperCase="true" formControlName="hawbNumber" [width]="100">
          </ngc-input>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>

  <ngc-container type="tab" *ngIf="showDataFlag">
    <ngc-row>
      <ngc-column>
        <ngc-tabs>
          <ngc-tab-card title="TCSK.IMPORT" [indicatorIconType]="shipperConsigneeIcon" indicatorIconColor="red">
            <ngc-container>
              <ngc-row>

                <ngc-column>
                  <ngc-label label='flight.flightNumber'></ngc-label>
                  <div>
                    <ngc-display formControlName="flightNo" [width]="200" required></ngc-display>
                  </div>
                </ngc-column>

                <ngc-column>
                  <ngc-label label='flight.arrival.date'></ngc-label>
                  <div>
                    <ngc-display formControlName="flightDate" [width]="200" required></ngc-display>
                  </div>
                </ngc-column>

                <ngc-column>
                  <ngc-label label='ata.eta'></ngc-label>
                  <div>
                    <ngc-display formControlName="flightDate" [width]="200" required></ngc-display>
                  </div>
                </ngc-column>

                <ngc-column>
                  <ngc-label label='awbNo'></ngc-label>
                  <div>
                    <ngc-display formControlName="awbNumber" [width]="200" required></ngc-display>
                  </div>
                </ngc-column>

              </ngc-row>
              <ngc-row>
                <ngc-column>
                  <ngc-label label='Gen.HawbNo'></ngc-label>
                  <div>
                    <ngc-display formControlName="hawbNumber" [width]="200" required></ngc-display>
                  </div>
                </ngc-column>
                <ngc-column>
                </ngc-column>
              </ngc-row>
            </ngc-container>
            <ngc-container type="tab">
              <ngc-row>
                <ngc-column>
                  <ngc-edittable formArrayName="HawbList" [pageable]="false">
                    <!-- <ngc-checkbox text="g.sNo" [width]="5" dataField="check" align="center" cellsAlign="center"
                      [width]="5">
                    </ngc-checkbox> -->
                    <ngc-data-column text="g.sNo" [width]="5" dataField="hawbNo" align="center" cellsAlign="center"
                      [width]="5">
                    </ngc-data-column>
                    <ngc-data-column text="Gen.HawbNo" [width]="5" dataField="hawbNumber" align="center"
                      cellsAlign="center" [width]="15">
                    </ngc-data-column>
                    <ngc-data-column text="g.org" [width]="5" dataField="origin" align="center" cellsAlign="center"
                      [width]="10">
                    </ngc-data-column>
                    <ngc-data-column text="g.dest" [width]="5" dataField="destination" align="center"
                      cellsAlign="center" [width]="10">
                    </ngc-data-column>
                    <ngc-data-column text="no.of.permit" [width]="5" dataField="noOfPermits" align="center"
                      cellsAlign="center" [width]="10">
                    </ngc-data-column>
                    <ngc-data-column text="dc.type" [width]="5" dataField="dcType" align="center" cellsAlign="center"
                      [width]="10">
                    </ngc-data-column>
                    <ngc-data-column text="g.dc.cont" [width]="5" dataField="dcContent" align="center"
                      cellsAlign="center" [width]="20">
                    </ngc-data-column>
                    <ngc-data-column text="uld.modify" align="center" [width]="10">
                      <ng-template let-name="name" let-group="group">
                        <ng-container [formGroupName]="group">
                          <ngc-link accessEnableOn="r" type="link" (linkClick)="openShipment(group)"
                            iconType="open-link" align="center" cellsAlign="center">
                          </ngc-link>
                        </ng-container>
                      </ng-template>
                    </ngc-data-column>
                  </ngc-edittable>
                </ngc-column>
              </ngc-row>
            </ngc-container>


          </ngc-tab-card>
          <ngc-tab-card title="permit.details" [indicatorIconType]="shipperConsigneeIcon" indicatorIconColor="red">
            <ngc-container>
              <ngc-row>
                <ngc-column>
                  <ngc-container>
                    <ngc-row>
                      <ngc-column>
                        <ngc-label label='dc.type'></ngc-label>
                        <div>
                          <ngc-dropdownlist [maxlength]='2' formControlName="dcType"
                            sourceId="Custom_Intrface$Duitable-Commodity-Type" title="g.chargeCode" [width]="70"
                            [disabled]="disableSaveButton">
                          </ngc-dropdownlist>
                        </div>
                      </ngc-column>
                      <ngc-column>
                        <ngc-label label="import.content"></ngc-label>
                        <div>
                          <ngc-input required accessEnableOn="r" upperCase="true" formControlName="content"
                            [width]="100">
                          </ngc-input>
                        </div>
                      </ngc-column>
                      <ngc-column>
                        <ngc-label label='no.of.permit'></ngc-label>
                        <div>
                          <ngc-display formControlName="noOfPermits" [width]="200" required></ngc-display>
                        </div>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </ngc-tab-card>

          <ngc-tab-card title="duitable.details" [indicatorIconType]="shipperConsigneeIcon" indicatorIconColor="red">
            <ngc-container type="tab">
              <ngc-row>
                <ngc-column align="right">
                  <ngc-button value="addRow" (click)="onAddRow()"></ngc-button>
                  <ngc-button value="delete" (click)="temporaryDeleteRow()"></ngc-button>
                </ngc-column>
              </ngc-row>

              <ngc-row>
                <ngc-column>
                  <ngc-table>
                    <thead>
                      <tr>
                        <th>
                          <ngc-label value="g.sel"></ngc-label>
                        </th>
                        <th>
                          <ngc-label label='dc.code'></ngc-label>
                        </th>
                        <th>
                          <ngc-label label='dc.qty'></ngc-label>
                        </th>
                        <th>
                          <ngc-label label='g.unit'></ngc-label>
                        </th>
                        <th>
                          <ngc-label label='dc.pieces'></ngc-label>
                        </th>
                        <th>
                          <ngc-label label='dc.remarks'></ngc-label>
                        </th>

                      </tr>
                    </thead>
                    <tbody formArrayName="duitableList">
                      <tr *ngFor="let item of AmendDcSearchForm.get('duitableList').controls; let index=index"
                        [formGroupName]="index">
                        <th>
                          <ngc-checkbox formControlName='temporaryDeleteCheckBox'></ngc-checkbox>
                        </th>
                        <th>
                          <ngc-dropdownlist required formControlName="dcCode" sourceId="Custom_Intrface$Duitable-Code"
                            width='80px'>
                          </ngc-dropdownlist>
                        </th>
                        <th>
                          <ngc-input required upperCase='true' maxlength='3' formControlName="dcQty" width='80px'>
                          </ngc-input>
                        </th>
                        <th>
                          <ngc-input required upperCase='true' maxlength='3' formControlName="dcUnit" width='80px'>
                          </ngc-input>
                        </th>
                        <th>
                          <ngc-input required upperCase='true' maxlength='3' formControlName="dcPieces" width='80px'>
                          </ngc-input>
                        </th>
                        <th>
                          <ngc-input required upperCase='true' maxlength='3' formControlName="dcRemarks" width='80px'>
                          </ngc-input>
                        </th>
                      </tr>
                    </tbody>
                  </ngc-table>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </ngc-tab-card>

          <ngc-tab-card title="g.permitno" [indicatorIconType]="shipperConsigneeIcon" indicatorIconColor="red">
            <ngc-container>
              <ngc-row>
                <ngc-column [column]='4'>
                  <ngc-container>
                    <ngc-row>
                      <ngc-column align="right">
                        <ngc-button (click)="addPermit()" value="g.add.row.r" [disabled]="disableSaveButton">
                        </ngc-button>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column>
                        <ngc-table>
                          <thead>
                            <tr>
                              <th>
                                <ngc-label value='g.permitno'></ngc-label>
                              </th>
                              <th>
                              </th>
                            </tr>
                          </thead>
                          <tbody formArrayName="permitNo">
                            <tr *ngFor="let item of AmendDcSearchForm.get('permitNo').controls; 
                            let index=index" [formGroupName]="index">
                              <td>
                                <ngc-input formControlName="permitNo" [width]="150" maxlength="5"
                                  [disabled]="disableSaveButton">
                                </ngc-input>
                              </td>
                              <td>
                                <ngc-link [width]="10" align="center" (linkClick)="deletePermit(index)"
                                  [hideValue]="true" iconType="delete">
                                  <ngc-i18n value="g.delete"></ngc-i18n>
                                </ngc-link>
                              </td>
                            </tr>
                          </tbody>
                        </ngc-table>
                      </ngc-column>
                    </ngc-row>


                  </ngc-container>
                </ngc-column>

                <ngc-column column='1'>
                </ngc-column>
              </ngc-row>
            </ngc-container>

          </ngc-tab-card>

        </ngc-tabs>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>