 .jqx-grid-column-header,
 .jqx-grid-columngroup-header {
   white-space: normal;
 }

 .jqx-grid-ngc .jqx-grid-header-ngc {
   height: 100px !important;
 }

 .main-list {
   list-style-type: none;
   width: 100%;
   padding-left: 0px;
   overflow-y: scroll;
   margin: 0px;
   overflow-x: hidden;
 }

 .main-list .freezable {
   list-style-type: none;
   width: 100%;
   padding-left: 0px;
   overflow-y: scroll;
 }

 .main-list-nonfreezable {
  list-style-type: none;
   width: 100%;
   padding-left: 0px;
   height: 360px;
   position: absolute;
   overflow-y: scroll;
   overflow-x: hidden;

 }

 .parent-list ul {
   list-style-type: none;
   width: 100%;
   display: table;
   table-layout: fixed;
   padding-left: 0px;
 }

 .parent-list li {
   display: table-cell;
   width: 50%;
   border-left: 1px solid rgba(0, 0, 0, 0.16);
   border-bottom: 1px solid rgba(0, 0, 0, 0.16);
   padding: 5px;
 }

 .child-list li {
   display: table-cell;
   width: 50%;
   padding: 5px;
 }

 .heading-list {
   list-style-type: none;
   width: 100%;
   display: table;
   padding-left: 0px;
   margin-bottom: 0px;
 }

 .heading-list li {
   display: table-cell;
   width: 50%;
   background: #9e3039;
   color: #fff;
   padding-left: 12px;
 }

 .sno {
   width: 10px;
 }

 .highlightOne li {
   background: #ffffc4;
 }

 .greentext {
   color: #008000;
   font-weight: bold;
 }

 .silvertext {
   color: #999999;
   font-weight: bold;
 }

 .redtext {
   color: #f00;
   font-weight: bold;
 }

 i {
   cursor: pointer;
 }

 li .history {
   width: 30px;
 }

 li .flight {
   width: 86px;
 }

 li .date {
   width: 95px;
 }

 li .bp {
   width: 55px;
 }

 li .sta {
   width: 91px;
 }

 li .eta {
   width: 91px;
 }

 li .etaYellow {
   background: yellow;
   width: 91px;
 }

 li .ata {
   width: 91px;
 }

 .flight-status {
   width: 100px;
 }

 .flight-type {
   font-size: 10px;
 }
