<!-- Title -->
<ngc-titlebar title="req.registrationreq" (clear)="clear($event)"></ngc-titlebar>

<!-- Form tag Begin -->
<form [formGroup]="RegistrationRequestForm">
  <ngc-container type="tab">
    <ngc-row></ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label="agent.status"></ngc-label>
        <div>
          <ngc-dropdownlist [width]="110" formControlName="requestStatus" placeHolder='Status' sourceId='Reg_Req$Request'
            [dropDownWidth]="110" accessEnableOn="r"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="app.AppRefNo"></ngc-label>
        <div>
          <ngc-input [width]="140" formControlName="applicationReferenceNo" accessEnableOn="r"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column entityAttribute="Customer.RegistrationRequestFrom">
        <ngc-label label="app.AppDateFrom"></ngc-label>
        <div>
          <ngc-datetimeinput [width]="130" formControlName="applicationDateFrom" accessEnableOn="r" entityAttribute="Customer.RegistrationRequestFrom"></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column entityAttribute="Customer.RegistrationRequestTo">
        <ngc-label label="app.AppDateTo"></ngc-label>
        <div>
          <ngc-datetimeinput [width]="130" formControlName="applicationDateTo" [showCalendarButton]="true"
            accessEnableOn="r" entityAttribute="Customer.RegistrationRequestTo"></ngc-datetimeinput>
        </div>
      </ngc-column>
     
      <ngc-column>
        <ngc-label label=""></ngc-label>
        <div>
          <ngc-button (click)="onSearch()" iconType="search" value="g.search" accessEnableOn="r"></ngc-button>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label=""></ngc-label>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>
<!-- Form tag Begin for Result that show in list -->
<form [formGroup]="RegistrationRequestList">
  <ngc-container *ngIf="isTableFlg" type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-datatable (linkClick)="onLinkClick($event)" formArrayName="RegistrationRequestArray" [pageable]="true"
          [pagerMode]="'advanced'">
          <ngc-data-column text="g.sNo" dataField="serialNo" [width]="30" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="admin.company.registration.reference.number" dataField="applicationReferenceNo" [width]="160" type="link"
            align="middle" accessEnableOn="r"></ngc-data-column>
          <ngc-data-column text="g.customerCode" dataField="customerCode" [width]="90"></ngc-data-column>
          <ngc-data-column text="g.customerName" dataField="customerName" [width]="140"></ngc-data-column>
          <ngc-data-column text="customer.customer.type" dataField="commaseperated" [width]="140"></ngc-data-column>
          <ngc-data-column text="admin.company.registration.date" type="displayDate" dataField="registrationDate" [width]="100"></ngc-data-column>
          <ngc-data-column text="g.status" dataField="requestStatus" [width]="60"></ngc-data-column>
          <ngc-data-column text="admin.company.registration.date.and.time" type="displayDate" dataField="requestProcessedDate" [width]="140"></ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>
