<form [formGroup]="incomingmessage">
  <ngc-titlebar title='incoming.message.log.details.title' (clear)="onClear($event)" (cancel)="onCancel()">
  </ngc-titlebar>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column column="1">
        <ngc-label label='interface.interface'></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" [filterable]="false" formControlName="interfacingSystem"
            sourceId="DROPDOWN_INTERFACE" sourceType="query" [width]="100"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='g.message.type'></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" formControlName="messageType" sourceId="DROPDOWN_INCOMINGMESSAGETYPES"
            (select)="onChange($event)" sourceType="query" [width]="90"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="messaging.sub.type"></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" formControlName="subMessageType" sourceId="DROPDOWN_SUBMESSAGETYPE"
            [sourceParameters]="subMessageParameter" [noCache]="true" sourceType="query" [width]="110">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="g.status"></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" formControlName="messageStatus" sourceId='IncomingMessage$MessageStatus'
            [width]="110"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='g.dateFrom'></ngc-label>
        <div>
          <ngc-datetimeinput accessEnableOn="r" formControlName="messageFromDateTime" [showCalendarButton]="true"
            [showTimeButton]="true"></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='g.dateTo'></ngc-label>
        <div>
          <ngc-datetimeinput accessEnableOn="r" formControlName="messageToDateTime" [showCalendarButton]="true"
            [showTimeButton]="true"></ngc-datetimeinput>
        </div>
      </ngc-column>

      <ngc-column>
        <ngc-label label='g.carrierCode'></ngc-label>
        <div>
          <ngc-lov accessEnableOn="r" [width]="50" formControlName="carrierCode" sourceId="SATS_CARRIERCODE"
            title="g.carrier.list" dataField="code">
            <ngc-data-column text="g.carrierCode" dataField="code" [width]="50"></ngc-data-column>
            <ngc-data-column text="g.carrier.short.name" dataField="desc" [width]="80"></ngc-data-column>
          </ngc-lov>
        </div>

      </ngc-column>
      <ngc-column>
        <ngc-label label="flight.flightNumber"></ngc-label>
        <div>
          <ngc-flightkeyinput accessEnableOn="r" upperCase="true" formControlName="flightKey" [noCarrier]="true"
            [width]="100"></ngc-flightkeyinput>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="flight.flightDate"></ngc-label>
        <div>
          <ngc-dateinput accessEnableOn="r" formControlName="flightDate"></ngc-dateinput>
        </div>
      </ngc-column>
      <ngc-column *ngIf="!showVCT" column="1">
        <ngc-label label="g.shipmentNumber"></ngc-label>
        <div>
          <ngc-awbinput accessEnableOn="r" formControlName="shipmentNumber" (ngModelChange)="onTabOutCheckHandledBy()">
          </ngc-awbinput>
          <!-- <ngc-input width="10" accessEnableOn="r" formControlName="awbNumber" sourceId="FilterForAWBNumber" maxlength="11"></ngc-input> -->
        </div>
      </ngc-column>
      <ngc-column *ngIf="!showVCT && isHandledByHouse && isHawbBEnabled">
        <ngc-label label="billing.hawbsbNumber"></ngc-label>
        <div>
          <ngc-lov accessEnableOn="r" formControlName='hawbNumber' upperCase='true' [width]="150"
            sourceId='KEY_BILL_HWBNUMBER' dataField='code' valueMember='code' [noCache]="true"
            title="billing.hawbsbNumber"
            [sourceParameters]="{'parameter1': this.incomingmessage.get('shipmentNumber').value}">
            <ngc-data-column text='billing.hawbsbNumber' [width]='80' dataField='code' required></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>

      <ngc-column *ngIf="showVCT">
        <ngc-label label="import.vtNumber"></ngc-label>
        <div>
          <ngc-input accessEnableOn="r" formControlName="shipmentNumber" [width]="200"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="messaging.message.header"></ngc-label>
        <div>
          <ngc-input accessEnableOn="r" formControlName="messageHeader" [width]="200"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label></ngc-label>
        <div>
          <ngc-button accessEnableOn="r" (click)="onSearch()" value="display.search"></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>

  <ngc-container *ngIf="showTable" type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-datatable formArrayName="incomingMessages" (linkClick)="onLinkClick($event)" [pageSize]=18
          [enablePageSizeHeight]="false">
          <ngc-data-column text="g.sNo" dataField="sequenceNumber" [width]="70" align="center" cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="message.log.message.type" dataField="messageType" [width]="120" type="link"
            align="center" cellsAlign="center" accessEnableOn="r"></ngc-data-column>
          <ngc-data-column text="message.log.sub.message.type" dataField="subMessageType" [width]="100" align="center"
            cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="messaging.version" dataField="messageVersion" [width]="80" align="center"
            cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="messaging.sequence" dataField="sequence" [width]="90" align="center"
            cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="message.log.message.ending.indicator" dataField="messageEndingIndicator" [width]="100"
            align="center" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="message.log.received.from" dataField="interfacingSystem" [width]="110" align="center"
            cellsAlign="center"></ngc-data-column>

          <ngc-data-column text="messaging.sender" dataField="senderOriginAddress" [width]="120" align="center"
            cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="message.log.received.date.time" dataField="messageDateTime" [width]="160"
            align="center" cellsAlign="center" type="displayDateTime"></ngc-data-column>
          <ngc-data-column text="message.log.carrier.code" dataField="carrierCode" [width]="80" align="center"
            cellsAlign="center"></ngc-data-column>
          <ngc-data-column *ngIf="!showVCT" text="g.shipmentNumber" dataField="shipmentNumber" [width]="140"
            align="center" cellsAlign="center"></ngc-data-column>
          <ngc-data-column *ngIf="!showVCT && isHawbBEnabled" text="billing.hawbsbNumber" dataField="hawbNumber"
            [width]="140" align="center" cellsAlign="center"></ngc-data-column>
          <ngc-data-column *ngIf="isInterfaceFileNameEnabled" text="awb.file.name" dataField="interfaceFileName"
            [width]="140" align="center" cellsAlign="center"></ngc-data-column>
          <ngc-data-column *ngIf="showVCT" text="import.vtNumber" dataField="shipmentNumber" [width]="140"
            align="center" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="message.log.flight.number" dataField="flightKey" [width]="80" cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="flight.flightDate" dataField="flightDate" [width]="120" cellsAlign="center"
            type="displayDateTime"></ngc-data-column>
          <ngc-data-column text="message.log.message.header" dataField="messageHeader" [width]="200" align="center"
            cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="g.status" dataField="messageStatus" [width]="120" align="left" cellsAlign="left">
          </ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-window #messageLog title="Message Log View - {{indexNumberDisplay}}" width="1600" height="700"
    (close)="onCloseWindow($event)" [cancelButton]="true">
    <ngc-container type="tab" *ngIf="showWindow">
      <ngc-row>
        <ngc-column>
          <div>
            <ngc-codeeditor formControlName="message" height="590px" viewMode="edi" disabled="false" width="1500" [attr.upperCase]="false"
              subTheme='courier'></ngc-codeeditor>
          </div>
        </ngc-column>
        <ngc-column *ngIf="processingerrorcheck">
          <ngc-table>
            <thead>
              <tr>
                <th>
                  <ngc-label label='message.log.error.code' width='20'></ngc-label>
                </th>
                <th>
                  <ngc-label label='g.message' width='20'></ngc-label>
                </th>
                <th>
                  <ngc-label label='message.log.line.item' width='20'></ngc-label>
                </th>
              </tr>
            </thead>
            <tbody formArrayName="processingErrorsArray">
              <tr *ngFor="let contact of incomingmessage.get('processingErrorsArray').controls; let index = index"
                [formGroupName]="index">

                <td>
                  <ngc-display formControlName="errorCode" [width]="20"></ngc-display>
                </td>
                <td>
                  <ngc-display formControlName="message" [width]="20" uppercase='true'></ngc-display>
                </td>

                <td>
                  <ngc-display formControlName="lineItem" [width]="20"></ngc-display>
                </td>
              </tr>
            </tbody>
          </ngc-table>
        </ngc-column>
      </ngc-row>
    </ngc-container>
    <ngc-window-footer *ngIf="showWindow">
      <ngc-container type="tab">
        <ngc-row>
          <ngc-column column="4" align="right">
            <ngc-button (click)="onPrevious()" priority="quaternary" height="30" width="50" iconType="previous-simple">
            </ngc-button>
          </ngc-column>
          <ngc-column align="left">
            <ngc-button (click)="onNext()" width="50" height="30" priority="quaternary" iconType="next-simple">
            </ngc-button>
          </ngc-column>
        </ngc-row>
      </ngc-container>
    </ngc-window-footer>
  </ngc-window>
</form>