<form [formGroup]="form">
  <ngc-titlebar title="export.fill.check.list" [disableSave]="disableSaveFlag" (save)="onSave($event)"
    (clear)="onClear($event)" (cancel)="onCancel($event)">
  </ngc-titlebar>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column [column]='1'>
        <ngc-label label="awb.awbnumber"></ngc-label>
        <div>
          <ngc-display formControlName="shipmentNumber"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column [column]='1'>
        <ngc-label label="awb.destination"></ngc-label>
        <div>
          <ngc-display [sourceId]="APT" sourceCategory="lov" formControlName="destination"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column [column]='2'>
        <ngc-label label="export.check.list.type"></ngc-label>
        <div>
          <ngc-display sourceId="CHECKLIST_TYPES" sourceCategory="dropdown" formControlName="comCheckListTypesId">
          </ngc-display>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="g.shc">
        </ngc-label>
        <div>
          <ngc-display formControlName="shc"></ngc-display>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <div [ngStyle]="{'border' : '1px solid black'}">
          <ng-container *ngFor="let itemHeader of fillHeader">
            <ng-container *ngIf="itemHeader.lineItem">
              <div
                [ngStyle]="{'font-weight':'bold', 'width' : '100%', 'text-decoration':'underline' ,'font-size': 20 + 'px', 'text-align': itemHeader.alignment, 'background-color': 'white'}">
                {{itemHeader.lineItem}}
              </div>
            </ng-container>
          </ng-container>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ng-container *ngFor="let itemDetails of fillDetails;  let index = index">
          <ng-container *ngIf="itemDetails.fontStyle === 'BoldItalicUnderline'">
            <ng-container *ngIf="itemDetails.applyBorder">
              <div
                [ngStyle]="{'font-weight':'bold', 'font-style': 'italic', 'border' : '1px solid black', 'text-decoration': 'underline','font-size': 15 + 'px', 'text-align': itemDetails.alignment, 'background-color': 'white'}">
                {{itemDetails.lineItem}}
              </div>
            </ng-container>
            <ng-container *ngIf="!itemDetails.applyBorder">
              <div
                [ngStyle]="{'font-weight':'bold', 'font-style': 'italic', 'text-decoration': 'underline','font-size': 15 + 'px', 'text-align': itemDetails.alignment, 'background-color': 'white'}">
                {{itemDetails.lineItem}}
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="itemDetails.fontStyle === 'BoldItalic'">
            <ng-container *ngIf="itemDetails.applyBorder">
              <div
                [ngStyle]="{'font-weight': 'bold', 'border' : '1px solid black', 'font-style': 'italic', 'font-size': 15 + 'px', 'text-align': itemDetails.alignment, 'background-color': 'white'}">
                {{itemDetails.lineItem}}
              </div>
            </ng-container>
            <ng-container *ngIf="!itemDetails.applyBorder">
              <div
                [ngStyle]="{'font-weight': 'bold', 'font-style': 'italic', 'font-size': 15 + 'px', 'text-align': itemDetails.alignment, 'background-color': 'white'}">
                {{itemDetails.lineItem}}
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="itemDetails.fontStyle === 'BoldUnderline'">
            <ng-container *ngIf="itemDetails.applyBorder">
              <div
                [ngStyle]="{'font-weight': 'bold', 'border' : '1px solid black', 'text-decoration': 'underline' ,'font-size': 15 + 'px', 'text-align': itemDetails.alignment, 'background-color': 'white'}">
                {{itemDetails.lineItem}}
              </div>
            </ng-container>
            <ng-container *ngIf="!itemDetails.applyBorder">
              <div
                [ngStyle]="{'font-weight': 'bold', 'text-decoration': 'underline' ,'font-size': 15 + 'px', 'text-align': itemDetails.alignment, 'background-color': 'white'}">
                {{itemDetails.lineItem}}
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="itemDetails.fontStyle === 'ItalicUnderline'">
            <ng-container *ngIf="itemDetails.applyBorder">
              <div
                [ngStyle]="{ 'font-style': 'italic', 'border' : '1px solid black', 'text-decoration': 'underline' ,'font-size': 15 + 'px', 'text-align': itemDetails.alignment, 'background-color': 'white'}">
                {{itemDetails.lineItem}}
              </div>
            </ng-container>
            <ng-container *ngIf="!itemDetails.applyBorder">
              <div
                [ngStyle]="{ 'font-style': 'italic', 'text-decoration': 'underline' ,'font-size': 15 + 'px', 'text-align': itemDetails.alignment, 'background-color': 'white'}">
                {{itemDetails.lineItem}}
              </div>
            </ng-container>
          </ng-container>
          <ng-container
            *ngIf="itemDetails.fontStyle === 'bold' ||itemDetails.fontStyle === 'italic' || itemDetails.fontStyle === 'underline'">
            <ng-container *ngIf="itemDetails.applyBorder">
              <div
                [ngStyle]="{'font-weight': itemDetails.fontStyle, 'border' : '1px solid black', 'font-style': itemDetails.fontStyle, 'text-decoration':itemDetails.fontStyle ,'font-size': 15 + 'px', 'text-align': itemDetails.alignment, 'background-color': 'white'}">
                {{itemDetails.lineItem}}
              </div>
            </ng-container>
            <ng-container *ngIf="!itemDetails.applyBorder">
              <div
                [ngStyle]="{'font-weight': itemDetails.fontStyle, 'font-style': itemDetails.fontStyle, 'text-decoration':itemDetails.fontStyle ,'font-size': 15 + 'px', 'text-align': itemDetails.alignment, 'background-color': 'white'}">
                {{itemDetails.lineItem}}
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>
<form [formGroup]="formToPatch">
  <ngc-container type="square">
    <ngc-row formArrayName="fillChecklistParameterHeader">
      <ngc-column column="2"
        *ngFor="let itemParameterHeader of formToPatch.getList('fillChecklistParameterHeader'); let index = index"
        [formGroupName]="index">
        <ngc-container>
          <ngc-row
            *ngIf="itemParameterHeader.get('fontStyle').value === 'bold' ||itemParameterHeader.get('fontStyle').value === 'italic' || itemParameterHeader.get('fontStyle').value === 'underline'">
            <ngc-column>
              <ngc-label formControlName="label">
              </ngc-label>
              <div>
                <ng-container *ngIf="itemParameterHeader.get('renderSignatureField').value === 'true'">
                  <ngc-signaturepad formControlName="parameterName">
                  </ngc-signaturepad>
                </ng-container>
                <ng-container *ngIf="itemParameterHeader.get('dataType').value === 'Date'">
                  <ngc-datetimeinput formControlName="name">
                  </ngc-datetimeinput>
                </ng-container>
                <ng-container *ngIf="itemParameterHeader.get('dataType').value === 'DateTime'">
                  <ngc-datetimeinput formControlName="name" [showCalendarButton]="true" [showTimeButton]="true">
                  </ngc-datetimeinput>
                </ng-container>
                <ng-container *ngIf="itemParameterHeader.get('dataType').value === 'Text'">
                  <ngc-input formControlName="name">
                  </ngc-input>
                </ng-container>
                <ng-container *ngIf="itemParameterHeader.get('dataType').value === 'Number'">
                  <ngc-numberinput decimalDigits="0" formControlName="name">
                  </ngc-numberinput>
                </ng-container>
                <ng-container *ngIf="itemParameterHeader.get('dataType').value === 'AWB'">
                  <ngc-awbinput formControlName="name">
                  </ngc-awbinput>
                </ng-container>
              </div>
            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container *ngIf="multiColumn" type="tab">
    <ngc-row formArrayName="fillChecklistwithoutHeadings">
      <ngc-column *ngFor="let column of [1, 2]; let columnIndex=index">
        <ngc-container>
          <ngc-row
            *ngFor="let item of formToPatch.getList('fillChecklistwithoutHeadings') | page:totalQuestionsWithoutSubHeadingsInPage:column; let index=index"
            [formGroupName]="(columnIndex * totalQuestionsWithoutSubHeadingsInPage) + index">
            <ngc-column>
              {{item.controls.headingsFlag.value}}
              <ngc-container>
                <ngc-row *ngIf="item.get('headingsFlag')">
                  <ngc-column>
                    <!--<ng-container *ngIf="item.get('fontStyleHeading')">-->
                    {{item.get('indexNumHeading').value}}
                    <ng-container *ngIf="item.get('applyBorder').value">
                      <div
                        [ngStyle]="{ 'font-weight': 'bold', 'font-size': 18 + 'px',  'display' : 'inline' , 'background-color': 'white'} ">
                        {{item.get('lineItemHeading').value}}
                      </div>
                    </ng-container>
                  </ngc-column>
                </ngc-row>
                <ngc-row *ngIf="item.get('headingsFlag').value">
                  <ngc-column [column]="2">
                    {{index + 1}}
                  </ngc-column>
                  <ngc-column column="11">
                    <ng-container *ngIf="item.get('applyBorder').value">
                      <div
                        [ngStyle]="{ 'font-size': 15 + 'px', 'text-align': item.get('alignment').value, 'background-color': 'white'} ">
                        {{item.get('question').value}}
                        <ng-container *ngFor="let itemNotes of item.controls.notes.controls; let index=index ">
                          <ng-container *ngIf="itemNotes.get('applyBorder').value">
                            <div
                              [ngStyle]="{ 'font-style': 'italic' , 'font-size': 12 + 'px', 'text-align': itemNotes.get('alignment').value, 'background-color': 'white'} ">
                              {{itemNotes.get('lineItem').value}}
                            </div>
                          </ng-container>
                          <ng-container *ngIf="!itemNotes.get('applyBorder').value">
                            <div
                              [ngStyle]="{ 'font-style': 'italic' , 'font-size': 12 + 'px', 'text-align': itemNotes.get('alignment').value, 'background-color': 'white'} ">
                              {{itemNotes.get('lineItem').value}}
                            </div>
                          </ng-container>
                        </ng-container>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="!item.get('applyBorder').value">
                      <div
                        [ngStyle]="{ 'font-size': 15 + 'px', 'text-align': item.get('alignment').value, 'background-color': 'white'} ">
                        {{item.get('question').value}}
                        <ng-container *ngFor="let itemNotes of item.controls.notes.controls; let index=index ">
                          <ng-container *ngIf="itemNotes.get('applyBorder').value">
                            <div
                              [ngStyle]="{ 'font-style': 'italic', 'font-size': 12 + 'px', 'text-align': itemNotes.get('alignment').value, 'background-color': 'white'} ">
                              {{itemNotes.get('lineItem').value}}
                            </div>
                          </ng-container>
                          <ng-container *ngIf="!itemNotes.get('applyBorder').value">
                            <div
                              [ngStyle]="{ 'font-style': 'italic' , 'font-size': 12 + 'px', 'text-align': itemNotes.get('alignment').value, 'background-color': 'white'} ">
                              {{itemNotes.get('lineItem').value}}
                            </div>
                          </ng-container>
                        </ng-container>
                      </div>
                    </ng-container>
                  </ngc-column>
                  <ngc-column>
                    <ngc-label label="export.check.list.na">
                    </ngc-label>
                    <div>
                      <ngc-radiobutton [groupName]="index + fillchecklist" formControlName="notApplicable">
                      </ngc-radiobutton>
                    </div>
                  </ngc-column>
                  <ngc-column>
                    <ngc-label label="export.check.list.yes">
                    </ngc-label>
                    <div>
                      <ngc-radiobutton [groupName]="index + fillchecklist" formControlName="accepted">
                      </ngc-radiobutton>
                    </div>
                  </ngc-column>
                  <ngc-column>
                    <ngc-label label="export.check.list.no">
                    </ngc-label>
                    <div>
                      <ngc-radiobutton [groupName]="index + fillchecklist" formControlName="notAccepted">
                      </ngc-radiobutton>
                    </div>
                  </ngc-column>
                </ngc-row>
                <ngc-row *ngIf="!item.get('headingsFlag').value">
                  <ngc-column [column]="1">
                    {{item.get('indexNumHeading').value}}
                  </ngc-column>
                  <ngc-column column="11">
                    <div
                      [ngStyle]="{ 'font-size': 15 + 'px', 'text-align': item.get('alignment').value, 'background-color': 'white'} ">
                      {{item.get('question').value}}
                      <ng-container *ngFor="let itemNotes of item.controls.notes.controls; let index=index ">
                        <div
                          [ngStyle]="{ 'font-style': 'italic', 'font-size': 12 + 'px', 'text-align': itemNotes.get('alignment').value, 'background-color': 'white'} ">
                          {{itemNotes.get('lineItem').value}}
                        </div>
                      </ng-container>
                    </div>
                  </ngc-column>
                  <ngc-column>
                    <ngc-label label="export.check.list.na">
                    </ngc-label>
                    <div>
                      <ngc-radiobutton [groupName]="index + fillchecklist1" formControlName="notApplicable">
                      </ngc-radiobutton>
                    </div>
                  </ngc-column>
                  <ngc-column>
                    <ngc-label label="export.check.list.yes">
                    </ngc-label>
                    <div>
                      <ngc-radiobutton [groupName]="index + fillchecklist1" formControlName="accepted">
                      </ngc-radiobutton>
                    </div>
                  </ngc-column>
                  <ngc-column>
                    <ngc-label label="export.check.list.no">
                    </ngc-label>
                    <div>
                      <ngc-radiobutton [groupName]="index + fillchecklist1" formControlName="notAccepted">
                      </ngc-radiobutton>
                    </div>
                  </ngc-column>
                </ngc-row>
              </ngc-container>
            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container *ngIf="!multiColumn" type="tab">
    <ngc-row formArrayName="fillChecklistwithoutHeadings">
      <ngc-column>
        <ngc-container>
          <ngc-row *ngFor="let item of formToPatch.getList('fillChecklistwithoutHeadings'); let index=index"
            [formGroupName]="index">
            <ngc-column>
              <ngc-container>
                <ngc-row *ngIf="item.get('headingsFlag').value">
                  <ngc-column *ngIf="item.get('fontStyleHeading')">
                    {{item.get('indexNumHeading').value}}
                    <ng-container *ngIf="item.get('applyBorder').value">
                      <div
                        [ngStyle]="{ 'font-weight': 'bold', 'font-size': 15 + 'px', 'text-align': item.get('alignment').value, 'display' : 'inline' , 'background-color': 'white'} ">
                        {{item.get('lineItemHeading').value}}
                      </div>
                    </ng-container>
                    <ng-container *ngIf="!item.get('applyBorder').value">
                      <div
                        [ngStyle]="{ 'font-weight': 'bold', 'font-size': 15 + 'px', 'text-align': item.get('alignment').value, 'display' : 'inline' , 'background-color': 'white'} ">
                        {{item.get('lineItemHeading').value}}
                      </div>
                    </ng-container>
                  </ngc-column>
                </ngc-row>
                <ngc-row *ngIf="item.get('headingsFlag').value">
                  <ngc-column [column]="1" align="right">
                    {{item.get('indexNum').value}}
                  </ngc-column>
                  <ngc-column column="8">
                    <ng-container *ngIf="item.get('applyBorder').value">
                      <div
                        [ngStyle]="{ 'font-size': 15 + 'px', 'text-align': item.get('alignment').value, 'background-color': 'white'} ">
                        {{item.get('question').value}}
                      </div>
                      <ng-container *ngFor="let itemNotes of item.controls.notes.controls; let index=index ">
                        <ng-container *ngIf="itemNotes.get('applyBorder').value">
                          <div
                            [ngStyle]="{ 'font-style': 'italic', 'font-size': 12 + 'px', 'text-align': itemNotes.get('alignment').value,  'background-color': 'white'} ">
                            {{itemNotes.get('lineItem').value}}
                          </div>
                        </ng-container>
                        <ng-container *ngIf="!itemNotes.get('applyBorder').value">
                          <div
                            [ngStyle]="{ 'font-style': 'italic', 'font-size': 12 + 'px', 'text-align': itemNotes.get('alignment').value, 'background-color': 'white'} ">
                            {{itemNotes.get('lineItem').value}}
                          </div>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!item.get('applyBorder').value">
                      <div
                        [ngStyle]="{ 'font-style': item.get('fontStyle').value,
                      'text-decoration':item.get('fontStyle').value , 'font-size': 15 + 'px', 'text-align': item.get('alignment').value, 'background-color': 'white'} ">
                        {{item.get('question').value}}
                      </div>
                      <ng-container *ngFor="let itemNotes of item.controls.notes.controls; let index=index ">
                        <ng-container *ngIf="itemNotes.get('applyBorder').value">
                          <div
                            [ngStyle]="{ 'font-style': 'italic', 'text-decoration':itemNotes.get('fontStyle').value , 'font-size': 12 + 'px', 'text-align': itemNotes.get('alignment').value, 'background-color': 'white'} ">
                            {{itemNotes.get('lineItem').value}}
                          </div>
                        </ng-container>
                        <ng-container *ngIf="!itemNotes.get('applyBorder').value">
                          <div
                            [ngStyle]="{ 'font-style': 'italic', 'text-decoration':itemNotes.get('fontStyle').value , 'font-size': 12 + 'px', 'text-align': itemNotes.get('alignment').value, 'background-color': 'white'} ">
                            {{itemNotes.get('lineItem').value}}
                          </div>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ngc-column>
                  <ngc-column>
                    <ngc-label label="export.check.list.na">
                    </ngc-label>
                    <div>
                      <ngc-radiobutton [groupName]="index + fillchecklist2" formControlName="notApplicable">
                      </ngc-radiobutton>
                    </div>
                  </ngc-column>
                  <ngc-column>
                    <ngc-label label="export.check.list.yes">
                    </ngc-label>
                    <div>
                      <ngc-radiobutton [groupName]="index + fillchecklist2" formControlName="accepted">
                      </ngc-radiobutton>
                    </div>
                  </ngc-column>
                  <ngc-column>
                    <ngc-label label="export.check.list.no">
                    </ngc-label>
                    <div>
                      <ngc-radiobutton [groupName]="index + fillchecklist2" formControlName="notAccepted">
                      </ngc-radiobutton>
                    </div>
                  </ngc-column>
                </ngc-row>
                <ngc-row *ngIf="!item.get('headingsFlag').value">
                  <ngc-column column="9">
                    {{item.get('indexNumHeading').value}}
                    <ng-container *ngIf="item.get('applyBorder').value">
                      <div
                        [ngStyle]="{ 'display' : 'inline' , 'font-size': 15 + 'px', 'text-align': item.get('alignment').value, 'background-color': 'white'} ">
                        {{item.get('question').value}}
                      </div>
                      <ng-container *ngFor="let itemNotes of item.controls.notes.controls; let index=index ">
                        <ng-container *ngIf="item.get('applyBorder').value">
                          <div
                            [ngStyle]="{ 'font-style': 'italic', 'font-size': 12 + 'px', 'text-align': itemNotes.get('alignment').value, 'background-color': 'white'} ">
                            {{itemNotes.get('lineItem').value}}
                          </div>
                        </ng-container>
                        <ng-container *ngIf="!item.get('applyBorder').value">
                          <div
                            [ngStyle]="{'font-style': 'italic', 'text-decoration':itemNotes.get('fontStyle').value , 'font-size': 12
                                    + 'px', 'text-align': itemNotes.get('alignment').value, 'background-color': itemNotes.get('backGroundColor').value} ">
                            {{itemNotes.get('lineItem').value}}
                          </div>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!item.get('applyBorder').value">
                      <div
                        [ngStyle]="{ 'display' : 'inline' , 'font-size': 15 + 'px', 'text-align': item.get('alignment').value, 'background-color': 'white'} ">
                        {{item.get('question').value}}
                        <ng-container *ngFor="let itemNotes of item.controls.notes.controls; let index=index ">
                          <ng-container *ngIf="itemNotes.get('applyBorder').value">
                            <div
                              [ngStyle]="{ 'font-style': 'italic', 'font-size': 12 + 'px', 'text-align': itemNotes.get('alignment').value, 'background-color': 'white'} ">
                              {{itemNotes.get('lineItem').value}}
                            </div>
                          </ng-container>
                          <ng-container *ngIf="!itemNotes.get('applyBorder').value">
                            <div
                              [ngStyle]="{ 'font-style': 'italic', 'text-decoration':itemNotes.get('fontStyle').value , 'font-size': 12 + 'px', 'text-align': itemNotes.get('alignment').value, 'background-color': 'white'} ">
                              {{itemNotes.get('lineItem').value}}
                            </div>
                          </ng-container>
                        </ng-container>
                      </div>
                    </ng-container>
                  </ngc-column>
                  <ngc-column>
                    <ngc-label label="export.check.list.na">
                    </ngc-label>
                    <div>
                      <ngc-radiobutton [groupName]="index + fillchecklist3" formControlName="notApplicable">
                      </ngc-radiobutton>
                    </div>
                  </ngc-column>
                  <ngc-column>
                    <ngc-label label="export.check.list.yes">
                    </ngc-label>
                    <div>
                      <ngc-radiobutton [groupName]="index + fillchecklist3" formControlName="accepted">
                      </ngc-radiobutton>
                    </div>
                  </ngc-column>
                  <ngc-column>
                    <ngc-label label="export.check.list.no">
                    </ngc-label>
                    <div>
                      <ngc-radiobutton [groupName]="index + fillchecklist3" formControlName="notAccepted">
                      </ngc-radiobutton>
                    </div>
                  </ngc-column>
                </ngc-row>
              </ngc-container>
            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="square">
    <ngc-row formArrayName="fillChecklistParameterFooter">
      <ngc-column column="2"
        *ngFor="let itemParameterFooter of formToPatch.getList('fillChecklistParameterFooter'); let index = index"
        [formGroupName]="index">
        <ngc-container>
          <ngc-row
            *ngIf="itemParameterFooter.get('fontStyle').value === 'bold' ||itemParameterFooter.get('fontStyle').value === 'italic' || itemParameterFooter.get('fontStyle').value === 'underline'">
            <ngc-column>
              <ngc-label formControlName="label">
              </ngc-label>
              <div>
                <ng-container *ngIf="itemParameterFooter.get('renderSignatureField').value === 'true'">
                  <ngc-signaturepad formControlName="signature">
                  </ngc-signaturepad>
                </ng-container>
                <ng-container *ngIf="itemParameterFooter.get('dataType').value === 'Date'">
                  <ngc-datetimeinput formControlName="name">
                  </ngc-datetimeinput>
                </ng-container>
                <ng-container *ngIf="itemParameterFooter.get('dataType').value === 'DateTime'">
                  <ngc-datetimeinput formControlName="name" [showCalendarButton]="true" [showTimeButton]="true">
                  </ngc-datetimeinput>
                </ng-container>
                <ng-container *ngIf="itemParameterFooter.get('dataType').value === 'Text'">
                  <ngc-input formControlName="name">
                  </ngc-input>
                </ng-container>
                <ng-container *ngIf="itemParameterFooter.get('dataType').value === 'Number'">
                  <ngc-numberinput decimalDigits="0" formControlName="name">
                  </ngc-numberinput>
                </ng-container>
                <ng-container *ngIf="itemParameterFooter.get('dataType').value === 'AWB'">
                  <ngc-awbinput formControlName="name">
                  </ngc-awbinput>
                </ng-container>
              </div>
            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column *ngIf="fillFooter">
        <div [ngStyle]="{ 'border' : '1px solid black'} ">
          <ng-container *ngFor="let itemFooter of fillFooter; let index=index ">
            <ng-container *ngIf="itemFooter.fontStyle==='BoldItalicUnderline' ">
              <div
                [ngStyle]="{ 'font-weight': 'bold', 'font-style': 'italic', 'text-decoration': 'underline',
                    'font-size': itemFooter.fontSize + 'px', 'text-align': itemFooter.alignment, 'background-color': 'white'} ">
                {{itemFooter.lineItem}}
              </div>
              <ng-container *ngFor="let itemFoterNotes of itemFooter.pageFooterNotes; let index=i ndex ">
                <div [ngStyle]="{ 'font-weight': itemFoterNotes.fontStyle , 'font-style': itemFoterNotes.fontStyle ,
                    'text-decoration':itemFoterNotes.fontStyle , 'font-size': itemFoterNotes.fontSize + 'px', 'text-align': itemFoterNotes.alignment
                    , 'background-color': 'white' } ">
                  {{itemFoterNotes.lineItem}}
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="itemFooter.fontStyle==='BoldItalic' ">
              <div [ngStyle]="{ 'font-weight': 'bold', 'font-style': 'italic', 'font-size': itemFooter.fontSize + 'px',
                    'text-align': itemFooter.alignment, 'background-color':'white'} ">
                {{itemFooter.lineItem}}
              </div>
              <ng-container *ngFor="let itemFoterNotes of itemFooter.pageFooterNotes; let index=i ndex ">
                <div [ngStyle]="{ 'font-weight': itemFoterNotes.fontStyle , 'font-style': itemFoterNotes.fontStyle ,
                    'text-decoration':itemFoterNotes.fontStyle , 'font-size': itemFoterNotes.fontSize + 'px', 'text-align': itemFoterNotes.alignment
                    , 'background-color': 'white' } ">
                  {{itemFoterNotes.lineItem}}
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="itemFooter.fontStyle==='BoldUnderline' ">
              <div [ngStyle]="{ 'font-weight': 'bold', 'text-decoration': 'underline' , 'font-size': itemFooter.fontSize
                    + 'px', 'text-align': itemFooter.alignment, 'background-color':'white'} ">
                {{itemFooter.lineItem}}
              </div>
              <ng-container *ngFor="let itemFoterNotes of itemFooter.pageFooterNotes; let index=i ndex ">
                <div [ngStyle]="{ 'font-weight': itemFoterNotes.fontStyle , 'font-style': itemFoterNotes.fontStyle ,
                    'text-decoration':itemFoterNotes.fontStyle , 'font-size': itemFoterNotes.fontSize + 'px', 'text-align': itemFoterNotes.alignment
                    , 'background-color': 'white' } ">
                  {{itemFoterNotes.lineItem}}
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="itemFooter.fontStyle==='ItalicUnderline' ">
              <div [ngStyle]="{ 'font-style': 'italic', 'text-decoration': 'underline' , 'font-size': itemFooter.fontSize
                    + 'px', 'text-align': itemFooter.alignment, 'background-color': 'white'} ">
                {{itemFooter.lineItem}}
              </div>
              <ng-container *ngFor="let itemFoterNotes of itemFooter.pageFooterNotes; let index=i ndex ">
                <div [ngStyle]="{ 'font-weight': itemFoterNotes.fontStyle , 'font-style': itemFoterNotes.fontStyle ,
                    'text-decoration':itemFoterNotes.fontStyle , 'font-size': itemFoterNotes.fontSize + 'px', 'text-align': itemFoterNotes.alignment
                    , 'background-color':'white' } ">
                  {{itemFoterNotes.lineItem}}
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="itemFooter.fontStyle==='bold' ||itemFooter.fontStyle==='italic' || itemFooter.fontStyle==='underline' ||
            itemFooter.fontStyle==='BOLD' ||itemFooter.fontStyle==='ITALIC' || itemFooter.fontStyle==='UNDERLINE' ">
              <div [ngStyle]="{ 'font-size': itemFooter.fontSize + 'px', 'text-align': itemFooter.alignment,
                    'background-color': 'white'} ">
                {{itemFooter.lineItem}}
              </div>
              <ng-container *ngFor="let itemFoterNotes of itemFooter.pageFooterNotes; let index=index ">
                <div [ngStyle]="{ 'font-size': itemFoterNotes.fontSize + 'px', 'text-align': itemFoterNotes.alignment
                    , 'background-color':'white' } ">
                  {{itemFoterNotes.lineItem}}
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>