<ngc-titlebar title='rec.title' (cancel)="onCancel($event)" (clear)="OnClear()">
</ngc-titlebar>
<form [formGroup]='reconciliationForm'>
  <ngc-container type="selectiontop">
    <ngc-row>
      <ngc-column column='2'>
        <ngc-label label='rec.control.date'></ngc-label>
        <div>
          <ngc-datetimeinput accessEnableOn="r" onlyDate='true' required [width]="200" formControlName="controlDate">
          </ngc-datetimeinput>
        </div>
      </ngc-column>

      <ngc-column [column]="1">
        <ngc-label label=''></ngc-label>
        <div>
          <ngc-button accessEnableOn="r" label="g.search" (click)="onSearch()" [width]="100" #searchbutton>
          </ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab" *ngIf="showTable">

    <ngc-row>
      <ngc-column>
        <ngc-edittable formArrayName="recList" [pageable]="false">
          <ngc-data-column text="g.sNo" align="center" [width]="20" cellsAlign="center"
            [cellsRenderer]="cellsRendererSno">
          </ngc-data-column>
          <ngc-data-column text="rec.msgtype" [width]="40" align="center" cellsAlign="center" dataField="messageType">
          </ngc-data-column>
          <ngc-data-column text="rec.reqid" align="center" cellsAlign="center" dataField="uid">
          </ngc-data-column>
          <ngc-data-column text="rec.ver" align="center" [width]="30" cellsAlign="center" dataField="versionNo">
          </ngc-data-column>
          <ngc-data-column text="rec.awb.recon" [width]="30" align="center" cellsAlign="center" dataField="awbRecon">
          </ngc-data-column>
          <ngc-data-column text="rec.reqdate" align="center" [width]="80" cellsAlign="center" dataField="reqDateTime"
            type="displayDateTime">
          </ngc-data-column>
          <ngc-data-column text="rec.subdate" align="center" [width]="80" cellsAlign="center"
            dataField="createdOn" type="displayDateTime">
          </ngc-data-column>
          <ngc-data-column text="rec.ackdate" align="center" [width]="80" cellsAlign="center"
            dataField="ackDateTime" type="displayDateTime">
          </ngc-data-column>
          <ngc-data-column text="agent.status" align="center"[width]="40" cellsAlign="center" dataField="status">
          </ngc-data-column>
          <ngc-data-column text="g.action" [width]="40" align="center">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-link accessEnableOn="r" type="link" (linkClick)="openReconciliationMessage(group)"
                  iconType="open-link" align="center" cellsAlign="center">
                </ngc-link>
              </ng-container>
            </ng-template>
          </ngc-data-column>
        </ngc-edittable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>