<ngc-titlebar title="customs.disc.list.title" (cancel)="onCancel()" (onClear)="OnClear($event)">
</ngc-titlebar>
<form [formGroup]="brkdwnDiscrepancyListForm">
  <ngc-container type="box">
    <ngc-row>
      <ngc-column [column]="1.5">
        <ngc-label label='g.startDate'></ngc-label>
        <div>
          <ngc-dateinput accessEnableOn="r" required="true" [autoFocus]="true" formControlName="startDate"
            [width]="100">
          </ngc-dateinput>
        </div>
      </ngc-column>
      <ngc-column [column]="1.5">
        <ngc-label label='g.endDate'></ngc-label>
        <div>
          <ngc-dateinput accessEnableOn="r" required="true" [autoFocus]="true" formControlName="endDate" [width]="100">
          </ngc-dateinput>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <ngc-label label=''></ngc-label>
        <div>
          <ngc-button align="right" value="g.search" iconType="search" (click)="onSearch()" accessEnableOn="r">
          </ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <br />
  <ngc-container type="box" *ngIf="searchFlag">
    <ngc-row>
      <ngc-column [column]="6">
        <table>
          <tr>
            <th>
              <ngc-label label="export.flight.list"></ngc-label>
            </th>
          </tr>
        </table>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-edittable formArrayName="fltDtlList" [dynamic]="true" [pageable]="true" [pageSize]="20">
          <ngc-data-column text="g.sNo" align="center" [width]="20" cellsAlign="center" dataField=""
            [cellsRenderer]="cellsRendererSno">
          </ngc-data-column>

          <ngc-data-column text="flight.flightno" [width]="120" align="center" cellsAlign="center" dataField="flightNo">
          </ngc-data-column>

          <ngc-data-column text="flight.flightDate" [width]="120" align="center" cellsAlign="center"
            dataField="flightDate" type="displayDate">
          </ngc-data-column>
          <ngc-data-column text="flight.ata" [width]="120" align="center" cellsAlign="center" dataField="ata"
            type="displayTime">
          </ngc-data-column>
          <ngc-data-column text="customs.disc.flight.clear" [width]="120" align="center" cellsAlign="center"
            dataField="flightClrIndicator">
          </ngc-data-column>
          <ngc-data-column text="customs.disc.priority" [width]="120" align="center" cellsAlign="center"
            dataField="discPrty">
          </ngc-data-column>
          <ngc-data-column text="import.breakdown.compl.date" [width]="120" align="center" cellsAlign="center"
            dataField="bdsComplDate" type="displayDate">
          </ngc-data-column>
          <ngc-data-column text="flight.status" [width]="120" align="center" cellsAlign="center" dataField="status">
          </ngc-data-column>
          <ngc-data-column text="g.action" align="center">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-link accessEnableOn="r" type="link" (linkClick)="openSubmitBrkdwnDiscScreen(group)"
                  iconType="open-link" align="center" cellsAlign="center">
                </ngc-link>
              </ng-container>
            </ng-template>
          </ngc-data-column>
        </ngc-edittable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>