.resource-flight-info {
  display: inline-block;
  width: 70px;
  border-right: 1px solid lightgray;
  padding: 2px;
  font-weight: bold;
}

.resource-flight-info-time {
  text-align: right;
  font-weight: normal;
}
