<form [formGroup]="uldNewData">
  <ngc-container type="header" title="title.DETAILS">
    <ngc-row>
      <ngc-column>
        <ngc-label value="uld.usedby"></ngc-label>
        <div>
          <ngc-lov formControlName="usedBy" sourceId="RLI_RLM_CARRIERCODE" title="uld.usedby" dataField="code"
            [width]="47" [maxlength]="3">
            <ngc-data-column text="uld.carrier.code" dataField="code" [width]="30"></ngc-data-column>
            <ngc-data-column text="uld.carrier.desc" dataField="desc" [width]="50"></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label value="uld.Date"></ngc-label>
        <div>
          <ngc-datetimeinput [width]="150" [placeHolder]="'uld.Date'" formControlName="date" [showTimeButton]="true"
            [showCalendarButton]="true" required></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label value="uld.WareHouse"></ngc-label>
        <div>
          <ngc-input [width]="200" class='text-uppercase' [placeHolder]="'uld.WareHouse'"
            formControlName="warehouseLocation"></ngc-input>
        </div>
      </ngc-column>

    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label value="uld.AirportPosition"></ngc-label>
        <div>
          <ngc-dropdownlist sourceId="ULD$CGO_LOC" [width]="100" [dropDownWidth]="60" formControlName="airportPosition"
            required></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label value="uld.Remark"></ngc-label>
        <div>
          <ngc-input [width]="160" class='text-uppercase' maxlength="65" [placeHolder]="'uld.Remarks'"
            formControlName="remarks"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label value="uld.contourIndicator"></ngc-label>
        <div>
          <ngc-lov formControlName="contourIndicator" sourceId='CONTOURINDICATORNEWULDMOV' title='uld.contourIndicator'
            dataField='deckFlag' [width]="40">
            <ngc-data-column text="uld.contour.indicator" dataField="deckFlag" [width]="150"></ngc-data-column>
            <ngc-data-column text="uld.description" dataField="desc" [width]="300"></ngc-data-column>
          </ngc-lov>

        </div>
      </ngc-column>
    </ngc-row>


  </ngc-container>
</form>