<form [formGroup]="serviceErrorLogForm">
  <ngc-titlebar title="uld.service.error.log" (cancel)="onCancel($event)" (clear)="onClear()">
  </ngc-titlebar>
  <ngc-container type="section">
    <ngc-row>
      <ngc-column column=2>
        <ngc-label label="g.fromDate"></ngc-label>
        <div>
          <ngc-dateinput accessEnableOn="r" [width]="150"  formControlName="fromDate"
            required>
          </ngc-dateinput>
        </div>
      </ngc-column>
      <ngc-column column=2>
        <ngc-label label="g.toDate"></ngc-label>
        <div>
          <ngc-dateinput accessEnableOn="r" [width]="150" [min]="serviceErrorLogForm.get('fromDate').value"
            formControlName="toDate" required>
          </ngc-dateinput>
        </div>
      </ngc-column>
      <ngc-column column=2>
        <ngc-label label="uld.serviced"></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" formControlName="serviced" sourceId='EXP_DGD$Mismatch_YesNoAll'
            [autoSelect]="true" [width]="50"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column=2>
        <ngc-label label="type"></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" formControlName="type" sourceId='ULD_SER$ImportExportAll'
            [autoSelect]="true" [width]="50"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column=2>
        <ngc-label label='&nbsp;'></ngc-label>
        <div>
          <ngc-button accessEnableOn="r" label="export.ecc.query" (click)="onSearchQuery()" value="search"
            width='150px !important'>
          </ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container *ngIf="showTable" type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-edittable formArrayName="serviceErrorLogList" pagesize="10" [showToolbar]="true">
          <ngc-data-column text="uld.s.n" dataField="serialNumber" [width]="140" cellsAlign="center" align="center">
          </ngc-data-column>
          <ngc-data-column text="uld.log.date" dataField="logDate" [width]="130" type="displayDate" cellsAlign="center" align="center">
          </ngc-data-column>
          <ngc-data-column text="uld.user.id" dataField="createdBy" [width]="140" cellsAlign="center" align="center">
          </ngc-data-column>
          <ngc-data-column text="uld.uld.no" dataField="uldNo" [width]="140" cellsAlign="center" align="center">
          </ngc-data-column>
          <ngc-data-column text="eir.number" dataField="eirNo" [width]="170" cellsAlign="center" align="center">
          </ngc-data-column>
          <ngc-data-column text="exp.rcl.no" dataField="rclNo" [width]="130" cellsAlign="center" align="center">
          </ngc-data-column>
          <ngc-data-column text="uld.flt.type" dataField="fltType" [width]="100" cellsAlign="center" align="center">
          </ngc-data-column>
          <ngc-data-column text="cus.res" dataField="reason" [width]="100" cellsAlign="center" align="center">
          </ngc-data-column>
          <ngc-data-column text="uld.fltNo.date" dataField="fltNo" [width]="100" cellsAlign="center" align="center">
          </ngc-data-column>
          <ngc-data-column text="uld.modify" dataField="edit" [width]="100" cellsAlign="center" align="center">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-link accessEnableOn="r" type="link" (linkClick)="onLinkClick(group)" iconType="edit"></ngc-link>               
              </ng-container>
            </ng-template>
          </ngc-data-column>
        </ngc-edittable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <form formGroupName="updateForm" >
    <ngc-window #updateWindow [width]="800" [height]="350" title="uld.print.service.error.log" [showCloseButton]="true"
      (close)="destroyWindow()">

      <ngc-container type="tab" *ngIf="updateWindowShowHide">
        <ngc-row >
        <ngc-column [column]="2">
          <ngc-label align="center" label="uld.uld.number"></ngc-label> 
        </ngc-column>
        <ngc-column>
          <ngc-display formControlName="uldNo"></ngc-display>
        </ngc-column>
      </ngc-row>
      <ngc-row >
        <ngc-column [column]="2">
          <ngc-label align="center" label="cus.res"></ngc-label> 
        </ngc-column>
        <ngc-column>
          <ngc-display formControlName="reason"></ngc-display>
        </ngc-column>
      </ngc-row>
      <ngc-row >
        <ngc-column [column]="2">
          <ngc-label align="center" label="uld.svc.uid"></ngc-label> 
        </ngc-column>
        <ngc-column>
          <ngc-display formControlName="createdBy"></ngc-display>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column [column]="2">
          <ngc-label  label="uld.svc.remarks"></ngc-label> 
        </ngc-column>
        <ngc-column>
          <ngc-input  formControlName="remark1" [width]="200" required></ngc-input>
        </ngc-column>
        <ngc-column>
          <ngc-input  formControlName="remark2" [width]="200" required></ngc-input>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column [column]="2">
          <ngc-label  label="uld.log.date"></ngc-label> 
        </ngc-column>
        <ngc-column>
          <ngc-display formControlName="logDate" [onlyDate]="true"></ngc-display>
        </ngc-column>       
      </ngc-row>     
      </ngc-container>
      <ngc-container type="tab">
        <ngc-row>
          <ngc-column align="right">
            <ngc-button (click)="onSave()" label='g.save.e' [disabled]="disableSaveButton">
            </ngc-button>
            <ngc-button (click)="onPrintServiceLog()" label='uld.print.service.log' [disabled]="disableSaveButton">
            </ngc-button>
          </ngc-column>         
          </ngc-row>
        </ngc-container>
     </ngc-window>  
     <ngc-report #reportWindow title="g.report"  reportId='Service_Error_Log'  format='pdf'
      [reportParameters]='reportParameters'></ngc-report>
  </form>
</form>