<!-- Title Bar (Begin) -->
<ngc-titlebar title="cus.head" (cancel)="onBack($event)"></ngc-titlebar>
<!-- Title Bar (End) -->
<form [formGroup]="searchForm" formName="searchForm" *ngIf="isSearch">

  <ngc-container type="section">
    <ngc-row>
      <ngc-column [column]="2">
        <ngc-label label="cus.code"></ngc-label>
        <div>
          <ngc-input formControlName="customerCod" required upperCase="true"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label></ngc-label>
        <div>
          <ngc-button (click)="onSearch($event)" value="cus.search" iconType="search">
          </ngc-button>
        </div>
      </ngc-column>
      <ngc-column column='11'></ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label=" "></ngc-label>
      </ngc-column>

    </ngc-row>
  </ngc-container>
</form>
<form [formGroup]="saveForm" formName="saveForm">
  <ngc-container type="section">

  </ngc-container>
  <ngc-container type="section">
    <ngc-row>
      <ngc-column [column]="2">
        <ngc-label label="cus.cur"></ngc-label>
        <div>
          <ngc-display formControlName="customerCode"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column [column]="8">
        <ngc-label label="cus.name"></ngc-label>
        <div>
          <ngc-display formControlName="customerName" [width]="400"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column [column]="2">
        <ngc-label label="cus.login"></ngc-label>
        <div>
          <ngc-display formControlName="loginID"></ngc-display>

        </div>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label=" "></ngc-label>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column [column]="2">
        <ngc-label label="cus.new"></ngc-label>
        <div>
          <ngc-alphainput formControlName="newCustomerCode" required upperCase="true" [maxlength]="3"></ngc-alphainput>
        </div>
      </ngc-column>
      <ngc-column [column]="8">
        <ngc-label label="cus.new.name"></ngc-label>
        <div>
          <ngc-input formControlName="newCustomerName" [maxlength]="70" [width]="800" upperCase="true"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column [column]="2">
        <ngc-label label="cus.new.login"></ngc-label>
        <div>
          <ngc-input *ngIf="isLoginId" formControlName="newLoginID" upperCase="true"></ngc-input>
          <ngc-input *ngIf="!isLoginId" formControlName="newLoginID" upperCase="true" disabled="true"></ngc-input>
        </div>
      </ngc-column>

      <!-- <ngc-column column='4'></ngc-column> -->
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label=" "></ngc-label>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column [column]="10">
        <ngc-label label="cus.res"></ngc-label>
        <div>
          <ngc-combobox [width]="300" [maxlength]="65" formControlName="reason" sourceId='CUSTOMERCODE'  sourceType='query' valueMember="desc"></ngc-combobox>
        </div>

      </ngc-column>
      <ngc-column align="right">
        <ngc-label></ngc-label>
        <div>
          <ngc-button (click)="openchangeCustomer($event)" value="g.submit">
          </ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label=" "></ngc-label>
      </ngc-column>

    </ngc-row>


  </ngc-container>

 

  <ngc-window #codeChangeAppointedAgentsWindow title="admin.change.of.code.display.customer" [showCloseButton]="true" [width]="1200" height='630'>
    <ngc-container type="section">
      <ngc-row>
        <ngc-column column="8" [ngStyle]="{'color':'red'}">
          <ngc-label label="admin.change.of.code.customer.with"></ngc-label> &nbsp;
          <ngc-label label="admin.change.of.code.customer.name"></ngc-label> &nbsp;
          <ngc-label formControlName="customerName"></ngc-label> &nbsp;
          <ngc-label label="admin.change.of.code.customer.and"></ngc-label> &nbsp;
          <ngc-label label="admin.change.of.code.customer.code"></ngc-label> &nbsp;
          <ngc-label formControlName="customerCode"></ngc-label> &nbsp; <br />
          <ngc-label label="admin.change.of.code.customer.reason"></ngc-label> &nbsp;
        </ngc-column>

      </ngc-row>
    </ngc-container>
    <ngc-container type="section" *ngIf="showFlag1">
      <ngc-row>
        <ngc-column column="6">
          <ngc-label label="admin.change.of.code.customer.appointed.agent"></ngc-label>
        </ngc-column>

      </ngc-row>
    </ngc-container>
    <ngc-container type="tab" *ngIf="showFlag1">
      <ngc-row>
        <ngc-column>
          <ngc-edittable formArrayName="agentCustomerRelatedAgents" [pageable]="true">

            <ngc-data-column text="g.customerName" dataField="customerShortName" [width]="100" [noWrap]="false"></ngc-data-column>
            <ngc-data-column text="g.customerCode" dataField="customerCode" [width]="50" [noWrap]="false"></ngc-data-column>

          </ngc-edittable>
        </ngc-column>
      </ngc-row>
    </ngc-container>
    <ngc-container type="section" *ngIf="showFlag">
      <ngc-row>
        <ngc-column column="6">
          <ngc-label label="admin.change.of.code.awb.assigned.customer"></ngc-label>
        </ngc-column>

      </ngc-row>
    </ngc-container>
    <ngc-container type="tab" *ngIf="showFlag">
      <ngc-row>
        <ngc-column>
          <ngc-edittable formArrayName="awbRelatedToCustomer" [pageable]="true" [pageSize]="8">
            <ngc-data-column text="awb.awbNumber" dataField="shipmentNumber" [width]="90" align="middle" [noWrap]="false"></ngc-data-column>
            <ngc-data-column text="g.origin" dataField="origin" [width]="90" [noWrap]="false"></ngc-data-column>
            <ngc-data-column text="g.destination" dataField="destination" [width]="90" [noWrap]="false"></ngc-data-column>
            <ngc-data-column text="awb.awbDate" dataField="shipmentDate" type="displayDate" [width]="90" [noWrap]="false"></ngc-data-column>
            <ngc-data-column text="flight.flightNumber" dataField="flightNumber" [width]="90" [noWrap]="false"></ngc-data-column>
            <ngc-data-column text="flight.flightDate" dataField="flightOriginDate" [width]="90" [noWrap]="false"></ngc-data-column>
          </ngc-edittable>
        </ngc-column>
      </ngc-row>
    </ngc-container>
    <ngc-container type="tab">
      <ngc-row>
        <ngc-column column="10" align="right">
          <ngc-button *ngIf="disableFlag" value="g.save" (click)="onSave($event)"></ngc-button>
        </ngc-column>
        <ngc-column column="2" *ngIf="disablePDFFlag">
          <ngc-button value="g.exportToPDF" (click)="onExportToPDFClick($event)"></ngc-button>
        </ngc-column>

      </ngc-row>
    </ngc-container>
    <ngc-report [zIndex]='18000' #reportWindow title="g.report" reportId='DisplayListOfCustomerReport' [reportParameters]='reportParameters'></ngc-report>
  </ngc-window>


</form>
