<ngc-titlebar title="export.ecc.outbound.detailer.worksheet.title" (clear)="onClear($event)" (cancel)='backToPlanning($event)'>
</ngc-titlebar>
<form [formGroup]="form">
  <ngc-container type="box" formGroupName="search">
    <ngc-row>
      <ngc-column column="2">
        <ngc-label label="export.dateTimeFrom"></ngc-label>
        <div>
          <ngc-datetimeinput showCalendarButton="true" [showTimeButton]="true" formControlName="fromDate" ></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label="export.dateTimeTo"></ngc-label>
        <div>
          <ngc-datetimeinput showCalendarButton="true" [showTimeButton]="true" formControlName="toDate"></ngc-datetimeinput>
        </div>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column column="12">&nbsp;</ngc-column>
      <ngc-column column="2">
        <ngc-label label="export.flight"></ngc-label>
        <div>
          <ngc-flightkeyinput accessEnableOn="r" upperCase="true" formControlName="flightKey" [width]="100">
          </ngc-flightkeyinput>
        </div>
      </ngc-column>

      <ngc-column column="2">
        <ngc-label label="export.flightDate"></ngc-label>
        <div>
          <ngc-datetimeinput formControlName="flightDate"></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column column="3">
        <ngc-label></ngc-label>
        <div>
          <ngc-button (click)="onSearch()" label="export.ecc.query"></ngc-button>
        </div>
      </ngc-column>
      <ngc-column column="5" align="right">
        <ngc-label></ngc-label>
        <div>
          <ngc-button label="g.print.report" (click)="flightReport($event)"></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="box" *ngIf="showTable">
    <ngc-row>
      <ngc-column>
        <ngc-datatable formArrayName="resultList" [pageable]="false" [enablePageSizeHeight]="false">
          <ngc-data-column text="flight.Flight" dataField="flight" type="text" [width]="100"></ngc-data-column>
          <ngc-data-column text="flight.date.std" dataField="std" type="displayDateTime" [width]="100"></ngc-data-column>
          <ngc-data-column text="export.dest" dataField="off" type="text" [width]="50"></ngc-data-column>
          <ngc-data-column text="flight.bay" dataField="bay" type="text" [width]="50"></ngc-data-column>
          <ngc-data-column text="flight.acreg" dataField="outboundAircraftRegNo" type="text" [width]="50">
          </ngc-data-column>
          <ngc-data-column text="flight.ac" dataField="acc" type="text" [width]="50"></ngc-data-column>
          <ngc-data-column text="export.details" dataField="details" type="text" [width]="900"></ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>&nbsp;</ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-report #reportWindow title="g.report"  reportId='FlightPlanner'  [reportParameters]='reportParameters'>
    </ngc-report>
    <ngc-report #dateReportWindow title="g.report"  reportId='flightToAndFrom_report'  [reportParameters]='reportParameters'></ngc-report>
      <ngc-report #keyReportWindow title="g.report"  reportId='fpkeyanddate_report'  [reportParameters]='reportParameters'>
        </ngc-report>
</form>