<ngc-titlebar title='import.capture.Time.Stamp' (clear)="onClear($event)" (cancel)="onCancel($event)">
</ngc-titlebar>
<form [formGroup]="captureTimeStampSearch">
  <ngc-container type='section'>
    <ngc-row>
      <ngc-column column="2">
        <ngc-label value="import.truckNo"></ngc-label>
        <div>
          <ngc-input accessEnableOn="r" formControlName="truckNo"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label value="g.purpose"></ngc-label>
        <div>
          <ngc-dropdownlist formControlName="purpose" [width]="150" sourceId="DelTimeStamp$DelPurpose">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label value="import.srf.Number"></ngc-label>
        <div>
          <ngc-taginput maxChars="30" regex="^[0-9]*$" maxItems="10" formControlName="srfNumber" width='130'
            (select)="onselectSrf($event)"></ngc-taginput>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label=""></ngc-label>
        <div>
          <ngc-button accessEnableOn="r" [width]="120" value="g.search" iconType="search" (click)="onSearch()">
          </ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>

  <ngc-container *ngIf="showData">
    <ngc-row>
      <ngc-column column="8.8" align='right'>
        <ngc-label></ngc-label>
        <ngc-label value=""></ngc-label>
        <div>
          <ngc-dropdownlist formControlName="captureType" [width]="350" sourceId="DelTimeStamp$DelCaptureTimeStamp">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column="1.5" align='right'>
        <ngc-label label=""></ngc-label>
        <div>
          <ngc-button accessEnableOn="r" [width]="170" label="import.captureTimeStamp" (click)="onCaptureTime()">
          </ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>

  <ngc-container type="tab" *ngIf="showData">
    <ngc-row>
      <ngc-column>
        <ngc-datatable formArrayName="captureTimeEntryData" [pageable]='true'>
          <ngc-data-column text="import.srf.Number" dataField="srfNumber" cellsAlign="center" align="center"
            [width]="20">
          </ngc-data-column>
          <ngc-data-column text="import.cargo.Arrival.Time" dataField="captureCargoCollection" align="center"
            cellsAlign="center" [width]="25">
          </ngc-data-column>
          <ngc-data-column text="import.captured.Cargo.Released" dataField="capturesCargoReleased" align="center"
            cellsAlign="center" [width]="25">
          </ngc-data-column>
          <ngc-data-column text="import.capture.Cargo.Delivery" dataField="captureCargoComplete" align="center"
            cellsAlign="center" [width]="25">
          </ngc-data-column>
          <ngc-data-column text="import.payment.status" dataField="status" align="center" cellsAlign="center"
            [width]="25">
          </ngc-data-column>
          <ngc-data-column text="g.cc" dataField="ccCodes" align="center" cellsAlign="center" [width]="25">
          </ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>