<ngc-titlebar title="tracing.list.tracing.records.title" (clear)="onClear()"></ngc-titlebar>

<form [formGroup]="displayTracingForm">
  <ngc-container type="header">
    <!--<ngc-row>-->
    <ngc-row formGroupName="searchFormGroup">
      <ngc-column>
        <ngc-label label="g.type"></ngc-label>
        <div>
          <ngc-dropdownlist [width]="100" accessEnableOn="r" formControlName="importExportIndicator"
            sourceId="DisplayTracing$DisplayTracingType" (select)="getAirportGroupByType($event)" [noCache]="true">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="tracing.AG"></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" formControlName="airportGroupCode" [width]="120"
            sourceId="DTRACER_AIRPORT_GROUP" sourceType="query" [sourceParameters]="indicatorType"
            (select)="getCarrierCodeByAirportGroup($event)" [noCache]="true"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="tracing.careerGrouplabel"></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" formControlName="carrierGroupCode" sourceId="DISPLAY_CARRIER_GROUP_CODE"
            sourceType="query" [width]="60" valueMember="desc" (select)="getCarrierCodeByCarrierGroup($event)"
            [sourceParameters]="airportCode"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="g.carrier"></ngc-label>
        <div>
          <ngc-lov accessEnableOn="r" formControlName="carrierCode" upperCase='true' sourceId='DISPLAY_CARRIER_CODE'
            sourceType='query' title="g.carrierCode" [sourceParameters]="carrierGroupCodeParam" dataField='code'
            [width]="60">
            <ngc-data-column text="g.carrierCode" [width]="80" dataField="code"></ngc-data-column>
            <ngc-data-column text="g.carrierName" [width]="150" dataField="desc"></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <ngc-label label='tracing.irregularity'></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" [width]="150" formControlName="irregularity"
            sourceId="TRACING_IRREGULARITY" sourceType='query'></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [column]="1.5">
        <ngc-label label='tracing.reason.closing'></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" [noCache]="true" [width]="220"
            sourceId="MaintainTracing$Reason For Closing" formControlName="reasonforClosing">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <ngc-label label='tracing.tracing.for'></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" [width]="40" formControlName="tracingCreatedfor"
            sourceId="MaintainTracing$Tracingfor">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <ngc-label label="import.ReferenceNumber"></ngc-label>
        <div>
          <ngc-input accessEnableOn="r" [width]="150" formControlName="shipmentNumber"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <ngc-label value='g.dateFrom'></ngc-label>
        <div>
          <ngc-dateinput accessEnableOn="r" formControlName="fromDate"></ngc-dateinput>
        </div>
      </ngc-column>

      <ngc-column [column]="1">
        <ngc-label value='g.dateTo'></ngc-label>
        <div>
          <ngc-dateinput accessEnableOn="r" formControlName="toDate"></ngc-dateinput>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <ngc-label value='g.flight'></ngc-label>
        <div>
          <ngc-flightkeyinput accessEnableOn="r" [width]="100" formControlName="flightKey"></ngc-flightkeyinput>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <ngc-label label="g.status"></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" formControlName="caseStatus"
            sourceId="DisplayTracing$DisplayTracingStatus" [width]="180"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [column]="1.5">
        <ngc-label label="tracing.stage"></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" formControlName="stages" sourceId="DisplayTracing$DisplayTracingStaging"
            [width]="180"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [column]="1.5">
        <ngc-label label="tracing.irp.status"></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" formControlName="irpStatus"
            sourceId="DisplayTracing$DisplayTracingIrpStatus" [width]="180"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <br>
      <ngc-column [column]="1">
        <ngc-label label=""></ngc-label>
        <div>
          <ngc-checkbox accessEnableOn="r" formControlName="irregularityTypeCode">
            <ngc-i18n value="tracing.displayPartShipment"></ngc-i18n>
          </ngc-checkbox>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <ngc-label label=""></ngc-label>
        <div>
          <ngc-checkbox accessEnableOn="r" formControlName="claimed">
            <ngc-i18n value="tracing.claimed"></ngc-i18n>
          </ngc-checkbox>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <ngc-label label=""></ngc-label>
        <div>
          <ngc-checkbox accessEnableOn="r" formControlName="notclaimed">
            <ngc-i18n value="tracing.not.claimed"></ngc-i18n>
          </ngc-checkbox>
        </div>
      </ngc-column>
      <ngc-column align="right">
        <ngc-label label=""></ngc-label>
        <div>
          <ngc-button accessEnableOn="r" value="tracing.search" (click)="onSearch()" verticalAlign="bottom">
          </ngc-button>
          <ngc-button accessEnableOn="r" value="export.excel" (click)="onDisplayTracingReport($event)"
            verticalAlign="bottom">
          </ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>

  <ngc-window #docTagPopUp title="tracing.doc" [width]="700" [height]="420" style="top:170px !important;"
    [showCloseButton]="true" align="center">
    <ngc-container type="tab">
      <ngc-row>
        <ngc-column [column]="6">
          <ngc-label label="si.uploadeddocument"></ngc-label>
          <div>
            <ngc-fileupload #showPopUpfiles [multiple]="true" accept="*/*" viewMode="readonly" [selectable]="false"
              [entityType]="displayTracingForm.get(['searchFormGroup','caseNumber']).value"
              [entityKey]="displayTracingForm.get(['searchFormGroup','caseNumber']).value"></ngc-fileupload>
          </div>
        </ngc-column>
      </ngc-row>
    </ngc-container>

  </ngc-window>

  <!--<ngc-container>-->
  <ngc-container *ngIf="isTableFlag" type="tab">
    <ngc-row formGroupName="displayTracingListForm">
      <ngc-column>
        <ngc-datatable (linkClick)="onLinkClick($event)" formArrayName="tracingList" [pageSize]="15"
          [enablePageSizeHeight]="false">
          <ngc-data-column text="tracing.case.number.br" dataField="caseNumber" [width]="45" cellsAlign="left"
            align="left">
          </ngc-data-column>
          <ngc-data-column text="g.date" dataField="createdDateTime" [width]="45" cellsAlign="left" type="displayDate"
            align="left"></ngc-data-column>
          <ngc-data-column text="g.type" dataField="importExportIndicator" [width]="40" cellsAlign="left" align="left">
          </ngc-data-column>
          <ngc-data-column text="tracing.irregularity" dataField="irregularityTypeCode" [width]="45" cellsAlign="left"
            align="left"></ngc-data-column>
          <ngc-data-column text="tracing.tracing.for.br" dataField="tracingCreatedFor" [width]="40" cellsAlign="left"
            align="left"></ngc-data-column>
          <ngc-data-column text="tracing.ref.no.br" dataField="shipmentNumber" [width]="55" cellsAlign="right"
            align="left"></ngc-data-column>
          <ngc-data-column text="tracing.hawb" dataField="houseNumber" [width]="55" cellsAlign="right" align="left">
          </ngc-data-column>
          <ngc-data-column text="g.carrier" dataField="carrierCode" [width]="30" cellsAlign="left" align="left">
          </ngc-data-column>
          <ngc-data-column text="g.flight" dataField="flightKey" [width]="30" cellsAlign="left" align="left">
          </ngc-data-column>
          <ngc-data-column text="tracing.flight.date.br" dataField="flightDate" type="displayDate" [width]="42"
            cellsAlign="left" align="left"></ngc-data-column>
          <ngc-data-column text="g.origin" dataField="origin" [width]="30" cellsAlign="left" align="left">
          </ngc-data-column>
          <ngc-data-column text="g.destination" dataField="destination" [width]="50" cellsAlign="left" align="left">
          </ngc-data-column>
          <ngc-data-column text="tracing.irrpcs.by.totalpcs" dataField="irregularityPieces" [width]="70"
            cellsAlign="right" align="left" type="displayPieces"></ngc-data-column>
          <ngc-data-column text="tracing.irrweight.by.totalweight" dataField="irregularityWeight" [width]="70"
            cellsAlign="right" align="left" type="displayWeight"></ngc-data-column>
          <ngc-data-column text="g.shc" dataField="shc" [width]="20" cellsAlign="left" align="left"></ngc-data-column>
          <ngc-data-column text="tracing.goods.nature.br" dataField="natureOfGoodsDescription" [width]="45"
            cellsAlign="left" align="left"></ngc-data-column>
          <ngc-data-column text="tracing.claim" dataField="claimFlag" [width]="25" cellsAlign="center" align="left">
          </ngc-data-column>
          <ngc-data-column text="tracing.irp.status" dataField="irpStatus" [width]="55" cellsAlign="left" align="left">
          </ngc-data-column>
          <ngc-data-column text="tracing.stage" dataField="stages" [width]="55" cellsAlign="left" align="left">
          </ngc-data-column>
          <ngc-data-column text="g.status" dataField="caseStatus" [width]="55" cellsAlign="left" align="left">
          </ngc-data-column>
          <ngc-data-column text="tracing.reason.closing" dataField="reasonforClosing" [width]="55" cellsAlign="left"
            align="left">
          </ngc-data-column>
          <ngc-data-column text="tracing.ref.case.no" dataField="referenceCaseNumber" [width]="55" cellsAlign="left"
            align="left"></ngc-data-column>
          <ngc-data-column text="tracing.uploaded.doc.br" iconType="open-link" type="link" [width]="30"
            cellsAlign="center" align="left"></ngc-data-column>
          <ngc-data-column text="g.audit.details" dataField="Details" iconType='edit' type="link" [width]="30"
            cellsAlign="center" align="left"></ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-report format='xls' #reportWindow title="g.report" reportId='list_of_tracing_report'
    [reportParameters]='reportParameters'>
  </ngc-report>
</form>
<ngc-footer>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-button value="trac.new" (click)="createNewTrace($event)"></ngc-button>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</ngc-footer>