<form [formGroup]="form">
  <ngc-titlebar title="cargo.damage.report.list" (save)="onSaveAddition($event)" (clear)="clear($event)"
    (print)="onPrint()">
  </ngc-titlebar>
  <ngc-container type="header">
    <ngc-row>
      <ngc-column column="2">
        <ngc-label label='g.flight'></ngc-label>
        <div>
          <ngc-flightkeyinput accessEnableOn="r" formControlName="flight"></ngc-flightkeyinput>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label='g.date'></ngc-label>
        <div>
          <ngc-dateinput accessEnableOn="r" formControlName="flightDate"></ngc-dateinput>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label='import.arr.date'></ngc-label>
        <div>
          <ngc-dateinput accessEnableOn="r" formControlName="datAta"></ngc-dateinput>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label=''></ngc-label>
        <div>
          <ngc-button label='g.search' accessEnableOn="r" (click)='onSearch()' iconType="search"></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>

  <ngc-container type="section" *ngIf="showTable">
    <ngc-row>
      <ngc-column>
        <ngc-data-column type="check" text="g.select" align="center" dataField="select" cellsAlign="center"
          [hidden]="true" [width]="40"></ngc-data-column>
        <ngc-datatable formArrayName="damageReportList" [showAggregates]="false" [pageable]="true"
          (linkClick)="transferData($event)">
          <ngc-data-column type=" text" text="g.sNo" dataField="serialNo" align="center" [width]="40"
            cellsAlign="center">
          </ngc-data-column>

          <ngc-data-column text="flight.info" dataField="flightInfo" [width]="110" align="center" cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="import.ata" dataField="ata" [width]="124" align="center" cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="g.origin" dataField="origin" [width]="140" align="center" cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="g.destination" dataField="destination" [width]="100" align="center"
            cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="g.weather" dataField="weatherCondition" [width]="80" align="center"
            cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="mb.damage" dataField="damagePieces" [width]="100" align="center" cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="dmg.notif" [width]="650" name="damageGroup" align="center" cellsAlign="center">
            <ngc-data-column text="g.auto" dataField="autoBatchNotificationSent" [width]="80" align="center"
              cellsAlign="center">
            </ngc-data-column>
            <ngc-data-column text="imp.manual" dataField="manualNotificationSent" [width]="130" cellsAlign="center"
              align="center"></ngc-data-column>
          </ngc-data-column>
          <ngc-data-column text="g.action" dataField="view" [width]="80" type="link" align="center" cellsAlign="center">
          </ngc-data-column>

        </ngc-datatable>

      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>