<ngc-titlebar (cancel)="onCancel($event)" title='uld.uldstocklevel'></ngc-titlebar>
<form [formGroup]='stocklevelform'>
    <ngc-container type="tab">
        <ngc-row>
            <ngc-column>
                <ngc-label value='uld.carrier'></ngc-label>
                <div>
                    <ngc-lov accessEnableOn="r" formControlName='lov' width='40px' upperCase='true' sourceId='CARRIER'
                        title='uld.carrier.type' dataField='code' (select)='onSelect($event)' displayMember="code"
                        [dropDownWidth]='60' required='true'>
                        <ngc-data-column text='uld.carrier' dataField='code' [width]='100'></ngc-data-column>
                        <ngc-data-column text='uld.description' dataField='desc' [width]='150'></ngc-data-column>
                    </ngc-lov>
                </div>
            </ngc-column>
            <ngc-column>
                <ngc-label value='uld.stockLevel'></ngc-label>
                <div>
                    <ngc-dropdownlist accessEnableOn="r" [height]='25' [width]='130' sourceId='ULD$STOCK_LEVEL'
                        formControlName='StockType' height='20'></ngc-dropdownlist>
                </div>
            </ngc-column>
            <ngc-column align='center'>
                <ngc-label></ngc-label>
                <div>
                    <ngc-button accessEnableOn="r" (click)='onSearch()' iconType="search" label='g.search'
                        #searchbutton>
                    </ngc-button>
                </div>
            </ngc-column>
            <ngc-column column='8'></ngc-column>
        </ngc-row>
        <ngc-row *ngIf='tableFlag'>
            <ngc-column>
                <ngc-label value='uld.carrier'></ngc-label>
                <div>
                    <ngc-display formControlName='carrierCodeDisplay'></ngc-display>
                </div>
            </ngc-column>
            <ngc-column column='4'>
                <ngc-label value='uld.name'></ngc-label>
                <div>
                    <ngc-display formControlName='carrierName'></ngc-display>
                </div>
            </ngc-column>
            <ngc-column>
                <ngc-label value='uld.stockLevel'></ngc-label>
                <div>
                    <ngc-display formControlName='stockLevelDisplay'></ngc-display>
                </div>
            </ngc-column>
            <ngc-column align="right">
                <ngc-label value='uld.uldcount'></ngc-label>
                <div>
                    <ngc-display formControlName='countTotalUlds'></ngc-display>
                </div>
            </ngc-column>
            <ngc-column align="right">
                <ngc-label value='uld.owneduld'></ngc-label>
                <div>
                    <ngc-display formControlName='countOwnerUlds'></ngc-display>
                </div>
            </ngc-column>
            <ngc-column align="right">
                <ngc-label value='uld.foreignuld'></ngc-label>
                <div>
                    <ngc-display formControlName='countForeignUlds'></ngc-display>
                </div>
            </ngc-column>
            <ngc-column column='2'></ngc-column>
        </ngc-row>
    </ngc-container>
    <ngc-container type="tab">
        <ngc-row>
            <ngc-column>
                <ngc-datatable formArrayName='resultList' *ngIf='tableFlag'>
                    <ngc-data-column text='uld.uldtype' dataField='uldTypeCode' [width]='150' cellsAlign='left'>
                    </ngc-data-column>
                    <ngc-data-column text='uld.description' dataField='uldTypeDesc' [width]='250'></ngc-data-column>
                    <ngc-data-column text='uld.minuld' dataField='minUld' [width]='150' cellsAlign='right'>
                    </ngc-data-column>
                    <ngc-data-column text='uld.maxuld' dataField='maxUld' [width]='150' cellsAlign='right'>
                    </ngc-data-column>
                    <ngc-data-column text='uld.owneduld' dataField='ownerUlds' [width]='150' cellsAlign='right'>
                    </ngc-data-column>
                    <ngc-data-column text='uld.foreignuld' dataField='foreignUlds' [width]='150' cellsAlign='right'>
                    </ngc-data-column>
                    <ngc-data-column text='uld.overunderstock' dataField='balanceUld' [width]='200' cellsAlign='right'>
                    </ngc-data-column>
                </ngc-datatable>
            </ngc-column>
        </ngc-row>
    </ngc-container>
</form>