<ngc-titlebar title='export.cargo.request.for.handover.title' (clear)="onClear($event)" (cancel)="onCancel()">
</ngc-titlebar>
<!-- [title]='titleObj' -->
<form [formGroup]="specialcargorequestform">
  <ngc-container type="section">
    <ngc-row>
      <ngc-column>
        <ngc-label label="flight.Flight"></ngc-label>
        <div>
          <ngc-flightkeyinput accessEnableOn="r" upperCase="true" formControlName="flightKey" (ngModelChange)="flightForSegment()"
            [width]="100" required></ngc-flightkeyinput>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="flight.date"></ngc-label>
        <div>
          <ngc-datetimeinput accessEnableOn="r" upperCase="true" formControlName="flightDate" (ngModelChange)="flightForSegment()"
            [onlyDate]="true" [width]="100" required></ngc-datetimeinput>

        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="flight.segment"></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" required [width]="90" sourceId="FLIGHTSEGMENT"
            [sourceParameters]="flightKeyforDropdown" [noCache]="true" sourceType="query" formControlName="segmentId"
            placeholder="g.select" [dropDownWidth]="80" [autoSelect]="true"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="splcargo.shcgroup"></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" formControlName="shcGroup" sourceType='query'
            sourceId='GROUP_COLLECTION_CODE' [width]="100" [dropDownWidth]='90' required></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="&nbsp;"></ngc-label>
        <div style="padding-top: 2px">
          <ngc-button accessEnableOn="r" label='search' (click)="onSearch($event)" iconType="search" #searchButton>
          </ngc-button>
        </div>
      </ngc-column>
      <ngc-column column="4">
        <ngc-label label="&nbsp;"></ngc-label>

      </ngc-column>
    </ngc-row>


  </ngc-container>
  <ngc-container *ngIf="specialcargorequestform.controls.shipmentsList.length > 0">
    <ngc-row>
      <ngc-column>
        <ngc-label value='export.handover.atd.etd.std'></ngc-label>
        <ngc-display formControlName='atdetdstd'>
        </ngc-display>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-table>
          <thead class='text-center'>
            <tr>
              <th class='text-center;'>
                <ngc-label value='g.sel'></ngc-label>
              </th>

              <th class='text-center' rowspan='2'>
                <ngc-label value='export.cargo.handover.awb.no'></ngc-label>
              </th>
              <th class='text-center' rowspan='2'>
                <ngc-label value='export.cargo.handover.bkg.sts'></ngc-label>
              </th>
              <th class='text-center' rowspan='2'>
                <ngc-label value='export.cargo.handover.seg'></ngc-label>
              </th>
              <th class='text-center' rowspan='2'>
                <ngc-label value='export.cargo.handover.awb.shc'></ngc-label>
              </th>
              <th class='text-center' rowspan='2'>
                <ngc-label value='export.cargo.handover.bkd.pc'></ngc-label>
              </th>
              <th class='text-center' rowspan='2'>
                <ngc-label value='g.location'></ngc-label>
              </th>
              <th class='text-center' rowspan='2'>
                <ngc-label value='export.cargo.handover.location.shc'></ngc-label>
              </th>
              <th class='text-center' rowspan='2'>
                <ngc-label value='export.handover.req.loc'></ngc-label>
              </th>
              <th class='text-center' rowspan='2'>
                <ngc-label value='export.cargo.handover.req.loc.and.time'></ngc-label>
              </th>

              <th class='text-center' rowspan='2'>
                <ngc-label value='export.cargo.handover.new.req'></ngc-label>
              </th>
              <th class='text-center' rowspan='2'>
                <ngc-label value='export.cargo.handover.delete.request'></ngc-label>
              </th>
            </tr>
            <tr>
              <th class='text-center'>
                <ngc-checkbox formControlName='selectAll' (modelChange)="selectAll($event)"></ngc-checkbox>
              </th>
            </tr>
          </thead>
          <ng-container formArrayName='shipmentsList'>
            <ng-container *ngFor="let item of specialcargorequestform.controls.shipmentsList.controls; let index=index"
              [formGroupName]="index">
              <tr>
                <td>
                  <ngc-checkbox formControlName='select' (modelChange)="select($event,index)"></ngc-checkbox>
                </td>
                <td *ngIf="item.get('partSuffixToShow').value ">
                  <ngc-display formControlName='shipmentNumber'>
                  </ngc-display>(
                  <ngc-display formControlName='partSuffix'>
                  </ngc-display>)
                </td>
                <td *ngIf="!item.get('partSuffixToShow').value">
                  <ngc-display formControlName='shipmentNumber'>
                  </ngc-display>
                </td>
                <td>
                  <ngc-display formControlName='bookingStatusCode'>
                  </ngc-display>
                </td>

                <td>
                  <ngc-display formControlName='segment'>
                  </ngc-display>
                </td>
                <td>
                  <ngc-display formControlName='awbSHC'>
                  </ngc-display>
                </td>
                <td>
                  <ngc-display formControlName='flightBookedPieces'>
                  </ngc-display>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <ng-container formArrayName="inventoryList">
                  <ng-container
                    *ngFor="let inventorySubItem of item.get(['inventoryList']).controls| page :1 :1; let sindex=index"
                    [formGroupName]="0">
                    <td colspan="6"></td>
                    <td *ngIf="inventorySubItem.get('handoverFlag').value===true">
                      *
                      <ngc-display formControlName='shipmentInventoryShipmentLocation'>
                      </ngc-display>
                    </td>
                    <td *ngIf="inventorySubItem.get('handoverFlag').value!==true">
                      <ngc-display formControlName='shipmentInventoryShipmentLocation'>
                      </ngc-display>
                    </td>
                    <td>
                      <ngc-display formControlName='inventoryShcForDisplay'>
                      </ngc-display>
                    </td>
                    <td>
                      <ngc-display formControlName='requestPieces'>
                      </ngc-display>/
                      <ngc-display formControlName='shipmentInventoryPieces'>
                      </ngc-display>
                    </td>
                    <td>
                      <ng-container formArrayName="requestList">
                        <ng-container
                          *ngFor="let requestSubItem of inventorySubItem.get(['requestList']).controls; let requestIndex=index"
                          [formGroupName]="requestIndex">
                          <ngc-display formControlName='requestSummary'></ngc-display>
                          <br>
                        </ng-container>
                      </ng-container>
                    </td>
                    <td>
                      <ngc-piecesinput *ngIf="inventorySubItem.get('handoverFlag').value!==true"
                        formControlName='requestingPieces'>
                      </ngc-piecesinput>
                    </td>
                    <td>
                      <ngc-link *ngIf="inventorySubItem.get('handoverFlag').value!==true"
                        (linkClick)="onDeleteRequest(index, sindex)" iconType="delete"></ngc-link>
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
              <ng-container formArrayName="inventoryList">
                <ng-container *ngFor="let inventorySubItem of item.get(['inventoryList']).controls; let sindex=index"
                  [formGroupName]="sindex">
                  <tr *ngIf="sindex> 0">
                    <td colspan="6"></td>
                    <td *ngIf="inventorySubItem.get('handoverFlag').value===true">
                      *
                      <ngc-display formControlName='shipmentInventoryShipmentLocation'>
                      </ngc-display>
                    </td>
                    <td *ngIf="inventorySubItem.get('handoverFlag').value!==true">
                      <ngc-display formControlName='shipmentInventoryShipmentLocation'>
                      </ngc-display>
                    </td>
                    <td>
                      <ngc-display formControlName='inventoryShcForDisplay'>
                      </ngc-display>
                    </td>
                    <td>
                      <ngc-display formControlName='requestPieces'>
                      </ngc-display>/
                      <ngc-display formControlName='shipmentInventoryPieces'>
                      </ngc-display>
                    </td>
                    <td>
                      <ng-container formArrayName="requestList">
                        <ng-container
                          *ngFor="let requestSubItem of inventorySubItem.get(['requestList']).controls; let requestIndex=index"
                          [formGroupName]="requestIndex">
                          <ngc-display formControlName='requestSummary'></ngc-display>
                          <br>
                        </ng-container>
                      </ng-container>
                    </td>
                    <td>
                      <ngc-piecesinput *ngIf="inventorySubItem.get('handoverFlag').value!==true"
                        formControlName='requestingPieces'>
                      </ngc-piecesinput>
                    </td>
                    <td>
                      <ngc-link *ngIf="inventorySubItem.get('handoverFlag').value!==true"
                        (linkClick)="onDeleteRequest(index, sindex)" iconType="delete"></ngc-link>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ngc-table>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container *ngIf="specialcargorequestform.controls.shipmentsList.length > 0">
    <ngc-row>
      <ngc-column column="9">
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label="splcargo.whLocation"></ngc-label>
        <div>
          <ngc-locations-list [displayOnlyLocation]="true" formControlName="whLocation" required [noTerminal]='true'
            [locationTypeList]="['STORAGE']">
          </ngc-locations-list>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="splcargo.expDateTime"></ngc-label>
        <div>
          <ngc-datetimeinput [showCalendarButton]="true" [showTimeButton]="true" [min]="dateFrom"
            formControlName="expDateTime" width="130" required>
          </ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column column="8">
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column column="9">&nbsp;
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column column="9">&nbsp;
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column column="5">
      </ngc-column>
      <ngc-column column="2">
        <ngc-button label='splcargo.request' (click)='onRequest()' width='120'> </ngc-button>
      </ngc-column>
      <ngc-column column="2">
        <ngc-button label='splcargo.ho.confirm' (click)='openSpecialCargoHandoverScreen()' width='120'> </ngc-button>
      </ngc-column>

    </ngc-row>

  </ngc-container>

</form>