<ngc-titlebar title='bil.payCharges' (save)="onSave($event)" (clear)="onClear($event)" (cancel)="onCancel($event)">
</ngc-titlebar>
<form [formGroup]='payChargesForm'>
  <ngc-container type='section'>
    <ngc-row>
      <ngc-column *ngIf="data.customerName">
        <ngc-label value='g.customerName'></ngc-label>
        <div>
          <ngc-display formControlName='customerName'></ngc-display>
        </div>
      </ngc-column>
      <ngc-column *ngIf="data.service && !data.shipment">
        <ngc-label value='bil.serviceId'></ngc-label>
        <div>
          <ngc-display formControlName='service'></ngc-display>
        </div>
      </ngc-column>
      <ngc-column *ngIf="data.shipment && !data.service">
        <ngc-label value='g.awbNumber'></ngc-label>
        <div>
          <ngc-shipmentdisplay formControlName='shipment'></ngc-shipmentdisplay>
        </div>
      </ngc-column>
      <ngc-column align="center" *ngIf="data.shipment && !data.service">
        <ngc-label label="poIssue.org/des"></ngc-label>
        <div>
          <ngc-display formControlName="origin"></ngc-display> /
          <ngc-display formControlName="destination"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column align="center" *ngIf="data.shipment && !data.service">
        <ngc-label label="display.pieces"></ngc-label>
        <div>
          <ngc-piecesdisplay formControlName="pieces"></ngc-piecesdisplay> /
          <ngc-weightdisplay formControlName="weight"></ngc-weightdisplay>
        </div>
      </ngc-column>
      <ngc-column align="center" *ngIf="data.shipment && !data.service" entityAttribute="Gen.ChargeableWeight">
        <ngc-label label="g.chargeableWeight"></ngc-label>
        <div>
          <ngc-display formControlName="chargeableWeight" decimalDigits="2"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column *ngIf="data.shipment && !data.service">
        <ngc-label value='g.shc'></ngc-label>
        <div>
          <ngc-display formControlName='shc'></ngc-display>
        </div>
      </ngc-column>
      <ngc-column align="center" *ngIf="data.shipment && !data.service">
        <ngc-label value='g.handlingArea'></ngc-label>
        <div>
          <ngc-display formControlName='handlingArea'></ngc-display>
        </div>
      </ngc-column>
      <ngc-column align="center" *ngIf="data.shipment && !data.service">
        <ngc-label label="billing.shpcne"></ngc-label>
        <div>
          <ngc-display formControlName="shpcne"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column align="center" *ngIf="data.shipment && !data.service">
        <ngc-label label="agent"></ngc-label>
        <div>
          <ngc-display formControlName="agent"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column align="center" *ngIf="data.shipment && !data.service">
        <ngc-label label="report.billing.payee"></ngc-label>
        <div>
          <ngc-display formControlName="payee"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column align="center" *ngIf="data.shipment && !data.service" feature="Billing.PrepaidAccount">
        <ngc-label label="billing.pdAccount"></ngc-label>
        <div>
          <ngc-display formControlName="pdAccount"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column align="center" *ngIf="data.shipment && !data.service" feature="Billing.PrepaidAccount">
        <ngc-label label="billing.pdBalance"></ngc-label>
        <div>
          <ngc-currencydisplay formControlName="pdBalance"></ngc-currencydisplay>
        </div>
      </ngc-column>
      <ngc-column *ngIf="data.shipment && !data.service">
        <ngc-label value='billing.exportImport'></ngc-label>
        <div>
          <ngc-display formControlName='exportImportFlag'></ngc-display>
        </div>
      </ngc-column>
      <!-- <ngc-column>
        <ngc-label value='bil.counter'></ngc-label>
        <div>
          <ngc-locations-list [typeDropDown]="true" required (select)='onCounterSelect($event)'
            [locationTypeList]="['BILLING_COUNTER']" [displayOnlyLocation]="true" formControlName="counter"
            [width]="100"></ngc-locations-list>
        </div>
      </ngc-column> -->
    </ngc-row>
  </ngc-container>
  <ngc-container type='section' *ngIf="data.shipment && !data.service && payChargesForm.get('hawbNumber').value">
    <ngc-row formGroupName="houseInformation">
      <ngc-column entityAttribute="Gen.HAWBOrSBNumber">
        <ngc-label label="billing.hawbsbNumber"></ngc-label>
        <div>
          <ngc-display formControlName="hawbNumber"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column align="center">
        <ngc-label label="display.pieces"></ngc-label>
        <div>
          <ngc-piecesdisplay formControlName="pieces"></ngc-piecesdisplay> /
          <ngc-weightdisplay formControlName="weight"></ngc-weightdisplay>
        </div>
      </ngc-column>
      <ngc-column align="center" entityAttribute="Gen.ChargeableWeight">
        <ngc-label label="g.chargeableWeight"></ngc-label>
        <div>
          <ngc-display formControlName="chargeableWeight" decimalDigits="2"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column align="center">
        <ngc-label label="g.shc"></ngc-label>
        <div>
          <ngc-display formControlName="shc"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column align="center" *ngIf="data.shpcne">
        <ngc-label label="billing.shpcne"></ngc-label>
        <div>
          <ngc-display formControlName="shpcne"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column align="center">
        <ngc-label label="Agent"></ngc-label>
        <div>
          <ngc-display formControlName="agent"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column align="center">
        <ngc-label label="billing.cavfob"></ngc-label>
        <div>
          <ngc-display formControlName="cavFob"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column align="center">
        <ngc-label label="Duty"></ngc-label>
        <div>
          <ngc-display formControlName="duty"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column align="center">
        <ngc-label label="report.billing.payee"></ngc-label>
        <div>
          <ngc-display formControlName="payee"></ngc-display>
        </div>
      </ngc-column>
      <!-- <ngc-column align="center">
        <ngc-label label="Payee Name"></ngc-label>
        <div>
          <ngc-display formControlName="payeeName"></ngc-display>
        </div>
      </ngc-column> -->
      <ngc-column align="center" feature="Billing.PrepaidAccount">
        <ngc-label label="billing.pdAccount"></ngc-label>
        <div>
          <ngc-display formControlName="pdAccount"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column align="center" feature="Billing.PrepaidAccount">
        <ngc-label label="billing.pdBalance"></ngc-label>
        <div>
          <ngc-currencydisplay formControlName="pdBalance"></ngc-currencydisplay>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type='tab'>
    <ngc-row>
      <ngc-column>
        <ngc-label value='bil.charges'></ngc-label>
      </ngc-column>
      <ngc-column column='16'></ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column column='9'>
        <ngc-table>
          <thead>
            <tr>
              <th width='100'>
                <ngc-label value='bil.serviceType'></ngc-label>
              </th>
              <th width='100'>
                <ngc-label value='g.quantity'></ngc-label>
              </th>
              <th width='100'>
                <ngc-label value='g.duration'></ngc-label>
              </th>
              <th width='100'>
                <ngc-label value='g.amount'></ngc-label>
              </th>
              <th width='100'>
                <ngc-label value='bil.waivedAmount'></ngc-label>
              </th>
              <th width='100' *ngIf="waivedStatusApproved">
                <ngc-label value='billing.waivedStatus'></ngc-label>
              </th>
              <th width='100' feature='Billing.SalesTax'>
                <ngc-label value='billing.netAmount'></ngc-label>
              </th>
              <th width='100' feature='Billing.SalesTax'>
                <ngc-label value='billing.taxAmount'></ngc-label>
              </th>
              <th width='100' feature='Billing.SalesTax'>
                <ngc-label value='export.NAWB.taxes'></ngc-label>
              </th>
              <th width='100' feature='Billing.SalesTax'>
                <ngc-label value='billing.total.amount.sgd'></ngc-label>
              </th>
              <th width='100'>
                <ngc-label value='bil.paidAmount'></ngc-label>
              </th>
            </tr>
          </thead>
          <tbody formArrayName='chargeAdvice'>
            <tr *ngFor="let item of payChargesForm.controls.chargeAdvice.controls; let index=index"
              [formGroupName]="index">
              <td>
                <ngc-display formControlName='serviceType'></ngc-display>
              </td>
              <td>
                <ngc-display formControlName='quantity' dataType="string"></ngc-display>
              </td>
              <td>
                <ngc-display formControlName='duration'></ngc-display>
              </td>
              <td>
                <ngc-currencydisplay formControlName='amount'></ngc-currencydisplay>
              </td>
              <td>
                <ngc-currencydisplay formControlName='waivedAmount'></ngc-currencydisplay>
              </td>
              <td *ngIf="waivedStatusApproved">
                <ngc-display formControlName='waivedStatus'></ngc-display>
              </td>
              <td feature='Billing.SalesTax'>
                <ngc-currencydisplay formControlName='netAmount'></ngc-currencydisplay>
              </td>
              <td feature='Billing.SalesTax'>
                <ngc-currencydisplay formControlName='taxAmount'></ngc-currencydisplay>
              </td>
              <td feature='Billing.SalesTax'>
                <ngc-display formControlName='taxCompCode'></ngc-display>
              </td>
              <td feature='Billing.SalesTax'>
                <ngc-currencydisplay formControlName='amount'></ngc-currencydisplay>
              </td>
              <td>
                <ngc-currencydisplay formControlName='paid'></ngc-currencydisplay>
              </td>
            </tr>
            <tr class='greyBack'>
              <td>
                <ngc-label value='bil.toCollect'></ngc-label>
              </td>
              <td></td>
              <td></td>
              <td>
                <ngc-currencydisplay [value]="amountTotal"></ngc-currencydisplay>
              </td>
              <td>
                <ngc-currencydisplay [value]='waiveTotal'></ngc-currencydisplay>
              </td>
              <td *ngIf="waivedStatusApproved">
              </td>
              <td feature='Billing.SalesTax'>
              </td>
              <td feature='Billing.SalesTax'>
                <ngc-currencydisplay [value]='taxAmountTotal'></ngc-currencydisplay>
              </td>
              <td feature='Billing.SalesTax'>
                <ngc-display [value]='taxes'></ngc-display>
              </td>
              <td feature='Billing.SalesTax'>
                <ngc-currencydisplay [value]='totalAmountTotal'></ngc-currencydisplay>
              </td>
              <td>
                <ngc-currencydisplay [value]='paidTotal'></ngc-currencydisplay>
              </td>
            </tr>
          </tbody>
        </ngc-table>
      </ngc-column>
      <ngc-column [grid48]='true' column='1'></ngc-column>
      <ngc-column>
        <ngc-label value='bil.totalAmount'></ngc-label>
        <div>
          <ngc-currencydisplay emphasis='lg' [value]='totalAmount' [i18n]="true"></ngc-currencydisplay>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column column='2'>
        <ngc-label value='bil.ic/PassNumber'></ngc-label>
        <div>
          <ngc-input [maxlength]="5" required formControlName='icPassNumber'></ngc-input>
        </div>
      </ngc-column>
      <ngc-column column='2'>
        <ngc-label value='bil.receivedFrom'></ngc-label>
        <div>
          <ngc-input [maxlength]="64" required formControlName='receivedFrom'></ngc-input>
        </div>
      </ngc-column>
      <ngc-column column='2'>
        <ngc-label value='bil.counter'></ngc-label>
        <div>
          <ngc-locations-list [typeDropDown]="true" required (select)='onCounterSelect($event)'
            [locationTypeList]="['BILLING_COUNTER']" [displayOnlyLocation]="true" formControlName="counter"
            [width]="100">
          </ngc-locations-list>
        </div>
      </ngc-column>
      <ngc-column feature="Billing.AllowMultiplePaymentMode" align="right">
        <ngc-label value=''></ngc-label>
        <div>
          <ngc-button (click)='onAdd($event)' value='g.addMore'></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-table>
          <thead>
            <tr>
              <th width='100'>
                <ngc-label value='bil.payMode'></ngc-label>
              </th>
              <th width='150' feature="Billing.PrepaidAccount"
                *ngIf="payChargesForm.controls.paymentDetails && payChargesForm.controls.paymentDetails.controls[0] && payChargesForm.controls.paymentDetails.controls[0].controls['mode'].value == 'PDACCOUNT'">
                <ngc-label value='billing.pdAccount'></ngc-label>
              </th>
              <th width='150' feature="Billing.PrepaidAccount"
                *ngIf="payChargesForm.controls.paymentDetails && payChargesForm.controls.paymentDetails.controls[0] && payChargesForm.controls.paymentDetails.controls[0].controls['mode'].value == 'PDACCOUNT'">
                <ngc-label value='billing.pdBalance'></ngc-label>
              </th>
              <th width='150'>
                <ngc-label value='bil.issuingBank'></ngc-label>
              </th>
              <th width='150'>
                <ngc-label value='bil.transactionNumber'></ngc-label>
                <ngc-label value='bil.referenceNumber'></ngc-label>
              </th>
              <th width='150'>
                <ngc-label value='g.date'></ngc-label>
              </th>
              <th width='150'>
                <ngc-label value='g.tenderedAmount'></ngc-label>
              </th>
              <th width='100'>
                <ngc-label value='bil.paymentStatus'></ngc-label>
              </th>
              <th width='200'>
                <ngc-label value='bil.paymentRemarks'></ngc-label>
              </th>
              <th width='50'>
                <ngc-label value='g.delete'></ngc-label>
              </th>
            </tr>
          </thead>
          <tbody formArrayName='paymentDetails'>
            <tr *ngFor="let item of payChargesForm.controls.paymentDetails.controls; let index=index"
              [formGroupName]="index">
              <td>
                <ngc-dropdownlist required width='90' sourceId='BILL_PAYMENT_MODE' sourceType='query'
                  [sourceParameters]='customer' formControlName='mode'></ngc-dropdownlist>
              </td>
              <td feature="Billing.PrepaidAccount" *ngIf="item.get('mode').value == 'PDACCOUNT'">
                {{this.payChargesForm.get('houseInformation.pdAccount').value}}
              </td>
              <td feature="Billing.PrepaidAccount" *ngIf="item.get('mode').value == 'PDACCOUNT'">
                <ngc-currencydisplay [value]="this.payChargesForm.get('houseInformation.pdBalance').value">
                </ngc-currencydisplay>
              </td>
              <td *ngIf="item.get('mode').value!='CHEQUE'"></td>
              <td *ngIf="item.get('mode').value=='CHEQUE'">
                <ngc-dropdownlist required width='150' sourceId='BILL_BANKS' sourceType='query'
                  formControlName='issuingBank'></ngc-dropdownlist>
              </td>
              <td *ngIf="item.get('mode').value=='CASH'"></td>
              <td *ngIf="item.get('mode').value!='CASH'">
                <ngc-alphanuminput required [width]="150" formControlName='transactionNumber'>
                </ngc-alphanuminput>
              </td>
              <td *ngIf="item.get('mode').value=='CASH'"></td>
              <td *ngIf="item.get('mode').value!='CASH'">
                <ngc-datetimeinput required [width]="150" formControlName='date'></ngc-datetimeinput>
              </td>
              <td>
                <ngc-currencyinput required formControlName='tenderedAmount'></ngc-currencyinput>
              </td>
              <td>
                <ngc-dropdownlist required [width]="100" sourceId='Billing$PaymentStatus'
                  formControlName='paymentStatus'></ngc-dropdownlist>
              </td>
              <td>
                <ngc-input [width]='200' [maxlength]="250" formControlName='paymentRemarks'></ngc-input>
              </td>
              <td *ngIf="index==0">
                <ngc-link iconType='delete'></ngc-link>
              </td>
              <td *ngIf="index!=0">
                <ngc-link iconType='delete' (linkClick)='onPayDelete($event, index)'></ngc-link>
              </td>
            </tr>
            <tr class='greyBack'>
              <td></td>
              <td></td>
              <td></td>
              <td feature="Billing.PrepaidAccount"
                *ngIf="payChargesForm.controls.paymentDetails && payChargesForm.controls.paymentDetails.controls[0] && payChargesForm.controls.paymentDetails.controls[0].controls['mode'].value == 'PDACCOUNT'">
              </td>
              <td feature="Billing.PrepaidAccount"
                *ngIf="payChargesForm.controls.paymentDetails && payChargesForm.controls.paymentDetails.controls[0] && payChargesForm.controls.paymentDetails.controls[0].controls['mode'].value == 'PDACCOUNT'">
              </td>
              <td>
                <ngc-label value='g.total'></ngc-label>
              </td>
              <td>
                <ngc-currencydisplay [value]='totalAmt'></ngc-currencydisplay>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </ngc-table>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab" feature="Billing.ShowChargeRatesPageLink">
    <ngc-row>
      <ngc-column column='7'>
        <ngc-note>
          Note: Check
          <a href='http://www.satscargo.com/common/Charges.htm'>www.satscargo.com</a> for updated rates.
        </ngc-note>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>