<form [formGroup]="acceptanceMonitoringByHouse">
  <ngc-titlebar type="header" title="export.accpt.acceptancemonitoring">
  </ngc-titlebar>
  <ngc-container type="box">
    <ngc-row>
      <ngc-column [grid36]="true">
        <ngc-label label='g.fromDate'></ngc-label>
        <div>
          <ngc-datetimeinput accessEnableOn="r" [width]="150" [showCalendarButton]="true" [showTimeButton]="true"
            formControlName="dateTimeFrom"></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column [grid36]="true">
        <ngc-label value="g.toDate"></ngc-label>
        <div>
          <ngc-datetimeinput accessEnableOn="r" [width]="150" [showCalendarButton]="true" [showTimeButton]="true"
            formControlName="dateTimeTo"></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column [grid36]="true">
        <ngc-label value="export.accpt.domesticflag"></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" sourceId="Acceptance$AcceptanceShipmentType" [width]="120"
            formControlName="domesticFlightFlag">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [grid36]="true">
        <ngc-label value='g.awbNumber'></ngc-label>
        <div>
          <ngc-awbinput accessEnableOn="r" formControlName='shipmentNumber'>
          </ngc-awbinput>
        </div>
      </ngc-column>
      <ngc-column [grid36]="true">
        <ngc-label value='g.carrier'></ngc-label>
        <div>
          <ngc-lov [validOnly]="true" formControlName="carrierCode" sourceId="CARRIER" title="Carrier" dataField="code"
            [width]="100">
            <ngc-data-column text="Code" dataField="code" [width]="50"></ngc-data-column>
            <ngc-data-column text="Description" dataField="desc" [width]="80"></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column [grid36]="true">
        <ngc-label value='g.agentCode'></ngc-label>
        <div>
          <ngc-lov [validOnly]="true" formControlName="customerCode" sourceId="APPOINTED_AGENT_DATA"
            title="g.customer.list" dataField="code" [width]="100">
            <ngc-data-column text="exp.acceptance.agent.code" dataField="code" [width]="50"></ngc-data-column>
            <ngc-data-column text="exp.acceptance.agent.name" dataField="desc" [width]="80"></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>

      <ngc-column>
        <ngc-label label=""></ngc-label>
        <div>
          <ngc-button accessEnableOn="r" iconType="search" value="Search" (click)="onSearch()">
          </ngc-button>
        </div>
      </ngc-column>

      <ngc-column>
        <ngc-label label=""></ngc-label>
        <div>
          <ngc-button value="g.export.to.xls" (click)="onGenerateReportCustomerXLSReport($event)">
          </ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab" *ngIf="displayFlag" height="100">
    <ngc-row>
      <ngc-column column="12">

        <ngc-edittable formArrayName="acceptanceMonitoringAwbListInfo" #acceptanceMonitoringByHouseComponentTable
          [showToolbar]="false" [showPrint]="false" [showXLS]="false" [showPDF]="false" [showCSV]="false" height="300">
          <ngc-data-column [width]="50" text="g.awb" dataField="awbNumber">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-link [formControlName]='name' (linkClick)="noClickShipmentNumber(group)">
                </ngc-link>



              </ng-container>
            </ng-template>
          </ngc-data-column>
          <ngc-data-column text="export.accpt.awbpeices" [width]='50' dataField="awbPieces"></ngc-data-column>
          <ngc-data-column text="export.accpt.grswgt" [width]='50' dataField="awbGrsWgt"></ngc-data-column>
          <ngc-data-column text="export.accpt.chrgwgt" [width]='50' dataField="chargeableWeight"></ngc-data-column>
          <ngc-data-column text="g.agentCode" [width]='50' dataField="customerCode"></ngc-data-column>
          <ngc-data-column text="export.accpt.domesticflag" [width]='50' dataField="domesticFlightFlag">
          </ngc-data-column>
          <ngc-data-column text="g.flight" [width]='50' dataField="flight"></ngc-data-column>
          <ngc-data-column text="g.date" [width]='50' dataField="date" type="displayDate"></ngc-data-column>
          <ngc-data-column text="export.accpt.cartingorder" [width]='50' dataField="rcvdDate" type="displayDate">
          </ngc-data-column>
          <ngc-data-column text="g.fwb" [width]='50' dataField="fwb" type="icon" iconType="yesno"></ngc-data-column>
          <ngc-data-column text="g.fhl" [width]='50' dataField="fhl" type="icon" iconType="yesno"></ngc-data-column>
          <ngc-data-column text="g.eawb" [width]='50' dataField="eawb" type="icon" iconType="yesno"></ngc-data-column>
          <ngc-data-column text="export.accpt.awbfrightaccept.br" [width]='50' dataField="awbFrtAccpt" type="icon"
            iconType="yesno"></ngc-data-column>
          <ngc-data-column text="export.accpt.docaccpton.br" [width]='50' dataField="docAccpDate"
            type="displayDateTime">
          </ngc-data-column>
          <ngc-data-column text="export.accpt.fsu_rcs" [width]='50' dataField="fsu_rcs" type="icon" iconType="yesno">
          </ngc-data-column>
          <ngc-data-column text="export.accpt.hold" [width]='50' dataField="holdShipment" type="icon" iconType="yesno">
          </ngc-data-column>
          <ngc-data-column text="export.accpt.chrgpaid" [width]='50' dataField="chargesPaid" type="icon"
            iconType="yesno">
          </ngc-data-column>
          <ngc-data-column text="export.accpt.screening" [width]='50' dataField="screening" type="icon"
            iconType="yesno">
          </ngc-data-column>
          <ngc-data-column [width]="50" text="export.accpt.acceptanceweighing"
            dataField="redirectToExportAcceptanceWeghing">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-link [formControlName]='name' (linkClick)="OnRedirectToAcceptanceWeighing(group)" iconType="edit">
                </ngc-link>
              </ng-container>
            </ng-template>
          </ngc-data-column>
          <ngc-data-column [width]="50" text="export.accpt.exportawbdocument" dataField="redirectToExportAwbDocument">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-link [formControlName]='name' (linkClick)="OnRedirectToExportAwbDocument(group)" iconType="edit">
                </ngc-link>
              </ng-container>
            </ng-template>
          </ngc-data-column>
          <ngc-data-row>
            <ng-template let-parentgroup>
              <ng-container [formGroupName]="parentgroup">
                <ngc-container
                  *ngIf="acceptanceMonitoringByHouse.get(['acceptanceMonitoringAwbListInfo', parentgroup]).controls.domesticFlightFlag.value == 'INT'">
                  <ngc-row>
                    <ngc-column>
                      <ngc-table>
                        <thead>
                          <tr>
                            <th rowspan="2" [width]="50">
                              <ngc-label label="export.accpt.sb"></ngc-label>
                            </th>
                            <th rowspan="2" [width]="50">
                              <ngc-label label="export.accpt.sbdate"></ngc-label>
                            </th>
                            <th rowspan="2" [width]="50">
                              <ngc-label label="g.agentCode"></ngc-label>
                            </th>
                            <th rowspan="2" [width]="50">
                              <ngc-label label="g.pieces"></ngc-label>
                            </th>
                            <th rowspan="2" [width]="50">
                              <ngc-label label="export.accpt.declared_grs_weight.br"></ngc-label>
                            </th>
                            <th rowspan="2" [width]="50">
                              <ngc-label label="export.accpt.actual_grs_weight.br"></ngc-label>
                            </th>
                            <th rowspan="2" [width]="50">
                              <ngc-label label="export.accpt.final_chrg_weight.br"></ngc-label>
                            </th>
                            <th rowspan="2" [width]="50">
                              <ngc-label label="export.accpt.expired"></ngc-label>
                            </th>
                            <th rowspan="2" [width]="50">
                              <ngc-label label="export.accpt.carr"></ngc-label>
                            </th>
                            <th rowspan="2" [width]="50">
                              <ngc-label label="export.accpt.leo"></ngc-label>
                            </th>
                            <th rowspan="2" [width]="50">
                              <ngc-label label="export.accpt.frtaccpt.br"></ngc-label>
                            </th>
                            <th rowspan="2" [width]="50">
                              <ngc-label label="export.accpt.chrgpaid"></ngc-label>
                            </th>
                            <!--<th rowspan="2" [width]="50">
                              <ngc-label label="Hold"></ngc-label>
                            </th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container formArrayName="acceptanceMonitoringByHouseList">
                            <tr
                              *ngFor="let sitem of acceptanceMonitoringByHouse.get(['acceptanceMonitoringAwbListInfo', parentgroup]).controls.acceptanceMonitoringByHouseList.controls let sindex=index"
                              [formGroupName]="sindex">
                              <td style="text-align:center; vertical-align: middle;" align="center">
                                <ngc-display formControlName="sbNumber">
                                </ngc-display>
                              </td>
                              <td style="text-align:center; vertical-align: middle;" align="center">
                                <ngc-display formControlName="sbDate" [onlyDate]="true">
                                </ngc-display>
                              </td>
                              <td style="text-align:center; vertical-align: middle;" align="center">
                                <ngc-display formControlName="agentCode">
                                </ngc-display>
                              </td>
                              <td style="text-align:center; vertical-align: middle;" align="center">
                                <ngc-display formControlName="pieces">
                                </ngc-display>
                              </td>
                              <td style="text-align:center; vertical-align: middle;" align="center">
                                <ngc-display formControlName="declaredGrsWgt">
                                </ngc-display>
                              </td>
                              <td style="text-align:center; vertical-align: middle;" align="center">
                                <ngc-display formControlName="actualGrsWgt">
                                </ngc-display>
                              </td>
                              <td style="text-align:center; vertical-align: middle;" align="center">
                                <ngc-display formControlName="finalChgWgt">
                                </ngc-display>
                              </td>
                              <td style="text-align:center; vertical-align: middle;" align="center">
                                <ngc-icon type="yesno" formControlName="sbExpired"></ngc-icon>
                              </td>
                              <td style="text-align:center; vertical-align: middle;" align="center">
                                <ngc-icon type="yesno" formControlName="carr"></ngc-icon>
                              </td>
                              <td style="text-align:center; vertical-align: middle;" align="center">
                                <ngc-icon type="yesno" formControlName="leo"></ngc-icon>
                              </td>
                              <td style="text-align:center; vertical-align: middle;" align="center">
                                <ngc-icon type="yesno" formControlName="frtAccp"></ngc-icon>
                              </td>
                              <td style="text-align:center; vertical-align: middle;" align="center">
                                <ngc-icon type="yesno" formControlName="chargesPaid"></ngc-icon>
                              </td>
                              <!--<td style="text-align:center; vertical-align: middle;" align="center">
                                <ngc-icon type="yesno" formControlName="hold"></ngc-icon>
                              </td> -->
                            </tr>
                          </ng-container>
                        </tbody>
                      </ngc-table>
                    </ngc-column>
                  </ngc-row>
                </ngc-container>
              </ng-container>
            </ng-template>
          </ngc-data-row>
        </ngc-edittable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-report #reportWindow format='xls' title="g.report" reportId='acceptance_house_monitoring'
    [reportParameters]='reportParameters'>
  </ngc-report>
</form>