/**
 * Navigation Bar
 */

.navbar-light {
    border-bottom-color: yellow;
    border-bottom-width: 2px;
    border-left: 1px solid #A42010;
    border-right: 1px solid #A42010;
}

.navbar-light .navbar-header {
    border-bottom-color: yellow;
    font-weight: 800;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    position: static;
    float: none;
}

.footer-status {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-user-name {
    display: inline-block;
    overflow: hidden;
    width: 130px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ui-dashboard-user-name {
    display: inline-block;
    color: white;
    font-size: 1.0rem;
}

.ui-user-name {
    display: inline-block;
    overflow: hidden;
    width: 130px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.two-letters-only {
  font-family: monospace;
  width: 2ch;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.five-letters-only {
  font-family: monospace;
  width: 5ch;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.screen-blended {
    mix-blend-mode: screen;
}

.on-top {
    z-index: 2000;
}