<form [formGroup]="form">
  <ngc-titlebar title="export.ecc.outbound.detailer.worksheet.title"></ngc-titlebar>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-label label="export.dateTimeFrom"></ngc-label>
        <div>
          <ngc-datetimeinput showCalendarButton="true" [showTimeButton]="true" formControlName="dateFrom"></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column [column]="9">
        <ngc-label label="export.dateTimeTo"></ngc-label>
        <div>
          <ngc-datetimeinput showCalendarButton="true" [showTimeButton]="true" formControlName="dateTo"></ngc-datetimeinput>
        </div>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label="export.flight"></ngc-label>
        <div>
          <ngc-input formControlName="flight"></ngc-input>
        </div>
      </ngc-column>

      <ngc-column>
        <ngc-label label="export.flightDate"></ngc-label>
        <div>
          <ngc-datetimeinput formControlName="flightDate" required></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="export.expressService"></ngc-label>
        <div>
          <ngc-dropdownlist formControlName="expressSer"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label></ngc-label>
        <div>
          <ngc-button (click)="onSearch()" label="export.ecc.query"></ngc-button>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label></ngc-label>
        <div>
          <ngc-button (click)="onSearch()" label="g.print.report"></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="box">
    <ngc-row>
      <ngc-datatable formArrayName="resultList" [height]="500" [filterable]="false">
        <ngc-data-column text="flight.Flight" dataField="flight" type="text" [width]="100"></ngc-data-column>
        <ngc-data-column text="flight.std" dataField="std" type="text" [width]="100"></ngc-data-column>
        <ngc-data-column text="flight.off" dataField="off" type="text" [width]="100"></ngc-data-column>
        <ngc-data-column text="flight.bay" dataField="bay" type="text" [width]="100"></ngc-data-column>
        <ngc-data-column text="flight.ac" dataField="acount" type="text" [width]="100"></ngc-data-column>
        <ngc-data-column text="export.details" dataField="checker" type="text" [width]="200"></ngc-data-column>
      </ngc-datatable>
    </ngc-row>
  </ngc-container>
</form>