<form [formGroup]="displaycpm">
  <ngc-titlebar title='import.display.cpm' (save)="onSave($event)" (clear)="onClear($event)" (cancel)="onCancel($event)">
  </ngc-titlebar>
  <ngc-container type="section">
    <ngc-row>
      <ngc-column column="2">
        <ngc-label label='g.flight'></ngc-label>
        <div>
          <ngc-flightkeyinput formControlName="flight" accessEnableOn="r" required></ngc-flightkeyinput>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label='g.date'></ngc-label>
        <div>
          <ngc-dateinput formControlName="flightDate" accessEnableOn="r" required></ngc-dateinput>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label=''></ngc-label>
        <div>
          <ngc-button label='g.search' (click)='onSearch()' accessEnableOn="r" iconType="search"></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container *ngIf="showTable" type="tab">
    <ngc-row>
      <ngc-column column="2">
        <ngc-label label="g.flight"></ngc-label>
        <div>
          <ngc-display formControlName="flight"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label="g.date"></ngc-label>
        <div>
          <ngc-display formControlName="flightDate" [onlyDate]="true"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label="flight.sta"></ngc-label>
        <div>
          <ngc-display formControlName="sta" type="displayTime"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label="import.eta"></ngc-label>
        <div>
          <ngc-display formControlName="eta" type="displayTime"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label="flight.ata"></ngc-label>
        <div>
          <ngc-display formControlName="ata" type="displayTime"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label="import.account.registration"></ngc-label>
        <div>
          <ngc-display formControlName="acRegistration"></ngc-display>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container *ngIf="showTable" type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-datatable formArrayName="listDisplayCpmDetails" [pageable]="false" [enablePageSizeHeight]="false">
          <ngc-data-column text="import.load.position" dataField="loadPosition" [width]="50" cellsAlign="left">
          </ngc-data-column>
          <ngc-data-column text="uld.uld.number" dataField="uldNumber" [width]="50" cellsAlign="left"
            [aggregates]="['count']"></ngc-data-column>
          <ngc-data-column text="g.destination" dataField="destination" [width]="50" cellsAlign="left"></ngc-data-column>
          <ngc-data-column text="Weight(K)" dataField="weight" [width]="50" cellsAlign="right" [aggregates]="['sum']"
            type="displayWeight"></ngc-data-column>
          <ngc-data-column text="imp.contentCode" dataField="contentCode" [width]="200" cellsAlign="left">
          </ngc-data-column>
          <ngc-data-column text="loadshipment.label.contour.code" dataField="contourCode" [width]="50" cellsAlign="left">
          </ngc-data-column>
          <ngc-data-column text="import.load.instruction" dataField="loadInstruction" [width]="100" cellsAlign="left">
          </ngc-data-column>
          <ngc-data-column text="g.shc" dataField="shc" [width]="100" cellsAlign="left"></ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label="import.si.remarks"></ngc-label>
        <div>
          <ngc-display formControlName="siRemarks"></ngc-display>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>