<form [formGroup]="form">
  <!-- Card (Begin) -->
  <ngc-titlebar title="exp.acceptance.service" [disableSave]="disableSaveFlag" (save)="onSave($event)"
    (onClear)="clear(event)" (cancel)="onCancel($event)"></ngc-titlebar>
  <!-- Card Heading (End) -->
  <ngc-container type="section">
    <ngc-row>
      <ng-container formGroupName="acceptanceService">
        <ngc-column column="1.5">
          <div>
            <ngc-label label="export.eacceptanceType"></ngc-label>
          </div>
          <ngc-display sourceId="CARGO_ACCEPTANCE_TYPE" sourceCategory="dropdown" formControlName="acceptanceType">
          </ngc-display>
        </ngc-column>
        <ngc-column column="1.5">
          <div>
            <ngc-label label="service.Number"></ngc-label>
          </div>
          <ngc-display width="100%" formControlName="serviceNumber">
          </ngc-display>
        </ngc-column>
      </ng-container>
      <ng-container formGroupName="shipment">
        <ngc-column column="1.5">
          <div>
            <ngc-label label="awb.awbnumber"></ngc-label>
          </div>
          <ngc-display width="90%" formControlName="shipmentNumber">
          </ngc-display>
        </ngc-column>
      </ng-container>
      <ng-container formGroupName="shipment">
        <ng-container formGroupName="flight">
          <ngc-column column="1.5">
            <div>
              <ngc-label label="exp.FirstBookedFlight"></ngc-label>
            </div>
            <ngc-flightkeyinput upperCase="true" formControlName="flightNumber"
              (ngModelChange)="onChangeFlightdetails()" [width]="100" [maxlength]="8">
            </ngc-flightkeyinput>
          </ngc-column>
          <ngc-column column="1">
            <div>
              <ngc-label label="date"></ngc-label>
            </div>
            <ngc-datetimeinput width="100px" formControlName="flightDate" (ngModelChange)="onChangeFlightdetails()"
              [onlyDate]="true">
            </ngc-datetimeinput>
          </ngc-column>
          <ngc-column column="1">
            <div>
              <ngc-label label="flight.segment"></ngc-label>
            </div>
            <ngc-display width="100%" formControlName="segment">
            </ngc-display>
          </ngc-column>
          <ngc-column column="0.5">
            <div>
              <ngc-label label="flight.std"></ngc-label>
            </div>
            <ngc-display width="100%" formControlName="std">
            </ngc-display>
          </ngc-column>
          <!--<ngc-column column="2">
            <ngc-button label="exp.acceptance.create.add.service" (click)="onClickOfCreateAdditionalServices($event)"></ngc-button>
          </ngc-column>
          <ngc-column column="1">
            <ngc-button label="exp.acceptance.start.freight.acceptence" (click)="onClickOfFreightAcceptance($event)"></ngc-button>
          </ngc-column>-->
        </ng-container>
      </ng-container>
    </ngc-row>
  </ngc-container>
  <ngc-container type="header">
    <ngc-row>
      <ngc-column column="8"></ngc-column>
      <!-- AWB Dropdown addedShipmentList-->
      <ngc-column>
        <ngc-label label='export.book.addShipment'></ngc-label>
        <ngc-dropdownlist [source]="addedShipmentList" [width]="120" formControlName="shipmentNumberForSelection"
          (select)="onClickAwbDropDown($event)">
        </ngc-dropdownlist>
      </ngc-column>
      <ngc-column>
        <ngc-button value='exp.acceptance.start.acceptance' [disabled]="eStartButtonFlag"
          (click)="startEacceptanceParent()"></ngc-button>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-tabs>
          <div ngc-tab-card title='exp.acceptance.awb.info' [indicatorIconType]="awbInvalideIndicator"
            indicatorIconColor="red">
            <ngc-container>
              <ngc-row>
                <ngc-column>
                  <ngc-container title="export.fwbDetails" type="rectangle">
                    <ngc-row>
                      <ngc-column column="10">
                        <ng-container formGroupName="fwbInfo">
                          <ngc-row>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.fwb.agent"></ngc-label>
                              </div>
                              <ngc-display formControlName="agent">
                              </ngc-display>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.destination"></ngc-label>
                              </div>
                              <ngc-display width="100%" formControlName="destination" required>
                              </ngc-display>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.pieces"></ngc-label>
                              </div>
                              <ngc-piecesdisplay formControlName="pieces">
                              </ngc-piecesdisplay>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.weight"></ngc-label>
                              </div>
                              <ngc-weightdisplay formControlName="weight">
                              </ngc-weightdisplay>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.nature.of.goods"></ngc-label>
                              </div>
                              <ngc-display width="100%" formControlName="natureOfGoods">
                              </ngc-display>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.rcar"></ngc-label>
                              </div>
                              <ngc-display width="100%" formControlName="rcarTypeCode">
                              </ngc-display>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="import.ChargeCode"></ngc-label>
                              </div>
                              <ngc-display width="100%" formControlName="chargeCode">
                              </ngc-display>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.shc"></ngc-label>
                              </div>
                              <ngc-display width="100%" formControlName="shc">
                              </ngc-display>
                            </ngc-column>
                          </ngc-row>
                        </ng-container>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                  <ngc-container title="exp.acceptance.shipment.info" type="section">
                    <ngc-row>
                      <ngc-column column="12">
                        <ng-container type="tab" formGroupName="shipment">
                          <ngc-row>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.awb.number"></ngc-label>
                              </div>
                              <ngc-display width="90%" formControlName="shipmentNumber">
                              </ngc-display>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="awb.origin"></ngc-label>
                              </div>
                              <ngc-lov formControlName="origin" [width]="45" title='ORIGIN' [validOnly]='true'
                                upperCase="true" dataField="code" displayMember="code" (select)="getOrigin($event.code)"
                                sourceId="APT" required>
                                <ngc-data-column text="g.code" dataField="code" [width]="100"></ngc-data-column>
                                <ngc-data-column text="desc" dataField="desc" [width]="150"></ngc-data-column>
                              </ngc-lov>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.destination"></ngc-label>
                              </div>
                              <ngc-lov formControlName="destination" [width]="45" title='awb.destination' [validOnly]='true'
                                upperCase="true" dataField="code" displayMember="code" sourceId="APT" required>
                                <ngc-data-column text="g.code" dataField="code" [width]="100"></ngc-data-column>
                                <ngc-data-column text="desc" dataField="desc" [width]="150"></ngc-data-column>
                              </ngc-lov>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.1st.off.point"></ngc-label>
                              </div>
                              <ngc-lov formControlName="firstOffPoint" [width]="45" title='awb.first.off.point'
                                [validOnly]='true' upperCase="true" dataField="code" displayMember="code" sourceId="APT"
                                required>
                                <ngc-data-column text="g.code" dataField="code" [width]="100"></ngc-data-column>
                                <ngc-data-column text="desc" dataField="desc" [width]="150"></ngc-data-column>
                              </ngc-lov>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.carrier"></ngc-label>
                              </div>
                              <ngc-lov formControlName="carrier" [width]="45" title='CARRIER' upperCase="true"
                                [validOnly]='true' dataField="code" displayMember="code" sourceId="CARRIER" required>
                                <ngc-data-column text="g.code" dataField="code" [width]="100"></ngc-data-column>
                                <ngc-data-column text="desc" dataField="desc" [width]="150"></ngc-data-column>
                              </ngc-lov>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.pieces"></ngc-label>
                              </div>
                              <ngc-piecesinput formControlName="pieces" required>
                              </ngc-piecesinput>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.weight"></ngc-label>
                              </div>
                              <ngc-weightinput formControlName="weight" required></ngc-weightinput>

                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.nature.of.goods"></ngc-label>
                              </div>
                              <ngc-input width="130%" formControlName="natureOfGoods" [maxlength]="20" required>
                              </ngc-input>
                            </ngc-column>
                          </ngc-row>
                        </ng-container>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column>
                        <ng-container formGroupName="shipment">
                          <ngc-row>
                            <ngc-column column="1">
                              <div>
                                <ngc-label label="exp.acceptance.rcar"></ngc-label>
                              </div>
                              <ngc-dropdownlist width="80" displayMember="code" formControlName="rcarTypeCode"
                                sourceId='RCAR_CODE_WITH_FILTER' sourceType='query' [dropDownWidth]="80"
                                [sourceParameters]="agentCodeFilter" required></ngc-dropdownlist>
                            </ngc-column>
                            <ngc-column column="1">
                              <div>
                                <ngc-label label="import.ChargeCode"></ngc-label>
                              </div>
                              <ngc-dropdownlist formControlName="chargeCode" width="100" displayMember="code"
                                [dropDownWidth]="100" sourceId="AWB$Charge_Code">
                              </ngc-dropdownlist>
                            </ngc-column>
                            <ngc-column column="2">
                              <div>
                                <ngc-label label="exp.acceptance.temp.range"></ngc-label>
                              </div>
                              <ngc-dropdownlist width="170" sourceId="Admin$TemperatureRange"
                                formControlName="requestedTemperatureRange" [dropDownWidth]="160"></ngc-dropdownlist>
                            </ngc-column>
                            <ngc-column column="2">
                              <div>
                                <ngc-label label="exp.acceptance.awbreceived"></ngc-label>
                              </div>
                              <ngc-dropdownlist formControlName="awbReceived" sourceId="Acceptance_Type$AWBReceived"
                                width="150" [dropDownWidth]="140" required></ngc-dropdownlist>
                            </ngc-column>
                            <ngc-column column="1">
                              <div>
                                <ngc-label label="exp.acceptance.pouch"></ngc-label>
                              </div>
                              <ngc-dropdownlist formControlName="pouchReceived" sourceId="Cargo_Handling$Cargo_Handling"
                                width="130%" [dropDownWidth]="70"></ngc-dropdownlist>
                            </ngc-column>
                            <ngc-column column="2">
                              <div>
                                <ngc-label label="exp.acceptance.trucktype"></ngc-label>
                              </div>
                              <ngc-dropdownlist formControlName="truckType" sourceId="Acceptance_Type$Truck Type"
                                width="170" [dropDownWidth]="150"></ngc-dropdownlist>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="g.console"></ngc-label>
                              </div>
                              <ngc-checkbox formControlName="console"></ngc-checkbox>
                            </ngc-column>
                            <ngc-column>
                            </ngc-column>
                          </ngc-row>
                          <ngc-column>
                            <ngc-container>
                              <ngc-row formArrayName="shc">
                                <ngc-column column="1"
                                  *ngFor="let shcitem of form.get('shipment.shc').controls; let index=index;"
                                  [formGroupName]="index">
                                  <ngc-lov formControlName="code" [validOnly]='false' [width]="45" title='g.list.of.shc'
                                    upperCase="true" dataField="code" displayMember="code" sourceId="SHC_WITHOUT_GROUP"
                                    (select)="onSelectSHCCOU($event,index)" [maxlength]="3">
                                    <ngc-data-column text="g.code" dataField="code" [width]="100"></ngc-data-column>
                                    <ngc-data-column text="desc" dataField="desc" [width]="150"></ngc-data-column>
                                  </ngc-lov>
                                </ngc-column>
                              </ngc-row>
                            </ngc-container>
                          </ngc-column>
                        </ng-container>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                  <ngc-container>
                    <ngc-row>
                      <ngc-column column="6">
                        <ngc-container title="exp.acceptance.generated.tag" *ngIf="couSHCFlag">
                          <ngc-row>
                            <ngc-column align="right">
                              <ngc-button label="g._add" (click)="genarateTag()"></ngc-button>
                            </ngc-column>
                          </ngc-row>
                          <ngc-row>
                            <ngc-column column="6">
                              <ngc-table>
                                <thead>
                                  <tr>
                                    <th>
                                      <ngc-label label="si.tagid"></ngc-label>
                                    </th>
                                    <th>
                                      <ngc-label label="g.weight"></ngc-label>
                                    </th>
                                    <th>
                                      <ngc-label label="g.delete"></ngc-label>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                <tbody formArrayName="couHouse">
                                  <tr *ngFor="let item of form.controls.couHouse.controls; let index=index"
                                    [formGroupName]="index">
                                    <td>
                                      <ngc-input [maxlength]='30' formControlName="number"></ngc-input>
                                    </td>
                                    <td>
                                      <ngc-weightinput formControlName="weight" required></ngc-weightinput>
                                    </td>
                                    <td>
                                      <ngc-link (linkClick)="onDeleteGenerate(index)">
                                        <ngc-icon type="delete" value="true" true-color="grey"></ngc-icon>
                                      </ngc-link>
                                    </td>
                                  </tr>
                                </tbody>
                              </ngc-table>
                            </ngc-column>
                          </ngc-row>
                        </ngc-container>
                      </ngc-column>
                      <ngc-column column="6">
                        <ngc-container title="exp.acceptance.xps.tag" *ngIf="xpsSHCFlag">
                          <ngc-row>
                            <ngc-column column="2">
                              <div>
                                <ngc-label label="exp.acceptance.xps.tag.pieces"></ngc-label>
                              </div>
                              <ngc-display width="70%" formControlName="totalTagPieces"></ngc-display>
                            </ngc-column>
                            <ngc-column column="2">
                              <div>
                                <ngc-label label="remaining"></ngc-label>
                              </div>
                              <ngc-display width="70%" formControlName="remainingPieces"></ngc-display>
                            </ngc-column>
                          </ngc-row>
                          <ngc-row>
                            <ngc-column column="6">
                              <ngc-button label="g._add" (click)="onAddxpsTag()"></ngc-button>
                            </ngc-column>
                          </ngc-row>
                          <ngc-row>
                            <ngc-column column="6">
                              <ngc-table>
                                <thead>
                                  <tr>
                                    <th>
                                      <ngc-label label="si.tagid"></ngc-label>
                                    </th>
                                    <th>
                                      <ngc-label label="si.tagpieces"></ngc-label>
                                    </th>
                                    <th>
                                      <ngc-label label="g.delete"></ngc-label>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody formArrayName="xpsHouse">
                                  <tr *ngFor="let item of form.controls.xpsHouse.controls; let index=index"
                                    [formGroupName]="index">
                                    <td>
                                      <ngc-input formControlName="number"></ngc-input>
                                    </td>
                                    <td>
                                      <ngc-piecesinput formControlName="pieces"></ngc-piecesinput>
                                    </td>
                                    <td>
                                      <ngc-link (linkClick)="onDeletexpsTag(index)" iconType="delete">
                                        <ngc-i18n value="g.delete"></ngc-i18n>
                                      </ngc-link>
                                    </td>
                                  </tr>
                                </tbody>
                              </ngc-table>
                            </ngc-column>
                          </ngc-row>
                          <ngc-row>
                            <ngc-column>
                              <ngc-button label="exp.acceptance.print.rfid.tag"></ngc-button>
                            </ngc-column>
                          </ngc-row>
                        </ngc-container>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>
          <div ngc-tab-card title='exp.acceptance.action.list' [indicatorIconType]="actionListIndicator"
            indicatorIconColor="red">
            <ngc-container type="heading" formGroupName="ruleExecutionDetails">
              <ngc-row>
                <ngc-column align="right">
                  <ngc-label label=' '></ngc-label>
                  <div>
                    <ngc-button (click)="onCloseFailureData()" value="awb.cpe.close.failure"></ngc-button>
                  </div>
                </ngc-column>
              </ngc-row>
              <ngc-row>
                <ngc-column>
                  <ngc-container type="box" title="awb.cpe.info.check">
                    <ngc-row>
                      <ngc-column>
                        <ngc-table>
                          <thead>
                            <tr>
                              <th>
                                <ngc-label label="g.sNo"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.cpe.process.name"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.cpe.trigger.point"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.cpe.message"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="g.status"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.cpe.closed.date"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.cpe.closed.by"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.cpe.acknowledge"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="g.link"></ngc-label>
                              </th>
                            </tr>
                          </thead>
                          <tbody formArrayName="execInfoList">
                            <tr
                              *ngFor="let item of form.getList(['ruleExecutionDetails','execInfoList']); let index=index"
                              [formGroupName]="index">
                              <!--  -->
                              <td>
                                <ngc-label label={{index+1}}></ngc-label>
                              </td>
                              <td>
                                <ngc-display formControlName="processAreaName"></ngc-display>
                              </td>
                              <td>
                                <ng-container formGroupName="triggerPoint">
                                  <ngc-display formControlName="triggerPointName"></ngc-display>
                                </ng-container>
                              </td>
                              <td>
                                <ngc-display formControlName="failureMessage"></ngc-display>
                              </td>
                              <td>
                                <ngc-display formControlName="status"></ngc-display>
                              </td>
                              <td>
                                <ngc-display formControlName="issueClosedOn"></ngc-display>
                              </td>
                              <td>
                                <ngc-display formControlName="issueClosedBy"></ngc-display>
                              </td>
                              <td>
                                <ng-container
                                  *ngIf="form.get(['ruleExecutionDetails','execInfoList', index, 'status']).value === 'CLOSED'">
                                  <ngc-icon align="center" value="true" type="yesno" formControlName="acknowledge"
                                    true-color="grey">
                                  </ngc-icon>
                                </ng-container>
                                <ng-container
                                  *ngIf="form.get(['ruleExecutionDetails','execInfoList', index, 'status']).value !== 'CLOSED'">
                                  <ngc-checkbox formControlName="acknowledge">
                                  </ngc-checkbox>
                                </ng-container>
                              </td>
                              <td>
                                <ngc-link iconType="edit" (linkClick)="onClickOfActionListInfo(index)"></ngc-link>
                              </td>
                            </tr>
                          </tbody>
                        </ngc-table>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                  <ngc-container type="box" title="awb.cpe.warning.check">
                    <ngc-row>
                      <ngc-column>
                        <ngc-table>
                          <thead>
                            <tr>
                              <th>
                                <ngc-label label="g.sNo"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.cpe.process.name"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.cpe.trigger.point"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.cpe.message"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="g.status"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.cpe.closed.date"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.cpe.closed.by"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.cpe.acknowledge"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="g.link"></ngc-label>
                              </th>
                            </tr>
                          </thead>
                          <tbody formArrayName="execWarnList">
                            <tr
                              *ngFor="let item of form.getList(['ruleExecutionDetails','execWarnList']); let index=index"
                              [formGroupName]="index">
                              <td>
                                <ngc-label label={{index+1}}></ngc-label>
                              </td>
                              <td>
                                <ngc-display formControlName="processAreaName"></ngc-display>
                              </td>
                              <td>
                                <ng-container formGroupName="triggerPoint">
                                  <ngc-display formControlName="triggerPointName"></ngc-display>
                                </ng-container>
                              </td>
                              <td>
                                <ngc-display formControlName="failureMessage"></ngc-display>
                              </td>
                              <td>
                                <ngc-display formControlName="status"></ngc-display>
                              </td>
                              <td>
                                <ngc-display formControlName="issueClosedOn"></ngc-display>
                              </td>
                              <td>
                                <ngc-display formControlName="issueClosedBy"></ngc-display>
                              </td>
                              <td>
                                <ng-container
                                  *ngIf="form.get(['ruleExecutionDetails','execWarnList', index, 'status']).value === 'CLOSED'">
                                  <ngc-icon align="center" value="true" type="yesno" formControlName="acknowledge"
                                    true-color="grey">
                                  </ngc-icon>
                                </ng-container>
                                <ng-container
                                  *ngIf="form.get(['ruleExecutionDetails','execWarnList', index, 'status']).value !== 'CLOSED'">
                                  <ngc-checkbox formControlName="acknowledge">
                                  </ngc-checkbox>
                                </ng-container>
                              </td>
                              <td>
                                <ngc-link iconType="edit" (linkClick)="onClickOfActionListWarn(index)"></ngc-link>
                              </td>
                            </tr>
                          </tbody>
                        </ngc-table>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                  <ngc-container type="box" title="awb.cpe.error.check">
                    <ngc-row>
                      <ngc-column>
                        <ngc-table>
                          <thead>
                            <tr>
                              <th>
                                <ngc-label label="g.sNo"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.cpe.process.name"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.cpe.trigger.point"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.cpe.message"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="g.status"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.cpe.closed.date"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.cpe.closed.by"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.cpe.acknowledge"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="g.link"></ngc-label>
                              </th>
                            </tr>
                          </thead>
                          <tbody formArrayName="execErrorList">
                            <tr
                              *ngFor="let item of form.getList(['ruleExecutionDetails','execErrorList']); let index=index"
                              [formGroupName]="index">
                              <td>
                                <ngc-label label={{index+1}}></ngc-label>
                              </td>
                              <td>
                                <ngc-display formControlName="processAreaName">
                                </ngc-display>
                              </td>
                              <td>
                                <ng-container formGroupName="triggerPoint">
                                  <ngc-display formControlName="triggerPointName"></ngc-display>
                                </ng-container>
                              </td>
                              <td>
                                <ngc-display formControlName="failureMessage"></ngc-display>
                              </td>
                              <td>
                                <ngc-display formControlName="status"></ngc-display>
                              </td>
                              <td>
                                <ngc-display formControlName="issueClosedOn"></ngc-display>
                              </td>
                              <td>
                                <ngc-display formControlName="issueClosedBy"></ngc-display>
                              </td>
                              <td>
                                <ngc-icon align="center" value="true" type="yesno" formControlName="acknowledge"
                                  true-color="grey">
                                </ngc-icon>
                              </td>
                              <td>
                                <ngc-link iconType="edit" (linkClick)="onClickOfActionListError(index)"></ngc-link>
                              </td>
                            </tr>
                          </tbody>
                        </ngc-table>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>
          <div ngc-tab-card title='exp.acceptance.storage.and.dgweight' [indicatorIconType]="storageInvalideIndicator"
            indicatorIconColor="red">
            <ngc-container>
              <ngc-row>
                <ngc-column column="6">
                  <ngc-container title="exp.acceptance.storage.storage.charges">
                    <ngc-row>
                      <ngc-column formGroupName="shipment" column="2">
                        <div>
                          <ngc-label label="exp.acceptance.total.pieces"></ngc-label>
                        </div>
                        <ngc-piecesdisplay formControlName="pieces">
                        </ngc-piecesdisplay>
                      </ngc-column>
                      <ngc-column formGroupName="shipment">
                        <div>
                          <ngc-label label="exp.acceptance.total.weight"></ngc-label>
                        </div>
                        <ngc-weightdisplay formControlName="weight"></ngc-weightdisplay>
                      </ngc-column>
                      <ngc-column column="2">
                        <ngc-button label="g._add" (click)="onAddStorage()"></ngc-button>
                      </ngc-column>

                    </ngc-row>
                    <ngc-row>
                      <ngc-column>
                        <ngc-table width="400">
                          <thead>
                            <tr>
                              <th width="30%">
                                <ngc-label label="g.type"></ngc-label>
                              </th>
                              <th width="60%">
                                <ngc-label label="exp.acceptance.weight.gross.weight"></ngc-label>
                              </th>
                              <th width="40%">
                                <ngc-label label=""></ngc-label>
                              </th>
                            </tr>
                          </thead>
                          <tbody formArrayName="storageCharge">
                            <tr *ngFor="let item of form.controls.storageCharge.controls; let index=index"
                              [formGroupName]="index">
                              <td>
                                <ngc-dropdownlist sourceId="SHC_CODE_WH" sourceType="query" label="g.type"
                                  formControlName="type"
                                  [disabled]="this.form.get(['storageCharge', index, 'required']).value">
                                </ngc-dropdownlist>
                              </td>
                              <td>
                                <ngc-weightinput formControlName="weight"></ngc-weightinput>
                              </td>
                              <td>
                                <ngc-link (linkClick)="onDeleteStorage(index)" iconType="delete">
                                  <ngc-i18n value="g.delete"></ngc-i18n>
                                </ngc-link>
                              </td>
                            </tr>
                          </tbody>
                        </ngc-table>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                  <form [formGroup]="form1">
                    <ngc-container>
                      <ngc-row>
                        <ngc-column column="3">
                          <ngc-label label=""></ngc-label>
                        </ngc-column>
                        <ngc-column column="3">
                          <div>
                            <ngc-label label='exp.acceptance.total.gross.weight'></ngc-label>
                          </div>
                          <ngc-weightdisplay formControlName="totalExportGrossWeight"></ngc-weightdisplay>
                        </ngc-column>
                      </ngc-row>
                    </ngc-container>
                  </form>
                </ngc-column>
                <ngc-column column="6">
                  <ngc-container title="exp.acceptance.handling.handling.information" *ngIf="dgnSHCFlag">
                    <ngc-row>
                      <ngc-column column="6">
                        <ng-container formGroupName="shipment">
                          <ngc-row>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.weight.accepted.weight"></ngc-label>
                              </div>
                              <ngc-weightinput formControlName="dgAcceptedWeight">
                              </ngc-weightinput>
                            </ngc-column>
                          </ngc-row>
                        </ng-container>
                      </ngc-column>
                      <ngc-column>
                        <ngc-checkbox formControlName="waiveDryIceWeight"></ngc-checkbox>
                        <ngc-label label="exp.acceptance.dry.ice"></ngc-label>
                        <ngc-table>
                          <thead>
                            <tr>
                              <th width="30%">
                                <ngc-label label="exp.acceptance.pieces"></ngc-label>
                              </th>
                              <th width="50%">
                                <ngc-label label="export.dryIceWeight"></ngc-label>
                              </th>
                              <th width="50%">
                                <ngc-label label=""></ngc-label>
                              </th>
                            </tr>
                          </thead>
                          <tbody formArrayName="dryIceWeight">
                            <tr *ngFor="let item of form.controls.dryIceWeight.controls; let index=index"
                              [formGroupName]="index">
                              <td>
                                <ngc-piecesinput formControlName="pieces"></ngc-piecesinput>
                              </td>
                              <td>
                                <ngc-weightinput formControlName="weight"></ngc-weightinput>
                              </td>
                              <td>
                                <ngc-link (linkClick)="onDeleteDryIce(index)" iconType="delete">
                                  <ngc-i18n value="g.delete"></ngc-i18n>
                                </ngc-link>
                              </td>
                            </tr>
                          </tbody>
                        </ngc-table>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column column="9">
                        <ng-container formGroupName="acceptanceService">
                          <ngc-row>
                            <ngc-column align="right">
                              <div>
                                <ngc-label label="export.totalDryIceWeight"></ngc-label>
                              </div>
                              <ngc-weightinput formControlName="totalDryIceWeight">
                              </ngc-weightinput>
                            </ngc-column>
                          </ngc-row>
                        </ng-container>
                      </ngc-column>
                      <ngc-column column="3" align="right">
                        <ngc-button label="g._add" (click)="onAddDryIce()"></ngc-button>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>
          <div ngc-tab-card title='exp.acceptance.loacl.authority'>
            <ngc-container formGroupName="localAuthority">
              <ngc-row>
                <ngc-column column="2">
                  <ngc-dropdownlist formControlName="type" sourceId="Acceptance_Type$Local_Authority_info" width="170">
                  </ngc-dropdownlist>
                </ngc-column>
                <ngc-column column="4">
                  <div>
                    <ngc-container type="square" *ngIf="permitToFollowFlag">
                      <ngc-row>
                        <ngc-column>
                          <ngc-table>
                            <thead>
                              <tr>
                                <th>
                                  <ngc-label label="poIssue.aces"></ngc-label>
                                </th>
                                <th>
                                  <ngc-label label="exp.acceptance.appointed.agent"></ngc-label>
                                </th>
                              </tr>
                            </thead>
                            <tbody formArrayName="details">
                              <tr *ngFor="let item of form.get('localAuthority.details').controls; let index=index"
                                [formGroupName]="index">
                                <td>
                                  <ngc-input formControlName="customsAgentCode"></ngc-input>
                                </td>
                                <td>
                                  <ngc-display formControlName="appointedAgent"></ngc-display>
                                </td>
                              </tr>
                            </tbody>`
                          </ngc-table>
                        </ngc-column>
                      </ngc-row>
                    </ngc-container>
                  </div>
                  <div>
                    <ngc-container type="square" *ngIf="permitToFollowFlag">
                      <ngc-row>
                        <ngc-column>
                          <ngc-table>
                            <thead>
                              <tr>
                                <th>
                                  <ngc-label label="export.ts.redoc.flight"></ngc-label>
                                </th>
                                <th>
                                  <ngc-label label="export.ts.redoc.flightdate"></ngc-label>
                                </th>
                              </tr>
                            </thead>
                            <tbody formArrayName="details">
                              <tr *ngFor="let item of form.get('localAuthority.details').controls; let index=index"
                                [formGroupName]="index">
                                <td>
                                  <ngc-input formControlName="tsredocFlightKey"></ngc-input>
                                </td>
                                <td>
                                  <ngc-datetimeinput formControlName="tsredocFlightDate"></ngc-datetimeinput>
                                </td>
                              </tr>
                            </tbody>
                          </ngc-table>
                        </ngc-column>
                      </ngc-row>
                    </ngc-container>
                  </div>
                  <ngc-container type="square" *ngIf="permitNumberFlag">
                    <ngc-row>
                      <ngc-column>
                        <ngc-table>
                          <thead>
                            <tr>
                              <th>
                                <ngc-label label="exp.acceptance.pn"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label=" "></ngc-label>
                              </th>
                              <th>
                                <ngc-label label=" "></ngc-label>
                              </th>
                            </tr>
                          </thead>
                          <tbody formArrayName="details">
                            <tr *ngFor="let item of form.get('localAuthority.details').controls; let index=index"
                              [formGroupName]="index">
                              <td>
                                <ngc-alphanuminput formControlName="permitNumbers" [maxChars]="11" required>
                                </ngc-alphanuminput>
                              </td>
                              <td>
                                <ngc-button iconType="add" priority="quaternary" formControlName="hidePermitValue"
                                  (click)="onAddPermitNumber(index)"
                                  *ngIf="form.get('localAuthority.details').controls.length == (index + 1)">
                                </ngc-button>
                              </td>
                              <td>
                                <ngc-link (linkClick)="onDeletePermitNumberRows(index)">
                                  <ngc-icon type="delete" label="del" value="true" true-color="grey"></ngc-icon>
                                </ngc-link>
                              </td>
                            </tr>
                          </tbody>
                        </ngc-table>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                  <ngc-container type="square" *ngIf="excemptionCodeFlag">
                    <ngc-row formArrayName="details">
                      <ngc-column *ngFor="let item of form.get('localAuthority.details').controls; let index=index"
                        [formGroupName]="index">
                        <ngc-row>
                          <ngc-column>
                            <ngc-label label="exp.acceptance.exp.code"></ngc-label>
                            <div>
                              <ngc-lov formControlName='exemptionCode' upperCase='true' sourceId='ACES_EXEMPTION'
                                title='export.exemption' dataField='code' valueMember="code" [dropDownWidth]='70'
                                accessEnableOn="r">
                                <ngc-data-column text='g.code' dataField='code' [width]='180'></ngc-data-column>
                                <ngc-data-column text='g.description' dataField='desc' [width]='180'></ngc-data-column>
                              </ngc-lov>
                            </div>
                          </ngc-column>
                        </ngc-row>
                        <ngc-row>
                          <ngc-column>
                            <ngc-label label="poIssue.license"></ngc-label>
                            <div>
                              <ngc-input formControlName="license"></ngc-input>
                            </div>
                          </ngc-column>
                        </ngc-row>
                        <ngc-row>
                          <ngc-column>
                            <ngc-label label="g.reason"></ngc-label>
                            <div>
                              <ngc-input formControlName="remarks" [width]="420"></ngc-input>
                            </div>
                          </ngc-column>
                        </ngc-row>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
                <ngc-column column="4">
                  <ngc-container type="square">
                    <ngc-row>
                      <ngc-column>
                        <div align="center">
                          <ngc-label [width]='100' label="awb.shipper.details"></ngc-label>
                        </div>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column>
                        <div>
                          <ngc-label label="g.name"></ngc-label>
                        </div>
                        <ngc-input formControlName="shipperName" [width]="350" [minlength]='3' [maxlength]='69'>
                        </ngc-input>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column>
                        <div>
                          <ngc-label label="g.address"></ngc-label>
                        </div>
                        <ngc-input formControlName="shipperAddress" [width]="350" [minlength]='3' [maxlength]='69'>
                        </ngc-input>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column>
                        <div>
                          <ngc-label label="g.place"></ngc-label>
                        </div>
                        <ngc-input formControlName="place" [width]="200" [minlength]='2' [maxlength]='2'></ngc-input>

                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column>
                        <div>
                          <ngc-label label="g.postalCode"></ngc-label>
                        </div>
                        <ngc-input formControlName="shipperPostalCode" [minlength]='5' [maxlength]=''></ngc-input>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column>
                        <div>
                          <ngc-label label="g.stateCode"></ngc-label>
                        </div>
                        <ngc-input formControlName="stateCode"></ngc-input>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column>
                        <div>
                          <ngc-label label="g.countryCode"></ngc-label>
                        </div>
                        <!-- <ngc-input formControlName="countryCode"></ngc-input> -->
                        <div>
                          <ngc-lov formControlName="countryCode" sourceId="COUNTRY"  title="g.country"  dataField="code"
                            width="50%">
                            <ngc-data-column text="g.country" dataField="code" [width]="50"></ngc-data-column>
                            <ngc-data-column text="g.description" [width]="150" dataField="desc"></ngc-data-column>
                          </ngc-lov>
                        </div>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>
          <div ngc-tab-card title='exp.acceptance.exp.remarks' [indicatorIconType]="remarksIndicator"
            indicatorIconColor="red">
            <ngc-container>
              <ngc-row>
                <ngc-column column="6" align="right">
                  <ngc-button label="g._add" (click)="onAddRemarks()"></ngc-button>
                </ngc-column>
              </ngc-row>
              <ngc-row>
                <ngc-column column="6">
                  <ngc-table>
                    <thead>
                      <tr>
                        <th>
                          <ngc-label required label="exp.acceptance.remark.type"></ngc-label>
                        </th>
                        <th width="500">
                          <ngc-label required label="poIssue.details"></ngc-label>
                        </th>
                        <th>
                          <ngc-label label=""></ngc-label>
                        </th>
                      </tr>
                    </thead>
                    <tbody formArrayName="remarks">
                      <tr *ngFor="let item of form.controls.remarks.controls; let index=index" [formGroupName]="index">
                        <td>
                          <ngc-dropdownlist formControlName="type" sourceId="Cargo_Handling$RemarkType">
                          </ngc-dropdownlist>
                        </td>
                        <td>
                          <ngc-input width="180%" formControlName="detail" [maxlength]='150'></ngc-input>
                        </td>
                        <td>
                          <ngc-link (linkClick)="onDeleteRemarks(index)" iconType="delete">
                            <ngc-i18n value="g.delete"></ngc-i18n>
                          </ngc-link>
                        </td>
                      </tr>
                    </tbody>
                  </ngc-table>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>
          <div>
          </div>
        </ngc-tabs>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>
<ngc-footer>
  <ngc-row>
    <ngc-column>
      <ngc-button label="1.service" (click)="onClickOfCreateAdditionalServices($event)">
      </ngc-button>
      <ngc-button label="2.service" (click)="onClickOfFreightAcceptance($event)">
      </ngc-button>
      <ngc-button label="cargo.accpt.dgdeclaration" (click)="routeToDG($event)">
      </ngc-button>
    </ngc-column>
  </ngc-row>
</ngc-footer>