<form [formGroup]="resendMessageSearch">
  <ngc-titlebar title='resend.messages.title' (save)="onSave($event)" (clear)="onClear($event)" (cancel)="onCancel($event)">
  </ngc-titlebar>
  <ngc-container type="section">
    <ngc-row>
      <ngc-column column="1.5">
        <ngc-label label='g.message.type'></ngc-label>
        <div>
          <ngc-dropdownlist sourceId='DROPDOWN_OUTGOINGMESSAGETYPES' (select)="onChange($event)" sourceType="query" [noCache]="true"
            formControlName="messagesType" [width]="150" required></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column="1.5">
        <ngc-label label='g.sub.message.type'></ngc-label>
        <div>
          <ngc-dropdownlist formControlName="subMessageType" sourceId="DROPDOWN_SUBMESSAGETYPE" [sourceParameters]="subMessageParameter"
            [noCache]="true" sourceType="query" [width]="150">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column="1.5">
        <ngc-label label='g.carrierCode'></ngc-label>
        <div>
          <ngc-lov [width]="50" accessEnableOn="r" formControlName="carrier" sourceId="SATS_CARRIERCODE" title="g.carrier.list" dataField="code">
            <ngc-data-column text="g.carrierCode" dataField="code" [width]="50"></ngc-data-column>
            <ngc-data-column text="g.carrier.short.name" dataField="desc" [width]="80"></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column column="1.5">
        <ngc-label label='set.up.message.definition.carrier.code.flight'></ngc-label>
        <div>
          <ngc-flightkeyinput upperCase="true" formControlName="flightKey"></ngc-flightkeyinput>
        </div>
      </ngc-column>
      <ngc-column column="1.5">
        <ngc-label label='flight.flightDate'></ngc-label>
        <div>
          <ngc-datetimeinput formControlName="flightDate" [width]="150" [showCalendarButton]="true" [showTimeButton]="false">
          </ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column column="1.5">
        <ngc-label label='resend.messages.board.off.point'></ngc-label>
        <div *ngIf='this.resendMessageSearch.get("messagesType").value !== "UCM"'>
          <ngc-dropdownlist sourceId="FLIGHTSEGMENT" [width]='70' formControlName='flightSegmentId' [noCache]="true" [sourceParameters]="flightIdforDropdown"
            valueMember="desc" sourceType="query"></ngc-dropdownlist>
        </div>
        <div *ngIf='this.resendMessageSearch.get("messagesType").value === "UCM"'>
          <ngc-dropdownlist sourceId="BOTHFLIGHTSEGMENT" [width]='70' formControlName='flightSegmentId' [noCache]="true" [sourceParameters]="flightIdforDropdown"
            valueMember="desc" sourceType="query"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column="1.5">
        <ngc-label label='g.shipmentNumber'></ngc-label>
        <div>
          <ngc-awbinput formControlName="awbNumber"></ngc-awbinput>
        </div>
      </ngc-column>
      <ngc-column column="1.5">
        <ngc-label label='g.hawb'></ngc-label>
        <div>
          <ngc-input formControlName="hawbNumber" [width]="150"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column column="1.5" *ngIf="hideButton">
        <ngc-button value="resend.messages.insert.other.address" (click)="showOtherAddresses()"></ngc-button>
      </ngc-column>
      <ngc-column column="1">
        <ngc-button (click)="onResend()" value="g.resend" [width]="100"></ngc-button>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <hr>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column column="1.5" *ngIf="showOtherAddress">
        <ngc-label label='messaging.interface.system.name'></ngc-label>
        <div>
          <ngc-dropdownlist formControlName="interfacingsystem" dataField='code' sourceId="SELECT_INTERFACE_TYPES" sourceType="query"
            [dropDownWidth]="160" width="100"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column="1.5" *ngIf="showOtherAddress">
        <ngc-label label='messaging.sender.address'></ngc-label>
        <div>
          <ngc-taginput formControlName="destinationaddres" width="100" placeHolder="" [maxChars]='7'></ngc-taginput>
        </div>
      </ngc-column>
      <ngc-column column="1.5" *ngIf="showOtherAddress">
        <ngc-label label='messages.recipient.address'></ngc-label>
        <div>
          <ngc-taginput formControlName="recipientaddress" width="160" placeHolder="" [maxChars]='7' [maxItems]="32">
          </ngc-taginput>
        </div>
      </ngc-column>
      <ngc-column column="1.5" *ngIf="showOtherAddress">
        <ngc-label label='messages.email.address'></ngc-label>
        <div>
          <ngc-taginput formControlName="resenderEmailAddress" width="200" placeHolder=""></ngc-taginput>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>