<ngc-titlebar (cancel)="onCancel($event)" title='uld.retrieveuldlsp' (clear)="onClear($event)">
</ngc-titlebar>
<!-- This form searchUldLspForm is used for search where uldTrolleyNumber is mandatory and LSP is default Value -->
<form [formGroup]="searchUldLspForm">
  <ngc-container type="section">
    <ngc-row>
      <ngc-column [column]="2">
        <ngc-label label='uld.uldlsp'></ngc-label>
        <div>
          <ngc-dropdownlist [width]="50" accessEnableOn="r" [autoSelect]="true" sourceId="ULD$retieveULD"
            [dropDownWidth]="50" formControlName="movableLocationType" (ngModelChange)="locationType()">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [column]="2">
        <ngc-label label=''></ngc-label>
        <div>
          <ngc-input formControlName="uldTrolleyNumber" required align="center"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label=''></ngc-label>
        <div>
          <ngc-button #searchButton  accessEnableOn="r" (click)="onSearch()" value="g.search" iconType="search">
          </ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>
<!-- This form responseUldLspForm is used to display the response if onSuccess is true -->
<form *ngIf="onSuccess" [formGroup]="responseUldLspForm">
  <!-- <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <div>
          <ngc-label label='uld.uldlspDetails' emphasis="md"></ngc-label>
        </div>
      </ngc-column>         
    </ngc-row>
  </ngc-container> -->
  <ngc-container type="rectangle">
    <ngc-row>
      <ngc-column column="6">
        <ngc-container>
          <ngc-row>
            <ngc-column>
              <ngc-label label='uld.uldlspNo'></ngc-label>
              <ng-container *ngIf="this.searchUldLspForm.get('movableLocationType').value == 'ULD'">
                <ngc-link formControlName="uldTrolleyNumber" (linkClick)="onClickUld($event)"></ngc-link>
              </ng-container>
              <ng-container *ngIf="this.searchUldLspForm.get('movableLocationType').value == 'LSP'">
                <ngc-display formControlName="uldTrolleyNumber"></ngc-display>
              </ng-container>
            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-container>
          <ngc-row>
            <ngc-column [column]="2">
              <ngc-label label='uld.whdest'></ngc-label>
              <div>
                <ngc-display formControlName="wareHouseLocation"></ngc-display>
              </div>
            </ngc-column>
            <ngc-column [column]="2">
              <ngc-label label='uld.loc'></ngc-label>
              <div>
                <ngc-display formControlName="actualLocation"></ngc-display>
              </div>
            </ngc-column>
            <ngc-column [column]="2">
              <ngc-label label='uld.status'></ngc-label>
              <div>
                <ngc-display formControlName="status"></ngc-display>
              </div>
            </ngc-column>
            <ngc-column [column]="2">
              <ngc-label label='uld.wh_Dest'></ngc-label>
              <div>
                <ngc-locations-list entityAttribute="Gen.WareHouseDestination" formControlName="warehouseLocation"
                  [noTerminal]="terminalRequired" [displayOnlyLocation]="true" [width]="100"
                  [locationTypeList]="['STORAGE']" (select)="onLocationChange($event , index)">
                </ngc-locations-list>
              </div>
            </ngc-column>
            <ngc-column [column]="2">
              <ngc-label label='uld.priority'></ngc-label>
              <div>
                <ngc-dropdownlist [width]="50" accessEnableOn="r" [autoSelect]="true"
                  sourceId="uld$retrieveULDLSPPriorityToMHS" [dropDownWidth]="50" formControlName="selectMovement">
                </ngc-dropdownlist>
              </div>
            </ngc-column>
            <ngc-column [column]="2">
              <ngc-label label=''></ngc-label>
              <div>
                <ngc-button (click)="onRetrieve()" value="g.retrieve" accessEnableOn="r">
                </ngc-button>
              </div>
            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>
<!-- This the uld Enquire window -->
<ngc-window #uldEnquireWindow title="uldbt" [width]="1300" [height]="600" (close)="uldEnquireResposne($event)">
  <app-uldenquire [uldEnquireObject]="uldEnquireObject" (responseObject)="uldEnquireResposne($event)"
    *ngIf="showWindow && uldEnquireObject && uldEnquireObject.parameter">
  </app-uldenquire>
</ngc-window>