<ngc-titlebar title="Maintain ACCS AWB Information" (save)="saveAwbDetails()" (cancel)="onCancel()"
  [disabled]="disableSaveButton">></ngc-titlebar>
<form [formGroup]="shipmentInfoForm">
  <ngc-row *ngIf=showAsPopup>
    <ngc-column align="right">
      <ngc-button value="g.save" (click)="saveAwbDetails()"></ngc-button>
    </ngc-column>
    <ngc-column [column]="1">
      <ngc-label label=""></ngc-label>
    </ngc-column>
  </ngc-row>

  <ngc-container type="tab">
    <ngc-row>
      <ngc-column column="3">
        <ngc-label label='g.awbNumber'></ngc-label>
        <div>
          <ngc-awbdisplay formControlName="shipmentNumber"></ngc-awbdisplay>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="fltpouch.flight.no.date"></ngc-label>
        <div>
          <ngc-display formControlName="flightKeyDate"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="flight.ata"></ngc-label>
        <div>
          <ngc-display formControlName="flightATA" [onlyTime]="true"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column></ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column column="3">
        <ngc-label label='awb.awb.pieces'></ngc-label>
        <div>
          <ngc-display formControlName="awbPieces" [width]="100" required></ngc-display>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='awb.awb.weight'></ngc-label>
        <div>
          <ngc-weightdisplay formControlName="awbWeight" [width]="100" required></ngc-weightdisplay>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='import.manifest.pcs'></ngc-label>
        <div>
          <ngc-display formControlName="manifestPieces"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='customs.manifest.wgt'></ngc-label>
        <div>
          <ngc-weightdisplay formControlName="manifestWeight"></ngc-weightdisplay>
        </div>
      </ngc-column>
    </ngc-row>

    <ngc-row>
      <ngc-column column="3">
        <ngc-label label='g.origin'></ngc-label>

        <div>
          <ngc-display formControlName="origin" sourceId="FINAL_DESTINATION" title="uld.origin.airport" dataField="code"
            [width]="100" required [maxlength]="3">
          </ngc-display>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='g.destination'></ngc-label>

        <div>
          <ngc-display formControlName="destination" sourceId="FINAL_DESTINATION" title="uld.destination.airport"
            dataField="code" [width]="100" required [maxlength]="3">
          </ngc-display>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='Loading.Point'></ngc-label>
        <div>
          <ngc-display formControlName="origin"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='g.natureOfGoods'></ngc-label>
        <div>
          <ngc-display formControlName="natureOfGoods" [width]="200" required></ngc-display>
        </div>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column column="6">
        <ngc-label label='g.shc'></ngc-label>
        <div>
          <ngc-shcinput [width]="50" formArrayName="splCode" dataField="code" [disabled]="disableSaveButton">
          </ngc-shcinput>
        </div>
      </ngc-column>
    </ngc-row>
    <br>
    <ngc-row>
      <ngc-column column="3">
        <ngc-label label='customs.ReleaseInd'></ngc-label>
        <div>
          <ngc-dropdownlist sourceId="Customs$ReleaseType" formControlName="relIndicator" [width]="30"
            [disabled]="disableSaveButton">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='customs.handlingAgent'></ngc-label>
        <div>
          <ngc-dropdownlist sourceId='Customs$HandlingAgent' formControlName="handlingAgent" [width]="200"
            [disabled]="disableSaveButton">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='eawb.fhl.pcs.wgt'></ngc-label>
        <div>
          <ngc-display formControlName="hawbPiecesWeight"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column></ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-tabs>
          <ngc-tab-card title="import.fwb.shipper.consignee" [indicatorIconType]="shipperConsigneeIcon"
            indicatorIconColor="red">
            <ngc-container>
              <ngc-row>
                <ngc-column>
                  <ngc-container>
                    <ngc-row>
                      <ngc-column column="6">
                        <div>
                          <ngc-label label='awb.shipper'></ngc-label>
                        </div>
                      </ngc-column>
                      <ngc-column column="6">
                        <div>
                          <ngc-label label='awb.consignee'></ngc-label>
                        </div>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
              </ngc-row>
              <ngc-row>
                <ngc-column>
                  <ngc-container formGroupName="shipperInfo">
                    <ngc-row>
                      <ngc-column>
                        <div>
                          <ngc-label label='8awbDocument'>
                          </ngc-label>
                        </div>
                        <ngc-lov formControlName="customerCode" [width]="75" maxlength="8" upperCase="true"
                          [dropDownWidth]="200" [noValidation]="true" sourceId="SHIPPER_AGENT_DATA" title="g.name"
                          displayMember="code" dataField="code" (select)="onSelectShipperName($event)"
                          [disabled]="disableSaveButton">
                          <ngc-data-column text="g.code" dataField="code" [width]="120">
                          </ngc-data-column>
                          <ngc-data-column text="g.name" dataField="desc" [width]="120">
                          </ngc-data-column>
                        </ngc-lov>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column column="6">
                        <div>
                          <ngc-label label='g.name'></ngc-label>
                        </div>
                        <ngc-lov [noValidation]="true" formControlName="customerName" [width]="600" upperCase="true"
                          [dropDownWidth]="300" sourceId="SHIPPER_DATA" title="g.name" displayMember="code"
                          dataField="desc" (select)="onSelectShipperName($event,item)" [maxlength]="70"
                          [disabled]="disableSaveButton" required>
                          <ngc-data-column text="g.code" dataField="code" [width]="150">
                          </ngc-data-column>
                          <ngc-data-column text="g.name" dataField="desc" [width]="150">
                          </ngc-data-column>
                        </ngc-lov>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column [column]="6">
                        <div>
                          <ngc-label label='g.address'></ngc-label>
                        </div>
                        <ngc-input formControlName="streetAddress" [width]="600" [maxlength]="70" required
                          [disabled]="disableSaveButton"></ngc-input>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column column="5">
                        <div>
                          <ngc-label label='g.place'></ngc-label>
                        </div>
                        <ngc-input formControlName="place" [width]="250" [maxlength]="17" required
                          [disabled]="disableSaveButton"></ngc-input>
                      </ngc-column>
                      <ngc-column>
                        <div>
                          <ngc-label label='g.postalCode'></ngc-label>
                        </div>
                        <ngc-input formControlName="postal" [width]="120" [disabled]="disableSaveButton"></ngc-input>
                      </ngc-column>
                      <ngc-column>
                        <ngc-label label='g.country'></ngc-label>
                        <div>
                          <ngc-lov formControlName="country" sourceId="COUNTRY"  title="g.country"  dataField="code"
                            width="50%" required [maxlength]="2" [disabled]="disableSaveButton">
                            <ngc-data-column text="g.country" dataField="code" [width]="50">
                            </ngc-data-column>
                            <ngc-data-column text="g.description" [width]="150" dataField="desc"></ngc-data-column>
                          </ngc-lov>
                        </div>
                      </ngc-column>
                      <ngc-column>
                        <ngc-label label="g.state"></ngc-label>
                        <div>
                          <ngc-lov sourceId="STATE" title="g.state" formControlName="state"  dataField="desc"
                            width="50%" [noValidation]="true" [disabled]="disableSaveButton">
                            <ngc-data-column text="g.state"  dataField="code"  [width]="50">
                            </ngc-data-column>
                            <ngc-data-column text="g.description" [width]="150" dataField="desc"></ngc-data-column>
                          </ngc-lov>
                        </div>
                      </ngc-column>
                    </ngc-row>

                  </ngc-container>
                </ngc-column>
                <ngc-column>
                  <ngc-container formGroupName="consigneeInfo">
                    <ngc-row>
                      <ngc-column>
                        <div>
                          <ngc-label label='8awbDocument'>
                          </ngc-label>
                        </div>
                        <ngc-lov formControlName="customerCode" [width]="75" maxlength="8" upperCase="true"
                          [dropDownWidth]="200" [noValidation]="true" sourceId="SHIPPER_AGENT_DATA" title="g.name"
                          displayMember="code" dataField="code" (select)="onSelectConsigneeName($event)"
                          [disabled]="disableSaveButton">
                          <ngc-data-column text="g.code" dataField="code" [width]="120">
                          </ngc-data-column>
                          <ngc-data-column text="g.name" dataField="desc" [width]="120">
                          </ngc-data-column>
                        </ngc-lov>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column column="6">
                        <div>
                          <ngc-label label='g.name'></ngc-label>
                        </div>
                        <ngc-lov [noValidation]="true" formControlName="customerName" [width]="600" upperCase="true"
                          [dropDownWidth]="300" sourceId="CONSIGNEE_DATA" title="g.name" dataField="desc"
                          (select)="onSelectConsigneeName($event,item)" [maxlength]="70" [disabled]="disableSaveButton"
                          required>
                          <ngc-data-column text="g.code" dataField="code" [width]="150">
                          </ngc-data-column>
                          <ngc-data-column text="g.name" dataField="desc" [width]="150">
                          </ngc-data-column>
                        </ngc-lov>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column [column]="6">
                        <div>
                          <ngc-label label='g.address'></ngc-label>
                        </div>
                        <ngc-input formControlName="streetAddress" [width]="600" [maxlength]="70" required
                          [disabled]="disableSaveButton"></ngc-input>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column column="5">
                        <div>
                          <ngc-label label='g.place'></ngc-label>
                        </div>
                        <ngc-input formControlName="place" [width]="250" [maxlength]="17" required
                          [disabled]="disableSaveButton"></ngc-input>
                      </ngc-column>
                      <ngc-column>
                        <div>
                          <ngc-label label='g.postalCode'></ngc-label>
                        </div>
                        <ngc-input formControlName="postal" [width]="120" [disabled]="disableSaveButton"></ngc-input>
                      </ngc-column>
                      <ngc-column>
                        <ngc-label label='g.country'></ngc-label>
                        <div>
                          <ngc-lov formControlName="country" sourceId="COUNTRY"  title="g.country"  dataField="code"
                            width="50%" required [maxlength]="2" [disabled]="disableSaveButton">
                            <ngc-data-column text="g.country" dataField="code" [width]="50">
                            </ngc-data-column>
                            <ngc-data-column text="g.description" [width]="150" dataField="desc"></ngc-data-column>
                          </ngc-lov>
                        </div>
                      </ngc-column>
                      <ngc-column>
                        <ngc-label label="g.state"></ngc-label>
                        <div>
                          <ngc-lov sourceId="STATE" title="g.state" formControlName="state"  dataField="desc"
                            width="50%" [noValidation]="true" [disabled]="disableSaveButton">
                            <ngc-data-column text="g.state"  dataField="code"  [width]="50">
                            </ngc-data-column>
                            <ngc-data-column text="g.description" [width]="150" dataField="desc"></ngc-data-column>
                          </ngc-lov>
                        </div>
                      </ngc-column>
                    </ngc-row>

                  </ngc-container>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </ngc-tab-card>
          <ngc-tab-card title="License and Permit" [indicatorIconType]="shipperConsigneeIcon" indicatorIconColor="red">
            <ngc-container>
              <ngc-row>
                <ngc-column [column]='4'>
                  <ngc-container>
                    <ngc-row>
                      <ngc-column align="right">
                        <ngc-button (click)="addLicense()" value="g.add.row.r" [disabled]="disableSaveButton">
                        </ngc-button>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column>
                        <ngc-table>
                          <thead>
                            <tr>
                              <th>
                                <ngc-label value='customs.license'></ngc-label>
                              </th>
                              <th>
                              </th>
                            </tr>
                          </thead>
                          <tbody formArrayName="license">
                            <tr *ngFor="let item of shipmentInfoForm.get('license').controls; 
                            let index=index" [formGroupName]="index">
                              <td>
                                <ngc-input formControlName="detail" [width]="150" maxlength="5"
                                  [disabled]="disableSaveButton">
                                </ngc-input>
                              </td>
                              <td>
                                <ngc-link [width]="10" align="center" (linkClick)="deleteLicense(index)"
                                  [hideValue]="true" iconType="delete">
                                  <ngc-i18n value="g.delete"></ngc-i18n>
                                </ngc-link>
                              </td>
                            </tr>
                          </tbody>
                        </ngc-table>
                      </ngc-column>
                    </ngc-row>


                  </ngc-container>
                </ngc-column>

                <ngc-column column='1'>
                </ngc-column>
                <ngc-column [column]='4'>

                  <ngc-container>
                    <ngc-row>
                      <ngc-column align="right">
                        <ngc-button (click)="addPermit($event)" value="g.add.row.r" [disabled]="disableSaveButton">
                        </ngc-button>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column>
                        <ngc-table>
                          <thead>
                            <tr>
                              <th>
                                <ngc-label value='poIssue.permit'></ngc-label>
                              </th>

                              <th>
                              </th>
                            </tr>
                          </thead>
                          <tbody formArrayName="permit">
                            <tr *ngFor="let item of shipmentInfoForm.get('permit').controls; 
                                                      let index=index" [formGroupName]="index">
                              <td>
                                <ngc-input formControlName="detail" [width]="150" maxlength="5">
                                </ngc-input>
                              </td>
                              <td>
                                <ngc-link [width]="10" align="center" (linkClick)="deletePermit(index)"
                                  [hideValue]="true" iconType="delete">
                                  <ngc-i18n value="g.delete"></ngc-i18n>
                                </ngc-link>
                              </td>
                            </tr>
                          </tbody>
                        </ngc-table>
                      </ngc-column>

                    </ngc-row>


                  </ngc-container>
                </ngc-column>

              </ngc-row>
            </ngc-container>

          </ngc-tab-card>

          <ngc-tab-card title="Charges" [indicatorIconType]="shipperConsigneeIcon" indicatorIconColor="red">
            <ngc-container>
              <ngc-row>
                <ngc-column [column]='6'>
                  <ngc-container formGroupName="charges">
                    <ngc-row>
                      <ngc-column>
                        <ngc-label label='import.ISOCurrencyCode'></ngc-label>
                        <div>
                          <ngc-lov formControlName="currencyCode" [width]="60" upperCase="true" [dropDownWidth]="60"
                            sourceId="CURRENCY" title="g.currency" displayMember="code" dataField="code"
                            [disabled]="disableSaveButton" required [maxlength]="3">
                            <ngc-data-column text="g.code" dataField="code" [width]="100">
                            </ngc-data-column>
                            <ngc-data-column text="g.name" dataField="desc" [width]="150">
                            </ngc-data-column>
                          </ngc-lov>
                        </div>
                      </ngc-column>
                      <ngc-column>
                        <ngc-label label='g.chargeCode'></ngc-label>
                        <div>
                          <ngc-dropdownlist [maxlength]='2' formControlName="wtValCharge" sourceId="CHARGESCODE"
                            sourceType="query" title="g.chargeCode" [width]="70" [disabled]="disableSaveButton">
                          </ngc-dropdownlist>
                        </div>
                      </ngc-column>
                      <ngc-column>
                        <ngc-label label='billing.charge.declaration'></ngc-label>
                        <div>
                          <ngc-lov [maxlength]='2' formControlName="otherCharge" sourceId="PREPAIDCOLLECT_DATA"
                             title="import.ChargeDeclaration"  dataField="code" width="50%"
                            [disabled]="disableSaveButton" required>
                            <ngc-data-column text="g.code" dataField="code" [width]="50">
                            </ngc-data-column>
                            <ngc-data-column text="g.description" [width]="150" dataField="desc"></ngc-data-column>
                          </ngc-lov>
                        </div>
                      </ngc-column>
                      <ngc-column>
                        <ngc-label label='import.fwb.declared.value.for.carriage'></ngc-label>
                        <div>
                          <ngc-input [width]="170" formControlName="carriageValue" placeHolder="NVD" maxlength='12'
                            [disabled]="disableSaveButton">
                          </ngc-input>
                        </div>
                      </ngc-column>
                    </ngc-row>

                    <ngc-row>
                      <ngc-column>
                        <ngc-label label='import.declared.value.for.customs'></ngc-label>
                        <div>
                          <ngc-input [width]="170" formControlName="customValue" placeHolder="NCV" maxlength='12'
                            [disabled]="disableSaveButton">
                          </ngc-input>
                        </div>
                      </ngc-column>
                      <ngc-column>
                        <ngc-label label='g.remarks'></ngc-label>
                        <div>
                          <ngc-input [width]="400" formControlName="remark" maxlength='11'
                            [disabled]="disableSaveButton">
                          </ngc-input>
                        </div>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </ngc-tab-card>

        </ngc-tabs>

      </ngc-column>
    </ngc-row>

  </ngc-container>

</form>