<form [formGroup]='searchInitialConsignmentSearchForm'>
  <ngc-titlebar title='Submit Initial Consignment' (clear)='onClear($event)'></ngc-titlebar>

  <ngc-container type="selectiontop">
    <ngc-row>
      <ngc-column>
        <ngc-label label="flight.flightNumber"></ngc-label>
        <div>
          <ngc-flightkeyinput accessEnableOn="r" upperCase="true" formControlName="flightNo" [width]="100">
          </ngc-flightkeyinput>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='flight.arrival.date'></ngc-label>
        <div>
          <ngc-datetimeinput required accessEnableOn="r" formControlName="flightDate" [showCalendarButton]="true"
            [showTimeButton]="true">
          </ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label></ngc-label>
        <div>
          <ngc-button [width]="100" accessEnableOn="r" (click)="onSearch()" value="awb.search"></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab" *ngIf="showDataFlag">
    <ngc-row>
      <ngc-column>
        <ngc-edittable formArrayName="flightList" [pageable]="false">
          <ngc-data-column text="g.sNo" [width]="5" dataField="sno" align="center" cellsAlign="center" [width]="5">
          </ngc-data-column>
          <ngc-data-column text="g.flight.no.date" dataField="flightNo" [width]="70" align="center" cellsAlign="center">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ng-container>
                  <ngc-display uppercase="true" [maxlength]="12" [minlength]="3" [width]="70"
                    formControlName="flightNo"></ngc-display>/<ngc-display [width]="40" formControlName="flightDate"
                    [onlyDate]="true">
                  </ngc-display>
                </ng-container>
              </ng-container>
            </ng-template>
          </ngc-data-column>
          <ngc-data-column text="g.virtual.flight.no.date" dataField="customsFlightNumber" [width]="70" align="center"
            cellsAlign="center">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ng-container
                  *ngIf="searchInitialConsignmentSearchForm.get(['flightList',group,'customsFlightNumber']).value !=null">
                  <ngc-display uppercase="true" [maxlength]="12" [minlength]="3" [width]="70"
                    formControlName="customsFlightNumber">
                  </ngc-display>/<ngc-display [width]="40" formControlName="customsFlightDate" [onlyDate]="true">
                  </ngc-display>
                </ng-container>
              </ng-container>
            </ng-template>
          </ngc-data-column>
          <ngc-data-column text="flight.sta" dataField="sta" [width]="40" cellsAlign="center">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ng-container>
                  <ngc-display [width]="40" formControlName="sta" [onlyTime]="true">
                  </ngc-display>
                </ng-container>
              </ng-container>
            </ng-template>
          </ngc-data-column>
          <ngc-data-column text="flight.eta" dataField="eta" [width]="40" cellsAlign="center">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ng-container>
                  <ngc-display [width]="40" formControlName="eta" [onlyTime]="true">
                  </ngc-display>
                </ng-container>
              </ng-container>
            </ng-template>
          </ngc-data-column>
          <ngc-data-column text="g.ffm.recv" dataField="ffmRecv" [width]="100" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="g.fwb.recv" dataField="fwbRecv" [width]="100" cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="g.fwb.recv.percentage" dataField="fwbRecvPercent" align="center" cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="g.cnsl" dataField="" align="center" cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="g.fhl.recv" dataField="fhlRecv" align="center" cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="import.nil.cargo" dataField="nilCargoFlight" align="center" cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="g.flight.priority" dataField="fltPriority" align="center" cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="flight.aircraft.type" dataField="aircraftType" align="center" cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="g.freeze" dataField="" align="center" cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="agent.status" dataField="status" align="center" cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="g.action" align="center">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-link accessEnableOn="r" type="link" (linkClick)="openShipment(group)" iconType="open-link"
                  align="center" cellsAlign="center">
                </ngc-link>
              </ng-container>
            </ng-template>
          </ngc-data-column>
        </ngc-edittable>
      </ngc-column>
    </ngc-row>
  </ngc-container>

</form>