<form [formGroup]='broadcastForm'>
  <ngc-titlebar title="master.broadcast.notification.message" (cancel)="onBack($event)" (clear)="onClear($event)">
  </ngc-titlebar>
  <ngc-container type="tab" *ngIf="!broadCastFeature">
    <ngc-row>
      <ngc-column column="2.5">
        <ngc-label label='g.to'></ngc-label>
        <div>
          <ngc-dropdownlist [noCache]="true" [width]="230" [multiSelect]="true" sourceId="To_Message$To"
            formControlName="userGroupList" required>
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label='master.specific.group'></ngc-label>
        <div>
          <ngc-dropdownlist [width]="190" sourceId="User Profile$Role_Category" formControlName="roleCode">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label='master.start.date.time'> </ngc-label>
        <div>
          <ngc-datetimeinput [width]="120" [showTimeButton]="true" required [showCalendarButton]="true"
            formControlName="startDate"></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label='master.expiry.date.time'> </ngc-label>
        <div>
          <ngc-datetimeinput [width]="120" formControlName="expiryDate" required
            [min]='broadcastForm.controls.startDate.value' [showTimeButton]="true" [showCalendarButton]="true">
          </ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column column="1">
        <ngc-label label='uld.priority'> </ngc-label>
        <div>
          <ngc-dropdownlist [width]="80" required formControlName="priority" sourceId='Priority_check$Priority'>
          </ngc-dropdownlist>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab" *ngIf="broadCastFeature">
    <ngc-row>
      <ngc-column column="1.5">
        <ngc-label label='event.notificationType'></ngc-label>
        <div>
          <ngc-dropdownlist [noCache]="true" [width]="120" sourceId="General$BroadCast_Notification_Type"
            formControlName="notificationType" required>
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label='g.to'></ngc-label>
        <div>
          <ngc-dropdownlist [noCache]="true" [width]="230" (select)='onSelectUserGroupList($event)' [multiSelect]="true"
            sourceId="To_Message$To" formControlName="userGroupList" required>
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label='g.carrier'></ngc-label>
        <div>
          <ngc-dropdownlist formControlName='carrierList' [width]='230' multiSelect="true" [filterable]="true"
            sourceId='CARRIER' sourceType="query" [disabled]="!enableSelection" [noCache]="true">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label='master.specific.group'></ngc-label>
        <div>
          <ngc-dropdownlist [width]="190" sourceId="User Profile$Role_Category" formControlName="roleCode">
          </ngc-dropdownlist>
        </div>
      </ngc-column>

      <ngc-column column="1.5">
        <ngc-label label='master.start.date.time'> </ngc-label>
        <div>
          <ngc-datetimeinput [width]="160" [showTimeButton]="true" required [showCalendarButton]="true"
            formControlName="startDate"></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column column="1.5">
        <ngc-label label='master.expiry.date.time'> </ngc-label>
        <div>
          <ngc-datetimeinput [width]="160" formControlName="expiryDate" required
            [min]='broadcastForm.controls.startDate.value' [showTimeButton]="true" [showCalendarButton]="true">
          </ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column column="1">
        <ngc-label label='uld.priority'> </ngc-label>
        <div>
          <ngc-dropdownlist [width]="100" required formControlName="priority" sourceId='Priority_check$Priority'>
          </ngc-dropdownlist>
        </div>
      </ngc-column>

    </ngc-row>
  </ngc-container>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column column='6'>
        <ngc-editor [width]="738" formControlName="message" required>
        </ngc-editor>
      </ngc-column>
      <ngc-column>
        <ngc-label label='g.title'></ngc-label>
        <div>
          <ngc-input [width]="415" formControlName="notificationTitle" required [maxlength]="50"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column column="0.5">
      </ngc-column>
      <ngc-column align='right'>
        <ngc-label label='&nbsp;'></ngc-label>
        <div>
          <ngc-button value='master.broadcast.save' (click)='onBroadcast()'></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>

  </ngc-container>

  <ngc-container type='sectiontop'>
    <ngc-row>
      <ngc-column>
        <ngc-label label='master.broadcast.notification.menu'></ngc-label>
      </ngc-column>
      <ngc-column align="right">
        <ngc-button label="g.delete" (click)="onConfirm($event)"></ngc-button>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <div>
          <ngc-edittable formArrayName="dataArray" [pageable]="true" [pageSize]="5">
            <ngc-data-column type='check' text='g.sel' align='left' dataField="check" cellsAlign='center' [width]='20'>
            </ngc-data-column>
            <ngc-data-column text='g.title' align='left' cellsAlign='left' dataField="notificationTitle" [width]='100'>
            </ngc-data-column>
            <ngc-data-column feature="General.BroadCastMessage.ByAirline" text='event.notificationType' align='left'
              cellsAlign='left' dataField="notificationType" [width]='100'>
            </ngc-data-column>
            <ngc-data-column text='g.to' align='left' cellsAlign='left' dataField="userGroupTo" [width]='70'>
            </ngc-data-column>
            <ngc-data-column feature="General.BroadCastMessage.ByAirline" text='g.carrier' align='left'
              cellsAlign='left' dataField="carrier" [width]='100'>
            </ngc-data-column>
            <ngc-data-column text='master.specific.group' align='left' cellsAlign='left' dataField="roleCode"
              [width]='100'>
            </ngc-data-column>
            <ngc-data-column type="displayDateTime" text='master.start.date.time' align='left' cellsAlign='center'
              dataField="startDate" [width]='85'></ngc-data-column>
            <ngc-data-column type="displayDateTime" text='master.expiry.date.time' align='left' cellsAlign='center'
              dataField="expiryDate" [width]='85'></ngc-data-column>
            <ngc-data-column text='uld.priority' align='left' cellsAlign='center' dataField="priority" [width]='45'
              [cellsStyleRenderer]="priorityCellsStyleRenderer"></ngc-data-column>

            <ngc-data-column text='g.message' align='left' cellsAlign='left' [width]='300'>

               <ng-template let-name="name" let-group="group">
                           <ng-container [formGroupName]="group">
                   <ngc-display formControlName="message1"></ngc-display>
                   <ngc-link
                    *ngIf="this.broadcastForm.getRawValue().dataArray[group].message.length > 200 && !this.broadcastForm.getRawValue().dataArray[group].clickedItem"
                    (click)="onViewMore(group)">
                    <ngc-i18n value="g.view.more"></ngc-i18n>
                  </ngc-link>
                  <ngc-link
                    *ngIf="this.broadcastForm.getRawValue().dataArray[group].message.length > 200 && this.broadcastForm.getRawValue().dataArray[group].clickedItem"
                    (click)="onViewLess(group)">
                    <ngc-i18n value="g.view.less"></ngc-i18n>
                  </ngc-link>
                </ng-container>
                            </ng-template>

            </ngc-data-column>
            <ngc-data-column text='' align='left' cellsAlign='center' dataField="clickedItem" [width]='45'
              [hidden]="true"></ngc-data-column>
          </ngc-edittable>
        </div>

      </ngc-column>
    </ngc-row>
  </ngc-container>

</form>