<ngc-titlebar title='lbs.management.title' (cancel)="onCancel($event)" (clear)="OnClear()" (print)="onPrint()">
</ngc-titlebar>
<form [formGroup]="managementForm">
  <ngc-container type="section">
    <ngc-row>
      <ngc-column [column]="1.5">
        <ngc-label label="Start date"></ngc-label>&nbsp;
        <div>
          <ngc-dateinput accessEnableOn="r" [width]='100' formControlName="startDate">
          </ngc-dateinput>
        </div>
      </ngc-column>
      <ngc-column [column]="1.5">
        <div>
          <ngc-label label="End date"></ngc-label>
        </div>
        <ngc-dateinput accessEnableOn="r" [width]='100' formControlName="endDate">
        </ngc-dateinput>
      </ngc-column>
      <ngc-column [column]="1.5">
        <ngc-label label='carrier'></ngc-label>
        <div>
          <ngc-lov [disabled]="onSearchFlag" formControlName="carrier" [width]="50" upperCase="true" noCache="true"
            sourceId='CARRIER_OPT' title='flight.carrierType' dataField="code" displayMember="code" accessEnableOn="r">
            <ngc-data-column text="g.carrier" dataField="code" [width]="100"></ngc-data-column>
            <ngc-data-column text="g.description" dataField="desc" [width]="150">
            </ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column [column]="1.5">
        <div>
          <ngc-label width="150px" label="lbs.fltno"></ngc-label>
        </div>
        <ngc-input width="95px" formControlName="fltNo">
        </ngc-input>
      </ngc-column>
      <ngc-column [column]="1.5">
        <ngc-label></ngc-label>
        <div>
          <ngc-button accessEnableOn="r" (click)="onSearch()" value="display.search" iconType="search"></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container *ngIf="showTable">
    <ngc-row>
      <ngc-column>
        <ngc-edittable formArrayName="data" pagesize="10"  [showToolbar]="true">
          <ngc-data-column text="export.sno" [width]="20" cellsAlign="center" [cellsRenderer]="cellsRendererSno">
          </ngc-data-column>
          <ngc-data-column text="lbs.fltno"dataField="fltNo"  [width]="130" align="center">
          </ngc-data-column>
          <ngc-data-column text="lbs.date" dataField="fltDate" [width]="130" align="center" type="displayDate">
          </ngc-data-column>
          <ngc-data-column text="cdh.awbno" dataField="awbNo" [width]="130" align="center">
          </ngc-data-column>
          <ngc-data-column text="lbs.no" dataField="hawbNo" [width]="130" align="center">
          </ngc-data-column>
          <ngc-data-column text="agent.agentName" dataField="agentName" [width]="130" align="center">
          </ngc-data-column>
        </ngc-edittable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>

<ngc-report #reportWindow title="g.report" reportId='leftbehindmanagement' format='pdf'
  [reportParameters]='reportParameters'></ngc-report>