<ngc-titlebar title="warehouse.createtemplate" (save)='save()' [disableSave]="hasReadPermission"></ngc-titlebar>
<!-- Form tag Begin for Create Template-->
<form [formGroup]="createTemplate">
  <ngc-container type="sectiontop">
    <ngc-row>
      <ngc-column column="8">
        <ngc-row>
          <ngc-column>
            <ngc-label label="g.name"></ngc-label>
            <div>
              <ngc-input formControlName="name" [width]="300" required> </ngc-input>
            </div>
          </ngc-column>
        </ngc-row>
        <ngc-row>
          <ngc-column>
            <ngc-label label="g.email"></ngc-label>
            <div>
              <ngc-editor [width]="700" formControlName="email" [disabled]="false"></ngc-editor>
              <!-- <ngc-input formControlName="email" [width]="700" [height]="40"> </ngc-input> -->
            </div>
          </ngc-column>
        </ngc-row>
        <ngc-row>
          <ngc-column>
            <ngc-label label="sms"></ngc-label>
            <div>
              <ngc-editor [width]="700" formControlName="sms" [disabled]="false"></ngc-editor>
              <!-- <ngc-input formControlName="sms" [width]="700" [height]="40"> </ngc-input> -->
            </div>
          </ngc-column>
        </ngc-row>
        <ngc-row>
          <ngc-column>
            <ngc-label label="fax"></ngc-label>
            <div>
              <ngc-editor [width]="700" formControlName="fax" [disabled]="false"></ngc-editor>
              <!-- <ngc-input formControlName="fax" [width]="700" [height]="40"> </ngc-input> -->
            </div>
          </ngc-column>
        </ngc-row>
        <ngc-row>
          <ngc-column>
            <ngc-label label="warehouse.message"></ngc-label>
            <div>
              <ngc-editor [width]="700" formControlName="message" [disabled]="false"></ngc-editor>
              <!-- <ngc-input formControlName="message" [width]="500" [height]="40"> </ngc-input> -->
            </div>
          </ngc-column>
        </ngc-row>
      </ngc-column>
      <ngc-column column="3">
        <ngc-row>
          <ngc-column>
            <ngc-label label="template.addParams"></ngc-label>
          </ngc-column>
        </ngc-row>
        <ngc-row>
          <ngc-column>
            <ngc-table>
              <thead align="Center">
                <tr>
                  <th [width]="80">
                    <ngc-label value="warehouse.parameter" cellsAlign="center"></ngc-label>
                  </th>
                  <th [width]="80">
                    <ngc-label value="g.delete"></ngc-label>
                  </th>
                </tr>
              </thead>
              <tbody align="center" formArrayName="parametersList">
                <tr *ngFor="let item of createTemplate.controls.parametersList.controls; let index=index"
                  [formGroupName]="index">
                  <td>
                    <ngc-dropdownlist formControlName="parameterName" sourceId="Events$TemplateParameter" [width]="200"
                      required [dropDownWidth]="190"></ngc-dropdownlist>
                  </td>
                  <td>
                    <ngc-link [disabled]="hasReadPermission" (linkClick)="deleteParameter(index)" iconType="delete"></ngc-link>
                  </td>
                </tr>
              </tbody>
            </ngc-table>
            <div align="right">
              <ngc-button [disabled]="hasReadPermission" (click)="addRow()" value="g.add" align="right"></ngc-button>
            </div>
          </ngc-column>
        </ngc-row>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>