<form [formGroup]="mssDashboardForm">
  <ngc-titlebar title="dashboard.ehub.dashboard.title">
  </ngc-titlebar>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column align="right">
        <ngc-label label='val.auto.refresh'></ngc-label>
        <ngc-switchbutton formControlName="auto" (ngModelChange)="onSwitchChange($event)" onLabel="val.auto.refresh"
          [width]="200"></ngc-switchbutton>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>
<form [formGroup]="mssDashboardFormResponse">
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column *ngIf="showForSats">
        <ngc-datatable #MssDashboadViewTable formArrayName="responseForMssDashboard" [pageable]="true" [pageSize]="5">
          <!--<ngc-data-column text="Early" [width]="100" align="center"></ngc-data-column>-->
          <ngc-data-column text="dashboard.pa.ha" dataField="elrUpliftInd" [width]="100" iconType="thumbs-up"
            type="icon" cellsAlign="center" value="Y" true-color="grey"></ngc-data-column>
          <ngc-data-column text="dashboard.future.pa" dataField="eagerLoadInd" [width]="100" iconType="star" type="icon"
            cellsAlign="center" value="Y" true-color="grey"></ngc-data-column>
          <ngc-data-column text="g.flight" dataField="paFlight" [width]="100" cellsAlign="center" value="true">
          </ngc-data-column>
          <ngc-data-column text="g.date" dataField="paFlightDate" [width]="100" type="displayDate" cellsAlign="center"
            value="true"></ngc-data-column>
          <ngc-data-column text="flight.std" dataField="paFlightSTDTime" type="displayTime" [width]="100" align="left"
            cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="dashboard.allocation" dataField="allocation" [width]="80" type="icon" align="left"
            cellsAlign="center" [cellsRenderer]="cellsRenderer"></ngc-data-column>
          <!--<ngc-data-column text="SCAN" [width]="200" align="center" cellsAlign="center"></ngc-data-column>-->
          <ngc-data-column text="dashboard.truck.doc" dataField="truckDocColorCode" [width]="80" type="icon"
            align="left" cellsAlign="center" [cellsRenderer]="cellsRenderer"></ngc-data-column>
          <ngc-data-column text="dashboard.in.feed" dataField="infeedColorCode" dataType="text" [width]="80" type="icon"
            align="left" cellsAlign="center" [cellsRenderer]="cellsRenderer"></ngc-data-column>

          <ngc-data-column text="exp.manifest" dataField="manfColorCode" [width]="80" type="icon" align="left"
            cellsAlign="center" [cellsRenderer]="cellsRenderer"></ngc-data-column>
          <ngc-data-column text="dashboard.ramp" dataField="hndColorCode" [width]="80" type="icon" align="left"
            cellsAlign="center" [cellsRenderer]="cellsRenderer"></ngc-data-column>
          <ngc-data-column text="dasboard.offload" dataField="ofdColorCode" [width]="80" type="icon" align="left"
            cellsAlign="center" [cellsRenderer]="cellsRenderer"></ngc-data-column>
        </ngc-datatable>

      </ngc-column>
      <ngc-column *ngIf="showForDnata">
        <ngc-datatable #MssDashboadViewTable formArrayName="responseForMssDashboard" [pageable]="true" [pageSize]="10">
          <ngc-data-column text="g.flight" dataField="paFlight" [width]="100" cellsAlign="center" value="true">
          </ngc-data-column>
          <ngc-data-column text="g.date" dataField="paFlightDate" [width]="100" type="displayDate" cellsAlign="center"
            value="true"></ngc-data-column>
          <ngc-data-column text="flight.std" dataField="paFlightSTDTime" type="displayTime" [width]="100" align="left"
            cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="dashboard.allocation" dataField="allocation" [width]="80" type="icon" align="left"
            cellsAlign="center" [cellsRenderer]="cellsRenderer"></ngc-data-column>
          <ngc-data-column text="dashboard.truck.doc" dataField="truckDocColorCode" [width]="80" type="icon"
            align="left" cellsAlign="center" [cellsRenderer]="cellsRenderer"></ngc-data-column>
          <ngc-data-column text="dashboard.in.feed" dataField="infeedColorCode" dataType="text" [width]="80" type="icon"
            align="left" cellsAlign="center" [cellsRenderer]="cellsRenderer"></ngc-data-column>
          <ngc-data-column text="dashboard.released.dnata" dataField="releaseToDnata" [width]="80" type="icon"
            align="left" cellsAlign="center" [cellsRenderer]="cellsRenderer"></ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>