/*!
 * Lite Theme v1.0.0
 */

/**
 * Common Color/Style
 */

 // State Color
 $errorColor: #D8190D;
 $goodColor: #088C1A;
 $warningColor: #F6C409;
 $unknownColor: #CDCFCD;
 $disabledColor: rgb(136, 138, 136);

 // Mandatory/Optional
 $mandatoryColor: #FAF3A8;
 $optionalColor: #E5F5EE;

 // Common
 $borderColor: #b2b2b2;
 $focusBorderColor: #007bff;
 $inputBackgroundColor: white;
 $selectedBackgroundColor: lightgray;
 $selectedColor: darkslategray;

 // User Favourite
 $favouriteColor: #F6C409;

 // Primary Button
 $primaryButtonBackgroundColor: #b81747;
 $primaryButtonHoverColor: rgba(185, 28, 4, 0.596);
 $primaryButtonBorderColor: #f34b6f;
 $primaryButtonColor: white;
 $primaryButtonShadowColor: rgba(223, 115, 148, 0.443);
 $primaryButtonFontSize: 0.9rem;
 // Secondary Button
 $secondaryButtonBackgroundColor: #0997f6;
 $secondaryButtonBorderColor: #61b7f0;
 $secondaryButtonColor: white;
 $secondaryButtonShadowColor: rgba(9, 151, 246, 0.466);
 $secondaryButtonFontSize: 0.9rem;
 // Tertiary Button
 $tertiaryButtonBackgroundColor: #17a2b8;
 $tertiaryButtonBorderColor: #05a0b8;
 $tertiaryButtonColor: white;
 $tertiaryButtonShadowColor: #8fe1ee;
 $tertiaryButtonFontSize: 0.9rem;
 // Quaternary Button
 $quaternaryButtonBackgroundColor: #17a2b8;
 $quaternaryButtonBorderColor: #05a0b8;
 $quaternaryButtonColor: white;
 $quaternaryButtonShadowColor: #8fe1ee;
 $quaternaryButtonFontSize: 0.8rem;

 // Widget
 $widgetColor: white;

 // Window
 $windowBorderColor: rgba(3, 124, 143, 0.493);
 $windowHeaderBorderColor: rgba(3, 124, 143, 0.493);
 $windowHeaderBackgroundColor: #037c8f;

 // Data Table - Pager
 $dataTablePagerBackgroundColor: rgba(131, 129, 129, 0.17);
 $dataTablePagerBorderColor: transparent;
 // Data Table - Header
 $dataTableHeaderBackgroundColor: #17a2b8;
 $dataTableHeaderColor: white;
 $dataTableHeaderBorderColor: white;
 // Data Table - Cell
 $dataTableCellBackgroundColor: white;
 $dataTableCellColor: black;
 $dataTableCellHoverBackgroundColor: #e0e9f0;
 $dataTableCellHoverColor: black;
 $dataTableCellHoverBorderColor: #a4bed4;
 $dataTableCellSelectedBackgroundColor: $selectedBackgroundColor;
 $dataTableCellSelectedColor: $selectedColor;
 $dataTableCellSelectedBorderColor: #a4bed4;
 $dataTableCellHeight: 30px;

 // Input
 $inputIconColor: #037c8f;
 $ngcInputPaddingTopBottom: 0.30rem;
 $ngcPasswordInputPaddingTopBottom: 0.30rem;
 $ngcMaskedInputPaddingTopBottom: 0.30rem;
 $ngcMiscInputPaddingTopBottom: 0.30rem;
 $ngcDropDownPaddingTopBottom: 0.30rem;
 $ngcComboBoxPaddingTopBottom: 0.0rem;
 $ngcDateInputPaddingTopBottom: 0.30rem;
 $ngcTagInputPaddingTopBottom: 0.30rem;
 $ngcFilterInputPaddingTopBottom: 0.20rem;

 // Tag Input
 $tagInputChipsBackgroundColor: #4fd1e6;

 // Popover
 $popoverBackgroundColor: #f7f7f7;
 $popoverBorderColor: #ebebeb;

 // Carousel
 $carouselColor: rgb(59, 59, 59);

 // Calendar - Row Header
 $calendarRowHeaderBackgroundColor: #f0f0f0;
 $calendarRowHeaderBorderColor: #f2f2f2;
 // Calendar - Column Header
 $calendarColumnHeaderBackgroundColor: #f0f0f0;
 $calendarColumnHeaderBorderTopColor: #f2f2f2;
 $calendarColumnHeaderBorderBottomColor: #e9e9e9;
 // Calendar - Icon
 $calendarBackgroundColor: transparent;
 $calendarColor: $inputIconColor;

 // Tabs - Title
 $tabsTitleContainerBackgroundColor: #A0A3A5;
 $tabsTitleContainerColor: black;
 $tabsTitleContainerBorderColor: transparent;
 // Tabs - Title Hover
 $tabsTitleContainerHoverBackgroundColor: #eee;
 $tabsTitleContainerHoverColor: $tabsTitleContainerColor;
 $tabsTitleContainerHoverBorderColor: $tabsTitleContainerBorderColor;
 // Tabs - Title Selected
 $tabsTitleContainerSelectedBackgroundColor: #17a2b8;
 $tabsTitleContainerSelectedColor: white;
 $tabsTitleContainerSelectedBorderColor: transparent;
 // Tabs - Content
 $tabsContentBackgroundColor: transparent;
 $tabsContentColor: #035f6d;
 $tabsContentBorderColor: #037c8f;

 // Accordion - Header
 $accordionHeaderBackgroundColor: #A0A3A5;
 $accordionHeaderColor: #037c8f;
 $accordionHeaderBorderColor: #ddd;
 // Accordion - Expanded Header
 $accordionExpandedHeaderBackgroundColor: #17a2b8;
 $accordionExpandedHeaderColor: white;
 $accordionExpandedHeaderBorderColor: #ddd;

 // Shortcut Key
 $shortcutBackgroundColor: rgba(1, 1, 1, 0.05);
 $shortcutColor: #bd4147;
 $shortcutButtonBackgroundColor: rgba(1, 1, 1, 0.50);
 $shortcutButtonColor: white;

 // Container
 $containerCardBackgroundColor: #fff;
 $containerHeaderBackgroundColor: #ddd;
 $containerHeaderBorderColor: rgba(0, 0, 0, 0.125);
 $containerFooterBackgroundColor: rgba(0, 0, 0, 0.03);
 $containerFooterBorderColor: rgba(0, 0, 0, 0.125);
 $containerTitleColor: #037c8f;
 $containerSubTitleColor: #6e99a0;
 $containerNonPlainRowBottomPadding: 2px;
 $containerRootBottomPadding: 1px;
 // Container Type
 $containerTypeBackgroundColor: transparent;
 $containerTypeBorderColor: #037c8f;
 // Container Type - Header
 $containerTypeHeaderBackgroundColor: #FCFAFA;
 $containerTypeHeaderBorderColor: $containerTypeBorderColor;
 // Container Type - Section
 $containerTypeSectionBackgroundColor: $containerTypeBackgroundColor;
 $containerTypeSectionBorderColor: $containerTypeBorderColor;
 // Container Type - Section Top
 $containerTypeSectionTopBackgroundColor: $containerTypeBackgroundColor;
 $containerTypeSectionTopBorderColor: $containerTypeBorderColor;
 // Container Type - Tab
 $containerTypeTabBackgroundColor: $containerTypeBackgroundColor;
 $containerTypeTabBorderColor: $containerTypeBorderColor;
 // Container Type - Box
 $containerTypeBoxBackgroundColor: $containerTypeBackgroundColor;
 $containerTypeBoxBorderColor: $containerTypeBorderColor;
 // Container Type - Plain
 $containerTypePlainBackgroundColor: $containerTypeBackgroundColor;
 $containerTypePlainBorderColor: $containerTypeBorderColor;
 // Container Type - Square
 $containerTypeSquareBackgroundColor: $containerTypeBackgroundColor;
 $containerTypeSquareBorderColor: $containerTypeBorderColor;
 // Container Type - Block
 $containerTypeBlockBackgroundColor: $containerTypeBackgroundColor;
 $containerTypeBlockBorderColor: $containerTypeBorderColor;
 // Container Type - Rectangle
 $containerTypeRectangleBackgroundColor: $containerTypeBackgroundColor;
 $containerTypeRectangleBorderColor: $containerTypeBorderColor;

 /**
  * Basic Change
  */

 body.body-lite {
    background-color: rgba(246, 246, 246, 1);
    color: #035f6d;
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
 }

 .container-fluid-lite {
     background-color: rgba(246, 246, 246, 1);
 }

/**
 * Header & Footer
 */

 .header-lite {
    background: #036271 url(../images/lite-header-footer.png) 0px 0px no-repeat;
 }

 .footer-lite {
    background: #036271 url(../images/lite-header-footer.png) 0px 0px no-repeat;
 }

 .carousel-control-prev-lite,
     .carousel-control-next-lite {
     color: $carouselColor;
     text-align: center;
 }

 .carousel-control-prev-lite:focus, .carousel-control-prev-lite:hover,
     .carousel-control-next-lite:focus,
     .carousel-control-next-lite:hover {
     color: $carouselColor;
     text-decoration: none;
 }

 .carousel-control-prev-icon-lite,
     .carousel-control-next-icon-lite {
     width: 20px;
     height: 20px;
     background: transparent no-repeat center center;
 }

 .carousel-control-prev-icon-lite {
     color: $inputIconColor;
 }

 .carousel-control-next-icon-lite {
     color: $inputIconColor;
 }

 /**
  * Data Table
  */

 .jqx-grid-pager-lite {
    border: none;
    border-top: 1px solid $dataTablePagerBorderColor;
    background-color: $dataTablePagerBackgroundColor;
 }

 .jqx-grid-column-header-lite, .jqx-grid-columngroup-header-lite {
     background-color: $dataTableHeaderBackgroundColor;
     color: $dataTableHeaderColor;
 }

 .jqx-icon-arrow-left-lite, .jqx-icon-arrow-left-hover-lite, .jqx-icon-arrow-left-selected-lite {
    background-position: center;
 }

 .jqx-icon-arrow-right-lite, .jqx-icon-arrow-right-hover-lite, .jqx-icon-arrow-right-selected-lite {
    background-position: center;
 }

 .jqx-grid-toolbar-lite {
     background-color: $dataTablePagerBackgroundColor;
 }

 .jqx-grid-lite {

    .jqx-grid-header-lite {
        border-width: 0 0 0 0;

        .jqx-grid-column-header-lite {
            background: $dataTableHeaderBackgroundColor;
            color: $dataTableHeaderColor;
            font-weight: bold;
            border: 1px solid $dataTableHeaderBorderColor;
            border-collapse: collapse;
        }
        .jqx-grid-columngroup-header-lite {
          border: 1px solid $dataTableHeaderBorderColor;
          border-top: 0;
        }
    }

    .jqx-grid-table-lite {
        border-collapse: collapse;

        .jqx-cell-lite {
            padding-left: 2px;
            padding-right: 2px;
            padding-top: 0;
            padding-bottom: 0;
            height: $dataTableCellHeight;
        }

        .jqx-grid-cell-hover-lite {
            border-color: $dataTableCellHoverBorderColor;
            background-color: $dataTableCellHoverBackgroundColor !important;
        }

        .jqx-grid-cell-selected-lite, .jqx-fill-state-pressed-lite {
            border-color: $dataTableCellSelectedBorderColor;
            background-color: $dataTableCellSelectedBackgroundColor !important;
            color: $dataTableCellSelectedColor;
        }
     }
 }

 /**
  * Table
  */

 ngc-table table.table-lite {
    border-collapse: collapse;
    border-spacing: 0;

    thead {
        background-color: $dataTableHeaderBackgroundColor;
        color: $dataTableHeaderColor;

        tr:first-child td:first-child {
            border-top-left-radius: 10px;
        }

        tr:first-child td:last-child {
            border-top-right-radius: 10px;
        }

        tr:last-child td:first-child {
            border-bottom-left-radius: 0px;
        }

        tr:last-child td:last-child {
            border-bottom-right-radius: 0px;
        }

        tr:first-child td {
            border-top-style: solid;
        }

        tr td:first-child {
            border-left-style: solid;
        }
    }
 }

/**
 * Edit Table
 */

ngc-edittable {

    table.table-lite {

        tbody tr:hover {
            border-color: $dataTableCellHoverBorderColor;
            background-color: $dataTableCellHoverBackgroundColor;
        }

        thead {
            background-color: $dataTableHeaderBackgroundColor;
            color: $dataTableHeaderColor;
        }

        tbody {
            tr.ui-state-selected {
                background-color: $dataTableCellSelectedBackgroundColor;
                border-color: $dataTableCellSelectedBorderColor;
                color: $dataTableCellSelectedColor;
            }
        }

        tfoot {
            tr {
                td {
                    background-color: $dataTablePagerBackgroundColor;
                }
            }
        }
    }
}

/**
 * Title Bar
 */

 .ui-title-bar-lite {
    background-color: rgba(242, 242, 242, 0.815);
 }

 .ui-button-titlebar-lite {
    color: rgb(88, 87, 87);
    background-color: transparent;
    background-image: none;
    border-color: #868e96;
 }

 .ui-button-titlebar-lite:hover {
    color: #17a2b8;
    background-color: transparent;
    border-color: #868e96;
 }

 .ui-button-titlebar-lite:focus, .ui-button-titlebar-lite.focus {
    box-shadow: 0 0 0 3px rgba(134, 142, 150, 0.5);
 }

 .ui-button-titlebar-lite.disabled, .ui-button-titlebar-lite:disabled {
    color: #868e96;
    background-color: transparent;
 }

 .ui-button-titlebar-lite:active, .ui-button-titlebar-lite.active,
 .show > .ui-button-titlebar-lite.dropdown-toggle {
    color: #17a2b8;
    background-color: transparent;
    border-color: #868e96;
 }

 /**
  * New Accordion
  */

.ui-accordion-lite .ui-accordion-header {
    background-color: $accordionHeaderBackgroundColor;
    color: $accordionHeaderColor;
    border: 1px solid $accordionHeaderBorderColor;
}

.ui-accordion-lite .ui-accordion-header.ui-state-active {
    background-color: $accordionExpandedHeaderBackgroundColor;
    color: $accordionExpandedHeaderColor;
    border: 1px solid $accordionExpandedHeaderBorderColor;
}

/**
 * New Tabs
 */

.ui-tabview-lite {
    padding: 0.0rem;
}

.ui-tabview-lite .ui-tabview-nav {
    margin: 0;
}

.ui-tabview-lite .ui-tabview-nav li {
    list-style: none;
    float: left;
    position: relative;
    margin: 0 0.125rem 1px 0;
    padding: 0;
    white-space: nowrap;
    background-color: $tabsTitleContainerBackgroundColor;
    color: $tabsTitleContainerColor;
    border: 1px solid $tabsTitleContainerBorderColor;
    border-radius: 10px 10px 0 0;
}

.ui-tabview-lite .ui-tabview-nav .ui-tabview-selected {
    background-color: $tabsTitleContainerSelectedBackgroundColor;
    color: $tabsTitleContainerSelectedColor;
    border: 1px solid $tabsTitleContainerSelectedBorderColor;
}

/**
 * Alpha Input
 */

 .ui-alphainput-lite input {
    background-color: $inputBackgroundColor;
    border: 1px solid $borderColor;
 }

/**
 * Alpha Numeric Input
 */

 .ui-alphanuminput-lite input {
    background-color: $inputBackgroundColor;
    border: 1px solid $borderColor;
 }

/**
 * Digit Input
 */

 .ui-digitinput-lite input {
    background-color: $inputBackgroundColor;
    border: 1px solid $borderColor;
 }

/**
 * Email Input
 */

 .ui-emailinput-lite input {
    background-color: $inputBackgroundColor;
    border: 1px solid $borderColor;
 }

/**
 * Filter Input
 */

 .ui-filterinput-lite input {
    background-color: $inputBackgroundColor;
    border: 1px solid $borderColor;
 }

/**
 * Flight Key Input
 */

 .ui-flightkeyinput-lite input {
    background-color: $inputBackgroundColor;
    border: 1px solid $borderColor;
 }

/**
 * Remarks Input
 */

 .ui-remarksinput-lite input {
    background-color: $inputBackgroundColor;
    border: 1px solid $borderColor;
 }

/**
 * Masked Input
 */

 .ui-maskedinput-lite input {
    background-color: $inputBackgroundColor;
    border: 1px solid $borderColor;
 }

 /**
  * Side Bar
  */

.ui-sidebar-left-help-lite {
    background-color: rgb(235, 243, 247);
    width: 75.0rem;
    border-right: 1px solid rgba(85, 107, 47, 0.753);
    box-shadow: 3px 3px rgba(85, 107, 47, 0.2);
}

.ui-sidebar-right-message-lite {
    background-color: #39CCCC;
    color: white;
    box-shadow: 3px 3px rgba(85, 107, 47, 0.2);
}

.ui-sidebar-right-chat-lite {
    background-color: #DDDDDD;
    width: 350px;
    color: #111111;
    box-shadow: 3px 3px rgba(85, 107, 47, 0.2);
}

.ui-sidebar-top-note-lite {
    background-color: #DDDDDD;
    height: 18.0rem;
    box-shadow: 3px 3px rgba(85, 107, 47, 0.2);
}

.ui-sidebar-bottom-lite {
    background-color: #AAAAAA;
}

.ui-sidebar-full-developer-lite {
    background-color: white;
}

 /**
  * Chat
  */

.ui-chat-lite {
    .ui-chat-input-lite {
        border: 1px solid #444;
        color: #444;
    }
    .ui-chat-callout-time {
        background-color: #DDDDDD;
        border: 1px solid $borderColor;
    }
}

 /**
  * Notification
  */

.ui-notification-lite {
    .ui-notification-callout-time {
        background-color: #DDDDDD;
        border: 1px solid $borderColor;
    }
}

/**
 * Button
 */

  /* Primary */

 .ui-button-primary-lite {
     border-radius: 15px;
     color: $primaryButtonColor;
     background-color: $primaryButtonBackgroundColor;
     background-image: none;
     border-color: $primaryButtonBorderColor;
     padding: 4px 12px;
     line-height: 1.42857143;
 }

 .ui-button-primary-lite:hover {
     background-image: linear-gradient($primaryButtonBackgroundColor, $primaryButtonHoverColor);
 }

 .ui-button-primary-lite:focus, .ui-button-primary-lite.focus {
     box-shadow: 0 0 0 3px $primaryButtonShadowColor;
 }

 /* Secondary */

 .ui-button-secondary-lite {
    border-radius: 15px;
    color: $secondaryButtonColor;
    background-color: $secondaryButtonBackgroundColor;
    background-image: none;
    border-color: $secondaryButtonBorderColor;
    padding: 4px 12px;
    line-height: 1.42857143;
 }

 .ui-button-secondary-lite:hover {
    color: $secondaryButtonColor;
    background-color: $secondaryButtonBackgroundColor;
    border-color: $secondaryButtonBorderColor;
 }

 .ui-button-secondary-lite:focus, .ui-button-secondary-lite.focus {
     box-shadow: 0 0 0 3px $secondaryButtonShadowColor;
 }

 /* Tertiary */

 .ui-button-tertiary-lite {
     border-radius: 15px;
     color: $tertiaryButtonBackgroundColor;
     background-color: transparent;
     background-image: none;
     border-color: $tertiaryButtonBorderColor;
     padding: 4px 12px;
     line-height: 1.42857143;
 }

 .ui-button-tertiary-lite:hover {
     color: $tertiaryButtonColor;
     background-color: $tertiaryButtonBackgroundColor;
     border-color: $tertiaryButtonBorderColor;
 }

 .ui-button-tertiary-lite:focus, .ui-button-tertiary-lite.focus {
     box-shadow: 0 0 0 3px $tertiaryButtonShadowColor;
 }

 .ui-button-tertiary-lite.disabled, .ui-button-tertiary-lite:disabled {
     color: $tertiaryButtonBackgroundColor;
     background-color: transparent;
 }

 /* Quaternary */

 .ui-button-quaternary-lite {
     border-radius: 5px;
     color: $quaternaryButtonBackgroundColor;
     background-color: transparent;
     background-image: none;
     border-color: $quaternaryButtonBorderColor;
     padding: 3px 7px 1px 4px;
     line-height: 1.42857143;
 }

 .ui-button-quaternary-lite:hover {
     color: $quaternaryButtonColor;
     background-color: $quaternaryButtonBackgroundColor;
     border-color: $quaternaryButtonBorderColor;
 }

 .ui-button-quaternary-lite:focus, .ui-button-quaternary-lite.focus {
     box-shadow: 0 0 0 3px $quaternaryButtonShadowColor;
 }

 .ui-button-quaternary-lite.disabled, .ui-button-quaternary-lite:disabled {
     color: $quaternaryButtonBackgroundColor;
     background-color: transparent;
 }

/**
 * Dialog
 */
.ui-dialog-lite .ui-dialog-titlebar-lite {
    border: 1px solid $windowHeaderBorderColor;
    background-color: $windowHeaderBackgroundColor;
    color: $windowHeaderTitleColor;
}