<form [formGroup]="summaryForm">
  <ngc-titlebar title="epouch.summary"></ngc-titlebar>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column [column]="2">
        <ngc-label label="g.agentCode"></ngc-label>
        <div>
          <ngc-input accessEnableOn="r" formControlName="agentCode" required></ngc-input>
        </div>
      </ngc-column>
      <ngc-column [column]="2">
        <ngc-label label="epouch.flight.departure"></ngc-label>
        <div>
          <ngc-datetimeinput accessEnableOn="r" [width]="140" formControlName="flightDepDate" required></ngc-datetimeinput>
          <!--<ngc-datetimeinput [width]="140" formControlName="fromDate"></ngc-datetimeinput>-->
        </div>
      </ngc-column>
      <ngc-column [column]="2" *ngIf="summaryListFlag">
        <ngc-label label="epouch.upload"></ngc-label>
        <div>
          <ngc-dropdownlist formControlName="ePouchUploaded" sourceId="Lying_ListAD$DnCompleteFlag" [width]="120"
            accessEnableOn='r'></ngc-dropdownlist>
          <!--<ngc-datetimeinput [width]="140" formControlName="toDate"></ngc-datetimeinput>-->
        </div>
      </ngc-column>
      <ngc-column [column]="2">
        <label>&nbsp;</label>
        <div>
          <ngc-button accessEnableOn="r" (click)="searchSummary()" label="g.search" iconType="search"></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
    <ngc-row *ngIf="summaryListFlag">
      <ngc-column>
        <ngc-datatable formArrayName="summaryListArray" (linkClick)="onClickLink($event)"
          [enablePageSizeHeight]="false">
          <ngc-data-column text="g.awbNumber" dataField="shipmentNumber" [width]="70" type="link" align="center"
            cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="epouch.upload" dataField="epouchUploaded" [width]="70" align="center"
            cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="epouch.date.time" dataField="epouchCreatedDateTime" [width]="70" align="center"
            cellsAlign="center">
          </ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>