<form [formGroup]="form">
  <!-- Card (Begin) -->
  <ngc-titlebar title="title.acceptance.service" (clear)="onClear($event)" (save)="onSave($event)"></ngc-titlebar>
  <!-- Card Heading (End) -->
  <ngc-container type="square">
    <ngc-row>
      <ngc-column column="2">
        <div>
          <ngc-label label="awb.awbnumber"></ngc-label>
        </div>
        <ngc-input formControlName="awbNumber"></ngc-input>
      </ngc-column>
      <ngc-column>
        <ngc-button label="g.search"></ngc-button>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="section">
    <ngc-row>
      <ngc-column column="1">
        <div>
          <ngc-label label="awb.acceptance.type"></ngc-label>
        </div>
        <ngc-display width="100%" formControlName="eAcceptanceType">
        </ngc-display>
      </ngc-column>
      <ngc-column column="1">
        <div>
          <ngc-label label="awb.acceptance.servicenumber"></ngc-label>
        </div>
        <ngc-display width="100%" formControlName="serviceNumber">
        </ngc-display>
      </ngc-column>
      <ngc-column column="1">
        <div>
          <ngc-label label="g.svc"></ngc-label>
        </div>
        <ngc-display formControlName="svc">
        </ngc-display>
      </ngc-column>
      <ngc-column column="1">
        <div>
          <ngc-label label="awb.awbnumber"></ngc-label>
        </div>
        <ngc-display formControlName="awbNumber"></ngc-display>
      </ngc-column>
      <ngc-column>
        <div>
          <ngc-label label="awb.another.awb.number"></ngc-label>
        </div>
        <ngc-dropdownlist width="200%" formControlName="anotherAwbNumber"></ngc-dropdownlist>
      </ngc-column>
      <ngc-column column="4">
        <ngc-container type="square">
          <ngc-row>
            <ngc-column>
              <div>
                <ngc-label label="awb.accepted.pieces"></ngc-label>
              </div>
              <ngc-piecesdisplay formControlName="acceptedPieces">
              </ngc-piecesdisplay>
            </ngc-column>
            <ngc-column>
              <div>
                <ngc-label label="awb.accepted.weight"></ngc-label>
              </div>
              <ngc-weightdisplay formControlName="acceptedWeight">
              </ngc-weightdisplay>
            </ngc-column>
            <ngc-column>
              <div>
                <ngc-label label="awb.weight.difference"></ngc-label>
              </div>
              <ngc-display formControlName="weightDifference">
              </ngc-display>
            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="section">
    <ngc-row>
      <ngc-column>
        <div>
          <ngc-label label="awb.destination"></ngc-label>
        </div>
        <ngc-display width="100%" formControlName="destination">
        </ngc-display>
      </ngc-column>
      <ngc-column>
        <div>
          <ngc-label label="awb.carrier"></ngc-label>
        </div>
        <ngc-display width="100%" formControlName="carrier">
        </ngc-display>
      </ngc-column>
      <ngc-column>
        <div>
          <ngc-label label="g.shc"></ngc-label>
        </div>
        <ngc-display width="100%" formControlName="shc">
        </ngc-display>
      </ngc-column>
      <ngc-column>
        <div>
          <ngc-label label="export.weighing.uld.bup"></ngc-label>
        </div>
        <ngc-display width="100%" formControlName="uldBup">
        </ngc-display>
      </ngc-column>
      <ngc-column>
        <div>
          <ngc-label label="awb.screened.pieces"></ngc-label>
        </div>
        <ngc-display width="100%" formControlName="screenedPieces">
        </ngc-display>
      </ngc-column>
      <ngc-column>
        <div>
          <ngc-label label="awb..dry.ice.weight"></ngc-label>
        </div>
        <ngc-display width="100%" formControlName="dryIceWeight">
        </ngc-display>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column column="2">
        <div>
          <ngc-label label="awb.weighing.scale"></ngc-label>
        </div>
        <ngc-display width="100%" formControlName="weighingScale">
        </ngc-display>
      </ngc-column>
      <ngc-column column="2">
        <div>
          <ngc-label label="g.date.and.time"></ngc-label>
        </div>
        <ngc-display width="100%" formControlName="dateTime">
        </ngc-display>
      </ngc-column>
      <ngc-column column="2">
        <ngc-button label="awb.start.weighing"></ngc-button>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column column="2">
        <ngc-button label="awb.delay.acceptance"></ngc-button>
      </ngc-column>
      <ngc-column column="2">
        <ngc-button label="awb.print.weighing.slip"></ngc-button>
      </ngc-column>
      <ngc-column column="2">
        <ngc-button label="awb.return.document"></ngc-button>
      </ngc-column>
      <ngc-column column="2">
        <ngc-button label="awb.part.confirm"></ngc-button>
      </ngc-column>
      <ngc-column column="2">
        <ngc-button label="awb.finalize.weight"></ngc-button>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="header">
    <ngc-row>
      <ngc-column>
        <ngc-tabs>
          <div ngc-tab-card title='awb.cargo.details'>
            <ngc-container>
              <ngc-row>
                <ngc-column column="9">
                </ngc-column>
                <ngc-column>
                  <ngc-button label="awb.add.location"></ngc-button>
                </ngc-column>
                <ngc-column>
                  <ngc-button label="g.addRow"></ngc-button>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>
          <div ngc-tab-card title='awb.dimensions'>
            <ngc-container>
              <ngc-row>
                <ngc-column column="6">
                  <ngc-container type="heading">
                    <ngc-row>
                      <ngc-column>
                        <ngc-label label="awb.fwb.details"></ngc-label>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column>
                        <ngc-table>
                          <thead>
                            <tr>
                              <th>
                                <ngc-label label="awb.pieces"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.length"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.width"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.height"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.volume"></ngc-label>
                              </th>
                            </tr>
                          </thead>
                          <tbody formArrayName="fwbDetails">
                            <tr *ngFor="let item of form.controls.fwbDetails.controls; let index=index" [formGroupName]="index">
                              <td>
                                <ngc-display formControlName="pieces"></ngc-display>
                              </td>
                              <td>
                                <ngc-display formControlName="length"></ngc-display>
                              </td>
                              <td>
                                <ngc-display formControlName="width"></ngc-display>
                              </td>
                              <td>
                                <ngc-display formControlName="height"></ngc-display>
                              </td>
                              <td>
                                <ngc-display formControlName="volume"></ngc-display>
                              </td>
                            </tr>
                          </tbody>
                        </ngc-table>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
                <ngc-column column="6">
                  <ngc-container type="heading">
                    <ngc-row>
                      <ngc-column>
                        <ngc-label label="awb.actual.details"></ngc-label>
                      </ngc-column>
                      <ngc-column>
                        <ngc-container>
                          <ngc-row>
                            <ngc-column>
                              <ngc-container>
                                <ngc-row>
                                  <ngc-column>
                                    <div>
                                      <ngc-label label="awb.unitCode"></ngc-label>
                                    </div>
                                  </ngc-column>
                                </ngc-row>
                                <ngc-row>
                                  <ngc-column>
                                    <ngc-radiobutton formControlName="unitCode1" inline="true" [groupName]="'unitCode'"></ngc-radiobutton>
                                    <ngc-label label="awb.cmt"></ngc-label>
                                  </ngc-column>
                                  <ngc-column>
                                    <ngc-radiobutton formControlName="unitCode2" inline="true" [groupName]="'unitCode'"></ngc-radiobutton>
                                    <ngc-label label="awb.inh"></ngc-label>
                                  </ngc-column>
                                </ngc-row>
                              </ngc-container>
                            </ngc-column>
                            <ngc-column>
                              <ngc-container>
                                <ngc-row>
                                  <ngc-column>
                                    <div>
                                      <ngc-label label="awb.volumeCode"></ngc-label>
                                    </div>
                                  </ngc-column>
                                </ngc-row>
                                <ngc-row>
                                  <ngc-column>
                                    <ngc-radiobutton formControlName="volumeCode1" inline="true" [groupName]="'volumeCode'"></ngc-radiobutton>
                                    <ngc-label label="awb.cmt"></ngc-label>
                                  </ngc-column>
                                  <ngc-column>
                                    <ngc-radiobutton formControlName="volumeCode2" inline="true" [groupName]="'volumeCode'"></ngc-radiobutton>
                                    <ngc-label label="awb.inh"></ngc-label>
                                  </ngc-column>
                                </ngc-row>
                              </ngc-container>
                            </ngc-column>
                          </ngc-row>
                          <ngc-row>
                            <ngc-column column="8"></ngc-column>
                            <ngc-column>
                              <ngc-button label="g.addRow"></ngc-button>
                            </ngc-column>
                          </ngc-row>
                        </ngc-container>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column>
                        <ngc-table>
                          <thead>
                            <tr>
                              <th>
                                <ngc-label label="awb.length"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.width"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.height"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.pieces"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="awb.volume"></ngc-label>
                              </th>
                              <th>
                                <ngc-label></ngc-label>
                              </th>
                            </tr>
                          </thead>
                          <tbody formArrayName="actualDetails">
                            <tr *ngFor="let item of form.controls.actualDetails.controls; let index=index" [formGroupName]="index">
                              <td>
                                <ngc-input formControlName="length"></ngc-input>
                              </td>
                              <td>
                                <ngc-input formControlName="width"></ngc-input>
                              </td>
                              <td>
                                <ngc-input formControlName="height"></ngc-input>
                              </td>
                              <td>
                                <ngc-input formControlName="pieces"></ngc-input>
                              </td>
                              <td>
                                <ngc-input formControlName="volume"></ngc-input>
                              </td>
                              <td>
                                <ngc-button label="awb.get.dimension"></ngc-button>
                              </td>
                            </tr>
                          </tbody>
                        </ngc-table>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column column="4">
                        <ngc-button label="awb.get.volumetric.weight"></ngc-button>
                      </ngc-column>
                      <ngc-column>
                        <div>
                          <ngc-label label="awb.total.volumetric.weight"></ngc-label>
                        </div>
                        <ngc-weightdisplay formControlName="totalVolumetricWeight"></ngc-weightdisplay>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>
          <div ngc-tab-card title='Remarks'>
            <ngc-container>
              <ngc-row>
                <ngc-column>
                  <ngc-table>
                    <thead>
                      <tr>
                        <th>
                          <ngc-label label="awb.remark.type"></ngc-label>
                        </th>
                        <th>
                          <ngc-label label="export.details"></ngc-label>
                        </th>
                        <th width="20%">
                        </th>
                      </tr>
                    </thead>
                    <tbody formArrayName="remark">
                      <tr *ngFor="let item of form.controls.remark.controls; let index=index" [formGroupName]="index">
                        <td>
                          <ngc-display formControlName="remarkType"></ngc-display>
                        </td>
                        <td>
                          <ngc-display formControlName="details"></ngc-display>
                        </td>
                        <td>
                          <ngc-link type="link">
                            <ngc-icon type="delete" value="true" true-color="grey"></ngc-icon>
                            <ngc-label label="g.delete"></ngc-label>
                          </ngc-link>
                        </td>
                      </tr>
                    </tbody>
                  </ngc-table>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>
          <div ngc-tab-card title='g.action.list'>
            <ngc-container type="heading">
              <ngc-row>
                <ngc-column>
                  <ngc-label label="awb.cpe.stop.check"></ngc-label>
                  <ngc-datatable formArrayName="stopCheckDetails" [height]="200">
                    <ngc-data-column text="g.details" dataField="details" [width]='700'></ngc-data-column>
                  </ngc-datatable>
                </ngc-column>
              </ngc-row>
            </ngc-container>
            <ngc-container type="heading">
              <ngc-row>
                <ngc-column>
                  <ngc-label label="awb.cpe.warning.check"></ngc-label>
                  <ngc-table>
                    <thead>
                      <tr>
                        <th>
                          <ngc-label label="export.details"></ngc-label>
                        </th>
                        <th width="20%">
                          <ngc-label label="g.status"></ngc-label>
                        </th>
                      </tr>
                    </thead>
                    <tbody formArrayName="warningCheck">
                      <tr *ngFor="let item of form.controls.warningCheck.controls; let index=index" [formGroupName]="index">
                        <td>
                          <ngc-display formControlName="details"></ngc-display>
                        </td>
                        <td>
                          <ngc-dropdownlist width="100%" formControlName="status"></ngc-dropdownlist>
                        </td>
                      </tr>
                    </tbody>
                  </ngc-table>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>
        </ngc-tabs>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>