.wrapper {
position: relative;
width: auto;
overflow: hidden;
padding:0;
margin:0;
}

.right-panel {
width: 37%;
float: right;
padding:0;
margin:0;
}

.left-panel  {
float: left;
width: 62%;
padding:0;
margin:0;
}

.bottom-panel {
float: left;
width: 52%;
}

.in-panel  {
float: left;
width: 49%;
padding:0;
margin:0;
}

.out-panel {
width: 49%;
float: right;
padding:0;
margin:0;
}

.column{
    // background-color: white;
    border: 0.5px solid black;
    padding: 2px;
    margin-right: -2px;
}
