<form [formGroup]="form">
  <!-- Card (Begin) -->
  <ngc-titlebar title="exp.acceptance.service" (clear)="onClear($event)" (save)="onSave($event)"
    (cancel)="onCancel($event)"></ngc-titlebar>
  <!-- Card Heading (End) -->
  <ngc-container type="section">
    <ngc-row>
      <ngc-column column="3">
        <ng-container formGroupName="acceptanceService">
          <ngc-row>
            <ngc-column column="6">
              <div>
                <ngc-label label="export.eacceptanceType"></ngc-label>
              </div>
              <ngc-display sourceId="CARGO_ACCEPTANCE_TYPE" sourceCategory="dropdown" formControlName="acceptanceType">
              </ngc-display>
            </ngc-column>
            <ngc-column column="6">
              <div>
                <ngc-label label="service.Number"></ngc-label>
              </div>
              <ngc-display width="100%" formControlName="serviceNumber">
              </ngc-display>
            </ngc-column>
          </ngc-row>
        </ng-container>
      </ngc-column>
      <ngc-column column="4">
        <ng-container formGroupName="shipment">
          <ng-container formGroupName="flight">
            <ngc-row>
              <ngc-column column="5">
                <div>
                  <ngc-label label="exp.FirstBookedFlight"></ngc-label>
                </div>
                <ngc-input formControlName="flightNumber" (ngModelChange)="onChangeFlightdetails()">
                </ngc-input>
              </ngc-column>
              <ngc-column column="3">
                <div>
                  <ngc-label label="flight.date"></ngc-label>
                </div>
                <ngc-datetimeinput width="100px" formControlName="flightDate" (ngModelChange)="onChangeFlightdetails()"
                  [onlyDate]="true">
                </ngc-datetimeinput>
              </ngc-column>
              <ngc-column column="2">
                <div>
                  <ngc-label label="flight.segment"></ngc-label>
                </div>
                <ngc-display width="100%" formControlName="segment">
                </ngc-display>
              </ngc-column>
              <ngc-column column="2">
                <div>
                  <ngc-label label="flight.std"></ngc-label>
                </div>
                <ngc-display width="100%" formControlName="std">
                </ngc-display>
              </ngc-column>
            </ngc-row>
          </ng-container>
        </ng-container>
      </ngc-column>
      <ngc-column>
        <ngc-button label="exp.acceptance.create.add.service" (click)="onClickOfCreateAdditionalServices($event)">
        </ngc-button>
      </ngc-column>
      <ngc-column>
        <ngc-button label="exp.acceptance.start.freight.acceptence" (click)="onClickOfFreightAcceptance($event)">
        </ngc-button>
      </ngc-column>
     
    </ngc-row>
  </ngc-container>
  <ngc-container type="header">
    <ngc-row>
      <ngc-column column="8"></ngc-column>
      <!-- AWB Dropdown addedShipmentList-->
      <ngc-column *ngIf="eStartButtonFlag">
        <ngc-label label='export.book.addShipment'></ngc-label>
        <ngc-dropdownlist [source]="addedShipmentList" [width]="120" formControlName="shipmentNumberForSelection"
          (ngModelChange)="onClickAwbDropDown($event)">
        </ngc-dropdownlist>
      </ngc-column>
      <ngc-column *ngIf="eStartButtonFlag">
        <ngc-button value='exp.acceptance.start.acceptance' (click)="startEacceptanceParent()"></ngc-button>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-tabs>
          <div ngc-tab-card title='exp.acceptance.awb.info' [indicatorIconType]="awbInvalideIndicator"
            indicatorIconColor="red">
            <ngc-container type="heading">
              <ngc-row>
                <ngc-column>
                  <ngc-container title="export.fwbDetails" type="section">
                    <ngc-row>
                      <ngc-column column="10">
                        <ng-container formGroupName="fwbInfo">
                          <ngc-row>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.fwb.agent"></ngc-label>
                              </div>
                              <ngc-display formControlName="agent">
                              </ngc-display>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.destination"></ngc-label>
                              </div>
                              <ngc-display width="100%" formControlName="destination" required>
                              </ngc-display>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.pieces"></ngc-label>
                              </div>
                              <ngc-piecesdisplay formControlName="pieces">
                              </ngc-piecesdisplay>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.weight"></ngc-label>
                              </div>
                              <ngc-weightdisplay formControlName="weight">
                              </ngc-weightdisplay>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.nature.of.goods"></ngc-label>
                              </div>
                              <ngc-display width="100%" formControlName="natureOfGoods">
                              </ngc-display>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.rcar"></ngc-label>
                              </div>
                              <ngc-display width="100%" formControlName="rcarTypeCode">
                              </ngc-display>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="import.ChargeCode"></ngc-label>
                              </div>
                              <ngc-display width="100%" formControlName="chargeCode">
                              </ngc-display>
                            </ngc-column>
                          </ngc-row>
                        </ng-container>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                  <ngc-container title="exp.acceptance.shipment.info" type="section">
                    <ngc-row>
                      <ngc-column column="12">
                        <ng-container type="tab" formGroupName="shipment">
                          <ngc-row>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.awb.number"></ngc-label>
                              </div>
                              <ngc-input width="90%" formControlName="shipmentNumber" [disabled]="eStartButtonFlag"
                                required>
                              </ngc-input>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="awb.origin"></ngc-label>
                              </div>
                              <ngc-lov formControlName="origin" [width]="45" title='ORIGIN' [validOnly]='true'
                                upperCase="true" dataField="code" displayMember="code" sourceId="APT" required>
                                <ngc-data-column text="g.code" dataField="code" [width]="100"></ngc-data-column>
                                <ngc-data-column text="desc" dataField="desc" [width]="150"></ngc-data-column>
                              </ngc-lov>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.destination"></ngc-label>
                              </div>
                              <ngc-lov formControlName="destination" [width]="45" title='awb.destination' [validOnly]='true'
                                upperCase="true" dataField="code" displayMember="code" sourceId="APT" required>
                                <ngc-data-column text="g.code" dataField="code" [width]="100"></ngc-data-column>
                                <ngc-data-column text="desc" dataField="desc" [width]="150"></ngc-data-column>
                              </ngc-lov>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.1st.off.point"></ngc-label>
                              </div>
                              <ngc-lov formControlName="firstOffPoint" [width]="45" title='awb.first.off.point'
                                [validOnly]='true' upperCase="true" dataField="code" displayMember="code" sourceId="APT"
                                required>
                                <ngc-data-column text="g.code" dataField="code" [width]="100"></ngc-data-column>
                                <ngc-data-column text="desc" dataField="desc" [width]="150"></ngc-data-column>
                              </ngc-lov>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.carrier"></ngc-label>
                              </div>
                              <ngc-lov formControlName="carrier" [width]="45" title='CARRIER' upperCase="true"
                                [validOnly]='true' dataField="code" displayMember="code" sourceId="CARRIER" required>
                                <ngc-data-column text="g.code" dataField="code" [width]="100"></ngc-data-column>
                                <ngc-data-column text="desc" dataField="desc" [width]="150"></ngc-data-column>
                              </ngc-lov>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.pieces"></ngc-label>
                              </div>
                              <ngc-piecesinput formControlName="pieces" required>
                              </ngc-piecesinput>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.weight"></ngc-label>
                              </div>
                              <ngc-weightinput formControlName="weight" required></ngc-weightinput>

                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.nature.of.goods"></ngc-label>
                              </div>
                              <ngc-input width="90%" formControlName="natureOfGoods" required>
                              </ngc-input>
                            </ngc-column>
                          </ngc-row>
                        </ng-container>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column>
                        <ng-container formGroupName="shipment">
                          <ngc-row>
                            <ngc-column column="1">
                              <div>
                                <ngc-label label="exp.acceptance.rcar"></ngc-label>
                              </div>
                              <ngc-display *ngIf="displayPreLoadgeFlag" width="130%" formControlName="rcarTypeCode"
                                required>
                              </ngc-display>
                              <ngc-dropdownlist *ngIf="inputPreLoadgeFlag" width="130%" formControlName="rcarTypeCode"
                                [dropDownWidth]="70" sourceId="Admin$Admin_Rcar" required>
                              </ngc-dropdownlist>
                            </ngc-column>
                            <ngc-column column="2">
                              <div>
                                <ngc-label label="import.ChargeCode"></ngc-label>
                              </div>
                              <ngc-display *ngIf="displayPreLoadgeFlag" formControlName="chargeCode" width="200">
                              </ngc-display>
                              <ngc-dropdownlist *ngIf="inputPreLoadgeFlag" formControlName="chargeCode" width="200"
                                [displayBoth]="true" [dropDownWidth]="200" sourceId="AWB$Charge_Code">
                              </ngc-dropdownlist>
                            </ngc-column>
                            <ngc-column column="2">
                              <div>
                                <ngc-label label="exp.acceptance.temp.range"></ngc-label>
                              </div>
                              <ngc-dropdownlist width="150" sourceId="Admin$TemperatureRange"
                                formControlName="requestedTemperatureRange" [dropDownWidth]="140"></ngc-dropdownlist>
                            </ngc-column>
                            <ngc-column column="2">
                              <div>
                                <ngc-label label="exp.acceptance.awbreceived"></ngc-label>
                              </div>
                              <ngc-dropdownlist formControlName="awbReceived" sourceId="Acceptance_Type$AWBReceived"
                                width="150" [dropDownWidth]="140"></ngc-dropdownlist>
                            </ngc-column>
                            <ngc-column column="1">
                              <div>
                                <ngc-label label="exp.acceptance.pouch"></ngc-label>
                              </div>
                              <ngc-dropdownlist formControlName="pouchReceived" sourceId="Cargo_Handling$Cargo_Handling"
                                width="130%" [dropDownWidth]="70"></ngc-dropdownlist>
                            </ngc-column>
                            <ngc-column column="2">
                              <div>
                                <ngc-label label="exp.acceptance.trucktype"></ngc-label>
                              </div>
                              <ngc-dropdownlist formControlName="truckType" sourceId="Acceptance_Type$Truck Type"
                                width="170" [dropDownWidth]="150"></ngc-dropdownlist>
                            </ngc-column>
                            <ngc-column>
                              <div>
                                <ngc-label label="g.console"></ngc-label>
                              </div>
                              <ngc-checkbox formControlName="console"></ngc-checkbox>
                            </ngc-column>
                            <ngc-column>
                            </ngc-column>
                          </ngc-row>
                          <ngc-column>
                            <ngc-container type="section">
                              <ngc-row formArrayName="shc">
                                <ngc-column column="1"
                                  *ngFor="let shcitem of form.get('shipment.shc').controls; let index=index;"
                                  [formGroupName]="index">
                                  <ngc-lov formControlName="code" [validOnly]='false' [width]="45" title='g.list.of.shc'
                                    upperCase="true" dataField="code" displayMember="code" sourceId="SHC_WITH_GROUP"
                                    (select)="onSelectSHCCOU($event,index)">
                                    <ngc-data-column text="g.code" dataField="code" [width]="100"></ngc-data-column>
                                    <ngc-data-column text="desc" dataField="desc" [width]="150"></ngc-data-column>
                                  </ngc-lov>
                                </ngc-column>
                              </ngc-row>
                            </ngc-container>
                          </ngc-column>
                        </ng-container>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                  <ngc-container>
                    <ngc-row>
                      <ngc-column column="6">
                        <ngc-container title="exp.acceptance.generated.tag" *ngIf="couSHCFlag">
                          <ngc-row>
                            <ngc-column column="2">
                              <div>
                                <ngc-label label="from"></ngc-label>
                              </div>
                              <ngc-input width="70%" formControlName="startTag"></ngc-input>
                            </ngc-column>
                            <ngc-column column="2">
                              <div>
                                <ngc-label label="masters.to"></ngc-label>
                              </div>
                              <ngc-input width="70%" formControlName="endTag"></ngc-input>
                            </ngc-column>
                            <ngc-column>
                              <ngc-button label="exp.acceptance.generated" (click)="genarateTag()"></ngc-button>
                            </ngc-column>
                          </ngc-row>
                          <ngc-row>
                          </ngc-row>
                          <ngc-row>
                            <ngc-column column="6">
                              <ngc-table>
                                <thead>
                                  <tr>
                                    <th>
                                      <ngc-label label="si.tagid"></ngc-label>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      <ngc-taginput formControlName="generatedTags"></ngc-taginput>
                                    </td>
                                  </tr>
                                </tbody>
                              </ngc-table>
                            </ngc-column>
                          </ngc-row>
                          <ngc-row>
                            <!-- <ngc-column>
                              <ngc-button label="g.save"></ngc-button>
                            </ngc-column> -->
                          </ngc-row>
                        </ngc-container>
                      </ngc-column>
                      <ngc-column column="6">
                        <ngc-container title="exp.acceptance.xps.tag" *ngIf="xpsSHCFlag">
                          <ngc-row>
                            <ngc-column column="2">
                              <div>
                                <ngc-label label="exp.acceptance.xps.tag.pieces"></ngc-label>
                              </div>
                              <ngc-display width="70%" formControlName="totalTagPieces"></ngc-display>
                            </ngc-column>
                            <ngc-column column="2">
                              <div>
                                <ngc-label label="remaining"></ngc-label>
                              </div>
                              <ngc-display width="70%" formControlName="remainingPieces"></ngc-display>
                            </ngc-column>
                          </ngc-row>
                          <ngc-row>
                            <ngc-column column="6">
                              <ngc-button label="g._add" (click)="onAddxpsTag()"></ngc-button>
                            </ngc-column>
                          </ngc-row>
                          <ngc-row>
                            <ngc-column column="6">
                              <ngc-table>
                                <thead>
                                  <tr>
                                    <th>
                                      <ngc-label label="si.tagid"></ngc-label>
                                    </th>
                                    <th>
                                      <ngc-label label="si.tagpieces"></ngc-label>
                                    </th>
                                    <th>
                                      <ngc-label label="g.delete"></ngc-label>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody formArrayName="xpsTag">
                                  <tr *ngFor="let item of form.controls.xpsTag.controls; let index=index"
                                    [formGroupName]="index">
                                    <td>
                                      <ngc-input formControlName="tagId"></ngc-input>
                                    </td>
                                    <td>
                                      <ngc-piecesinput formControlName="pieces"></ngc-piecesinput>
                                    </td>
                                    <td>
                                      <ngc-link (linkClick)="onDeletexpsTag(index)" iconType="delete">
                                        <ngc-i18n value="g.delete"></ngc-i18n>
                                      </ngc-link>
                                    </td>
                                  </tr>
                                </tbody>
                              </ngc-table>
                            </ngc-column>
                          </ngc-row>
                          <ngc-row>
                            <ngc-column>
                              <ngc-button label="exp.acceptance.print.rfid.tag"></ngc-button>
                            </ngc-column>
                          </ngc-row>
                        </ngc-container>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>
          <div ngc-tab-card title='exp.acceptance.action.list'>
            <!-- <br/>
            <br/>
            <strong>YET TO IMPLEMENT</strong> -->
            <ngc-container type="heading" formGroupName="ruleExecutionDetails">
              <ngc-row>
                <ngc-column>
                  <ngc-container type="box" title="awb.cpe.info.check">
                    <ngc-row>
                      <ngc-column>
                        <ngc-table>
                          <thead>
                            <tr>
                              <th>
                                <!-- shipmentNumber -->
                                <ngc-label label="awb.awbnumber"></ngc-label>
                              </th>
                              <th>
                                <!-- processAreaName -->
                                <ngc-label label="awb.cpe.process.area.name"></ngc-label>
                              </th>
                              <!-- processor processorName -->
                             
                              <th>
                                <!-- ruleFailureErrorMessage -->
                                <ngc-label label="awb.cpe.message"></ngc-label>
                              </th>
                              <th>
                                <!-- actionType -->
                                <ngc-label label="awb.cpe.action.type"></ngc-label>
                              </th>
                            </tr>
                          </thead>
                          <tbody formArrayName="execInfoList">
                            <tr
                              *ngFor="let item of form.get('ruleExecutionDetails.execInfoList').controls; let index=index"
                              [formGroupName]="index">
                              <td>
                                <ngc-display formControlName="shipmentNumber"></ngc-display>
                              </td>
                              <td>
                                <ngc-display formControlName="processAreaName"></ngc-display>
                              </td>
                              <!--<td>
                                <ngc-display formControlName="processor.processorName"></ngc-display>
                              </td>-->
                              <td>
                                <ngc-display formControlName="failureMessage"></ngc-display>
                              </td>
                              <td>
                                <ngc-display formControlName="actionType"></ngc-display>
                              </td>
                            </tr>
                          </tbody>
                        </ngc-table>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
              </ngc-row>
              <ngc-row>
                <ngc-column>
                  <ngc-container type="box" title="awb.cpe.warning.check">
                    <ngc-row>
                      <ngc-column>
                        <ngc-table>
                          <thead>
                            <tr>
                              <th>
                                <!-- shipmentNumber -->
                                <ngc-label label="awb.awbnumber"></ngc-label>
                              </th>
                              <th>
                                <!-- processAreaName -->
                                <ngc-label label="awb.cpe.process.area.name"></ngc-label>
                              </th>
                              <!-- processor processorName -->
                            
                              <th>
                                <!-- ruleFailureErrorMessage -->
                                <ngc-label label="awb.cpe.message"></ngc-label>
                              </th>
                              <th>
                                <!-- actionType -->
                                <ngc-label label="awb.cpe.action.type"></ngc-label>
                              </th>
                            </tr>
                          </thead>
                          <tbody formArrayName="execWarnList">
                            <tr
                              *ngFor="let item of form.get('ruleExecutionDetails.execWarnList').controls; let index=index"
                              [formGroupName]="index">
                              <td>
                                <ngc-display formControlName="shipmentNumber"></ngc-display>
                              </td>
                              <td>
                                <ngc-display formControlName="processAreaName"></ngc-display>
                              </td>
                              <!-- <td>
                                <ngc-display formControlName="processor.processorName"></ngc-display>
                              </td> -->
                              <td>
                                <ngc-display formControlName="ruleFailureErrorMessage"></ngc-display>
                              </td>
                              <td>
                                <ngc-display formControlName="actionType"></ngc-display>
                              </td>
                            </tr>
                          </tbody>
                        </ngc-table>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                  <ngc-container type="box" title="awb.cpe.error.check">
                    <ngc-row>
                      <ngc-column>
                        <ngc-table>
                          <thead>
                            <tr>
                              <th>
                                <!-- shipmentNumber -->
                                <ngc-label label="awb.awbnumber"></ngc-label>
                              </th>
                              <th>
                                <!-- processAreaName -->
                                <ngc-label label="awb.cpe.process.area.name"></ngc-label>
                              </th>
                              <!-- processor processorName -->
                            
                              <th>
                                <!-- ruleFailureErrorMessage -->
                                <ngc-label label="awb.cpe.message"></ngc-label>
                              </th>
                              <th>
                                <!-- actionType -->
                                <ngc-label label="awb.cpe.action.type"></ngc-label>
                              </th>
                            </tr>
                          </thead>
                          <tbody formArrayName="execErrorList">
                            <tr
                              *ngFor="let item of form.get('ruleExecutionDetails.execErrorList').controls; let index=index"
                              [formGroupName]="index">
                              <td>
                                <ngc-display formControlName="shipmentNumber"></ngc-display>
                              </td>
                              <td>
                                <ngc-display formControlName="processAreaName"></ngc-display>
                              </td>
                              <!--<td>
                                <ngc-display formControlName="processor.processorName"></ngc-display>
                              </td>-->
                              <td>
                                <ngc-display formControlName="ruleFailureErrorMessage"></ngc-display>
                              </td>
                              <td>
                                <ngc-display formControlName="actionType"></ngc-display>
                              </td>
                            </tr>
                          </tbody>
                        </ngc-table>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>
          <div ngc-tab-card title='exp.acceptance.storage.and.dgweight' [indicatorIconType]="storageInvalideIndicator"
            indicatorIconColor="red">
            <!-- <div ngc-tab-card title='exp.acceptance.storage.and.dgweight'> -->
            <ngc-container>
              <ngc-row>
                <ngc-column column="6">
                  <ngc-container title="exp.acceptance.storage.storage.charges">
                    <ngc-row>
                      <ngc-column formGroupName="shipment" column="2">
                        <div>
                          <ngc-label label="exp.acceptance.total.pieces"></ngc-label>
                        </div>
                        <ngc-piecesdisplay formControlName="pieces">
                        </ngc-piecesdisplay>
                      </ngc-column>
                      <ngc-column formGroupName="shipment">
                        <div>
                          <ngc-label label="exp.acceptance.total.weight"></ngc-label>
                        </div>
                        <ngc-weightdisplay formControlName="weight"></ngc-weightdisplay>
                      </ngc-column>
                      <ngc-column column="2">
                        <ngc-button label="g._add" (click)="onAddStorage()"></ngc-button>
                      </ngc-column>

                    </ngc-row>
                    <ngc-row>
                      <ngc-column>
                        <ngc-table width="400">
                          <thead>
                            <tr>
                              <th width="30%">
                                <ngc-label label="g.type"></ngc-label>
                              </th>
                              <th width="60%">
                                <ngc-label label="exp.acceptance.weight.gross.weight"></ngc-label>
                              </th>
                              <th width="40%">
                                <ngc-label label=""></ngc-label>
                              </th>
                            </tr>
                          </thead>
                          <tbody formArrayName="storageCharge">
                            <tr *ngFor="let item of form.controls.storageCharge.controls; let index=index"
                              [formGroupName]="index">
                              <td>
                                <ngc-dropdownlist sourceId="SHC_CODE_WH" sourceType="query" label="g.type"
                                  formControlName="type"
                                  [disabled]="this.form.get(['storageCharge', index, 'required']).value">
                                </ngc-dropdownlist>
                              </td>
                              <td>
                                <ngc-weightinput formControlName="weight" required></ngc-weightinput>
                              </td>
                              <td>
                                <ngc-link (linkClick)="onDeleteStorage(index)" iconType="delete">
                                  <ngc-i18n value="g.delete"></ngc-i18n>
                                </ngc-link>
                              </td>
                            </tr>
                          </tbody>
                        </ngc-table>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                  <form [formGroup]="form1">
                    <ngc-container>
                      <ngc-row>
                        <ngc-column column="3">
                          <ngc-label label=""></ngc-label>
                        </ngc-column>
                        <ngc-column column="3">
                          <div>
                            <ngc-label label='exp.acceptance.total.gross.weight'></ngc-label>
                          </div>
                          <ngc-weightdisplay formControlName="totalExportGrossWeight"></ngc-weightdisplay>
                        </ngc-column>
                      </ngc-row>
                    </ngc-container>
                  </form>
                </ngc-column>
                <ngc-column column="6">
                  <ngc-container title="exp.acceptance.handling.handling.information" *ngIf="dgnSHCFlag">
                    <ngc-row>
                      <ngc-column column="6">
                        <ng-container formGroupName="shipment">
                          <ngc-row>
                            <ngc-column>
                              <div>
                                <ngc-label label="exp.acceptance.weight.accepted.weight"></ngc-label>
                              </div>
                              <ngc-weightinput formControlName="dgAcceptedWeight">
                              </ngc-weightinput>
                            </ngc-column>
                          </ngc-row>
                        </ng-container>
                      </ngc-column>
                      <ngc-column>
                        <ngc-checkbox formControlName="waiveDryIceWeight"></ngc-checkbox>
                        <ngc-label label="exp.acceptance.dry.ice"></ngc-label>
                        <ngc-table>
                          <thead>
                            <tr>
                              <th width="30%">
                                <ngc-label label="exp.acceptance.pieces"></ngc-label>
                              </th>
                              <th width="50%">
                                <ngc-label label="export.dryIceWeight"></ngc-label>
                              </th>
                              <th width="50%">
                                <ngc-label label=""></ngc-label>
                              </th>
                            </tr>
                          </thead>
                          <tbody formArrayName="dryIceWeight">
                            <tr *ngFor="let item of form.controls.dryIceWeight.controls; let index=index"
                              [formGroupName]="index">
                              <td>
                                <ngc-piecesinput formControlName="pieces"></ngc-piecesinput>
                              </td>
                              <td>
                                <ngc-weightinput formControlName="weight"></ngc-weightinput>
                              </td>
                              <td>
                                <ngc-link (linkClick)="onDeleteDryIce(index)" iconType="delete">
                                  <ngc-i18n value="g.delete"></ngc-i18n>
                                </ngc-link>
                              </td>
                            </tr>
                          </tbody>
                        </ngc-table>
                      </ngc-column>
                    </ngc-row>
                    <ngc-row>
                      <ngc-column column="9">
                        <ng-container formGroupName="acceptanceService">
                          <ngc-row>
                            <ngc-column align="right">
                              <div>
                                <ngc-label label="export.totalDryIceWeight"></ngc-label>
                              </div>
                              <ngc-weightinput formControlName="totalDryIceWeight">
                              </ngc-weightinput>
                            </ngc-column>
                          </ngc-row>
                        </ng-container>
                      </ngc-column>
                      <ngc-column column="3" align="right">
                        <ngc-button label="g._add" (click)="onAddDryIce()"></ngc-button>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>
          <div ngc-tab-card title='exp.acceptance.loacl.authority'>
            <ngc-container formGroupName="localAuthority">
              <ngc-row>
                <ngc-column column="2">
                  <ngc-dropdownlist formControlName="type" sourceId="Acceptance_Type$Local_Authority_info" width="170">
                  </ngc-dropdownlist>
                </ngc-column>
                <ngc-column column="4">
                  <ngc-container type="square" *ngIf="permitToFollowFlag">
                    <ngc-row>
                      <ngc-column>
                        <ngc-table>
                          <thead>
                            <tr>
                              <th>
                                <ngc-label label="poIssue.aces"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label="exp.acceptance.appointed.agent"></ngc-label>
                              </th>
                            </tr>
                          </thead>
                          <tbody formArrayName="details">
                            <tr *ngFor="let item of form.get('localAuthority.details').controls; let index=index"
                              [formGroupName]="index">
                              <td>
                                <ngc-input formControlName="customsAgentCode"></ngc-input>
                              </td>
                              <td>
                                <ngc-display formControlName="appointedAgent"></ngc-display>
                              </td>
                            </tr>
                          </tbody>
                        </ngc-table>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                  <ngc-container type="square" *ngIf="permitNumberFlag">
                    <ngc-row>
                      <ngc-column>
                        <ngc-table>
                          <thead>
                            <tr>
                              <th>
                                <ngc-label label="exp.acceptance.pn"></ngc-label>
                              </th>
                              <th>
                                <ngc-label label=" "></ngc-label>
                              </th>
                              <th>
                                <ngc-label label=" "></ngc-label>
                              </th>
                            </tr>
                          </thead>
                          <tbody formArrayName="details">
                            <tr *ngFor="let item of form.get('localAuthority.details').controls; let index=index"
                              [formGroupName]="index">
                              <td>
                                <ngc-alphanuminput formControlName="permitNumbers" [maxChars]="11" required>
                                </ngc-alphanuminput>
                              </td>
                              <td>
                                <ngc-button iconType="add" priority="quaternary" formControlName="hidePermitValue"
                                  (click)="onAddPermitNumber(index)"
                                  *ngIf="form.get('localAuthority.details').controls.length == (index + 1)">
                                </ngc-button>
                              </td>
                              <td>
                                <ngc-link (linkClick)="onDeletePermitNumberRows(index)">
                                  <ngc-icon type="delete" label="del" value="true" true-color="grey"></ngc-icon>
                                </ngc-link>
                              </td>
                            </tr>
                          </tbody>
                        </ngc-table>
                      </ngc-column>
                      <!--<ngc-column>
                          <ngc-button iconType="add" priority="quaternary" (click)="onAddPermitNumber()"></ngc-button>
                      </ngc-column>-->
                    </ngc-row>
                  </ngc-container>
                  <ngc-container type="square" *ngIf="excemptionCodeFlag">
                    <ngc-row formArrayName="details">
                      <ngc-column *ngFor="let item of form.get('localAuthority.details').controls; let index=index"
                        [formGroupName]="index">
                        <ngc-row>
                          <ngc-column>
                            <ngc-label label="exp.acceptance.exp.code"></ngc-label>
                            <div>
                              <ngc-dropdownlist formControlName="exemptionCode" [displayBoth]="true"
                                 sourceId="Admin$ExemptionCode" [width]="400"></ngc-dropdownlist>
                            </div>
                          </ngc-column>
                        </ngc-row>
                        <ngc-row>
                          <ngc-column>
                            <ngc-label label="poIssue.license"></ngc-label>
                            <div>
                              <ngc-input formControlName="license"></ngc-input>
                            </div>
                          </ngc-column>
                        </ngc-row>
                        <ngc-row>
                          <ngc-column>
                            <ngc-label label="g.reason"></ngc-label>
                            <div>
                              <ngc-input formControlName="remarks" [width]="420"></ngc-input>
                            </div>
                          </ngc-column>
                        </ngc-row>
                      </ngc-column>
                    </ngc-row>
                  </ngc-container>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>
          <div ngc-tab-card title='exp.acceptance.exp.remarks' [indicatorIconType]="remarksIndicator"
            indicatorIconColor="red">
            <ngc-container>
              <ngc-row>
                <ngc-column>
                  <ngc-table width="600">
                    <thead>
                      <tr>
                        <th>
                          <ngc-label required label="exp.acceptance.remark.type"></ngc-label>
                        </th>
                        <th width="500">
                          <ngc-label required label="poIssue.details"></ngc-label>
                        </th>
                        <th>
                          <ngc-label label=""></ngc-label>
                        </th>
                      </tr>
                    </thead>
                    <tbody formArrayName="remarks">
                      <tr *ngFor="let item of form.controls.remarks.controls; let index=index" [formGroupName]="index">
                        <td>
                          <ngc-dropdownlist formControlName="type" sourceId="Cargo_Handling$RemarkType">
                          </ngc-dropdownlist>
                        </td>
                        <td>
                          <ngc-input width="180%" formControlName="detail" [maxlength]='150'></ngc-input>
                        </td>
                        <td>
                          <ngc-link (linkClick)="onDeleteRemarks(index)" iconType="delete">
                            <ngc-i18n value="g.delete"></ngc-i18n>
                          </ngc-link>
                        </td>
                      </tr>
                    </tbody>
                  </ngc-table>
                </ngc-column>
              </ngc-row>
              <ngc-row>
                <ngc-column>
                  <ngc-button label="g._add" (click)="onAddRemarks()"></ngc-button>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>
          <div>
          </div>
        </ngc-tabs>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>