ngc-label {
    white-space: nowrap; 
}

td.shipment-info-blank {
    margin:0px; 
    padding: 0px; 
    height: 1px;
    max-height: 1px;
    border: 0;
}

td.shipment-info-child-top {
    border-top: 0;
}   