<ngc-titlebar title='bil.waiveCharges' (clear)="onClear($event)" (cancel)='onCancel($event)'></ngc-titlebar>
<form [formGroup]='waiveChargesForm'>
  <ngc-container>
    <ngc-row>
      <ngc-column>
        <ngc-container type='section'>
          <ngc-row>
            <ngc-column *ngIf="navigateData.customerName">
              <ngc-label value='g.customerName'></ngc-label>
              <div>
                <ngc-display formControlName='customerName'></ngc-display>
              </div>
            </ngc-column>
            <ngc-column *ngIf="navigateData.service && !navigateData.shipment" column="1">
              <ngc-label value='bil.serviceId'></ngc-label>
              <div>
                <ngc-display formControlName='service'></ngc-display>
              </div>
            </ngc-column>
            <ngc-column align="center" *ngIf="navigateData.service && !navigateData.shipment" column="1"
              feature="Billing.PrepaidAccount">
              <ngc-label label="billing.pdAccount"></ngc-label>
              <div>
                <ngc-display formControlName="pdAccount"></ngc-display>
              </div>
            </ngc-column>
            <ngc-column align="center" *ngIf="navigateData.service && !navigateData.shipment" column="1"
              feature="Billing.PrepaidAccount">
              <ngc-label label="billing.pdBalance"></ngc-label>
              <div>
                <ngc-currencydisplay formControlName="pdBalance"></ngc-currencydisplay>
              </div>
            </ngc-column>
            <ngc-column *ngIf="navigateData.shipment && !navigateData.service">
              <ngc-label value='g.awbNumber'></ngc-label>
              <div>
                <ngc-shipmentdisplay formControlName='shipment'></ngc-shipmentdisplay>
              </div>
            </ngc-column>
            <ngc-column align="center" *ngIf="navigateData.shipment && !navigateData.service">
              <ngc-label label="billing.org"></ngc-label> /
              <ngc-label label="export.des"></ngc-label>
              <div>
                <ngc-display formControlName="origin"></ngc-display> /
                <ngc-display formControlName="destination"></ngc-display>
              </div>
            </ngc-column>
            <ngc-column align="center" *ngIf="navigateData.shipment && !navigateData.service">
              <ngc-label label="display.pieces"></ngc-label>
              <div>
                <ngc-piecesdisplay formControlName="pieces"></ngc-piecesdisplay> /
                <ngc-weightdisplay formControlName="weight"></ngc-weightdisplay>
              </div>
            </ngc-column>
            <ngc-column align="center" *ngIf="navigateData.shipment && !navigateData.service"
              entityAttribute="Gen.ChargeableWeight">
              <ngc-label label="g.chargeableWeight"></ngc-label>
              <div>
                <ngc-display formControlName="chargeableWeight" decimalDigits="2"></ngc-display>
              </div>
            </ngc-column>
            <ngc-column *ngIf="navigateData.shipment && !navigateData.service">
              <ngc-label value='g.shc'></ngc-label>
              <div>
                <ngc-display formControlName='shc'></ngc-display>
              </div>
            </ngc-column>
            <ngc-column align="center" *ngIf="navigateData.shipment && !navigateData.service">
              <ngc-label label="SHP/CNE"></ngc-label>
              <div>
                <ngc-display formControlName="shpcne"></ngc-display>
              </div>
            </ngc-column>
            <ngc-column align="center" *ngIf="navigateData.shipment && !navigateData.service">
              <ngc-label label="agent"></ngc-label>
              <div>
                <ngc-display formControlName="agent"></ngc-display>
              </div>
            </ngc-column>
          </ngc-row>
        </ngc-container>
        <ngc-container type='section'
          *ngIf="waiveChargesForm.get('houseInformation') && waiveChargesForm.get('houseInformation.hawbNumber').value"
          formGroupName="houseInformation">
          <ngc-row>
            <ngc-column entityAttribute="Gen.HAWBOrSBNumber">
              <ngc-label label="billing.hawbsbNumber"></ngc-label>
              <div>
                <ngc-display formControlName="hawbNumber"></ngc-display>
              </div>
            </ngc-column>
            <ngc-column align="center">
              <ngc-label label="display.pieces"></ngc-label>
              <div>
                <ngc-piecesdisplay formControlName="pieces"></ngc-piecesdisplay> /
                <ngc-weightdisplay formControlName="weight"></ngc-weightdisplay>
              </div>
            </ngc-column>
            <ngc-column align="center" entityAttribute="Gen.ChargeableWeight">
              <ngc-label label="g.chargeableWeight"></ngc-label>
              <div>
                <ngc-display formControlName="chargeableWeight" decimalDigits="2"></ngc-display>
              </div>
            </ngc-column>
            <ngc-column align="center">
              <ngc-label label="g.shc"></ngc-label>
              <div>
                <ngc-display formControlName="shc"></ngc-display>
              </div>
            </ngc-column>
            <ngc-column align="center">
              <ngc-label label="billing.shpcne"></ngc-label>
              <div>
                <ngc-display formControlName="shpcne"></ngc-display>
              </div>
            </ngc-column>
            <ngc-column align="center">
              <ngc-label label="agent"></ngc-label>
              <div>
                <ngc-display formControlName="agent"></ngc-display>
              </div>
            </ngc-column>
            <ngc-column align="center">
              <ngc-label label="billing.cavfob"></ngc-label>
              <div>
                <ngc-display formControlName="cavFob"></ngc-display>
              </div>
            </ngc-column>
            <ngc-column align="center">
              <ngc-label label="Duty"></ngc-label>
              <div>
                <ngc-display formControlName="duty"></ngc-display>
              </div>
            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>
      <ngc-column feature="Billing.PrepaidAccount" *ngIf="navigateData.shipment && !navigateData.service" [column]="2">
        <ngc-container type="squarethin" title="billing.title.payeeinformation" formGroupName="payeeInformation">
          <ngc-row>
            <ngc-column align="left" feature="Billing.PrepaidAccount">
              <ngc-label label="report.billing.payee"></ngc-label>
              <div>
                <ngc-display formControlName="payeeCustomerType"></ngc-display>
              </div>
            </ngc-column>
            <ngc-column align="left" feature="Billing.PrepaidAccount">
              <ngc-label label="billing.pdAccount"></ngc-label>
              <div>
                <ngc-display formControlName="paymentAccountNumber"></ngc-display>
              </div>
            </ngc-column>
            <ngc-column align="left" feature="Billing.PrepaidAccount">
              <ngc-label label="billing.pdBalance"></ngc-label>
              <div>
                <ngc-currencydisplay [noSymbol]="true" formControlName="paymentAccountBalance"></ngc-currencydisplay>
              </div>
            </ngc-column>
          </ngc-row>
          <ngc-row>
            <ngc-column align="left" feature="Billing.PrepaidAccount">
              <div>
                <ngc-display formControlName="payeeCustomerName"></ngc-display>
              </div>
            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>

    </ngc-row>
  </ngc-container>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-label value='bil.charges'></ngc-label>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column column='11'>
        <ngc-table>
          <thead>
            <tr>
              <th rowspan='2'>
                <ngc-label value='bil.serviceType'></ngc-label>
              </th>
              <th colspan='3' class='text-center'>
                <ngc-label value='g.actual'></ngc-label>
              </th>
              <th colspan='4' class='text-center'>
                <ngc-label value='bil.waived'></ngc-label>
              </th>
              <th rowspan='2'>
                <ngc-label value='bil.calculate'></ngc-label>
              </th>
            </tr>
            <tr>
              <th>
                <ngc-label value='g.quantity'></ngc-label>
              </th>
              <th>
                <ngc-label value='g.duration'></ngc-label>
              </th>
              <th>
                <ngc-label value='awb.charge.amount'></ngc-label>
              </th>
              <th>
                <ngc-label value='g.quantity'></ngc-label>
              </th>
              <th>
                <ngc-label value='g.duration'></ngc-label>
              </th>
              <th>
                <ngc-label value='g.percentage'></ngc-label>
              </th>
              <th>
                <ngc-label value='g.amount'></ngc-label>
              </th>
            </tr>
          </thead>
          <tbody formArrayName='chargeAdvice'>
            <tr *ngFor="let item of waiveChargesForm.controls.chargeAdvice.controls; let index=index"
              [formGroupName]="index">
              <td>
                <ngc-display formControlName='serviceType'></ngc-display>
              </td>
              <td>
                <ngc-display formControlName='quantity' dataType="string"></ngc-display>
              </td>
              <td>
                <ngc-display formControlName='duration'></ngc-display>
              </td>
              <td>
                <ngc-currencydisplay formControlName='chargeAmount'></ngc-currencydisplay>
              </td>
              <td>
                <ngc-numberinput decimalDigits="3" digits="5" max="99999" groupSize="0"
                  formControlName="waivedUpdatedQuantity" (ngModelChange)='onCalculate(index)'></ngc-numberinput>
              </td>
              <td>
                <ngc-numberinput decimalDigits="0" digits="5" max="99999" groupSize="0"
                  formControlName="waivedUpdatedDuration" (ngModelChange)='onCalculate(index)'></ngc-numberinput>
              </td>
              <td>
                <ngc-numberinput decimalDigits="0" digits="3" groupSize="0" formControlName="waivedPercentage"
                  (ngModelChange)='onCalculate(index)'></ngc-numberinput>
              </td>
              <td>
                <ngc-currencyinput formControlName='waivedAmount'></ngc-currencyinput>
              </td>
              <td class='text-center'>
                <ngc-link iconType='calculator' (linkClick)='onCalculate(index)'></ngc-link>
              </td>
            </tr>
          </tbody>
        </ngc-table>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column column='11'>
        <ngc-label value='bil.waiveCharges.waiveReason'></ngc-label>
        <div>
          <ngc-textarea required [maxlength]='65' height='30' width='1050' formControlName='waiveReason'></ngc-textarea>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column column='3'>
        <ngc-label value='bil.waiveCharges.approver'></ngc-label>
        <div>
          <ngc-dropdownlist required (select)='onSelect($event)' sourceId='WAIVE_APPROVER_LIST' sourceType='query'
            [sourceParameters]='approverParam' formControlName='approver' [filterable]="true"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column='3' align='center'>
        <ngc-label value='billing.remaining.charge.amount'></ngc-label>
        <div>
          <ngc-currencydisplay emphasis='lg' [value]='actualAmount'></ngc-currencydisplay>
        </div>
      </ngc-column>
      <ngc-column column='2' align='center'>
        <ngc-label value='billing.paid.amount.without.taxes'></ngc-label>
        <div>
          <ngc-currencydisplay emphasis='lg' [value]='totalPaid'></ngc-currencydisplay>
        </div>
      </ngc-column>
      <ngc-column column='1' align='center' feature="Billing.SalesTax">
        <ngc-label value='billing.tax.amount.paid'></ngc-label>
        <div>
          <ngc-currencydisplay emphasis='lg' [value]='totalTax'></ngc-currencydisplay>
        </div>
      </ngc-column>
      <ngc-column column='3' align='right'>
        <ngc-label value='bil.waivedAmount'></ngc-label>
        <div>
          <ngc-currencydisplay emphasis='lg' [value]='waivedAmount'></ngc-currencydisplay>
        </div>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column align='right' column='12'>
        <ngc-button value='bil.waiveCharges.waive' (click)='onWaive($event)'></ngc-button>
        <ngc-button value='bil.waiveCharges.waive&Pay' (click)='onWaiveAndPay($event)'
          feature='Billing.WaiverApprovalNotMandatory'></ngc-button>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>