<ngc-titlebar title="title.process.inbound.msg.file" (clear)="onClear($event)" (cancel)="onCancel($event)">
</ngc-titlebar>
<form [formGroup]="prcssInboundMsgFileForm">
  <ngc-container type="header">
    <ngc-row>
      <ngc-column column="2">
        <ngc-label label="interface.file.type"></ngc-label>
        <div>
          <ngc-dropdownlist formControlName="fileType" sourceId="General$ProcessInboundMsgFileType" width="160"
            (select)="onSelectFileType($event)" required>
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column="4" *ngIf="this.prcssInboundMsgFileForm.get('fileType').value && this.prcssInboundMsgFileForm.get('fileType').value == 'EDI Message File'">
        <ngc-label label="g.message.type"></ngc-label>
        <div>
          <ngc-dropdownlist fromControlName="messageType" sourceId="General$ProcessInboundMsgFileMsgType" width="100"
            (select)="setMessageType($event)">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column="6" align="center" *ngIf="this.prcssInboundMsgFileForm.get('fileType').value">
        <ngc-label label="edi.legend" color="blue" align="center"></ngc-label>
        <ngc-container type="square">
          <ngc-row>
            <ngc-column column="4" align="center">
              <ngc-label label="edi.file.format"></ngc-label>
              <div>
                <ngc-display formControlName="acceptedFileFormat" color="blue" emphasis='md'></ngc-display>
              </div>
            </ngc-column>
            <ngc-column column="4" align="center">
              <ngc-label label="edi.max.no.of.msgs"></ngc-label>
              <div>
                <ngc-display formControlName="noOfMessagesAllowed" color="blue" emphasis='md'></ngc-display>
              </div>
            </ngc-column>
            <ngc-column column="4" align="center">
              <ngc-label label="edi.sample.file"></ngc-label>
              <div>
                <ngc-filedownload formControlName="sampleFile" [uploadDocId]="uploadedDocId"></ngc-filedownload>
              </div>
            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <div class='sideMenu'>
    <ngc-container *ngIf="this.prcssInboundMsgFileForm.get('fileType').value">
      <ngc-row>
        <ngc-column>
          <ngc-label label=""></ngc-label>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column>
          <ngc-label label=""></ngc-label>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column [column]='8'>
          <div>
            <ngc-fileupload #fileUpload formControlName="messageFile" [multiple]="false" [accept]="acceptedFileFormat"
              (choose)="onChooseDocuments($event, acceptedFileFormat)" (upload)="onProcess()" [maxFileSize]="5000000"></ngc-fileupload>
          </div>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column>
          <ngc-label label=""></ngc-label>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column>
          <ngc-label label=""></ngc-label>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column>
          <ngc-label label=""></ngc-label>
        </ngc-column>
      </ngc-row>
    </ngc-container>
    <ngc-container *ngIf="this.prcssInboundMsgFileForm.get('fileType').value">
      <div>
        <ngc-row>
          <ngc-column>
            <ngc-label label=""></ngc-label>
          </ngc-column>
        </ngc-row>
        <ngc-row>
          <ngc-column>
            <ngc-label label=""></ngc-label>
          </ngc-column>
        </ngc-row>
        <ngc-row>
          <ngc-column>
            <ngc-label label=""></ngc-label>
          </ngc-column>
        </ngc-row>
      </div>
      <div>
        <ngc-row>
          <ngc-column>
            <ngc-label label=""></ngc-label>
          </ngc-column>
        </ngc-row>
        <ngc-row>
          <ngc-column>
            <ngc-label label=""></ngc-label>
          </ngc-column>
        </ngc-row>
      </div>
      <ngc-row>
        <ngc-column [column]="10">
          <ngc-label label="edi.errors.during.file.process"></ngc-label>
          <div>
            <ngc-textarea formControlName="processingErrors" [width]="1140" [height]="300" upperCase="true"
              [disabled]="true">
            </ngc-textarea>
          </div>
        </ngc-column>
      </ngc-row>
    </ngc-container>
  </div>
</form>
<ngc-footer>
  <ngc-row>
    <ngc-column column="6">
      <ngc-button value="edi.incoming.msg.log" (click)="navigateMessageLog($event)" [disabled]="this.prcssInboundMsgFileForm.get('fileType').value">
      </ngc-button>
      <ngc-button value="flight.displayFlightSchedule" (click)="navigateDisplayFlightScedule($event)"
        [disabled]="this.prcssInboundMsgFileForm.get('fileType').value "></ngc-button>
    </ngc-column>
  </ngc-row>
</ngc-footer>