<form [formGroup]='form'>
    <ngc-container type="box">
        <ngc-row>
            <br>
            <ngc-column column="12">
                <div>
                    <ngc-label label="uld.uld.number"></ngc-label>
                </div>
                <ng-container *ngFor="let item of list let index=index">
                    <ngc-display [value]="item.uldNumber"></ngc-display>
                    <ng-container *ngIf="index <= list.length -2">,</ng-container>
                </ng-container>
            </ngc-column>
        </ngc-row>
    </ngc-container>

    <ngc-container type="box">
        <ngc-row>
            <ngc-column>
                <ngc-label label="mb.tractornumber"></ngc-label>
                <div>
                    <ngc-input formControlName="tractorNumber" [width]="150" [maxlength]="15" [autoFocus]="true">
                    </ngc-input>
                </div>
            </ngc-column>
            <ngc-column>
                <ngc-label label="driverID"></ngc-label>
                <div>
                    <ngc-input formControlName="driverId" sourceId='KEY_DRIVER_ID' entityAttribute="Gen.DriverId"
                        [width]="150" [maxlength]="63"></ngc-input>
                </div>
            </ngc-column>
            <ngc-column>
                <ngc-label label="shipmentHandover.handoverDateTime"></ngc-label>
                <div>
                    <ngc-datetimeinput formControlName="handoverDateTime" showCalendarButton="true"
                        [showTimeButton]="true" required></ngc-datetimeinput>
                </div>
            </ngc-column>
        </ngc-row>
        <ngc-row>
            <ngc-column column="12" align="right">
                <br>
                <ngc-button (click)="onSave()" value="g.save"></ngc-button>
            </ngc-column>
        </ngc-row>
    </ngc-container>
</form>