<!-- Card Heading (Begin) -->
<form [formGroup]='enroutementForm'>
  <!-- (cancel)="onNormalScreenCancel()"-->
  <ngc-titlebar title='flight.maintainnormalenroutement.title' (clear)="clearFormData()"></ngc-titlebar>
  <!--ayush-->
  <ngc-container type="header">
    <ngc-row>
      <ngc-column>
        <ngc-label value='g.carrier'></ngc-label>
        <div>
          <ngc-lov formControlName='carrierCode' [width]='40' upperCase='true' sourceId='CARRIER_OPT'
            title='flight.carrierType' dataField='code' (ngModelChange)="setValueOnCancelPress()" accessEnableOn="r">
            <ngc-data-column text='g.carrier' dataField='code' [width]='100'></ngc-data-column>
            <ngc-data-column text='g.description' dataField='desc' [width]='150'></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label value='destination'></ngc-label>
        <div>
          <ngc-lov formControlName='finalDestination' [width]='50' upperCase='true' sourceId='FINAL_DESTINATION'
            title='g.destination' dataField='code' (ngModelChange)="setValueOnCancelPress()" required
            accessEnableOn="r">
            <ngc-data-column text='flight.airport_cityCode' dataField='code' [width]='100'></ngc-data-column>
            <ngc-data-column text='g.description' dataField='desc' [width]='150'></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label></ngc-label>
        <div>
          <ngc-button (click)='onSearch()' iconType='search' value='g.search' accessEnableOn="r"></ngc-button>
        </div>
      </ngc-column>
      <ngc-column column="9"></ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="section" width="1350">

  </ngc-container>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-datatable *ngIf="isDisplayOutGoingTableFlg" formArrayName="resultList" width="1350"
          [enablePageSizeHeight]="false">
          <ngc-data-column text="g.carrier" dataField="carrierCode" [width]="150" cellsAlign="left">
          </ngc-data-column>
          <ngc-data-column text="g.dateFrom" dataField="periodFrom" [width]="200" align='left' cellsAlign="left"
            type="displayDate"></ngc-data-column>
          <ngc-data-column text="g.dateTo" dataField="periodTo" [width]="200" align='left' cellsAlign="left"
            type="displayDate"></ngc-data-column>
          <ngc-data-column text="flight.via" dataField="via" [width]="100" cellsAlign="left">
          </ngc-data-column>
          <ngc-data-column text="flight.paxCao" dataField="serviceType" [width]="100" cellsAlign="left">
          </ngc-data-column>
          <ngc-data-column text="flight.transferTo" dataField="transfer" [width]="100" cellsAlign="left">
          </ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>
<ngc-footer>
  <ngc-row>
    <ngc-column *ngIf="isDisplayOutGoingTableFlg">
      <ngc-button value="flight.normal" (click)="navigateToSpecailEnroutment()"></ngc-button>
    </ngc-column>
  </ngc-row>
</ngc-footer>