
<form [formGroup]="dashboardForm">
    <ngc-container type="sectiontop">
        <ngc-row>
            <ngc-column align="left">
                <div>

                    <ngc-label label='warehouse.lastupdated'></ngc-label>
                    <ngc-display color="blue" value={{lastJobRun}}></ngc-display> &nbsp;&nbsp;
                    <ngc-label label=' warehouse.nextupdate'></ngc-label>
                    <ngc-display color="blue" value={{nextJobRun}}></ngc-display> &nbsp;&nbsp;


                    <ngc-switchbutton accessEnableOn="r" formControlName="autoRefresh" (ngModelChange)="autoRefreshChange($event)"
                        [width]="200"> </ngc-switchbutton>-->
                </div>
            </ngc-column>
            <ngc-column align="right">
                <div>
                    <ngc-button accessEnableOn="r" (click)="setData('pre')" [disabled]="disButtonPre" value="warehouse.previous">
                    </ngc-button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <ngc-button accessEnableOn="r" (click)="setData('nxt')" [disabled]="disButtonNxt" value="warehouse.next"> </ngc-button>
                    &nbsp;

                    <ngc-label label='warehouse.page'></ngc-label>
                    <ngc-display color="blue" value={{pageCount}}></ngc-display>
                    <ngc-label label=' /'></ngc-label>
                    <ngc-display color="blue" value={{totalPage}}></ngc-display>&nbsp;&nbsp;
                    <ngc-label label='warehouse.record'></ngc-label>
                    <ngc-display color="blue" value={{startPageDisplay}}-{{endPageDisplay}}></ngc-display> &nbsp;
                    <ngc-label label='warehouse.of'></ngc-label> &nbsp; <ngc-display color="blue"
                        value={{totalRowCount}}>
                    </ngc-display>
                </div>
            </ngc-column>
        </ngc-row>
    </ngc-container>

    <ngc-container type="tab">
        <ngc-row>
            <ngc-column>
                <ngc-table>
                    <thead>
                        <tr style="background-color:black;">
                            <th class="text-center">
                                <ngc-display style="color:white; font-size:20px;" value="g.flight"></ngc-display>
                            </th>
                            <th class="text-center">
                                <ngc-display style="color:white; font-size:20px;" value="g.date"></ngc-display>
                            </th>
                            <th class="text-center">
                                <ngc-display style="color:white; font-size:20px;" value="flight.std">
                                </ngc-display>
                            </th>
                            <th class="text-center">
                                <ngc-display style="color:white; font-size:20px;" value="warehouse.ac.reg">
                                </ngc-display>
                            </th>
                            <th class="text-center">
                                <ngc-display style="color:white; font-size:20px;" value="warehouse.ac.type">
                                </ngc-display>
                            </th>
                            <th class="text-center">
                                <ngc-display style="color:white; font-size:20px;" value="flight.bay"></ngc-display>
                            </th>
                            <th class="text-center">
                                <ngc-label style="color:white; font-size:20px; width:70px; display:block;"
                                    label="g.sector"></ngc-label>


                            </th>
                            <th class="text-center">
                                <ngc-display style="color:white; font-size:20px;" value="g.status"></ngc-display>
                            </th>
                            <th class="text-center">
                                <ngc-display style="color:white; font-size:20px;" value="flight.atd">
                                </ngc-display>
                            </th>

                            <th colspan="8" class="text-center">
                                <ngc-display style="color:white; font-size:20px;" value="warehouse.shipment.accepted">
                                </ngc-display>
                        <tr style="background-color:black;">
                            <th class="text-center">
                                <ngc-display style="color:white; font-size:20px;" value="warehouse.dg"></ngc-display>
                            </th>
                            <th class="text-center">
                                <ngc-display style="color:white; font-size:20px;" value="warehouse.xps"></ngc-display>
                            </th>
                            <th class="text-center">
                                <ngc-display style="color:white; font-size:20px;" value="warehouse.rac"></ngc-display>
                            </th>
                            <th class="text-center">
                                <ngc-display style="color:white; font-size:20px;" value="warehouse.pil"></ngc-display>
                            </th>
                            <th class="text-center">
                                <ngc-display style="color:white; font-size:20px;" value="warehouse.val"></ngc-display>
                            </th>
                            <th class="text-center">
                                <ngc-display style="color:white; font-size:20px;" value="warehouse.avi"></ngc-display>
                            </th>
                            <th class="text-center">
                                <ngc-display style="color:white; font-size:20px;" value="warehouse.hum"></ngc-display>
                            </th>
                            <th class="text-center">
                                <ngc-display style="color:white; font-size:20px;" value="warehouse.oth"></ngc-display>
                            </th>
                        </tr>
                        </th>

                        <th colspan="8" class="text-center">
                            <ngc-display style="color:white; font-size:20px;" value="warehouse.shipment.assigned">
                            </ngc-display>
                            <tr style="background-color:black;">
                                <th class="text-center">
                                    <ngc-display style="color:white; font-size:20px;" value="warehouse.dg">
                                    </ngc-display>
                                </th>
                                <th class="text-center">
                                    <ngc-display style="color:white; font-size:20px;" value="warehouse.xps">
                                    </ngc-display>
                                </th>
                                <th class="text-center">
                                    <ngc-display style="color:white; font-size:20px;" value="warehouse.rac">
                                    </ngc-display>
                                </th>
                                <th class="text-center">
                                    <ngc-display style="color:white; font-size:20px;" value="warehouse.pil">
                                    </ngc-display>
                                </th>
                                <th class="text-center">
                                    <ngc-display style="color:white; font-size:20px;" value="warehouse.val">
                                    </ngc-display>
                                </th>
                                <th class="text-center">
                                    <ngc-display style="color:white; font-size:20px;" value="warehouse.avi">
                                    </ngc-display>
                                </th>
                                <th class="text-center">
                                    <ngc-display style="color:white; font-size:20px;" value="warehouse.hum">
                                    </ngc-display>
                                </th>
                                <th class="text-center">
                                    <ngc-display style="color:white; font-size:20px;" value="warehouse.oth">
                                    </ngc-display>
                                </th>
                            </tr>
                        </th>

                        <th colspan="5" class="text-center">
                            <ngc-display style="color:white; font-size:20px;" value="warehouse.load.control">
                            </ngc-display>
                            <tr style="background-color:black;">
                                <th class="text-center">
                                    <ngc-display style="color:white; font-size:20px;" value="warehouse.trans.caps">
                                    </ngc-display>
                                </th>
                                <th class="text-center">
                                    <ngc-display style="color:white; font-size:20px;" value="warehouse.dls">
                                    </ngc-display>
                                </th>
                                <th class="text-center">
                                    <ngc-display style="color:white; font-size:20px;" value="warehouse.notoc">
                                    </ngc-display>
                                </th>
                                <th class="text-center">
                                    <ngc-display style="color:white; font-size:20px;" value="warehouse.man">
                                    </ngc-display>
                                </th>
                                <th class="text-center">
                                    <ngc-display style="color:white; font-size:20px;" value="warehouse.doc">
                                    </ngc-display>
                                </th>
                            </tr>
                        </th>

                        <th class="text-center">
                            <ngc-display style="color:white; font-size:20px;" value="warehouse.ramprel"></ngc-display>
                        </th>
                        <th class="text-center">
                            <ngc-display style="color:white; font-size:20px;" value="warehouse.tth"></ngc-display>
                        </th>
                        <th class="text-center">
                            <ngc-display style="color:white; font-size:20px;" value="warehouse.custom"></ngc-display>
                        </th>
                        <th class="text-center">
                            <ngc-display style="color:white; font-size:20px;" value="warehouse.svc.rpt"></ngc-display>
                        </th>

                        <th colspan="2" class="text-center">
                            <ngc-display style="color:white; font-size:20px;" value="warehouse.uldused"></ngc-display>
                            <tr style="background-color:black;">
                                <th class="text-center">
                                    <ngc-display style="color:white; font-size:20px;" value="warehouse.pallet">
                                    </ngc-display>
                                </th>
                                <th class="text-center">
                                    <ngc-display style="color:white; font-size:20px;" value="warehouse.ake">
                                    </ngc-display>
                                </th>
                            </tr>
                        </th>
                        </tr>
                    </thead>

                    <tbody style="background-color: black;" formArrayName="dashboardFlightList">
                        <tr *ngFor="let item of dashboardForm.controls.dashboardFlightList.controls; let i=index"
                            [formGroupName]="i">
                            <td class="text-center" style="border-color: black;">
                                <ngc-display style="color:white; font-size:20px;" formControlName="flightKey">
                                </ngc-display>
                            </td>
                            <td class="text-center" style="border-color: black;">
                                <ngc-display style="color:white; font-size:20px;" formControlName="flightDate">
                                </ngc-display>
                            </td>
                            <td class="text-center" style="border-color: black;">
                                <ngc-display style="color:white; font-size:20px;" formControlName="dateSTD">
                                </ngc-display>
                            </td>
                            <td class="text-center" style="border-color: black;">
                                <ngc-display style="color:white; font-size:20px;" formControlName="aircraftRegCode">
                                </ngc-display>
                            </td>
                            <td class="text-center" style="border-color: black;">
                                <ngc-display style="color:white; font-size:20px;" formControlName="aircraftType">
                                </ngc-display>
                            </td>
                            <td class="text-center" style="border-color: black;">
                                <ngc-display style="color:white; font-size:20px;" formControlName="bay"></ngc-display>
                            </td>
                            <td class="text-center" style="border-color: black;">
                                <ngc-display style="color:white; font-size:20px;" formControlName="sector">
                                </ngc-display>
                            </td>
                            <td class="text-center" style="border-color: black;">
                                <ngc-display style="color:white; font-size:20px;" formControlName="flightStatus">
                                </ngc-display>
                            </td>
                            <td class="text-center" style="border-color: black;">
                                <ngc-display style="color:white; font-size:20px;" formControlName="dateATD">
                                </ngc-display>
                            </td>

                            <!--Shipment Accepted(Lodge In) Section-->
                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="shpAccDg" style="font-size:20px;" [ngStyle]="{'color': (item.controls.shpAccDgSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.shpAccDgSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.shpAccDgSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>

                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="shpAccXps" style="font-size:20px;" [ngStyle]="{'color': (item.controls.shpAccXpsSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.shpAccXpsSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.shpAccXpsSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>

                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="shpAccRac" style="font-size:20px;" [ngStyle]="{'color': (item.controls.shpAccRacSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.shpAccRacSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.shpAccRacSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>

                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="shpAccPil" style="font-size:20px;" [ngStyle]="{'color': (item.controls.shpAccPilSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.shpAccPilSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.shpAccPilSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>

                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="shpAccVal" style="font-size:20px;" [ngStyle]="{'color': (item.controls.shpAccValSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.shpAccValSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.shpAccValSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>

                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="shpAccAvi" style="font-size:20px;" [ngStyle]="{'color': (item.controls.shpAccAviSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.shpAccAviSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.shpAccAviSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>

                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="shpAccHum" style="font-size:20px;" [ngStyle]="{'color': (item.controls.shpAccHumSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.shpAccHumSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.shpAccHumSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>

                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="shpAccOth" style="font-size:20px;" [ngStyle]="{'color': (item.controls.shpAccOthSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.shpAccOthSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.shpAccOthSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>

                            <!--Shipment Assigned (Build up and JL) Section-->
                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="shpAssDg" style="font-size:20px;" [ngStyle]="{'color': (item.controls.shpAssDgSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.shpAssDgSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.shpAssDgSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>

                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="shpAssXps" style="font-size:20px;" [ngStyle]="{'color': (item.controls.shpAssXpsSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.shpAssXpsSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.shpAssXpsSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>

                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="shpAssRac" style="font-size:20px;" [ngStyle]="{'color': (item.controls.shpAssRacSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.shpAssRacSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.shpAssRacSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>

                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="shpAssPil" style="font-size:20px;" [ngStyle]="{'color': (item.controls.shpAssPilSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.shpAssPilSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.shpAssPilSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>

                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="shpAssVal" style="font-size:20px;" [ngStyle]="{'color': (item.controls.shpAssValSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.shpAssValSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.shpAssValSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>

                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="shpAssAvi" style="font-size:20px;" [ngStyle]="{'color': (item.controls.shpAssAviSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.shpAssAviSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.shpAssAviSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>

                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="shpAssHum" style="font-size:20px;" [ngStyle]="{'color': (item.controls.shpAssHumSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.shpAssHumSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.shpAssHumSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>

                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="shpAssOth" style="font-size:20px;" [ngStyle]="{'color': (item.controls.shpAssOthSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.shpAssOthSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.shpAssOthSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>

                            <td class="text-center" style="border-color: black;">
                                <ngc-display style="color:white; font-size:20px;" formControlName="loadCtrlTrans">
                                </ngc-display>
                            </td>
                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="loadCtrlDlsUpdate" style="font-size:20px;" [ngStyle]="{'color': (item.controls.loadCtrlDLSUpdateSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.loadCtrlDLSUpdateSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.loadCtrlDLSUpdateSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>

                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="loadCtrlNotocFinal" style="font-size:20px;" [ngStyle]="{'color': (item.controls.loadCtrlNotocFinalSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.loadCtrlNotocFinalSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.loadCtrlNotocFinalSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>
                            <td class="text-center" style="border-color: black;"> <svg height="30" width="30">
                                    <circle cx="15" cy="15" r="15"
                                        [attr.fill]="item.controls.loadCtrlManFinalSlaColor.value" />
                                </svg> </td>
                            <td class="text-center" style="border-color: black;"> <svg height="30" width="30">
                                    <circle cx="15" cy="15" r="15"
                                        [attr.fill]="item.controls.loadCtrlDocPouchFinalSlaColor.value" />
                                </svg> </td>
                            <td class="text-center" style="border-color: black;">
                                <ngc-display style="color:white; font-size:20px;" formControlName="rampRelease">
                                </ngc-display>
                            </td>
                            <td class="text-center" style="border-color: black;">
                                <ngc-display style="color:white; font-size:20px;" formControlName="tthUnits">
                                </ngc-display>
                            </td>
                            <td class="text-center" style="border-color: black;"> <svg height="30" width="30">
                                    <circle cx="15" cy="15" r="15"
                                        [attr.fill]="item.controls.customOutSlaColor.value" />
                                </svg> </td>
                            <td class="text-center" style="border-color: black;"> <svg height="30" width="30">
                                    <circle cx="15" cy="15" r="15"
                                        [attr.fill]="item.controls.svcRptFinalSlaColor.value" />
                                </svg> </td>

                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="uldPallet" style="font-size:20px;" [ngStyle]="{'color': (item.controls.uldPalletSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.uldPalletSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.uldPalletSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>

                            <td class="text-center" style="border-color: black;">
                                <ngc-display formControlName="uldAke" style="font-size:20px;" [ngStyle]="{'color': (item.controls.uldAkeSlaColor.value  === 'AMBER') ? 'yellow' :
                                                                  ((item.controls.uldAkeSlaColor.value  === 'RED')?'red' :
                                                                  ((item.controls.uldAkeSlaColor.value  === 'GREEN')?'green' :
                                                                    'white'))}">
                                </ngc-display>
                            </td>
                        </tr>
                    </tbody>
                </ngc-table>
            </ngc-column>
        </ngc-row>
    </ngc-container>
</form>