<form [formGroup]='customsShipmentAddUpdateForm'>
  <ngc-titlebar title='customs.addsm.detail' (save)="onSave($event)" (cancel)="onCancel()" *ngIf="addflag"  [disableSave]="hasReadPermission">

  </ngc-titlebar>
  <ngc-titlebar title='customs.updatesm' (save)="onSave($event)" (cancel)="onCancel()" *ngIf="updateflag" [disableSave]="hasReadPermission">
  </ngc-titlebar>
  <ngc-titlebar title='customs.aces.detail' (save)="onSave($event)" (cancel)="onCancel()" *ngIf="acesflag" [disableSave]="hasReadPermission">
  </ngc-titlebar>
  <ngc-container type="sectiontop">
    <ngc-row>
      <ngc-column [column]="1">
        <ngc-label label='customs.export.import'></ngc-label>
        <div>
          <ngc-dropdownlist [width]="90" [noCache]="true" formControlName="exportOrImport" sourceId="Type$TracingType">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <ngc-label label='g.flight'></ngc-label>
        <div>
          <ngc-flightkeyinput upperCase="true" formControlName="flightKey" [width]="100"></ngc-flightkeyinput>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <ngc-label label='g.date'></ngc-label>
        <div>
          <ngc-dateinput [width]="90" formControlName="flightDate"></ngc-dateinput>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <ngc-label label='g.awbNumber'></ngc-label>
        <div>
          <ngc-awbinput formControlName="shipmentNumber"></ngc-awbinput>
        </div>
      </ngc-column>

      <ngc-column [column]="1" *ngIf="!acesflag">
        <ngc-label label=''></ngc-label>
        <br>
        <div>
          <ngc-button label='customs.search' (click)="onSearch()" value="customs.search" iconType="search"
            #searchbutton></ngc-button>
        </div>
      </ngc-column>
      <!--<ngc-column [column]="1">
        <ngc-label label=''></ngc-label>
        <br>
        <div>
          <ngc-button label='Refresh' (click)="onrefresh()" value="Refresh" #searchbutton></ngc-button>
        </div>
      </ngc-column>-->
    </ngc-row>
  </ngc-container>
  <ngc-container type="rectangle" *ngIf="!acesflag">
    <ngc-row>
    </ngc-row>
    <ngc-row>
      <ngc-column [column]="1">
        <ngc-label label='customs.sm.pieces'></ngc-label>
        <div>
          <ngc-input [width]="70" formControlName="shipmentPiece"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <ngc-label label='customs.awb.pieces'></ngc-label>
        <div>
          <ngc-input [width]="70" formControlName="pieces"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <ngc-label label='customs.sm.weight'></ngc-label>
        <div>
          <ngc-input [width]="70" formControlName="shipmentWeight"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <ngc-label label='customs.awb.weight'></ngc-label>
        <div>
          <ngc-input [width]="70" formControlName="weight"></ngc-input>
        </div>
      </ngc-column>


      <ngc-column [column]="1">
        <ngc-label label='g.natureOfGoods'></ngc-label>
        <div>
          <ngc-input patternName="alphanum" [width]="90" formControlName="natureOfGoodsDescription"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <ngc-label label='g.origin'></ngc-label>
        <div>
          <ngc-input [width]="90" formControlName="origin"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <ngc-label label='g.destination'></ngc-label>
        <div>
          <ngc-input [width]="90" formControlName="destination"></ngc-input>
        </div>
      </ngc-column>


    </ngc-row>
  </ngc-container>
  <!-- ---------------------------------------------------------------------------------------------------------------- -->
  <ngc-container type="rectangle" *ngIf="exp">
    <ngc-row>
      <ngc-column>
        <ngc-label label='customs.local.authority'></ngc-label>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column [column]="3">
        <ngc-container>
          <ngc-row>
            <ngc-column>
              <ngc-container>
                <ngc-row>
                  <ngc-column>
                    <ngc-table>
                      <thead>

                        <tr>
                          <th>
                            <ngc-label label="customs.larType"></ngc-label>
                          </th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <ngc-column [column]="2" *ngIf="exp">
                              <ngc-dropdownlist formControlName="localAuthorityType"
                                sourceId="Acceptance_Type$Local_Authority_info" (ngModelChange)="onLarChange($event)"
                                width="170"></ngc-dropdownlist>
                            </ngc-column>
                            <!-- <ngc-column [column]="2" *ngIf="imp">
                              <ngc-dropdownlist formControlName="localAuthorityType" sourceId="CustomsLar_Type$CustomsLar_Type"
                                width="170"></ngc-dropdownlist>
                            </ngc-column> -->
                          <td>
                        </tr>
                      </tbody>
                    </ngc-table>
                  </ngc-column>
                </ngc-row>
              </ngc-container>
            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>
      <ngc-column [column]="7">
        <ngc-container>

          <ngc-row>
            <ngc-column>
              <ngc-container *ngIf="permitToFollowFlag && exp">
                <ngc-row>
                  <ngc-column>
                    <ngc-table>
                      <thead>
                        <tr>

                          <th>
                            <ngc-label label="customs.aces"></ngc-label>
                          </th>

                          <th>
                            <ngc-label label="customs.agent.appoint"></ngc-label>
                          </th>

                        </tr>
                      </thead>
                      <tbody formArrayName="localAuthorityinfo">
                        <tr
                          *ngFor="let item of customsShipmentAddUpdateForm.get('localAuthorityinfo').controls; let index=index"
                          [formGroupName]="index">


                          <td>
                            <ngc-input formControlName="referenceNumber" [disabled]="ondetails" required></ngc-input>
                          </td>
                          <td>
                            <ngc-lov required formControlName="appointedAgent" upperCase="true"
                              sourceId="AGENT_NAME_DISPLAY_PO1" sourceType="query" title="customs.agent.appoint"
                              (select)="onAppAgent($event, index, 'exp')" [noValidation]="true" displayMember="code"
                              dataField="code" [noAutoComplete]="true" [disabled]="ondetails">

                              <ngc-data-column text="g.code" dataField="code" [width]="100">
                              </ngc-data-column>
                              <ngc-data-column text="g.name" dataField="desc" [width]="150">
                              </ngc-data-column>
                            </ngc-lov>
                          </td>

                          <td *ngIf="!acesflag">
                            <ngc-column align="right">
                              <ngc-button priority="secondary" (click)="onDeleteLarType($event,index)" value="g.delete">
                              </ngc-button>
                            </ngc-column>
                          </td>
                        </tr>
                      </tbody>
                    </ngc-table>
                  </ngc-column>

                </ngc-row>
              </ngc-container>
              <ngc-container *ngIf="permitNumberFlag">
                <ngc-row>
                  <ngc-column>
                    <ngc-table>
                      <thead>
                        <tr>
                          <th>
                            <ngc-label label="customs.permit.number"></ngc-label>
                          </th>
                          <th>
                            <ngc-label label="customs.agent.appoint"></ngc-label>
                          </th>
                          <th>
                            <ngc-label label=" "></ngc-label>
                          </th>
                        </tr>
                      </thead>
                      <tbody formArrayName="localAuthorityinfo">
                        <tr
                          *ngFor="let item of customsShipmentAddUpdateForm.get('localAuthorityinfo').controls; let index=index"
                          [formGroupName]="index">
                          <td>
                            <ngc-input formControlName="referenceNumber" required></ngc-input>
                          </td>

                          <td>
                            <ngc-lov required formControlName="appointedAgent" upperCase="true"
                              sourceId="AGENT_NAME_DISPLAY_PO1" sourceType="query" title="customs.agent.appoint"
                              (select)="onAppAgent($event, index, 'exp')" [noValidation]="true" displayMember="code"
                              dataField="code" [noAutoComplete]="true" [disabled]="ondetails">

                              <ngc-data-column text="g.code" dataField="code" [width]="100">
                              </ngc-data-column>
                              <ngc-data-column text="g.name" dataField="desc" [width]="150">
                              </ngc-data-column>
                            </ngc-lov>
                          </td>

                          <td>
                            <ngc-button iconType="add" priority="quaternary" (click)="onAddPermitNumber(index)"
                              *ngIf="customsShipmentAddUpdateForm.get('localAuthorityinfo').controls.length == (index + 1)">
                            </ngc-button>
                          </td>
                          <td>
                            <ngc-link (linkClick)="onDeletePermitNumberRows(index)">
                              <ngc-icon type="delete" label="customs.del" value="true" true-color="grey"></ngc-icon>
                            </ngc-link>
                          </td>
                          <td *ngIf="!acesflag">
                            <ngc-column align="right">
                              <ngc-button priority="secondary" (click)="onDeleteLarType($event,index)" value="g.delete">
                              </ngc-button>
                            </ngc-column>
                          </td>
                        </tr>
                      </tbody>
                    </ngc-table>
                  </ngc-column>
                </ngc-row>
              </ngc-container>
              <ngc-container *ngIf="excemptionCodeFlag">
                <ngc-row>
                  <ngc-column>
                    <ngc-table>
                      <thead>
                        <tr>
                          <th>
                            <ngc-label label="customs.exemption.code"></ngc-label>
                          </th>
                          <th>
                            <ngc-label label="customs.agent.appoint"></ngc-label>
                          </th>

                        </tr>
                      </thead>
                      <tbody formArrayName="localAuthorityinfo">
                        <tr
                          *ngFor="let item of customsShipmentAddUpdateForm.get('localAuthorityinfo').controls; let index=index"
                          [formGroupName]="index">
                          <td>
                            <ngc-dropdownlist formControlName="referenceNumber" sourceId="Admin$ExemptionCode"
                              (select)='onExemptCodeSelect($event)' displayMember="code" required></ngc-dropdownlist>
                          </td>
                          <td>
                            <ngc-lov required formControlName="appointedAgent" upperCase="true"
                              sourceId="AGENT_NAME_DISPLAY_PO1" sourceType="query" title="customs.agent.appoint"
                              (select)="onAppAgent($event, index, 'exp')" [noValidation]="true" displayMember="code"
                              dataField="code" [noAutoComplete]="true" [disabled]="ondetails">

                              <ngc-data-column text="g.code" dataField="code" [width]="100">
                              </ngc-data-column>
                              <ngc-data-column text="g.name" dataField="desc" [width]="150">
                              </ngc-data-column>
                            </ngc-lov>
                          </td>

                          <td *ngIf="!acesflag">
                            <ngc-column align="right">
                              <ngc-button priority="secondary" (click)="onDeleteLarType($event,index)" value="g.delete">
                              </ngc-button>
                            </ngc-column>
                          </td>
                        </tr>
                      </tbody>
                    </ngc-table>
                  </ngc-column>
                </ngc-row>



              </ngc-container>
              <ngc-container>

                <ngc-row>
                  <ngc-column [column]="1">
                    <ngc-label label='customs.license'></ngc-label>
                    <div>
                      <ngc-input formControlName="license" [width]="200"></ngc-input>
                    </div>
                  </ngc-column>
                </ngc-row>
                <ngc-row>
                  <ngc-column [column]="5">
                    <ngc-label label='g.reason'></ngc-label>
                    <div>
                      <ngc-input formControlName="remarks" [width]="900"></ngc-input>
                    </div>
                  </ngc-column>
                </ngc-row>
              </ngc-container>

            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>

    </ngc-row>
  </ngc-container>

  <ngc-container type="rectangle" *ngIf="imp">
    <ngc-row>
      <ngc-column>
        <ngc-label label='customs.local.authority'></ngc-label>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column [column]="3">
        <ngc-container>
          <ngc-row>
            <ngc-column>
              <ngc-container>
                <ngc-row>
                  <ngc-column>
                    <ngc-table>
                      <thead>

                        <tr>
                          <th>
                            <ngc-label label="customs.larType"></ngc-label>
                          </th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <!-- <ngc-column [column]="2" *ngIf="exp">
                              <ngc-dropdownlist formControlName="localAuthorityType" sourceId="Acceptance_Type$Local_Authority_info"
                                width="170"></ngc-dropdownlist>
                            </ngc-column> -->
                            <ngc-column [column]="2" *ngIf="imp">
                              <ngc-dropdownlist formControlName="localAuthorityType"
                                sourceId="CustomsLar_Type$CustomsLar_Type" (ngModelChange)="onLarChange($event)"
                                width="170"></ngc-dropdownlist>
                            </ngc-column>
                          <td>
                        </tr>
                      </tbody>
                    </ngc-table>
                  </ngc-column>
                </ngc-row>
              </ngc-container>
            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>
      <ngc-column [column]="7">
        <ngc-container>

          <ngc-row>
            <ngc-column>
              <ngc-container *ngIf="permitToFollowFlag && imp">
                <ngc-row>
                  <ngc-column>
                    <ngc-table>
                      <thead>
                        <tr>

                          <th>
                            <ngc-label label="customs.aces"></ngc-label>
                          </th>

                          <th>
                            <ngc-label label="customs.agent.appoint"></ngc-label>
                          </th>
                          <th>
                            <ngc-label label="customs.donumber"></ngc-label>
                          </th>
                        </tr>
                      </thead>
                      <tbody formArrayName="localAuthorityinfo">
                        <tr
                          *ngFor="let item of customsShipmentAddUpdateForm.get('localAuthorityinfo').controls; let index=index"
                          [formGroupName]="index">


                          <td>
                            <ngc-input (ngModelChange)='onIANumberChange($event, index)'
                              formControlName="referenceNumber" [disabled]="ondetails" required></ngc-input>
                          </td>
                          <td>
                            <ngc-lov required formControlName="appointedAgent" upperCase="true"
                              sourceId="AGENT_NAME_DISPLAY_PO1" sourceType="query" title="customs.agent.appoint"
                              (select)="onAppAgent(event, index, 'imp')" [noValidation]="true" dataField="code"
                              [noAutoComplete]="true" valueMember="desc" [disabled]="ondetails">

                              <ngc-data-column text="g.code" dataField="code" [width]="100">
                              </ngc-data-column>
                              <ngc-data-column text="g.name" dataField="desc" [width]="150">
                              </ngc-data-column>
                            </ngc-lov>
                          </td>
                          <td>
                            <ngc-input formControlName="deliveryOrderNo" [disabled]="ondetails"></ngc-input>
                          </td>
                          <td *ngIf="!acesflag">
                            <ngc-column align="right">
                              <ngc-button priority="secondary" (click)="onDeleteLarType($event,index)" value="g.delete">
                              </ngc-button>
                            </ngc-column>
                          </td>
                        </tr>
                      </tbody>
                    </ngc-table>
                  </ngc-column>

                </ngc-row>
              </ngc-container>
              <ngc-container *ngIf="permitNumberFlag">
                <ngc-row>
                  <ngc-column>
                    <ngc-table>
                      <thead>
                        <tr>
                          <th>
                            <ngc-label label="customs.permit.number"></ngc-label>
                          </th>
                          <th>
                            <ngc-label label="customs.agent.appoint"></ngc-label>
                          </th>
                          <th>
                            <ngc-label label="customs.donumber"></ngc-label>
                          </th>

                          <th>
                            <ngc-label label=" "></ngc-label>
                          </th>
                        </tr>
                      </thead>
                      <tbody formArrayName="localAuthorityinfo">
                        <tr
                          *ngFor="let item of customsShipmentAddUpdateForm.get('localAuthorityinfo').controls; let index=index"
                          [formGroupName]="index">
                          <td>
                            <ngc-input formControlName="referenceNumber" required></ngc-input>
                          </td>

                          <td>
                            <ngc-lov required formControlName="appointedAgent" upperCase="true"
                              sourceId="AGENT_NAME_DISPLAY_PO1" sourceType="query" title="customs.agent.appoint"
                              (select)="onAppAgent($event, index, 'exp')" [noValidation]="true" displayMember="code"
                              dataField="code" [noAutoComplete]="true" [disabled]="ondetails">

                              <ngc-data-column text="g.code" dataField="code" [width]="100">
                              </ngc-data-column>
                              <ngc-data-column text="g.name" dataField="desc" [width]="150">
                              </ngc-data-column>
                            </ngc-lov>
                          </td>
                          <td>
                            <ngc-input formControlName="deliveryOrderNo" [disabled]="ondetails"></ngc-input>
                          </td>
                          <td>
                            <ngc-button iconType="add" priority="quaternary" (click)="onAddPermitNumber(index)"
                              *ngIf="customsShipmentAddUpdateForm.get('localAuthorityinfo').controls.length == (index + 1)">
                            </ngc-button>
                          </td>
                          <td>
                            <ngc-link (linkClick)="onDeletePermitNumberRows(index)">
                              <ngc-icon type="delete" label="customs.del" value="true" true-color="grey"></ngc-icon>
                            </ngc-link>
                          </td>
                          <td *ngIf="!acesflag">
                            <ngc-column align="right">
                              <ngc-button priority="secondary" (click)="onDeleteLarType($event,index)" value="g.delete">
                              </ngc-button>
                            </ngc-column>
                          </td>
                        </tr>
                      </tbody>
                    </ngc-table>
                  </ngc-column>
                </ngc-row>
              </ngc-container>
              <ngc-container *ngIf="excemptionCodeFlag">
                <ngc-row>
                  <ngc-column>
                    <ngc-table>
                      <thead>
                        <tr>
                          <th>
                            <ngc-label label="customs.exemption.code"></ngc-label>
                          </th>
                          <th>
                            <ngc-label label="customs.agent.appoint"></ngc-label>
                          </th>

                          <th>
                            <ngc-label label="customs.donumber"></ngc-label>
                          </th>
                        </tr>
                      </thead>
                      <tbody formArrayName="localAuthorityinfo">
                        <tr
                          *ngFor="let item of customsShipmentAddUpdateForm.get('localAuthorityinfo').controls; let index=index"
                          [formGroupName]="index">
                          <td>
                            <ngc-dropdownlist formControlName="referenceNumber" sourceId="Admin$ExemptionCode"
                              (select)='onExemptCodeSelect($event)' displayMember="code" required></ngc-dropdownlist>
                          </td>
                          <td>
                            <ngc-lov required formControlName="appointedAgent" upperCase="true"
                              sourceId="AGENT_NAME_DISPLAY_PO1" sourceType="query" title="customs.agent.appoint"
                              (select)="onAppAgent($event, index, 'exp')" [noValidation]="true" displayMember="code"
                              dataField="code" [noAutoComplete]="true" [disabled]="ondetails">

                              <ngc-data-column text="g.code" dataField="code" [width]="100">
                              </ngc-data-column>
                              <ngc-data-column text="g.name" dataField="desc" [width]="150">
                              </ngc-data-column>
                            </ngc-lov>
                          </td>
                          <td>
                            <ngc-input formControlName="deliveryOrderNo" [disabled]="ondetails"></ngc-input>
                          </td>
                          <td *ngIf="!acesflag">
                            <ngc-column align="right">
                              <ngc-button priority="secondary" (click)="onDeleteLarType($event,index)" value="g.delete">
                              </ngc-button>
                            </ngc-column>
                          </td>
                        </tr>
                      </tbody>
                    </ngc-table>
                  </ngc-column>
                </ngc-row>



              </ngc-container>
              <ngc-container>

                <ngc-row>
                  <ngc-column [column]="1">
                    <ngc-label label='customs.license'></ngc-label>
                    <div>
                      <ngc-input formControlName="license" [width]="200"></ngc-input>
                    </div>
                  </ngc-column>
                </ngc-row>
                <ngc-row>
                  <ngc-column [column]="5">
                    <ngc-label label='g.reason'></ngc-label>
                    <div>
                      <ngc-input formControlName="remarks" [width]="900"></ngc-input>
                    </div>
                  </ngc-column>
                </ngc-row>
              </ngc-container>

            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>

    </ngc-row>
  </ngc-container>
  <!-- --------------------------------------------------------------------------------------------------------------- -->
  <!-- <ngc-container type="rectangle" *ngIf="exp">
    <ngc-row>
      <ngc-column>
        <ngc-label label='LOCAL AUTHORITY'></ngc-label>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column [column]="3">
        <ngc-container>
          <ngc-row>
            <ngc-column>
              <ngc-container>
                <ngc-row>
                  <ngc-column>
                    <ngc-table>
                      <thead>

                        <tr>
                          <th>
                            <ngc-label label="LAR Type"></ngc-label>
                          </th>

                        </tr>
                      </thead>
                      <tbody formArrayName="localAuthorityinfo">
                        <tr *ngFor="let item of customsShipmentAddUpdateForm.get('localAuthorityinfo').controls; let index=index"
                          [formGroupName]="index">
                          <td>
                            <ngc-column [column]="2" *ngIf="exp">
                              <ngc-dropdownlist formControlName="localAuthorityType" sourceId="Acceptance_Type$Local_Authority_info"
                                width="170"></ngc-dropdownlist>
                            </ngc-column>
                           
                          <td>
                        </tr>
                      </tbody>
                    </ngc-table>
                  </ngc-column>
                </ngc-row>
              </ngc-container>
            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>
      <ngc-column [column]="7">
        <ngc-container>

          <ngc-row>
            <ngc-column>
              <ngc-container *ngIf="permitToFollowFlag && exp">
                <ngc-row>
                  <ngc-column>
                    <ngc-table>
                      <thead>
                        <tr>

                          <th>
                            <ngc-label label="ACES"></ngc-label>
                          </th>

                          <th>
                            <ngc-label label="Appointed Agent"></ngc-label>
                          </th>

                        </tr>
                      </thead>
                      <tbody formArrayName="localAuthorityinfo">
                        <tr *ngFor="let item of customsShipmentAddUpdateForm.get('localAuthorityinfo').controls; let index=index"
                          [formGroupName]="index">


                          <td>
                            <ngc-input formControlName="referenceNumber" [disabled]="ondetails"></ngc-input>
                          </td>
                          <td>
                            <ngc-lov required formControlName="appointedAgent" upperCase="true" sourceId="AGENT_NAME_DISPLAY_PO"
                              sourceType="query" title="Appointed Agent" (ngModelChange)="onAppAgent($event, index, 'exp')"
                              [noValidation]="true" displayMember="code" dataField="code" [noAutoComplete]="true"
                              [disabled]="ondetails">

                              <ngc-data-column text="Code" dataField="code" [width]="100">
                              </ngc-data-column>
                              <ngc-data-column text="Name" dataField="desc" [width]="150">
                              </ngc-data-column>
                            </ngc-lov>
                          </td>

                          <td>
                            <ngc-column align="right">
                              <ngc-button priority="secondary" (click)="onDeleteLarType($event,index)" value="delete">
                              </ngc-button>
                            </ngc-column>
                          </td>
                        </tr>
                      </tbody>
                    </ngc-table>
                  </ngc-column>

                </ngc-row>
              </ngc-container>
              <ngc-container *ngIf="permitNumberFlag">
                <ngc-row>
                  <ngc-column>
                    <ngc-table>
                      <thead>
                        <tr>
                          <th>
                            <ngc-label label="Permit Number"></ngc-label>
                          </th>
                          <th>
                            <ngc-label label="Appointed Agent"></ngc-label>
                          </th>
                          <th>
                            <ngc-label label=" "></ngc-label>
                          </th>
                        </tr>
                      </thead>
                      <tbody formArrayName="localAuthorityinfo">
                        <tr *ngFor="let item of customsShipmentAddUpdateForm.get('localAuthorityinfo').controls; let index=index"
                          [formGroupName]="index">
                          <td>
                            <ngc-input formControlName="referenceNumber" required></ngc-input>
                          </td>

                          <td>
                            <ngc-lov required formControlName="appointedAgent" upperCase="true" sourceId="AGENT_NAME_DISPLAY_PO"
                              sourceType="query" title="Appointed Agent" (ngModelChange)="onAppAgent($event, index, 'exp')"
                              [noValidation]="true" displayMember="code" dataField="code" [noAutoComplete]="true"
                              [disabled]="ondetails">

                              <ngc-data-column text="Code" dataField="code" [width]="100">
                              </ngc-data-column>
                              <ngc-data-column text="Name" dataField="desc" [width]="150">
                              </ngc-data-column>
                            </ngc-lov>
                          </td>

                          <td>
                            <ngc-button iconType="add" priority="quaternary" formControlName="hidePermitValue" (click)="onAddPermitNumber(index)"
                              *ngIf="customsShipmentAddUpdateForm.get('localAuthorityinfo').controls.length == (index + 1)"></ngc-button>
                          </td>
                          <td>
                            <ngc-link (linkClick)="onDeletePermitNumberRows(index)">
                              <ngc-icon type="delete" label="del" value="true" true-color="grey"></ngc-icon>
                            </ngc-link>
                          </td>
                          <td>
                            <ngc-column align="right">
                              <ngc-button priority="secondary" (click)="onDeleteLarType($event,index)" value="delete">
                              </ngc-button>
                            </ngc-column>
                          </td>
                        </tr>
                      </tbody>
                    </ngc-table>
                  </ngc-column>
                </ngc-row>
              </ngc-container>
              <ngc-container *ngIf="excemptionCodeFlag">
                <ngc-row>
                  <ngc-column>
                    <ngc-table>
                      <thead>
                        <tr>
                          <th>
                            <ngc-label label="Exemption Code"></ngc-label>
                          </th>
                          <th>
                            <ngc-label label="Appointed Agent"></ngc-label>
                          </th>

                        </tr>
                      </thead>
                      <tbody formArrayName="localAuthorityinfo">
                        <tr *ngFor="let item of customsShipmentAddUpdateForm.get('localAuthorityinfo').controls; let index=index"
                          [formGroupName]="index">
                          <td>
                            <ngc-dropdownlist formControlName="referenceNumber" sourceId="Admin$ExemptionCode" (select)='onExemptCodeSelect($event)'
                              displayMember="code"></ngc-dropdownlist>
                          </td>
                          <td>
                            <ngc-lov required formControlName="appointedAgent" upperCase="true" sourceId="AGENT_NAME_DISPLAY_PO"
                              sourceType="query" title="Appointed Agent" (ngModelChange)="onAppAgent($event, index, 'exp')"
                              [noValidation]="true" displayMember="code" dataField="code" [noAutoComplete]="true"
                              [disabled]="ondetails">

                              <ngc-data-column text="Code" dataField="code" [width]="100">
                              </ngc-data-column>
                              <ngc-data-column text="Name" dataField="desc" [width]="150">
                              </ngc-data-column>
                            </ngc-lov>
                          </td>

                          <td>
                            <ngc-column align="right">
                              <ngc-button priority="secondary" (click)="onDeleteLarType($event,index)" value="delete">
                              </ngc-button>
                            </ngc-column>
                          </td>
                        </tr>
                      </tbody>
                    </ngc-table>
                  </ngc-column>
                </ngc-row>



              </ngc-container>
              <ngc-container>

                <ngc-row>
                  <ngc-column [column]="1">
                    <ngc-label label='License'></ngc-label>
                    <div>
                      <ngc-input formControlName="license" [width]="200"></ngc-input>
                    </div>
                  </ngc-column>
                </ngc-row>
                <ngc-row>
                  <ngc-column [column]="5">
                    <ngc-label label='Reason'></ngc-label>
                    <div>
                      <ngc-input formControlName="remarks" [width]="900"></ngc-input>
                    </div>
                  </ngc-column>
                </ngc-row>
              </ngc-container>

            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>

    </ngc-row>
  </ngc-container>

  <ngc-container type="rectangle" *ngIf="imp">
    <ngc-row>
      <ngc-column>
        <ngc-label label='LOCAL AUTHORITY'></ngc-label>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column [column]="3">
        <ngc-container>
          <ngc-row>
            <ngc-column>
              <ngc-container>
                <ngc-row>
                  <ngc-column>
                    <ngc-table>
                      <thead>

                        <tr>
                          <th>
                            <ngc-label label="LAR Type"></ngc-label>
                          </th>

                        </tr>
                      </thead>
                      <tbody formArrayName="localAuthorityinfo">
                        <tr *ngFor="let item of customsShipmentAddUpdateForm.get('localAuthorityinfo').controls; let index=index"
                          [formGroupName]="index">
                          <td>
                            <ngc-column [column]="2" *ngIf="imp">
                              <ngc-dropdownlist formControlName="localAuthorityType" sourceId="CustomsLar_Type$CustomsLar_Type"
                                width="170"></ngc-dropdownlist>
                            </ngc-column>
                          <td>
                        </tr>
                      </tbody>
                    </ngc-table>
                  </ngc-column>
                </ngc-row>
              </ngc-container>
            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>
      <ngc-column [column]="7">
        <ngc-container>

          <ngc-row>
            <ngc-column>
              <ngc-container *ngIf="permitToFollowFlag && imp">
                <ngc-row>
                  <ngc-column>
                    <ngc-table>
                      <thead>
                        <tr>

                          <th>
                            <ngc-label label="ACES"></ngc-label>
                          </th>

                          <th>
                            <ngc-label label="Appointed Agent"></ngc-label>
                          </th>

                        </tr>
                      </thead>
                      <tbody formArrayName="localAuthorityinfo">
                        <tr *ngFor="let item of customsShipmentAddUpdateForm.get('localAuthorityinfo').controls; let index=index"
                          [formGroupName]="index">


                          <td>
                            <ngc-input (ngModelChange)='onIANumberChange($event, index)' formControlName="referenceNumber"
                              [disabled]="ondetails"></ngc-input>
                          </td>
                          <td>
                            <ngc-lov required formControlName="appointedAgent" upperCase="true" sourceId="AGENT_NAME_DISPLAY_PO"
                              sourceType="query" title="Appointed Agent" (select)="onAppAgent($event, index, 'imp')"
                              [noValidation]="true" dataField="code" [noAutoComplete]="true" valueMember="desc"
                              [disabled]="ondetails">

                              <ngc-data-column text="Code" dataField="code" [width]="100">
                              </ngc-data-column>
                              <ngc-data-column text="Name" dataField="desc" [width]="150">
                              </ngc-data-column>
                            </ngc-lov>
                          </td>

                          <td>
                            <ngc-column align="right">
                              <ngc-button priority="secondary" (click)="onDeleteLarType($event,index)" value="delete">
                              </ngc-button>
                            </ngc-column>
                          </td>
                        </tr>
                      </tbody>
                    </ngc-table>
                  </ngc-column>

                </ngc-row>
              </ngc-container>
              <ngc-container *ngIf="permitNumberFlag">
                <ngc-row>
                  <ngc-column>
                    <ngc-table>
                      <thead>
                        <tr>
                          <th>
                            <ngc-label label="Permit Number"></ngc-label>
                          </th>
                          <th>
                            <ngc-label label="Appointed Agent"></ngc-label>
                          </th>
                          <th>
                            <ngc-label label="Do Number"></ngc-label>
                          </th>

                          <th>
                            <ngc-label label=" "></ngc-label>
                          </th>
                        </tr>
                      </thead>
                      <tbody formArrayName="localAuthorityinfo">
                        <tr *ngFor="let item of customsShipmentAddUpdateForm.get('localAuthorityinfo').controls; let index=index"
                          [formGroupName]="index">
                          <td>
                            <ngc-input formControlName="referenceNumber" required></ngc-input>
                          </td>

                          <td>
                            <ngc-lov required formControlName="appointedAgent" upperCase="true" sourceId="AGENT_NAME_DISPLAY_PO"
                              sourceType="query" title="Appointed Agent" (ngModelChange)="onAppAgent($event, index, 'imp')"
                              [noValidation]="true" displayMember="code" dataField="code" [noAutoComplete]="true"
                              [disabled]="ondetails">

                              <ngc-data-column text="Code" dataField="code" [width]="100">
                              </ngc-data-column>
                              <ngc-data-column text="Name" dataField="desc" [width]="150">
                              </ngc-data-column>
                            </ngc-lov>
                          </td>
                          <td>
                            <ngc-input formControlName="deliveryOrderNo" [disabled]="ondetails"></ngc-input>
                          </td>
                          <td>
                            <ngc-button iconType="add" priority="quaternary" formControlName="hidePermitValue" (click)="onAddPermitNumber(index)"
                              *ngIf="customsShipmentAddUpdateForm.get('localAuthorityinfo').controls.length == (index + 1)"></ngc-button>
                          </td>
                          <td>
                            <ngc-link (linkClick)="onDeletePermitNumberRows(index)">
                              <ngc-icon type="delete" label="del" value="true" true-color="grey"></ngc-icon>
                            </ngc-link>
                          </td>
                          <td>
                            <ngc-column align="right">
                              <ngc-button priority="secondary" (click)="onDeleteLarType($event,index)" value="delete">
                              </ngc-button>
                            </ngc-column>
                          </td>
                        </tr>
                      </tbody>
                    </ngc-table>
                  </ngc-column>
                </ngc-row>
              </ngc-container>
              <ngc-container *ngIf="excemptionCodeFlag">
                <ngc-row>
                  <ngc-column>
                    <ngc-table>
                      <thead>
                        <tr>
                          <th>
                            <ngc-label label="Exemption Code"></ngc-label>
                          </th>
                          <th>
                            <ngc-label label="Appointed Agent"></ngc-label>
                          </th>

                          <th>
                            <ngc-label label="Do Number"></ngc-label>
                          </th>
                        </tr>
                      </thead>
                      <tbody formArrayName="localAuthorityinfo">
                        <tr *ngFor="let item of customsShipmentAddUpdateForm.get('localAuthorityinfo').controls; let index=index"
                          [formGroupName]="index">
                          <td>
                            <ngc-dropdownlist formControlName="referenceNumber" sourceId="Admin$ExemptionCode" (select)='onExemptCodeSelect($event)'
                              displayMember="code"></ngc-dropdownlist>
                          </td>
                          <td>
                            <ngc-lov required formControlName="appointedAgent" upperCase="true" sourceId="AGENT_NAME_DISPLAY_PO"
                              sourceType="query" title="Appointed Agent" (ngModelChange)="onAppAgent($event, index, 'imp')"
                              [noValidation]="true" displayMember="code" dataField="code" [noAutoComplete]="true"
                              [disabled]="ondetails">

                              <ngc-data-column text="Code" dataField="code" [width]="100">
                              </ngc-data-column>
                              <ngc-data-column text="Name" dataField="desc" [width]="150">
                              </ngc-data-column>
                            </ngc-lov>
                          </td>
                          <td>
                            <ngc-input formControlName="deliveryOrderNo" [disabled]="ondetails"></ngc-input>
                          </td>
                          <td>
                            <ngc-column align="right">
                              <ngc-button priority="secondary" (click)="onDeleteLarType($event,index)" value="delete">
                              </ngc-button>
                            </ngc-column>
                          </td>
                        </tr>
                      </tbody>
                    </ngc-table>
                  </ngc-column>
                </ngc-row>



              </ngc-container>
              <ngc-container>

                <ngc-row>
                  <ngc-column [column]="1">
                    <ngc-label label='License'></ngc-label>
                    <div>
                      <ngc-input formControlName="license" [width]="200"></ngc-input>
                    </div>
                  </ngc-column>
                </ngc-row>
                <ngc-row>
                  <ngc-column [column]="5">
                    <ngc-label label='Reason'></ngc-label>
                    <div>
                      <ngc-input formControlName="remarks" [width]="900"></ngc-input>
                    </div>
                  </ngc-column>
                </ngc-row>
              </ngc-container>

            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>

    </ngc-row>
  </ngc-container> -->

  <!-- -------------------------------------------------------------------------------------------------------------------------- -->
  <form [formGroup]="customeradress">
    <ngc-container type="rectangle">
      <ngc-row>

        <ngc-column [column]="8">
          <ngc-row>
            <ngc-column
              *ngIf="(this.customsShipmentAddUpdateForm.get('origin').value=== airportCode || this.customsShipmentAddUpdateForm.get('origin').value === cityCode)">
              <ngc-label label='customs.shipper.address'></ngc-label>
            </ngc-column>
            <ngc-column
              *ngIf="(this.customsShipmentAddUpdateForm.get('destination').value=== airportCode || this.customsShipmentAddUpdateForm.get('destination').value === cityCode)">
              <ngc-label label='customs.consignee.address'></ngc-label>
            </ngc-column>
          </ngc-row>
          <ngc-row>
            <ngc-column [column]="4">
              <ngc-label label='g.name'></ngc-label>
              <div>
                <ngc-input [width]="290" formControlName="customerName"></ngc-input>
              </div>
            </ngc-column>
            <ngc-column [column]="4">
              <ngc-label label=''></ngc-label>
              <br>
              <div>
                <ngc-input [width]="290" formControlName="customerNameTwo"></ngc-input>
              </div>
            </ngc-column>
          </ngc-row>
          <ngc-row>
            <ngc-column [column]="4">
              <ngc-label label='g.address'></ngc-label>

              <div>
                <ngc-input [width]="290" formControlName="streetAddress"></ngc-input>
              </div>
            </ngc-column>
            <ngc-column [column]="4">
              <ngc-label label='g.address'></ngc-label>
              <div>
                <ngc-input [width]="290" formControlName="streetAddressTwo"></ngc-input>
              </div>
            </ngc-column>
          </ngc-row>
          <ngc-row>
            <ngc-column [column]="2">
              <ngc-label label='g.place'></ngc-label>
              <div>
                <ngc-input [width]="90" formControlName="place"></ngc-input>
              </div>
            </ngc-column>
            <ngc-column [column]="2">
              <ngc-label label='g.postalCode'></ngc-label>
              <div>
                <ngc-input [width]="90" formControlName="postal"></ngc-input>
              </div>
            </ngc-column>
            <ngc-column [column]="2">
              <ngc-label label='g.state'></ngc-label>
              <div>
                <ngc-lov sourceId="STATE" title="g.state" formControlName="stateCode"  dataField="code" width="50%">
                  <ngc-data-column text="g.state"  dataField="code"  [width]="50"></ngc-data-column>
                  <ngc-data-column text="g.description" [width]="150" dataField="desc"></ngc-data-column>
                </ngc-lov>
              </div>
            </ngc-column>
            <ngc-column column=2>
              <ngc-label label='g.countryCode'></ngc-label>
              <div>
                <ngc-dropdownlist [width]="300" formControlName="countryCode" sourceId="COUNTRYDROPDOWN"
                  sourceType="query"></ngc-dropdownlist>
              </div>
            </ngc-column>

          </ngc-row>
        </ngc-column>
        <ngc-column [column]="2">
          <ngc-row>
            <ngc-column>
              <ngc-label label='customs.tsRedoc'></ngc-label>
            </ngc-column>
          </ngc-row>
          <ngc-row>
            <ngc-column [column]="3">
              <ngc-label label='customs.incoming'></ngc-label>
              <div>
                <ngc-input [width]="80" formControlName="tsredoc"></ngc-input>
              </div>
            </ngc-column>
          </ngc-row>
          <ngc-row>
            <ngc-column [column]="2">
              <ngc-label label='g.date'></ngc-label>
              <div>
                <ngc-dateinput [width]="90" formControlName="tsRedocflightDate"></ngc-dateinput>
              </div>
            </ngc-column>
          </ngc-row>
        </ngc-column>
        <ngc-column [column]="2">
          <ngc-row>
            <ngc-column>
              <ngc-label label='customs.part.sm'></ngc-label>
            </ngc-column>
          </ngc-row>
          <ngc-row>
            <ngc-column [column]="3">
              <ngc-label label='g.flight'></ngc-label>
              <div>
                <ngc-input [width]="80" formControlName="incoming"></ngc-input>
              </div>
            </ngc-column>
          </ngc-row>
          <ngc-row>
            <ngc-column [column]="2">
              <ngc-label label='g.date'></ngc-label>
              <div>
                <ngc-dateinput [width]="120" formControlName="flightDate"></ngc-dateinput>
              </div>
            </ngc-column>
          </ngc-row>
        </ngc-column>
      </ngc-row>

    </ngc-container>
  </form>




</form>