<form [formGroup]="historyForm">
  <ngc-titlebar title="Ban History" *ngIf="!popup"></ngc-titlebar>
  <ngc-container type="tab" formGroupName="banhistory">
    <ngc-row>
      <ngc-column [column]="3">
        <ngc-label label="tcs.vehicleNo"></ngc-label>
        <div>
          <ngc-display formControlName="vehicleNo"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column [column]="3">
        <ngc-label label="tcs.companyName"></ngc-label>
        <div>
          <ngc-display formControlName="companyId"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column [column]="3">
        <ngc-label label="tcs.outstandingFine"></ngc-label>
        <div>
          <ngc-currencydisplay formControlName="outstandingFine" type="displayCurrency"></ngc-currencydisplay>
        </div>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column [column]="3">
        <ngc-label label="tcs.banType"></ngc-label>
        <div>
          <ngc-display formControlName="banType"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column [column]="3">
        <ngc-label label="tcs.banReason"></ngc-label>
        <div>
          <ngc-display formControlName="banReasonDesc"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column [column]="3">
        <ngc-label label="tcs.banPeriod"></ngc-label>
        <div>
          <ngc-display formControlName="banPeriodFrom" type="cellsStyleRenderer"></ngc-display>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>

  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-datatable formArrayName="banhistoryDetail" [showToolbar]="false" [columnsHeight]="50">
          <ngc-data-column type="serialNo" text="tcs.serialNo" [width]="40">
          </ngc-data-column>
          <ngc-data-column text="tcs.banPeriod" dataField="banPeriodFrom" dataType="date" [width]="60"
            [cellsStyleRenderer]="cellsStyleRenderer">
          </ngc-data-column>
          <ngc-data-column text="tcs.banType" dataField="banType" [width]="60"></ngc-data-column>
          <ngc-data-column text="tcs.banReason" dataField="banReasonDesc" [width]="130"></ngc-data-column>
          <ngc-data-column text="tcs.status" dataField="banStatusDesc">
          </ngc-data-column>
          <ngc-data-column text="tcs.banDate" dataField="banDateTime" [width]="100" type="displayDateTime">
          </ngc-data-column>
          <ngc-data-column text="tcs.createdupdatedBy" dataField="createdUser_Code">
          </ngc-data-column>
          <ngc-data-column text="tcs.releaseDate" dataField="releaseDateTime" [width]="100" type="displayDateTime">
          </ngc-data-column>
          <ngc-data-column text="tcs.releaseBy" dataField="releaseBy">
          </ngc-data-column>
          <ngc-data-column [width]='105' text="tcs.releaseRemarks" dataField="releaseRemarks">
          </ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>