<form [formGroup]="enquiryLSPByLocationForm">
  <!-- Title Bar -->
  <ngc-titlebar (cancel)="onCancel($event)" title='uld.enquiryLSPByLocation' (clear)="onClear($event)" [disablePrint]='true' (print)="onPrint()">
  </ngc-titlebar>
  <ngc-container type="sectiontop">
    <ngc-row>
      <ngc-column column="1.5">
        <ngc-label label='uld.destinationWhLocation'></ngc-label>
        <div>
          <ngc-locations-list [displayOnlyLocation]="true" [width]="120" formControlName="warehouseDestination"
            (ngModelChange)="onSelectWareHouseDestination($event)" (select)="onLocationChange($event , index)"
            required='true'>
          </ngc-locations-list>
        </div>
      </ngc-column>
      <ngc-column column="1.5">
        <ngc-label label='uld.warehouselocation'></ngc-label>
        <div>
          <ngc-locations-list [displayOnlyLocation]="true" [width]="120" [sectorId]="sectorId"
            (ngModelChange)="onSelectWareHouseLocation($event)" formControlName="warehouseLocation" required='true'>
          </ngc-locations-list>
        </div>
      </ngc-column>
      <ngc-column column="1.5">
        <ngc-label label='uld.empty'></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" sourceId="General$YesNoFlag" [width]="130" [dropDownWidth]="130"
            formControlName="empty"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <ngc-label label=''></ngc-label>
        <div>
          <ngc-button #searchButton  accessEnableOn="r" (click)="lspByLocationList()" value="g.search" iconType="search">
          </ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container *ngIf="showTable" type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-datatable formArrayName="lspLocationList" (linkClick)="onLinkClick($event)" [pageable]="true"
          [enablePageSizeHeight]="false" [showToolbar]="true" [showPrint]="true" [showXLS]="true" [showPDF]="true"
          [showCSV]="false">
          <ngc-data-column text="uld.s.n" on dataField="serialNumber" [width]="70" align="left">
          </ngc-data-column>
          <ngc-data-column text="uld.lspNumber" dataField="lspNumber" [width]="130" align="left">
          </ngc-data-column>
          <ngc-data-column text="uld.destinationWhLocation" dataField="warehouseDestination" [width]="80" align="left">
          </ngc-data-column>
          <ngc-data-column text="uld.warehouseActualLocation" dataField="warehouseLocation" [width]="130" align="left">
          </ngc-data-column>
          <ngc-data-column text="uld.empty" dataField="empty" [width]="80" align="left">
          </ngc-data-column>
          <ngc-data-column text="uld.htClass" dataField="htClass" [width]="80" align="left">
          </ngc-data-column>
          <ngc-data-column text="uld.storagedate" dataField="storageDate" [width]="130" type="displayDate" align="left">
          </ngc-data-column>
          <ngc-data-column text="uld.retrieveDate" dataField="retrieveDate" [width]="130" type="displayDate" align="left">
          </ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-report #reportWindow title="g.report"  reportId='lspLocationList'  format='pdf'
    [reportParameters]='reportParameters'></ngc-report>
</form>
