<form [formGroup]="documenthandoverForm">
  <ngc-titlebar title='doc.check.in.out.label'>
  </ngc-titlebar>
  <ngc-container type="section">
    <ngc-row>
      <ngc-column [column]="1.1" [grid24]="true">
        <div>
          <ngc-label label='import.flight.type'></ngc-label>
        </div>
        <div>
          <ngc-dropdownlist accessEnableOn="r" sourceId="FlightType$FlightTypeValues" [width]="120"
            [dropDownWidth]="120" formControlName="flightTypeVal">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [column]="1.2" [grid24]="true">
        <ngc-label label='display.dateFrom'></ngc-label>
        <div>
          <ngc-datetimeinput [showCalendarButton]="true" [showTimeButton]="true" accessEnableOn="r" [width]="100"
            formControlName="fromDate">
          </ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column [column]="1.5">
        <ngc-label label='display.dateTo'></ngc-label>
        <div>
          <ngc-datetimeinput [showCalendarButton]="true" [showTimeButton]="true" accessEnableOn="r"
            formControlName="toDate"></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column [column]="1">
        <ngc-label label='g.carrierCode'></ngc-label>
        <div>
          <ngc-lov accessEnableOn="r" [width]="50" formControlName="carrierCode" sourceId="SATS_CARRIERCODE"
            title="g.carrier.list" dataField="code">
            <ngc-data-column text="g.carrierCode" dataField="code" [width]="80"></ngc-data-column>
            <ngc-data-column text="g.carrier.short.name" dataField="desc" [width]="80"></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column [column]="1.2">
        <ngc-label label="flight.flightNumber"></ngc-label>
        <div>
          <ngc-flightkeyinput accessEnableOn="r" upperCase="true" formControlName="flightNoValue" [noCarrier]="true"
            [width]="100"></ngc-flightkeyinput>
        </div>
      </ngc-column>
      <ngc-column [column]="1.2" [grid24]="true">
        <ngc-label label='warehouse.org.des' [width]="100"></ngc-label>
        <div>
          <ngc-lov formControlName='orgDesVal' [width]='100' upperCase='true' sourceId='FINAL_DESTINATION'
            title='g.destination' dataField='code' displayMember='code' accessEnableOn="r">
            <ngc-data-column text='flight.airport_cityCode' dataField='code' [width]='100'></ngc-data-column>
            <ngc-data-column text='g.description' dataField='desc' [width]='150'></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column [column]="1.2" [grid24]="true">
        <ngc-label label='imp.doc.status.label' [width]="150"></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" formControlName="documentStatusVal"
            sourceId="DocumentStatus$DocumentStatusValues" [width]="100">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [column]="1.2" [grid24]="true">
        <ngc-label label='import.flight.status'></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" formControlName="flightStatusVal"
            sourceId="FlightStatus$FlightStatusValues" [width]="100" [dropDownWidth]="130">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [column]="1.2" [grid24]="true">
        <ngc-label label='flight.cargo.ac.type.label'></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" formControlName="cargoACTypeVal" sourceId="CargoACType$CargoACTypeValues"
            [dropDownWidth]="110" [width]="100">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [column]="2" [grid24]="true">
        <ngc-label></ngc-label>
        <div>
          <ngc-button (click)="onSearch()" value="g.search" accessEnableOn="r">
          </ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container>
    <ngc-row *ngIf="displayButton">
      <ngc-column [column]="10">
      </ngc-column>
      <ngc-column [column]="1.5" [grid24]="true">

        <div>
          <ngc-button (click)="onRemarks()" value="equipment.return .doc.handover" accessEnableOn="r">
          </ngc-button>
        </div>
      </ngc-column>
      <ngc-column [column]="2" [grid24]="true">
        <div>
          <ngc-button (click)="onDocInOut()" value="imp.doc.in.out" accessEnableOn="r">
          </ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="box">
    <ngc-row *ngIf="displayData">
      <ngc-column>
        <ngc-datatable formArrayName="docHandOverDetailList" (linkClick)="onLinkClick($event)"
          [enablePageSizeHeight]="false" [pageable]="true" [pageSize]="15" [pagerMode]="'advanced'" [columnsHeight]="45"
          [showToolbar]="true" [showPrint]="false" [showXLS]="false" [showPDF]="false" [showCSV]="false"
          [pagerMode]="'advanced'" [rowCellsStyleRenderer]="rowCellsStyleRenderer">
          <ngc-data-column text="&nbsp;" [width]='30' dataField="selectCheck" align="center" cellsAlign="center"
            type="check" [checkAll]="true">
          </ngc-data-column>
          <ngc-data-column text='import.flight.type' dataField="flightType" [width]="100" align="center"
            cellsAlign="center" type="text"></ngc-data-column>
          <ngc-data-column text='flight.flight.no' dataField="flightNo" type="text" [width]="100" align="center"
            cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text='g.date' dataField="date" type="text" [width]="100" align="center" cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text='equipment.sta.std' dataField="staStd" [width]="100" type="text" [width]="140"
            align="center" cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text='imp.eta.etd' dataField="etaEtd" [width]="100" align="center" cellsAlign="center"
            type="text">
          </ngc-data-column>
          <ngc-data-column text="imp.ata.atd" dataField="ataAtd" [width]="100" cellsAlign="right" type="text"
            align="center">
          </ngc-data-column>
          <ngc-data-column text="warehouse.org.des" dataField="orgDes" [width]="88" cellsAlign="center" type="text"
            align="center">
          </ngc-data-column>
          <ngc-data-column text='import.ac.type' dataField="acType" [width]="88" align="center" cellsAlign="center"
            type="text">
          </ngc-data-column>
          <ngc-data-column text="flight.cargo.ac.type .doc.handover" dataField="cargoACType" [width]="100"
            cellsAlign="center" align="center" type="text">
          </ngc-data-column>
          <ngc-data-column text="import.flight.status" dataField="flightStatus" [width]="115" cellsAlign="center"
            type="text" align="center" [cellsStyleRenderer]="cellsStyleRenderer">
          </ngc-data-column>
          <ngc-data-column text='imp.doc.gate' dataField="gate" [width]="70" align="center" cellsAlign="center"
            type="text">
          </ngc-data-column>
          <ngc-data-column text='import.bay' dataField="bay" [width]="80" align="center" cellsAlign="center"
            type="text">
          </ngc-data-column>
          <ngc-data-column text='wrkLst.a/cRegtrn' dataField="acRegn" [width]="87" align="center" cellsAlign="center"
            type="text">
          </ngc-data-column>
          <ngc-data-column text='imp.ffm.dls.ind' dataField="ffmDlsInd" [width]="110" align="center" cellsAlign="center"
            type="text">
          </ngc-data-column>
          <ngc-data-column text='imp.doc.status' dataField="docStatus" [width]="110" align="center" cellsAlign="center"
            type="text">
          </ngc-data-column>
          <ngc-data-column text='export.uldsummary.label.return' dataField="returnRemark" [width]="300" align="centre"
            cellsalign="centre" type="text">
          </ngc-data-column>
          <ngc-data-column text='imp.doc.in.out.label' dataField="docInOutTime" [width]="120" align="centre"
            cellsalign="centre" type="displayDateTime">
          </ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>
<form [formGroup]="returnRemarks">
  <ngc-window #remarksPopup [width]="100" title="g.remarks">
    <ngc-container type="tab">
      <ngc-row>
        <ngc-column>
          <ngc-label label='g.remarks'></ngc-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <ngc-textarea [width]="300" [height]="100" formControlName="remarks" [maxlength]="65" required>
          </ngc-textarea>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column>
          <ngc-label label=''></ngc-label>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column align="right" [column]="4">
          <ngc-button (click)="remarkSave()" label="imp.doc.verify.save"></ngc-button>
        </ngc-column>
        <ngc-column align="right" [column]="3">
          <ngc-button (click)="remarkCancel()" label="flight.cancel"></ngc-button>
        </ngc-column>
      </ngc-row>
    </ngc-container>
  </ngc-window>
</form>
<form [formGroup]="docInOut">
  <ngc-window #docInOutPopup [width]="100" title="g.remarks">
    <ngc-container type="tab">
      <ngc-row>
        <ngc-column *ngIf="docInTimeLable">
          <ngc-label label='imp.doc.in.time'></ngc-label>&nbsp;&nbsp;&nbsp;&nbsp;
          <ngc-textarea [width]="300" [height]="100" formControlName="docInOutRemarks" [maxlength]="65" required>
          </ngc-textarea>
        </ngc-column>
        <ngc-column *ngIf="docOutTimeLable">
          <ngc-label label='imp.doc.out.time'></ngc-label>&nbsp;&nbsp;&nbsp;&nbsp;
          <ngc-textarea [width]="300" [height]="100" formControlName="docInOutRemarks" [maxlength]="65" required>
          </ngc-textarea>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column>
          <ngc-label label=''></ngc-label>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column align="right" [column]="6">
          <ngc-button (click)="docInOutSave()" label="imp.doc.verify.save"></ngc-button>
        </ngc-column>
        <ngc-column align="right" [column]="3">
          <ngc-button (click)="docInOutCancel()" label="flight.cancel"></ngc-button>
        </ngc-column>
      </ngc-row>
    </ngc-container>
  </ngc-window>
</form>