div.audit-trail {
  width: 100%;
  height: 100%;
  background-color: red;
}

div.audit-trail-json-tree {
  display: 'json-tree';
  position: relative;
  width: 100px;
  height: 100px;
}

//////////////////////////////
// .container-signin {
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-size: cover;
//   background-color: rgba(10, 10, 10, .68);
// }

// .container-signin-inner {
//   position: fixed;
//   top: 15%;
//   left: 33%;
//   height: 300px;
//   width: 300px;
//   background: linear-gradient(135deg, rgb(221, 220, 220) 0%, rgb(199, 197, 198) 100%);
//   border-radius: 0.30rem;
//   padding: 0.75rem;
//   box-shadow: 5px 5px rgba(10, 10, 10, 0.219);
// }

// .container-message-inner {
//   position: fixed;
//   top: 15%;
//   left: 25%;
//   background: linear-gradient(135deg, rgb(221, 220, 220) 0%, rgb(199, 197, 198) 100%);
//   border-radius: 0.30rem;
//   padding: 0.75rem;
//   box-shadow: 5px 5px rgba(10, 10, 10, 0.219);
// }

// .login-style {
//   font-size: 0.9rem;
//   font-weight: bold;
// }

// .login-container {
//   padding-left: 10px !important;
//   margin-top: 10px;
// }

// .login-main-container {
//   color: #808080;
//   position: fixed;
//   top: 160px;
//   right: 10px;
//   z-index: 500;
//   padding: 3em 2em;
//   background: rgba(255, 255, 255, 0.9);
//   width: 23em;
//   -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.3);
//   -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.3);
//   box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.3);
// }

// .loginbox {
//   margin-bottom: 15px;
// }

// .navbar-top {
//   background-image: url("/assets/images/header-foooter-bg.png");
//   height: 40px !important;
//   padding: 0px !important;
// }

// .navbar-header {
//   background-image: url("/assets/images/header-foooter-bg.png");
//   width: 100%;
//   padding: 70px !important;
// }

// i.agent-home-icon {
//   color: white;
// }


// div.login-header-section {
//   background: #b91b04 0px 0px no-repeat;
//   bottom: 0;
//   width: 100%;
//   height: 30px;
//   z-index: 999;
//   border: 3px;
//   border-top: 1px solid crimson;
// }

// .loginpageimg {
//   width: 108px !important;
//   margin-bottom: -37px !important;
//   margin: 0px 0 0 56px;
// }


// .landing-page-header {
//   margin: 0;
//   padding-top: 2vh;
//   right: 0;
//   // background-image: url("/assets/images/loginheader.png"); 
//   // background-image: url("assets/images/loginheader.PNG");
// }

// .btnloginnmenu {
//   margin-top: 39px;
// }

// .fixed-top {
//   top: -16px;
// }


// .dropdown-menu {
//   cursor: pointer;
//   left: -221px;
// }

// .awbtrack {
//   left: -410;
//   top: 100;
// }

// .footer-login {
//   position: fixed;
//   background: #2c2e30;
//   bottom: 0;
//   width: 100%;
//   height: 50px;
//   z-index: 999;
//   border: 5px;
//   border-top: 1px solid crimson;
//   border-bottom: 2px solid darkgreen;
//   color: white;
// }
