<form [formGroup]='checkoutForm'>
  <ngc-titlebar title="checkout.movetocheckoutarea"></ngc-titlebar>
  <ngc-container type="box">
    <ngc-access-control>
      <ngc-row>
        <ngc-column>
          <ngc-label label="adddoc.scanpouchdoc"></ngc-label>
          <div>
            <ngc-input #pouchId [maxLength]="25" formControlName="pouchId" (blur)="pouchTrimming($event)" upperCase="true"></ngc-input>
          </div>
        </ngc-column>
        <ngc-column>
          <ngc-label label="g.valid"></ngc-label>
          <div>
            <ngc-checkbox formControlName="validationFlag"></ngc-checkbox>
          </div>
        </ngc-column>
      </ngc-row>
      <br>
      <ngc-row *ngIf="displayFlag">
        <ngc-column>
          <ngc-label label="fltpouch.flight"></ngc-label>
        </ngc-column>
        <ngc-column>
          <ngc-display formControlName="flightNumber"></ngc-display>
        </ngc-column>
        <ngc-column>
          <ngc-display formControlName="flightOriDate" [onlyDate]="true"></ngc-display>
        </ngc-column>
        <ngc-column>
          <ngc-display formControlName="locationName"></ngc-display>
        </ngc-column>
        <ngc-column>
          <ngc-display formControlName="status"></ngc-display>
        </ngc-column>
      </ngc-row>
    </ngc-access-control>
  </ngc-container>
</form>