<ngc-titlebar title="capture.damage" (cancel)='backToHome($event)' (clear)="onClear($event)"></ngc-titlebar>
<form [formGroup]="captureDamageForm">
  <ngc-container type="section">
    <ngc-row>
      <ngc-column [column]="7">
        <!--<ngc-container type="section">-->
        <ngc-row>
          <ngc-column>
            <ngc-label label="mb.mbname"></ngc-label>
            <div>
              <ngc-display value="test"></ngc-display>
            </div>
          </ngc-column>

          <ngc-column>
            <ngc-label label="mb.pdamage"></ngc-label>
            <div>
              <ngc-display value="5"></ngc-display>
            </div>
          </ngc-column>
        </ngc-row>

        <ngc-row>
          <ngc-column>
            <ngc-label label=""></ngc-label>
          </ngc-column>
        </ngc-row>

        <ngc-row>
          <ngc-column>
            <ngc-label label="uld.Remark"></ngc-label>
            <div>
              <ngc-input [width]="500"></ngc-input>
            </div>
          </ngc-column>
        </ngc-row>

        <ngc-row>
          <ngc-column>
            <ngc-label label=""></ngc-label>
          </ngc-column>
        </ngc-row>

        <ngc-row>
          <ngc-column align="right">
            <ngc-button value="mb.adamage" (click)="addDamage()"></ngc-button>
          </ngc-column>
        </ngc-row>

        <ngc-row>
          <ngc-column>
            <ngc-label label=""></ngc-label>
          </ngc-column>
        </ngc-row>

        <ngc-row>
          <ngc-column>
            <ngc-table>
              <thead>
                <tr>
                  <th>
                    <ngc-label value="mb.sno"></ngc-label>
                  </th>
                  <th>
                    <ngc-label value="mb.nod"></ngc-label>
                  </th>
                  <th>
                    <ngc-label value="mb.pdamage"></ngc-label>
                  </th>
                  <th>
                    <ngc-label value="mb.severity"></ngc-label>
                  </th>
                  <th>
                    <ngc-label value="mb.occurence"></ngc-label>
                  </th>
                  <th>
                    <ngc-label value=""></ngc-label>
                  </th>
                </tr>
              </thead>
              <tbody formArrayName="captureDamageDetails">
                <tr *ngFor=" let item of captureDamageForm.controls.captureDamageDetails.controls; let index=index"
                  [formGroupName]="index">
                  <td>
                    <ngc-display formControlName="sno"></ngc-display>
                  </td>
                  <td>
                    <ngc-dropdownlist formControlName="natureOfDamage" [width]="100"></ngc-dropdownlist>
                  </td>
                  <td>
                    <ngc-piecesinput formControlName="piecesDamaged" [width]="100"></ngc-piecesinput>
                  </td>
                  <td>
                    <ngc-dropdownlist formControlName="severity" [width]="100"></ngc-dropdownlist>
                  </td>
                  <td>
                    <ngc-dropdownlist formControlName="occurrence" [width]="100"></ngc-dropdownlist>
                  </td>
                  <td align="center">
                    <ngc-link iconType="delete" (click)="onDelete(index)" formControlName="selectDeleteIcon"></ngc-link>
                  </td>
                </tr>
              </tbody>
            </ngc-table>
          </ngc-column>
        </ngc-row>

        <ngc-row>
          <ngc-column>
            <ngc-label label=""></ngc-label>
          </ngc-column>
        </ngc-row>

        <ngc-row>
          <ngc-column [column]="4">
            <ngc-label value="si.emailto"></ngc-label>
            <div>
              <ngc-input [width]="250"></ngc-input>
            </div>
          </ngc-column>
          <ngc-column [column]="1">
            <br>
            <ngc-button value="si.send"></ngc-button>
          </ngc-column>
        </ngc-row>
        <ngc-row>
          <ngc-column>
            <ngc-label label=""></ngc-label>
          </ngc-column>
        </ngc-row>
        <!--</ngc-container>-->

      </ngc-column>
      <ngc-column [column]="1"></ngc-column>

      <ngc-column [column]="4">
        <!--<ngc-container type="section">

        </ngc-container>-->

        <ngc-row>
          <ngc-column>
            <ngc-label label="awb.photo.remark"></ngc-label>
            <div>
              <ngc-input [width]="200"></ngc-input>
            </div>
          </ngc-column>
        </ngc-row>

        <ngc-row>
          <ngc-column>
            <ngc-label label=""></ngc-label>
          </ngc-column>
        </ngc-row>

        <ngc-row>
          <ngc-column>
            <ngc-button label="poIssue.upload" [width]="150"></ngc-button>
          </ngc-column>
        </ngc-row>

        <ngc-row>
          <ngc-column>
            <ngc-label label="g.uploaded.by"></ngc-label>
            <div>
              <ngc-display value="John"></ngc-display>
            </div>
          </ngc-column>
        </ngc-row>
      </ngc-column>
    </ngc-row>
  </ngc-container>

  <ngc-container type="tab">
    <ngc-row>
      <ngc-column align="left">
        <ngc-button label="mb.deletephoto"></ngc-button>
      </ngc-column>
      <ngc-column align="right">
        <ngc-button label="save"></ngc-button>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>