<ngc-titlebar type="header" title="export.flight.complete.title" (cancel)="onCancel()">
</ngc-titlebar>
<form [formGroup]="flightCompleteSerachGroup">
  <ngc-container type="sectiontop">
    <ngc-row>
      <ngc-column column="6" [grid36]="true">
        <ngc-label value="expbu.flight"></ngc-label>
        <div>
          <ngc-flightkeyinput accessEnableOn="r" [width]="120" required formControlName="flightKey" maxlength="7">
          </ngc-flightkeyinput>
        </div>
      </ngc-column>
      <ngc-column column="6" [grid36]="true">
        <ngc-label value="flight.flightDate"></ngc-label>
        <div>
          <ngc-datetimeinput accessEnableOn="r" required [showCalendarButton]="true" [showTimeButton]="false"
            formControlName="flightOriginDate"></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column column="6" [grid36]="true">
        <ngc-label value=" "></ngc-label>
        <div>
          <ngc-button accessEnableOn="r" (click)="onSearch()" value="g.search" iconType="search"></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container *ngIf="searchFlg" type="tab">
    <ngc-row>
      <ngc-column column="3" [grid48]="true">
        <ngc-label value="flight.Flight"></ngc-label>
        <div>
          <ngc-display formControlName="flightKey"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="4" [grid48]="true">
        <ngc-label value="flight.date"></ngc-label>
        <div>
          <ngc-display formControlName="displayDate" [onlyDate]="true"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="3" [grid48]="true">
        <ngc-label value="flight.std"></ngc-label>
        <div>
          <ngc-display formControlName="std"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="3" [grid48]="true">
        <ngc-label value="flight.etd"></ngc-label>
        <div>
          <ngc-display formControlName="etd"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="3" [grid48]="true">
        <ngc-label value="flight.atd"></ngc-label>
        <div>
          <ngc-display formControlName="atd"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="4" [grid48]="true">
        <ngc-label value="export.flight.complete.aircraft.reg"></ngc-label>
        <div>
          <ngc-display formControlName="aircraftRegCode"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="3" [grid48]="true">
        <ngc-label value="flight.status"></ngc-label>
        <div>
          <ngc-display formControlName="status"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="5.5" [grid48]="true">
        <ngc-label value="flight.compltetedby"></ngc-label>
        <div>
          <ngc-display formControlName="flightCompletedBy"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="5.5" [grid48]="true">
        <ngc-label value="flight.compltetedAt"></ngc-label>
        <div>
          <ngc-display formControlName="customOut" upperCase="true" [onlyDate]="true"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="5.5" [grid48]="true">
        <ngc-label value="discrepency.count"></ngc-label>
        <div>
          <ngc-display value="export.flight.complete.fwb" [i18n]="true"></ngc-display>
          <ngc-display formControlName="fwbDiscrepancyCount"></ngc-display>
          <ngc-display value="export.flight.complete.fhl" [i18n]="true"></ngc-display>
          <ngc-display formControlName="fhlDiscrepancyCount"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="6" [grid48]="true">
        <!-- &nbsp; &nbsp; -->
        <ngc-label value="flight.autoFlightComplete"></ngc-label>
        <div align="center">
          <ngc-icon type="yesno" formControlName="autoFlightCompleteConfig"></ngc-icon>
        </div>
      </ngc-column>
    </ngc-row>

  </ngc-container>
  <ngc-container type="sectiontop" *ngIf="searchFlg" feature="Exp.Bu.FlightComplete.ConsolShipmentView">
    <ngc-row>
      <ngc-column column="1">
        <ngc-label value="exp.no.consol.shipments"></ngc-label>
        <div>
          <ngc-display formControlName="noOfConsolShipments"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="1.5">
        <ngc-label value="exp.no.consol.shipments.with.fhl"></ngc-label>
        <div>
          <ngc-display formControlName="noOfConsolShipmentsWithFHL"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="1.5">
        <ngc-label value="exp.no.consol.shipments.without.fhl"></ngc-label>
        <div>
          <ngc-display formControlName="noOfConsolShipmentsWithoutFHL"></ngc-display>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="sectiontop" *ngIf="searchFlg">
    <ngc-row>
      <ngc-column>
        <ngc-label value=" "></ngc-label>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-datatable formArrayName="flightCompleteList" [groups]="['offPoint']"
          [groupsRenderer]="groupsRendererForFligthComplete" [enablePageSizeHeight]="false">
          <ngc-data-column text='awbnumber' [width]="75" dataField="offPoint" [hidden]="true"></ngc-data-column>
          <ngc-data-column text='awb.awbnumber' [width]="75" dataField="shipmentNumber"></ngc-data-column>
          <ngc-data-column text='awb.origin' [width]="75" dataField="origin"></ngc-data-column>
          <ngc-data-column text='awb.destination' [width]="75" dataField="destination"></ngc-data-column>
          <ngc-data-column text='awb.pieces' [width]="100" dataField="shipmentPieces" type="displayPieces"
            cellsAlign="right"></ngc-data-column>
          <ngc-data-column text='awb.weight' [width]="100" dataField="shipmentWeight" type="displayWeight"
            cellsAlign="right"></ngc-data-column>
          <ngc-data-column text='exp.shc' [width]="100" dataField="shcs"></ngc-data-column>
          <ngc-data-column text='exp.NatureOfGoods' [width]="75" dataField="natureOfGoods"></ngc-data-column>
          <ngc-data-column text='export.book.volume' [width]="75" dataField="volume"></ngc-data-column>
          <ngc-data-column text='custom.out' [width]="75" dataField="customOut"></ngc-data-column>
          <ngc-data-column [width]="50" type="icon" iconType="yesno" text="g.fwb" align="center" cellsAlign="center"
            dataField="fwbFlag"></ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-report #reportWindow1 format='xls' title="g.report"  reportId='FlightComplete1'
     [reportParameters]='reportParameters'></ngc-report>
  <ngc-report #reportWindow2 format='xls' title="g.report"  reportId='FlightComplete2'
     [reportParameters]='reportParameters'></ngc-report>
  <ngc-report #reportWindow3 format='xls' title="g.report"  reportId='MFM'  [reportParameters]='reportParameters'>
  </ngc-report>
  <ngc-window #resendMessagesWindow title="export.resend.messages" [showCloseButton]="true" width="800" height="500">
    <ngc-container type="section">
      <ngc-row>
        <ngc-column>
          <ngc-datatable formArrayName="messageToResendList" [enablePageSizeHeight]="false">
            <ngc-data-column text='g.select' [width]="100" dataField="selectFlg" type="check"></ngc-data-column>
            <ngc-data-column text='g.message.type' [width]="200" dataField="messageType"></ngc-data-column>
            <ngc-data-column text='g.sub.message.type' [width]="200" dataField="subMessageType"></ngc-data-column>
          </ngc-datatable>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column align="right">
          <ngc-button (click)="resendMsg()" value="export.flight.complete.resend.button"></ngc-button>
        </ngc-column>
      </ngc-row>
    </ngc-container>
  </ngc-window>
</form>
<form [formGroup]="ffmPreviewButton">
  <ngc-window #onFFMpreview [width]="1400" [height]="630" title="exp.ffm.messages" style="top:170px !important">
    <ngc-container type="tab">
      <ngc-row>
        <ngc-column>
          <ngc-table>
            <thead>
              <tr>
                <th style="width: 1px;">
                  <ngc-label label="g.sNo"></ngc-label>
                </th>
                <th>
                  <ngc-label label="g.message"></ngc-label>
                </th>
                <th style="width: 1px;">
                  <ngc-label label="exp.interface.name"></ngc-label>
                </th>
                <th style="width: 1px;">
                  <ngc-label label="set.up.message.definition.channel"></ngc-label>
                </th>
              </tr>
            </thead>
            <tbody formArrayName="ffmPreviewSummary">
              <tr *ngFor="let item of ffmPreviewButton.get('ffmPreviewSummary').controls; let index=index"
                [formGroupName]="index">
                <td>
                  {{index + 1}}
                </td>
                <td>
                  <ngc-codeeditor formControlName="message" [disabled]="true"></ngc-codeeditor>
                </td>
                <td>
                  <ngc-display formControlName="interfaceName"></ngc-display>
                </td>
                <td>
                  <ngc-display formControlName="channel"></ngc-display>
                </td>
              </tr>
            </tbody>
          </ngc-table>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column align="right">
          <ngc-button value="g.close" (click)="onClose()"> </ngc-button>
        </ngc-column>
      </ngc-row>
    </ngc-container>
  </ngc-window>
</form>

<ngc-footer>
  <ngc-row *ngIf="searchFlg">
    <ngc-column>
      <ngc-column column="6" [grid36]="true">
        <ngc-button (click)="onFlightComplete()" [disabled]="flightCompleteFlg" value="flightComplete.complete">
        </ngc-button>
      </ngc-column>
      <ngc-column column="6" [grid36]="true">
        <ngc-button (click)="onResendMsg()" value="flightComplete.resendMessage"></ngc-button>
      </ngc-column>
      <ngc-column column="6" [grid36]="true">
        <ngc-button (click)="onManifest()" [disabled]="manifestFlg" value="flightComplete.manifest"></ngc-button>
      </ngc-column>
      <ngc-column column="6" [grid36]="true">
        <ngc-button (click)="onOffload()" [disabled]="offloadFlg" value="flightComplete.offload"></ngc-button>
      </ngc-column>
      <ngc-column column="6" [grid36]="true" *ngIf="customLflagForMF">
        <ngc-button value="flightComplete.report" (click)="onPrint()">
        </ngc-button>
      </ngc-column>
      <ngc-column column="6" [grid36]="true" *ngIf="sendPldMailFlg">
        <ngc-button (click)="onSendingPldEmail()" value="flightComplete.pldMail"></ngc-button>
      </ngc-column>
      <ngc-column column="6" [grid36]="true" *ngIf="lhSendFlg">
        <ngc-button (click)="onLhSendFwb()" accessSectionId="LH_SEND_FWB_FFM" value="flightComplete.sendfwbfhl">
        </ngc-button>
      </ngc-column>
      <ngc-column column="6" [grid36]="true">
        <ngc-button (click)="onPrintMFM()" [disabled]="mfmflag" value="export.flc.fm.report.shortcut"></ngc-button>
      </ngc-column>
      <ngc-column column="6" [grid36]="true">
        <ngc-button (click)="onPrintFFMpreview()" value="export.ffm.preview" feature="Exp.Bu.FlightComplete.PreviewFFM">
        </ngc-button>
      </ngc-column>
    </ngc-column>
  </ngc-row>
</ngc-footer>