<ngc-titlebar title="awb.coolport.shipment.monitoring" (save)="updateTemparature($event)"
  (print)='oncoolportserviceReport($event)' (cancel)="onCancel()"></ngc-titlebar>
<form [formGroup]="coolportShipmentSearch">
  <ngc-container type='sectiontop'>
    <ngc-row>
      <ngc-column column="1.5">
        <ngc-label label="coolport.by" [width]="120"></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" formControlName="by" sourceId="Coolport_Shpmnt$By" [noCache]="true"
            [width]="150" (select)="onChangeBy($event)" required></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column="1.5">
        <ngc-label label="g.carrier" [width]="120"></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" formControlName="carrierCode" sourceId="CARRIER" [noCache]="true"
            sourceType="query" [width]="150"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column="1.5">
        <ngc-label label="coolport.carriergroup" [width]="120"></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" formControlName="carrierGroup" sourceId="CARRIER_GROUP" [noCache]="true"
            sourceType="query" [width]="150"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column="1.5">
        <ngc-label label="coolport.datetimefrom" [width]="120"></ngc-label>
        <div>
          <ngc-datetimeinput accessEnableOn="r" [width]="150" formControlName="dateTimeFrom" [showCalendarButton]="true"
            [showTimeButton]="true" required></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column column="1.5">
        <ngc-label label="coolport.datetimeto" formControlName="dateTimeTo" [width]="120"></ngc-label>
        <div>
          <ngc-datetimeinput accessEnableOn="r" [width]="150" formControlName="dateTimeTo" [showCalendarButton]="true"
            [showTimeButton]="true" required></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column column="">
        <ngc-label label="" [width]="120"></ngc-label>
        <div>
          <ngc-button [width]="100" accessEnableOn="r" value="coolport.search" iconType="search"
            (click)="onSearch($event)"></ngc-button>
        </div>
      </ngc-column>
      <ngc-column align="right">
        <ngc-label label='Temparature'></ngc-label>
        <div>
          <ngc-dropdownlist sourceId="Admin$TemperatureRange" [width]="150" [dropDownWidth]="150"
            formControlName="temperatureval" (select)="onChange($event)"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <!-- <ngc-column>
        <ngc-label label="" [width]="120"></ngc-label>
        <div>
          <ngc-button [width]="150" value="Export to Excel" (click)=" oncoolportserviceReport($event)"></ngc-button>
        </div>
      </ngc-column> -->
    </ngc-row>
  </ngc-container>
  <ngc-container type='sectiontop'>
    <ngc-row>
      <ngc-column align="right">
        <ngc-label label='coolport.refresh'></ngc-label>
        <ngc-switchbutton formControlName="auto"  (ngModelChange)="onAutoRefresh($event)"  onLabel="coolport.on">
        </ngc-switchbutton>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <form [formGroup]="coolportShipmentsResponse">
    <ngc-container type="importtab" *ngIf="this.coolportShipmentSearch.get('by').value == 'import'">
      <ngc-row>
        <ngc-column>
          <ngc-edittable formArrayName="coolportShipmentDetails" [pageable]="true">
            <ngc-data-column text="g.select" type="check" dataField="select" [width]="60" cellsAlign="center" align="center">
            </ngc-data-column>
            <ngc-data-column text="coolport.uldnumbe" dataField="uldNumber" type="text" [width]="100" cellsAlign="left"
              align="left"></ngc-data-column>
            <ngc-data-column text="g.awbNumber" dataField="awbNumber" type="text" [width]="100"
              cellsAlign="left" align="leftcenter"></ngc-data-column>
            <ngc-data-column text="awb.org" dataField="origin" type="text" [width]="70" cellsAlign="left" align="left">
            </ngc-data-column>
            <ngc-data-column text="awb.des" dataField="destination" type="text" [width]="70" cellsAlign="left"
              align="left"></ngc-data-column>
            <ngc-data-column text="g.pieces" dataField="pieces" type="displayPieces" [width]="60" cellsAlign="right"
              align="right"></ngc-data-column>
            <ngc-data-column text="coolport.weight" dataField="weight" type="displayWeight" [width]="60" cellsAlign="right"
              align="right"></ngc-data-column>
            <ngc-data-column text="g.natureOfGoods" dataField="natureOfGoods" type="text" [width]="100"
              cellsAlign="left" align="left"></ngc-data-column>
            <ngc-data-column text="g.shc" dataField="shc" type="text" [width]="50" cellsAlign="left" align="left">
            </ngc-data-column>
            <ngc-data-column text="flight.inbound.flight" dataField="bookingDetail" type="text" [width]="100" cellsAlign="left"
              align="left"></ngc-data-column>
            <ngc-data-column text="awb.transfer.type" dataField="transferType" type="text" [width]="50"
              cellsAlign="left" align="left"></ngc-data-column>
            <ngc-data-column text="flight.sta" dataField="sta" type="text" [width]="50" cellsAlign="left" align="left">
            </ngc-data-column>
            <ngc-data-column text="flight.eta" dataField="eta" type="text" [width]="50" cellsAlign="left" align="left">
            </ngc-data-column>
            <ngc-data-column text="flight.ata" dataField="ata" type="text" [width]="50" cellsAlign="left" align="left">
            </ngc-data-column>
            <ngc-data-column text="g.location" dataField="wareHouseLocation" type="text" [width]="80" cellsAlign="left"
              align="left"></ngc-data-column>
            <ngc-data-column text="flight.FFM" dataField="ffmOrBookingIndicator" type="text" [width]="50" cellsAlign="center"
              align="center"></ngc-data-column>
            <ngc-data-column text="g.remarks" dataField="remark" [width]="250" cellsAlign="left" align="left">
            </ngc-data-column>
            <ngc-data-column text="flight.flightdelay" type="text" dataField="flightDelay" [width]="60"
              cellsAlign="center" align="center"></ngc-data-column>
            <ngc-data-column text="coolport.current.temparature" dataField="currentTemparature" cellsAlign="right"
              align="right">
              <ng-template let-name="name" let-group="group">
                <ng-container [formGroupName]="group">
                  <ngc-display sourceCategory="dropdown" formControlName="currentTemparature"
                    sourceId="Admin$TemperatureRange" [width]="150"></ngc-display>
                </ng-container>
              </ng-template>
            </ngc-data-column>
            <ngc-data-column text="coolport.requested.temparature" type="text" dataField="temparature" [width]="100"
              cellsAlign="right" align="right"></ngc-data-column>
          </ngc-edittable>
        </ngc-column>
      </ngc-row>
    </ngc-container>
    <ngc-container type="importtab" *ngIf="this.coolportShipmentSearch.get('by').value == 'export'">
      <ngc-row>
        <ngc-column>
          <ngc-edittable formArrayName="coolportShipmentDetails" [pageable]="true">
            <ngc-data-column text="g.select" type="check" dataField="select" [width]="60" cellsAlign="center" align="center">
            </ngc-data-column>
            <ngc-data-column text="coolport.uldnumbe" dataField="uldNumber" type="text" [width]="100" cellsAlign="left"
              align="left"></ngc-data-column>
            <ngc-data-column text="g.awbNumber" dataField="awbNumber" type="text" [width]="100"
              cellsAlign="left" align="leftcenter"></ngc-data-column>
            <ngc-data-column text="awb.org" dataField="origin" type="text" [width]="70" cellsAlign="left" align="left">
            </ngc-data-column>
            <ngc-data-column text="awb.des" dataField="destination" type="text" [width]="70" cellsAlign="left"
              align="left"></ngc-data-column>
            <ngc-data-column text="g.pieces" dataField="pieces" type="displayPieces" [width]="60" cellsAlign="right"
              align="right"></ngc-data-column>
            <ngc-data-column text="coolport.weight" dataField="weight" type="displayWeight" [width]="60" cellsAlign="right"
              align="right"></ngc-data-column>
            <ngc-data-column text="g.natureOfGoods" dataField="natureOfGoods" type="text" [width]="100"
              cellsAlign="left" align="left"></ngc-data-column>
            <ngc-data-column text="g.shc" dataField="shc" type="text" [width]="50" cellsAlign="left" align="left">
            </ngc-data-column>
            <ngc-data-column text="flight.outbound.flight" dataField="bookingDetail" type="text" [width]="100"
              cellsAlign="left" align="left"></ngc-data-column>
            <ngc-data-column text="awb.transfer.type" dataField="transferType" type="text" [width]="50"
              cellsAlign="left" align="left"></ngc-data-column>
            <ngc-data-column text="flight.std" dataField="sta" type="text" [width]="50" cellsAlign="left" align="left">
            </ngc-data-column>
            <ngc-data-column text="flight.etd" dataField="eta" type="text" [width]="50" cellsAlign="left" align="left">
            </ngc-data-column>
            <ngc-data-column text="flight.atd" dataField="ata" type="text" [width]="50" cellsAlign="left" align="left">
            </ngc-data-column>
            <ngc-data-column text="g.location" dataField="wareHouseLocation" type="text" [width]="80" cellsAlign="left"
              align="left"></ngc-data-column>
            <ngc-data-column text="awb.booking.exists" dataField="ffmOrBookingIndicator" type="text" [width]="50"
              cellsAlign="center" align="center"></ngc-data-column>
            <ngc-data-column text="g.remarks" dataField="remark" [width]="250" cellsAlign="left" align="left">
            </ngc-data-column>
            <ngc-data-column text="flight.flightdelay" type="text" dataField="flightDelay" [width]="60" cellsAlign="center"
              align="center"></ngc-data-column>
            <ngc-data-column text="coolport.current.temparature" dataField="currentTemparature" cellsAlign="right"
              align="right">
              <ng-template let-name="name" let-group="group">
                <ng-container [formGroupName]="group">
                  <ngc-display sourceCategory="dropdown" formControlName="currentTemparature"
                    sourceId="Admin$TemperatureRange" [width]="150"></ngc-display>
                </ng-container>
              </ng-template>
            </ngc-data-column>
            <ngc-data-column text="coolport.requested.temparature" type="text" dataField="temparature" [width]="100"
              cellsAlign="right" align="right"></ngc-data-column>
          </ngc-edittable>
        </ngc-column>
      </ngc-row>
    </ngc-container>
    <ngc-report format='xls'  #reportWindow1 title="g.report"  reportId='Coolportmonitoring'
       [reportParameters]='reportParameters'></ngc-report>
    <ngc-report format='xls'  #reportWindow2 title="g.report"  reportId='Coolportmonitoringexport'
       [reportParameters]='reportParameters'></ngc-report>
  </form>




</form>