<ngc-titlebar title='dashboard.sla.dashboard.title' (cancel)="onCancel($event)"></ngc-titlebar>
<form [formGroup]="slaDashboardForm">
  <ngc-container (window:resize)="onResize($event)" type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-button accessEnableOn="r" (click)='onClickMinus($event)' priority="quaternary" iconType="previous"></ngc-button>
        <ngc-button accessEnableOn="r"  (click)='onClickPlus($event)' priority="quaternary" iconType="next"></ngc-button>
      </ngc-column>
      <ngc-column align="right">
        <ngc-label label='val.auto.refresh'></ngc-label>
        <ngc-switchbutton accessEnableOn="r"  formControlName="auto" (ngModelChange)="onSwitchChange($event)" onLabel="val.auto.refresh"
          [width]="200"></ngc-switchbutton>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <dashboard-timeline [width]="width" [height]="(totalFlights + 1) * 100" [timelineWidth]="timelineWidth"
    [timelineHeight]="timelineHeight" [timelineStartTime]="timelineStartTime" [timelineEndTime]="timelineEndTime"
    [timelineDuration]="timelineDuration">
    <div [ngStyle]="{ position: 'absolute', top: '120px' }">
      <ng-container *ngFor="let flightInfo of flightList; let index=index">
        <div>
          <dashboard-flightbar [width]="width" [height]="height" [timelineStartTime]="timelineStartTime"
            [timelineEndTime]="timelineEndTime" [timelineWidth]="timelineWidth" [timelineDuration]="timelineDuration"
            [flightBarRowIndex]="index" [flightInfo]="flightInfo" [startTime]="flightInfo.startTime"
            [endTime]="flightInfo.endTime" [actualTime]="flightInfo.actualTime"></dashboard-flightbar>
        </div>
      </ng-container>
    </div>
  </dashboard-timeline>
</form>