<form [formGroup]="assignTruckDockForm">
  <ngc-titlebar *ngIf="!popup" title="tcs.assignTruckDock" (save)="onSave()">
  </ngc-titlebar>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column [column]="3">
        <ngc-label label="tcs.truckDock"></ngc-label>
        <div>
          <ngc-lov formControlName="dockNo" [width]="150" dataField="desc" displayField="desc" sourceId="Truck_Dock_No"
            accessEnableOn="r">
            <ngc-data-column text="g.code" [width]="150" dataField="desc"></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column [column]="3">
        <ngc-label label="tcs.vehicleNo"></ngc-label>
        <div>
          <ngc-input formControlName="vehicleNo" [width]="150" patternName="alphanum" sourceCategory="dropdown"
            sourceType="query" sourceId="TCS_VEHICLES" (modelChange)="onVehicleNoChange()">
          </ngc-input>
        </div>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column [column]="3">
        <ngc-label label="tcs.currentDockNo"></ngc-label>
        <div>
          <ngc-display formControlName="currentDockNo"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column [column]="3">
        <ngc-label label="tcs.purpose"></ngc-label>
        <div>
          <ngc-display formControlName="purpose" sourceId="INCOMING_PURPOSE" sourceCategory="dropdown"
            sourceType='query'>
          </ngc-display>
        </div>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label="tcs.remarks"></ngc-label>
        <div>
          <ngc-remarksinput width="200" formControlName="remarks">
          </ngc-remarksinput>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>