<form [formGroup]="detailsScheduleForm">
    <ngc-titlebar *ngIf="!createNew" title="flight.flightScheduleDetailsEdit.title" (save)="onSave($event)"
        (cancel)="onCancel($event)">
    </ngc-titlebar>
    <ngc-titlebar *ngIf="createNew" title="flight.flightScheduleCreateNew.title" (save)="onSave($event)"
        (cancel)="onCancel($event)">
    </ngc-titlebar>
    <ngc-container type="tab">
        <ngc-row>
            <ngc-column column="1">
                <ngc-label label="g.flight"></ngc-label>
                <div>
                    <ngc-display formControlName="flight"></ngc-display>
                </div>
            </ngc-column>
            <ngc-column column="2">
                <ngc-label label="g.name"></ngc-label>
                <div>
                    <ngc-display formControlName="flightName"></ngc-display>
                </div>
            </ngc-column>
            <ngc-column column="2">
                <ngc-label label="g.fromDate"></ngc-label>
                <div>
                    <ngc-display *ngIf="!createNew" formControlName="dateFrom" [onlyDate]="true">
                    </ngc-display>
                    <!-- [min]="todayDate" -->
                    <ngc-datetimeinput *ngIf="createNew" formControlName="dateFrom" required></ngc-datetimeinput>
                </div>
            </ngc-column>
            <ngc-column column="2">
                <ngc-label label="g.toDate"></ngc-label>
                <div>
                    <ngc-display *ngIf="!createNew" formControlName="dateTo" [onlyDate]="true"></ngc-display>
                    <ngc-datetimeinput *ngIf="createNew" [min]="this.detailsScheduleForm.get('dateFrom').value"
                        formControlName="dateTo" required></ngc-datetimeinput>
                </div>
            </ngc-column>
            <ngc-column column="1">
                <ngc-label label="flight.apron"></ngc-label>
                <div>
                    <!-- <ngc-display *ngIf="!createNew" formControlName="apron"></ngc-display> -->
                    <ngc-checkbox formControlName="apron"></ngc-checkbox>
                </div>
            </ngc-column>
            <ngc-column column="1">
                <ngc-label label="flight.handler"></ngc-label>
                <div>
                    <ngc-display *ngIf="hideHandlerDropdown" formControlName="groundHandler"></ngc-display>
                    <ngc-dropdownlist *ngIf="!hideHandlerDropdown" width="80" formControlName="groundHandler"
                        displayMember='code' sourceId="Flight$Handler" required></ngc-dropdownlist>
                </div>
            </ngc-column>
            <ngc-column align="right">
                <div style="padding-top:22px;">
                    <ngc-button (click)="addNewSchedule()" value="flight.addScheduleDetail"></ngc-button>
                </div>
            </ngc-column>
        </ngc-row>
        <!-- <ngc-row *ngFor="let flight of resp; let index=index">
            <ngc-column>
                <ngc-scheduledetailseditable *ngFor="let flight of resp; let index=index" [responseServer]="flight" [createNew]="createNew" [createNewEdit]="createNewEdit" [index]="index"
                    (dataReady)="addData($event)" (disableCheckBox)="disableCheckBox($event)" (deleteScheduleEmit)="deleteSChedule($event)"></ngc-scheduledetailseditable>
            </ngc-column>
        </ngc-row>

        <ngc-row *ngFor="let flight of resp1;  let index=index">
            <ngc-column>
            </ngc-column>
        </ngc-row> -->
    </ngc-container>
    <ngc-scheduledetailseditable *ngFor="let flight of resp; let index=index" [responseServer]="flight"
        [createNew]="createNew" [createNewEdit]="createNewEdit" [index]="index" (dataReady)="addData($event)"
        (disableCheckBox)="disableCheckBox($event)" (deleteScheduleEmit)="deleteSChedule($event)">
    </ngc-scheduledetailseditable>
    <ngc-scheduledetailseditable *ngFor="let flight of resp1;  let index=index" [responseServer]="flight"
        [createNew]="true" [createNewEdit]="false" [index]="index" (dataReady)="addData($event)"
        (disableCheckBox)="disableCheckBox($event)" (deleteScheduleEmit)="deleteSChedule($event)">
    </ngc-scheduledetailseditable>
</form>

<!--<ngc-scheduledetailseditable></ngc-scheduledetailseditable>-->