<form [formGroup]='addUldForm'>
  <ngc-container type="box">
    <ngc-row>
      <ngc-column column="4">
        <ngc-label label="mb.tractornumber"></ngc-label>
        <div>
          <ngc-input formControlName="tractorNumber" [width]="192" [maxlength]="15" [autoFocus]="true"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column column="4">
        <ngc-label label="driverID"></ngc-label>
        <div>
          <ngc-input formControlName="driverId" sourceId='KEY_DRIVER_ID' entityAttribute="Gen.DriverId" [width]="192"
            [maxlength]="63"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column column="4">
        <ngc-label label="shipmentHandover.handoverDateTime"></ngc-label>
        <div>
          <ngc-datetimeinput [width]="192" formControlName="handoverDateTime" showCalendarButton="true"
            [showTimeButton]="true" required></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column column="12" align="right">
        <br>
        <br>
        <ngc-button (click)="addRow()" value="g.add"></ngc-button>
        <ngc-button (click)="onSave()" value="g.save.e"></ngc-button>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="box">
    <ngc-row>
      <ngc-column>
        <ngc-table>
          <thead>
            <tr>
              <th width="20">
                <ngc-label label="uld.uld.number"></ngc-label>
              </th>
              <th width="20">
                <ngc-label label="import.ramp.check.content.code"></ngc-label>
              </th>
              <th width="20">
                <ngc-label label="import.transfer.type"></ngc-label>
              </th>
              <th width="20">
                <ngc-label label="g.shc"></ngc-label>
              </th>
              <th width="20">
                <ngc-label label="g.remarks"></ngc-label>
              </th>
              <th width="20">
                <ngc-label></ngc-label>
              </th>
            </tr>
          </thead>
          <tbody formArrayName='uldArrayList'>
            <tr *ngFor="let item of addUldForm.controls.uldArrayList.controls; let index=index" [formGroupName]="index">
              <td>
                <ngc-uldinput formControlName="uldNumber" required></ngc-uldinput>
              </td>
              <td>
                <ngc-dropdownlist entityAttribute='Import.Ramp.ContentCode' sourceId='RAMPCONTENTCODE'
                  sourceType="query" formControlName="contentCode" [noBlank]="true" [width]="100" [dropDownWidth]="100">
                </ngc-dropdownlist>
              </td>
              <td>
                <ngc-dropdownlist sourceId="Import$TransferType" formControlName="transferType" [width]="100"
                  [dropDownWidth]="100"></ngc-dropdownlist>
              </td>
              <td>
                <ngc-shcinput formArrayName="createshc" (ngModelChange)="getShcs($item,index)" dataField="shc">
                </ngc-shcinput>
              </td>
              <td>
                <ngc-input formControlName="remarks" width="350px" [maxlength]="65"></ngc-input>
              </td>
              <td>
                <ngc-icon type="delete" value="true" true-color="black" (click)="deleteRow($event,index)"></ngc-icon>
              </td>
            </tr>
          </tbody>
        </ngc-table>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>