<form [formGroup]="uldStockCheckForm">
  <ngc-titlebar title="uld.uld.stock.checkstatus" (cancel)="onCancel($event)" (save)="onSave($event)"
    (clear)="onClear($event)"></ngc-titlebar>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-label label='uld.carrier'></ngc-label>
        <div>
          <ngc-lov accessEnableOn="r" required="true" formControlName="carrier" displayMember="code" upperCase="true"
             [dropDownWidth]='60' dataField="code" [width]="75" sourceId='CARRIER' displayMember="code"
            (select)="onSelectCarrier($event)">
            <ngc-data-column text="uld.carrier" dataField="code" [width]="100"></ngc-data-column>
            <ngc-data-column text="uld.description" dataField="desc" [width]="150"></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='uld.heldby'></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" sourceId="Uld_Location" [width]="100" [dropDownWidth]="98"
            formControlName="heldBy"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label=''></ngc-label>
        <div>
          <ngc-button value="g.search" accessEnableOn="r" (click)="onSearch()" iconType="search"></ngc-button>
        </div>
      </ngc-column>
      <ngc-column [column]="8">
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-datatable *ngIf="tableFlag" formArrayName="uldStocks" width="1350">
          <ngc-data-column text="uld.carrier" dataField="carrierCode" [width]="150" align="left" cellsAlign="left">
          </ngc-data-column>
          <ngc-data-column text="uld.uldheldby" dataField="apronCargoLocation" [width]="150" align="left"
            cellsAlign="left"></ngc-data-column>
          <ngc-data-column text="uld.stockarea" dataField="stockCheckAreaCode" upperCase="true" [width]="150"
            align="left" cellsAlign="left"></ngc-data-column>
          <ngc-data-column text="uld.status" dataField="uldStockCheckStatus" [width]="150" align="left"
            cellsAlign="left">
          </ngc-data-column>
          <ngc-data-column text="uld.startdatetime" dataField="uldStockCheckStartDate" [width]="150" align="center"
            type="displayDateTime" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="uld.enddatetime" dataField="uldStockCheckEndDate" [width]="150" align="center"
            type="displayDateTime" cellsAlign="center"></ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>