<ngc-titlebar title="confirm.checkInUld">
</ngc-titlebar>
<form [formGroup]="confirmUldForm">
  <ngc-container>
    <ngc-row>
      <ngc-column [column]="1.5">
        <ngc-label label="g.flight">
        </ngc-label>
        <div>
          <ngc-flightkeyinput [width]="100" formControlName="flightNumber" accessEnableOn="r" upperCase="true" required>
          </ngc-flightkeyinput>
        </div>
      </ngc-column>
      <ngc-column [column]="1.5">
        <ngc-label label="g.date"></ngc-label>
        <div>
          <ngc-datetimeinput [width]="100" formControlName="flightDate" accessEnableOn="r" required></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="uld.Number"></ngc-label>
        <div>
          <ngc-uldinput accessEnableOn="r" formControlName='uldNumber'></ngc-uldinput>
        </div>
      </ngc-column>
      <ngc-column [column]="5">
        <ngc-label label=""></ngc-label>
        <div>
          <ngc-button label='g.search' accessEnableOn="r" (click)='onSearch()' iconType="search"></ngc-button>
        </div>
      </ngc-column>
      <ngc-column [hidden]="true">
        <ngc-input formControlName='flightId'></ngc-input>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container *ngIf="show" type="sectiontop"></ngc-container>

  <ngc-container *ngIf="show">

    <ngc-row>
      <ngc-column [column]="12" align="right">
        <div>
          <ngc-button label='confirm.uld' accessEnableOn="r" (click)='confirmUld()'></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>

    <ngc-row>
      <ngc-column>

        <ngc-edittable formArrayName="confirmUldListModel" (itemSelect)="onCheckBoxClick($event)" [pageSize]="20"
          (linkClick)="onLinkClick($event)">

          <ngc-data-column type="check" align="center" cellsAlign="center" [width]="5" dataField="flag" checkAll="true">
          </ngc-data-column>

          <ngc-data-column text="g.sNo" align="center" cellsAlign="center" [width]="7" dataField="sno">
          </ngc-data-column>

          <ngc-data-column text="uld.Number" align="center" cellsAlign="center" [width]="13" dataField="uldNumber"
            [width]="120">
          </ngc-data-column>

          <ngc-data-column text="imp.warehouseDestination" align="center" cellsAlign="center" [width]="15"
            dataField="whDest">
          </ngc-data-column>

          <ngc-data-column text="cdh.location" align="center" cellsAlign="center" [width]="10" dataField="locn">
          </ngc-data-column>

          <ngc-data-column text="EIC" align="center" cellsAlign="center" [width]="10" dataField="eic">
          </ngc-data-column>

          <ngc-data-column text="import.ramp.check.empty" align="center" cellsAlign="center" [width]="10"
            dataField="empty">
          </ngc-data-column>

          <ngc-data-column text="DamageIndicator" align="center" cellsAlign="center" [width]="15" dataField="cond">
          </ngc-data-column>

          <ngc-data-column text="ServiceableIndicator" align="center" cellsAlign="center" [width]="15"
            dataField="serviceInd">
          </ngc-data-column>

          <ngc-data-column text="SP" [width]="15" align="center" cellsAlign="center" dataField="sp">
          </ngc-data-column>

          <ngc-data-column text="CheckInDate" cellsAlign="center" [width]="15" align="center" dataField="checkInDate">
          </ngc-data-column>

          <ngc-data-column text="InboundCheckListRemarks" [width]="40" align="center" cellsAlign="center"
            dataField="inboundRemarks">
          </ngc-data-column>


        </ngc-edittable>

      </ngc-column>
    </ngc-row>
  </ngc-container>



</form>