<ngc-titlebar title='export.nawb.stock.status.title' (save)="onSave($event)" (clear)="onClear($event)"></ngc-titlebar>
<form [formGroup]="form">
    <ngc-container type="section">
        <ngc-row>
            <ngc-column>
                <ngc-label label='stockManagement.carrierCode'></ngc-label>
                <div>
                    <ngc-lov [width]='45' formControlName="carrierCode" sourceId='CARRIER' title='g.carrier.type' dataField='code' width='70px'
                        upperCase='true' (select)="onSelectCarrier($event)" displayMember="code"  [dropDownWidth]='60'>
                        <ngc-data-column text="g.carrier" dataField="code" [width]="100"></ngc-data-column>
                        <ngc-data-column text="g.description" dataField="desc" [width]="150"></ngc-data-column>
                    </ngc-lov>
                </div>
            </ngc-column>
            <ngc-column>
                <ngc-label label='stockManagement.category'></ngc-label>
                <div>
                    <ngc-dropdownlist formControlName='category' sourceId='Shipment$NAWBStock' [width]='60'></ngc-dropdownlist>
                </div>
            </ngc-column>
            <ngc-column>
                <ngc-label label='export.stockId'></ngc-label>
                <div>
                    <ngc-input formControlName='stockId' [width]='60'></ngc-input>
                </div>
            </ngc-column>
            <ngc-column>
                <ngc-label label='export.stock.awb.from'></ngc-label>
                <div>
                    <ngc-display formControlName='awbFrom'></ngc-display>
                </div>
            </ngc-column>
            <ngc-column>
                <ngc-label label='export.stock.awb.to'></ngc-label>
                <div>
                    <ngc-display formControlName='awbTo'></ngc-display>
                </div>
            </ngc-column>
            <ngc-column>
                <ngc-label label='awb.awbnumber'></ngc-label>
                <div>
                    <ngc-awbinput formControlName="awbNo"></ngc-awbinput>
                </div>
            </ngc-column>
            <ngc-column [column]="5">

            </ngc-column>
            <ngc-column>
                <ngc-label label=""></ngc-label>
                <div>
                    <ngc-button label='g.print.pdf' (click)="onExportExcel()"></ngc-button>
                </div>
            </ngc-column>
        </ngc-row>
        <ngc-row>
            <ngc-column>
                <ngc-label label='export.stock.awb.status'></ngc-label>
            </ngc-column>
        </ngc-row>
        <ngc-row>
            <ngc-column>
                <ngc-checkbox formControlName='unused' value='false'></ngc-checkbox>
                <ngc-label label='stockManagement.unused'></ngc-label>
            </ngc-column>
            <ngc-column>
                <ngc-checkbox formControlName='processing' value='false'></ngc-checkbox>
                <ngc-label label='stockManagement.processing'></ngc-label>
            </ngc-column>
            <ngc-column>
                <ngc-checkbox formControlName='reserved' value='false'></ngc-checkbox>
                <ngc-label label='stockManagement.reserved'></ngc-label>
            </ngc-column>
            <ngc-column>
                <ngc-checkbox formControlName='booked' value='false'></ngc-checkbox>
                <ngc-label label='stockManagement.booked'></ngc-label>
            </ngc-column>
            <ngc-column>
                <ngc-checkbox formControlName='deleted' value='false'></ngc-checkbox>
                <ngc-label label='stockManagement.deleted'></ngc-label>
            </ngc-column>
            <ngc-column [column]='6'>
            </ngc-column>
        </ngc-row>
        <ngc-row>
            <ngc-column>
                <ngc-checkbox formControlName='used' value='false'></ngc-checkbox>
                <ngc-label label='stockManagement.used'></ngc-label>
            </ngc-column>
            <ngc-column>
                <ngc-checkbox formControlName='cancelled' value='false'></ngc-checkbox>
                <ngc-label label='stockManagement.cancelled'></ngc-label>
            </ngc-column>
            <ngc-column>
                <ngc-checkbox formControlName='printed' value='false'></ngc-checkbox>
                <ngc-label label='stockManagement.printed'></ngc-label>
            </ngc-column>
            <ngc-column>
                <ngc-checkbox formControlName='reprinted' value='false'></ngc-checkbox>
                <ngc-label label='stockManagement.reprinted'></ngc-label>
            </ngc-column>
            <ngc-column>
                <ngc-checkbox formControlName='duplicated' value='false'></ngc-checkbox>
                <ngc-label label='stockManagement.duplicated'></ngc-label>
            </ngc-column>
            <ngc-column [column]='6'>
            </ngc-column>
        </ngc-row>
        <ngc-row>
            <ngc-column>
                <ngc-label label='export.stock.sort.by'></ngc-label>
            </ngc-column>
        </ngc-row>
        <ngc-row>
            <ngc-column>
                <ngc-checkbox formControlName='stockIdFlag' value='false'></ngc-checkbox>
                <ngc-label label='export.stockId'></ngc-label>
            </ngc-column>
            <ngc-column>
                <ngc-checkbox formControlName='categoryFlag' value='false'></ngc-checkbox>
                <ngc-label label='stockManagement.th.category'></ngc-label>
            </ngc-column>
            <ngc-column>
                <ngc-checkbox formControlName='carrierCodeFlag' value='false'></ngc-checkbox>
                <ngc-label label='awb.carrierCode'></ngc-label>
            </ngc-column>
            <ngc-column>
                <ngc-checkbox formControlName='awbNoFlag' value='false'></ngc-checkbox>
                <ngc-label label='awb.awbnumber'></ngc-label>
            </ngc-column>
            <ngc-column>
                <ngc-checkbox formControlName='terminalFlag' value='false'></ngc-checkbox>
                <ngc-label label='stockManagement.terminal'></ngc-label>
            </ngc-column>
            <ngc-column [column]='6'>
            </ngc-column>
        </ngc-row>
    </ngc-container>
    <ngc-report #reportWindow title="g.report" reportId='NAWB Stock Management' [reportParameters]='reportParameters'></ngc-report>
</form>