<ngc-titlebar title='exp.reb.cargo.advice' (save)="onSave()" (clear)="onClear()" (cancel)='onCancel($event)'>
</ngc-titlebar>
<form [formGroup]="RebuildCargoAdviceForm">
  <ngc-container type='section' type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-label label='flight.flightNumber'></ngc-label>
        <div>
          <ngc-flightkeyinput accessEnableOn="r" [width]="100" formControlName="flightKey" upperCase="true"
            [autoFocus]="true" required></ngc-flightkeyinput>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='flight.flightDate'></ngc-label>
        <div>
          <ngc-datetimeinput accessEnableOn="r" required width='110px' formControlName="flightDate"></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column align='left' column=9>
        <br>
        <ngc-button value='g.search' accessEnableOn="r" (click)="searchRebuildCargo()"></ngc-button>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label value=''></ngc-label>
      </ngc-column>
    </ngc-row>
  </ngc-container>

  <ngc-container type="tab">
    <ngc-row *ngIf="searchRebuildButtonClicked">
      <ngc-column align='right'>
        <div>
          <ngc-button (click)="onAdd()" label='uld.add'>
          </ngc-button>
        </div>
      </ngc-column>
    </ngc-row>

    <ngc-row *ngIf="searchRebuildButtonClicked">
      <ngc-column>
        <ngc-edittable formArrayName="retrieveCargoAdvice" (itemSelect)="onClick($event)">

          <ngc-data-column text="g.sNo" align="left" [width]="20" cellsAlign="left" dataField=""
            [cellsRenderer]="cellsRendererSno">
          </ngc-data-column>

          <ngc-data-column text="g.uldbt" dataField="uld_bt">
            <ng-template let-data let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ng-container
                  *ngIf="RebuildCargoAdviceForm.get(['retrieveCargoAdvice',group, 'serviceContractorULDTonnageInfoId']).value != ''">
                  <ngc-display formControlName="uld_bt"></ngc-display>
                </ng-container>

                <ng-container
                  *ngIf="RebuildCargoAdviceForm.get(['retrieveCargoAdvice',group, 'serviceContractorULDTonnageInfoId']).value == ''">
                  <ngc-uldinput [autoFocus]="true" required formControlName="uld_bt"></ngc-uldinput>
                </ng-container>
              </ng-container>
            </ng-template>
          </ngc-data-column>

          <ngc-data-column text="warehouse.wgt" dataField="weight" [width]="55">
            <ng-template let-data let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ng-container
                  *ngIf="RebuildCargoAdviceForm.get(['retrieveCargoAdvice',group, 'serviceContractorULDTonnageInfoId']).value != ''">
                  <ngc-weightdisplay formControlName="weight"></ngc-weightdisplay>
                </ng-container>

                <ng-container
                  *ngIf="RebuildCargoAdviceForm.get(['retrieveCargoAdvice',group, 'serviceContractorULDTonnageInfoId']).value == ''">
                  <ngc-weightinput [maxlength]="5" [autoFocus]="true" required formControlName="weight">
                  </ngc-weightinput>
                </ng-container>
              </ng-container>
            </ng-template>
          </ngc-data-column>

          <ngc-data-column text="g.remark" dataField="rebuildRemark" [width]="100">
            <ng-template let-data let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ng-container
                  *ngIf="RebuildCargoAdviceForm.get(['retrieveCargoAdvice',group, 'serviceContractorULDTonnageInfoId']).value != ''">
                  <ngc-display formControlName="rebuildRemark"></ngc-display>
                </ng-container>

                <ng-container
                  *ngIf="RebuildCargoAdviceForm.get(['retrieveCargoAdvice',group, 'serviceContractorULDTonnageInfoId']).value == ''">
                  <ngc-remarksinput pattern="^[A-Za-z0-9-. ]*$" [maxlength]="100" formControlName="rebuildRemark">
                  </ngc-remarksinput>
                </ng-container>
              </ng-container>
            </ng-template>
          </ngc-data-column>

          <ngc-data-column text="g.delete" dataField="" [width]="30">
            <ng-template let-data let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-link iconType="delete" (linkClick)="onDelete(group)">
                </ngc-link>
              </ng-container>
            </ng-template>
          </ngc-data-column>

        </ngc-edittable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>