<form [formGroup]="form">
  <ngc-titlebar title="export.page.header" (save)="onSave($event)" (cancel)="onCancel($event)"
    [disableSave]="hasReadPermission"></ngc-titlebar>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column column="2">
        <ngc-label label="export.check.list.type"></ngc-label>
        <div>
          <ngc-display sourceId="CHECKLIST_TYPES" sourceCategory="dropdown" formControlName="checkListTypeData">
          </ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="7">
        <ngc-label label="g.carrier"></ngc-label>
        <div>
          <ngc-display sourceId="CARRIER" sourceCategory="lov" formControlName='carrierCodeData'></ngc-display>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-button [disabled]="hasReadPermission" label="g.addRow" (click)="onAddPageHeader()"></ngc-button>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column column="2">
        <div>
          <ngc-label label="export.font.family">
          </ngc-label>
        </div>
        <ngc-dropdownfont formControlName="fontFamily">
        </ngc-dropdownfont>
      </ngc-column>
      <ngc-column column="1">
        <div>
          <ngc-label label="export.font.style">
          </ngc-label>
        </div>
        <ngc-buttoninput [width]="500" formControlName="fontStyle" [multiSelect]="false">
          <ngc-data-item value="bold" iconType="bold"></ngc-data-item>
          <ngc-data-item value="italic" iconType="italic"></ngc-data-item>
          <ngc-data-item value="underline" iconType="underline"></ngc-data-item>
        </ngc-buttoninput>
      </ngc-column>
      <ngc-column column="1">
        <div>
          <ngc-label label="export.font.size">
          </ngc-label>
        </div>
        <ngc-numberinput digits="3" max="100" decimalDigits="0" [width]="80" formControlName="fontSize"></ngc-numberinput>
      </ngc-column>
      <ngc-column column="1">
        <div>
          <ngc-label label="export.check.list.alignment">
          </ngc-label>
        </div>
        <ngc-buttoninput [width]="500" formControlName="alignment" [multiSelect]="false">
          <ngc-data-item value="left" iconType="align-left"></ngc-data-item>
          <ngc-data-item value="center" iconType="align-center"></ngc-data-item>
          <ngc-data-item value="right" iconType="align-right"></ngc-data-item>
        </ngc-buttoninput>
      </ngc-column>
      <ngc-column column="2">
        <div>
          <ngc-label label="export.background.color">
          </ngc-label>
        </div>
        <ngc-colorpicker formControlName="backGroundColor">
        </ngc-colorpicker>
      </ngc-column>
     
      <ngc-column column="1">
        <div>
          <ngc-label label="export.apply.to.all">
          </ngc-label>
        </div>
        <ngc-checkbox formControlName="applyToAll" (ngModelChange)='onChangeCheckAll($event)'>
        </ngc-checkbox>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column column="10">
        <ngc-table>
          <thead>
            <tr>
              <th>
                <ngc-label label="g.sNo"></ngc-label>
              </th>
              <th>
                <ngc-label label="export.line.item"></ngc-label>
              </th>
              <th>
                <ngc-label label="export.font.style"></ngc-label>
              </th>
              <th>
                <ngc-label label="export.font.family"></ngc-label>
              </th>
              <th>
                <ngc-label label="export.font.size"></ngc-label>
              </th>
              <th>
                <ngc-label label="export.check.list.alignment"></ngc-label>
              </th>
           
              <th>
                <ngc-label label="export.background.color"></ngc-label>
              </th>
              <th>
                <ngc-label label="g.delete"></ngc-label>
              </th>
            </tr>
          </thead>
          <tbody formArrayName="pageHeader">
            <tr *ngFor="let item of form.controls.pageHeader.controls; let index=index" [formGroupName]="index">
              <td>
                <ngc-display [width]="50" formControlName="sequence"></ngc-display>
              </td>
              <td>
                <ngc-textarea width="250" required height="50" [maxlength]='250' formControlName="lineItem">
                </ngc-textarea>
              </td>
              <td>
                <ngc-buttoninput required [width]="500" formControlName="fontStyle" [multiSelect]="false">
                  <ngc-data-item value="bold" iconType="bold"></ngc-data-item>
                  <ngc-data-item value="italic" iconType="italic"></ngc-data-item>
                  <ngc-data-item value="underline" iconType="underline"></ngc-data-item>
                </ngc-buttoninput>
              </td>
              <td>
                <ngc-dropdownfont required formControlName="fontFamily">
                </ngc-dropdownfont>
              </td>
              <td>
                <ngc-numberinput digits="3" max="100" min="1" required decimalDigits="0" [width]="80" formControlName="fontSize"></ngc-numberinput>
              </td>
              <td>
                <ngc-buttoninput required width="300" formControlName="alignment" [multiSelect]="false">
                  <ngc-data-item value="left" iconType="align-left"></ngc-data-item>
                  <ngc-data-item value="center" iconType="align-center"></ngc-data-item>
                  <ngc-data-item value="right" iconType="align-right"></ngc-data-item>
                </ngc-buttoninput>
              </td>
              <td>
                <ngc-colorpicker required formControlName="backGroundColor"></ngc-colorpicker>
              </td>
              <td>
                <ngc-link [disabled]="hasReadPermission" (linkClick)="onDeletePageHeader(index)" iconType="delete"></ngc-link>
              </td>
            </tr>
          </tbody>
        </ngc-table>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>