<form [formGroup]="form">
    <ngc-container type="tab">
        <ngc-row>
            <ngc-column>
                <ngc-label label="g.terminal"></ngc-label>
                <div>
                    {{rootTerminal}}
                </div>
            </ngc-column>
            <ngc-column>
                <ngc-label label="g.sector" *ngIf="parentSectors.length"></ngc-label>
                <div *ngFor="let sector of parentSectors">
                    {{sector}}
                </div>
            </ngc-column>
            <ngc-column>
                <ngc-label label="warehouse.locationtype"></ngc-label>
                <div>
                    <!-- <ngc-input formControlName="locationType"></ngc-input> -->
                    <ngc-label label="warehouse.truckdock"></ngc-label>
                </div>
            </ngc-column>
            <ngc-column>
                <ngc-button label="g.save" (click)="onSave()"></ngc-button>
            </ngc-column>
            <ngc-column [column]="3"></ngc-column>
        </ngc-row>
        <ngc-row>
            <ngc-column [column]="8" align="right">
                <ngc-button label="g._add" (click)="onAdd()"></ngc-button>
            </ngc-column>
        </ngc-row>
        <ngc-row>
            <ngc-column [column]="8">

                <ngc-edittable formArrayName="allocateTruckDockToAgentList" [pageSize]="5">
                    <ngc-data-column text="warehouse.agent" dataField="customerCode" [width]="90" cellsAlign="center">
                        <ng-template let-name="name" let-group="group" [formGroupName]="group">
                            <ng-container [formGroupName]="group">
                                <ngc-lov formControlName="customerCode" sourceId="WHS_AGENT_CUSTOMER_MASTER"
                                    title="warehouse.agent.customer" [width]="100" dataField="code">
                                    <ngc-data-column text="g.code" dataField="code" [width]="100"></ngc-data-column>
                                    <ngc-data-column text="g.description" dataField="desc" [width]="150">
                                    </ngc-data-column>
                                </ngc-lov>
                            </ng-container>
                        </ng-template>
                    </ngc-data-column>
                    <ngc-data-column text="warehouse.ics.exitlocation" dataField="customerCode" [width]="150"
                        cellsAlign="center">
                        <ng-template let-name="name" let-group="group" [formGroupName]="group">
                            <ng-container [formGroupName]="group">

                                <ngc-dropdownlist formControlName="icsExitLocationId" sourceId="WH_LocationsByType"
                                    [width]='300' [noCache]="true" sourceType="query"
                                    [sourceParameters]="{'parameter1': this.sectorId ,'parameter2': 'ICSExitPoint'}">
                                </ngc-dropdownlist>
                            </ng-container>
                        </ng-template>
                    </ngc-data-column>
                    <ngc-data-column text="warehouse.truckdock.from" dataField="customerCode" [width]="50"
                        cellsAlign="center">
                        <ng-template let-name="name" let-group="group" [formGroupName]="group">
                            <ng-container [formGroupName]="group">
                                <ngc-dropdownlist formControlName="deliveryOutputPointFrom" required
                                    sourceId="WH_ICSOutputArea" [width]='70' [noCache]="true"
                                    [sourceParameters]="dropDownListId" sourceType="query"></ngc-dropdownlist>
                            </ng-container>
                        </ng-template>
                    </ngc-data-column>
                    <ngc-data-column text="warehouse.truckdock.to" dataField="customerCode" [width]="50"
                        cellsAlign="center">
                        <ng-template let-name="name" let-group="group" [formGroupName]="group">
                            <ng-container [formGroupName]="group">
                                <ngc-dropdownlist formControlName="deliveryOutputPointTo" sourceId="WH_ICSOutputArea"
                                    [width]='70' [noCache]="true" [sourceParameters]="dropDownListId"
                                    sourceType="query"></ngc-dropdownlist>
                            </ng-container>
                        </ng-template>
                    </ngc-data-column>
                    <ngc-data-column text=" " dataField="customerCode" [width]="50" cellsAlign="center">
                        <ng-template let-name="name" let-group="group" [formGroupName]="group">
                            <ng-container [formGroupName]="group">
                                <ngc-link (linkClick)="onDeleteAssociation(group)" iconType="delete">
                                    <ngc-i18n value="g.delete"></ngc-i18n>
                                </ngc-link>
                            </ng-container>
                        </ng-template>
                    </ngc-data-column>
                </ngc-edittable>
            </ngc-column>
            <ngc-column></ngc-column>
        </ngc-row>
    </ngc-container>
</form>