<form [formGroup]="bupform">
    <ngc-titlebar title="Maintain BUP List" (print)='print()' (save)="onSave($event)" (clear)="clear($event)"
        (cancel)="onCancel($event)">
    </ngc-titlebar>

    <ngc-container>
        <ngc-row>
            <ngc-column [column]="2">
                <ngc-label label="g.uld"></ngc-label>
                <div>
                    <ngc-uldinput formControlName="uldNumber" required> </ngc-uldinput>
                </div>
            </ngc-column>
            <ngc-column [column]="5">
                <ngc-label label="awb">
                </ngc-label>
                <div>
                    <ngc-awbinput formControlName="shipmentNumber" required>
                    </ngc-awbinput>
                </div>
            </ngc-column>
            <ngc-column>
                <ngc-label label="&nbsp;"></ngc-label>
                <ngc-button (click)="onSearch()" label='g.search' iconType="search">
                </ngc-button>
            </ngc-column>
        </ngc-row>
    </ngc-container>
    <ngc-label label="&nbsp;"></ngc-label>
    <div *ngIf="uld_search">
        <ngc-table>
            <thead>
                <tr>
                    <th>
                        <ngc-label value="title.acceptance.info"></ngc-label>
                    </th>
                </tr>
            </thead>
        </ngc-table>
        <ngc-container>
            <ngc-row>
                <ngc-column>
                    <ngc-label value="export.uldNumber">
                    </ngc-label>
                </ngc-column>
                <ngc-column>
                    <ngc-label value="buplist.rclnodt">
                    </ngc-label>
                </ngc-column>
                <ngc-column>
                    <ngc-label value="uld.gross.weight">
                    </ngc-label>
                </ngc-column>
                <ngc-column>
                    <ngc-label value="export.netWeight">
                    </ngc-label>
                </ngc-column>
                <ngc-column>
                    <ngc-label value="export.agent.code">
                    </ngc-label>
                </ngc-column>
                <ngc-column>
                    <ngc-label value="g.agentName">
                    </ngc-label>
                </ngc-column>
                <ngc-column>
                    <ngc-label value="Warehouse Location">
                    </ngc-label>
                </ngc-column>
            </ngc-row>
        </ngc-container>

        <ngc-container>
            <ngc-row>
                <ngc-column>
                    <ngc-display formControlName="uldNumber">
                    </ngc-display>
                </ngc-column>
                <ngc-column>
                    <ngc-display formControlName="rclNoDate">
                    </ngc-display>
                </ngc-column>
                <ngc-column>
                    <ngc-display formControlName="grossWeight">
                    </ngc-display>
                </ngc-column>
                <ngc-column>
                    <ngc-display formControlName="netWeight">
                    </ngc-display>
                </ngc-column>
                <ngc-column>
                    <ngc-display formControlName="agentCode">
                    </ngc-display>
                </ngc-column>
                <ngc-column>
                    <ngc-display formControlName="agentName">
                    </ngc-display>
                </ngc-column>
                <ngc-column>
                    <ngc-display formControlName="wareHouseLocation">
                    </ngc-display>
                </ngc-column>
            </ngc-row>
        </ngc-container>
        <ngc-label label="&nbsp;"></ngc-label>
        <ngc-table>
            <thead>
                <tr>
                    <th>
                        <ngc-label value="export.accpt.awbinfo"></ngc-label>
                    </th>
                </tr>
            </thead>
        </ngc-table>

        <ngc-container>
            <ngc-row>
                <ngc-column align="right">
                    <ngc-button (click)="addShipment()" value="export.ecc.add.awb">
                    </ngc-button>
                    <ngc-button (click)="onDeleteBuptableAwb()" value="g.delete">
                    </ngc-button>
                </ngc-column>
            </ngc-row>
        </ngc-container>

        <ngc-table>
            <thead>
                <tr>
                    <th>
                        <ngc-label label="g.sel"></ngc-label>
                    </th>
                    <th>
                        <ngc-label value="g.shipmentNumber"></ngc-label>
                    </th>
                    <th>
                        <ngc-label value="awb.origin"></ngc-label>
                    </th>
                    <th>
                        <ngc-label value="awb.destination"></ngc-label>
                    </th>
                    <th>
                        <ngc-label value="g.pieces"></ngc-label>
                    </th>
                    <th>
                        <ngc-label value="g.weight"></ngc-label>
                    </th>
                    <th>
                        <ngc-label value="g.natureOfGoods"></ngc-label>
                    </th>
                    <th>
                        <ngc-label value="g.shc"></ngc-label>
                    </th>
                    <th>
                        <ngc-label value="exp.pi.litium.batteries"></ngc-label>
                    </th>
                    <th>
                        <ngc-label value="g.fwb"></ngc-label>
                    </th>
                    <th>
                        <ngc-label value="g.fhl"></ngc-label>
                    </th>
                    <th>
                        <ngc-label value="g.eawb"></ngc-label>
                    </th>
                </tr>
            </thead>

            <tbody formArrayName="buptableAWBArry">
                <tr *ngFor="let item of bupform.controls.buptableAWBArry.controls; let index=index"
                    [formGroupName]="index">
                    <td>
                        <ngc-checkbox formControlName="sel" [width]="30"></ngc-checkbox>
                    </td>
                    <td>
                        <ngc-awbinput formControlName='shipmentNumber' [width]="110" required>
                        </ngc-awbinput>
                    </td>
                    <td>
                        <ngc-lov formControlName="origin" sourceId='APT' required sourceType='query' title='Airport'
                            dataField='code' [width]="50">
                            <ngc-data-column text="flight.airportCode" dataField="code" [width]="10">
                            </ngc-data-column>
                            <ngc-data-column text="flight.airportName" dataField="desc" [width]="10">
                            </ngc-data-column>
                        </ngc-lov>
                    </td>
                    <td>
                        <ngc-lov formControlName="destination" sourceId='APT' required sourceType='query'
                            title='Airport' dataField='code' [width]="50">
                            <ngc-data-column text="flight.airportCode" dataField="code" [width]="100">
                            </ngc-data-column>
                            <ngc-data-column text="flight.airportName" dataField="desc" [width]="150">
                            </ngc-data-column>
                        </ngc-lov>
                    </td>
                    <td>
                        <ngc-piecesinput formControlName="shipmentPieces" [width]="80" required>
                        </ngc-piecesinput>
                    </td>
                    <td>
                        <ngc-weightinput formControlName="shipmentWeight" (modelChange)="getTotalWeight(index)"
                            [width]="80" required>
                        </ngc-weightinput>
                    </td>
                    <td>
                        <ngc-alphainput formControlName="natureOfGoodsDescription" [width]="150" uppercase='true'>
                        </ngc-alphainput>
                    </td>
                    <td>
                        <ngc-shcinput formArrayName="specialHandlingCode" dataField="specialHandlingCode"
                            (modelChange)="onShcChanges($event,index)">
                        </ngc-shcinput>
                    </td>
                    <td>
                        <ngc-container>
                            <ngc-row formArrayName="lithiumBatteriesDetails">
                                <ngc-column
                                    *ngFor="let subItem of item.controls.lithiumBatteriesDetails.controls; let subIndex=index"
                                    [formGroupName]="subIndex">
                                    <ngc-dropdownlist [width]="50" value="10" formControlName="reference"
                                        sourceId='Export$PI_LI_Batteries'>
                                    </ngc-dropdownlist>
                                </ngc-column>
                            </ngc-row>
                        </ngc-container>
                    </td>
                    <td>
                        <ngc-icon type="yesno" formControlName="fwb">
                        </ngc-icon>
                    </td>
                    <td>
                        <ngc-icon type="yesno" formControlName="fhl">
                        </ngc-icon>
                    </td>
                    <td>
                        <ngc-icon type="yesno" formControlName="eawb">
                        </ngc-icon>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td colspan="5" align="right">
                        <ngc-label label="g.totalweight"></ngc-label>
                    </td>
                    <td colspan="7">
                        <ngc-weightinput formControlName="totalULDWt" [width]="80" disabled="true"></ngc-weightinput>
                    </td>
                </tr>
            </tbody>
        </ngc-table>
        <ngc-label label="&nbsp;"></ngc-label>
    </div>
    <div *ngIf="awb_search">
        <ngc-table>
            <thead>
                <tr>
                    <th>
                        <ngc-label value="title.acceptance.info"></ngc-label>
                    </th>
                </tr>
            </thead>
        </ngc-table>
        <ngc-container>
            <ngc-row>
                <ngc-column>
                    <ngc-label label="awb"></ngc-label>
                </ngc-column>
                <ngc-column>
                    <ngc-label label="buplist.org/dest">
                    </ngc-label>
                </ngc-column>
                <ngc-column>
                    <ngc-label label="accept.awbpcs/weight">
                    </ngc-label>
                </ngc-column>
                <ngc-column>
                    <ngc-label label="export.agent.code">
                    </ngc-label>
                </ngc-column>
                <ngc-column>
                    <ngc-label label="g.agentName">
                    </ngc-label>
                </ngc-column>
            </ngc-row>
        </ngc-container>

        <ngc-container>
            <ngc-row>
                <ngc-column>
                    <ngc-display formControlName="shipmentNumber">
                    </ngc-display>
                </ngc-column>
                <ngc-column>
                    <ngc-display formControlName="orgDest">
                    </ngc-display>
                </ngc-column>
                <ngc-column>
                    <ngc-display formControlName="awbPcsWt">
                    </ngc-display>
                </ngc-column>
                <ngc-column>
                    <ngc-display formControlName="agentCode">
                    </ngc-display>
                </ngc-column>
                <ngc-column>
                    <ngc-display formControlName="agentName">
                    </ngc-display>
                </ngc-column>
            </ngc-row>
        </ngc-container>
        <ngc-label label="&nbsp;"></ngc-label>
        <ngc-table>
            <thead>
                <tr>
                    <th>
                        <ngc-label value="export.uld.info"></ngc-label>
                    </th>
                </tr>
            </thead>
        </ngc-table>

        <ngc-container>
            <ngc-row>
                <ngc-column>
                    <ngc-edittable formArrayName="buptableULDArry" [pageable]="true" [pageSize]="20" [sortable]="true">
                        <ngc-data-column text="exp.uld.no" dataField="uldNumber" [useNotOnDemand]="true">
                            <ng-template let-name="name" let-group="group">
                                <ng-container [formGroupName]="group">
                                    <ngc-display formControlName='uldNumber'>
                                    </ngc-display>
                                </ng-container>
                            </ng-template>
                        </ngc-data-column>
                        <ngc-data-column text="exp.assign.pcs" dataField="assignedPieces" [useNotOnDemand]="true">
                            <ng-template let-name="name" let-group="group">
                                <ng-container [formGroupName]="group">
                                    <ngc-piecesinput formControlName='assignedPieces' required>
                                    </ngc-piecesinput>
                                </ng-container>
                            </ng-template>
                        </ngc-data-column>
                        <ngc-data-column text="exp.assign.wt" dataField="assignedWeight" [useNotOnDemand]="true">
                            <ng-template let-name="name" let-group="group">
                                <ng-container [formGroupName]="group">
                                    <ngc-weightinput formControlName='assignedWeight' required>
                                    </ngc-weightinput>
                                </ng-container>
                            </ng-template>
                        </ngc-data-column>
                        <ngc-data-column text="exp.whs.dest" dataField="whsDestination" [useNotOnDemand]="true">
                            <ng-template let-name="name" let-group="group">
                                <ng-container [formGroupName]="group">
                                    <ngc-input formControlName='whsDestination' required>
                                    </ngc-input>
                                </ng-container>
                            </ng-template>
                        </ngc-data-column>
                    </ngc-edittable>
                </ngc-column>
            </ngc-row>
        </ngc-container>
    </div>
    <ngc-footer>
        <ngc-row>
            <ngc-column>
                <ngc-button label="EXP AWB DOC" (click)='ExpAwbDoc()'> </ngc-button>
            </ngc-column>
        </ngc-row>
    </ngc-footer>
</form>
<ngc-report #reportWindow title="g.report" reportId='BUP_list_report' [reportParameters]='reportParameters'>
</ngc-report>