<form [formGroup]="form">
  <ngc-titlebar title="export.carrier.fwb.title" (save)="onSave($event)" (clear)="onClear($event)"></ngc-titlebar>
  <ngc-container type="square">
    <ngc-row>
      <ngc-column column="1">
        <div>
          <ngc-label width="50px" label="flight.Flight"></ngc-label>
        </div>
        <ngc-input width="95px" formControlName="flight">
        </ngc-input>
      </ngc-column>
      <ngc-column column="1">
        <div>
          <ngc-label width="50px" label="flight.date"></ngc-label>
        </div>
        <ngc-datetimeinput width="95px" formControlName="date">
        </ngc-datetimeinput>
      </ngc-column>
      <ngc-column column="1">
        <div>
          <ngc-label width="50px" label="export.fwbfhl.shipmentStatus"></ngc-label>
        </div>
        <ngc-input width="95px" formControlName="shipmentStatus">
        </ngc-input>
      </ngc-column>
      <ngc-column>
        <ngc-container>
          <ngc-row>
            <ngc-column>
              <ngc-row>
                <ngc-column column="2">
                  <ngc-checkbox width="50px" formControlName="consol"></ngc-checkbox>
                </ngc-column>
                <ngc-column column="4">
                  <ngc-label width="50px" label="export.fwbfhl.CONSOL"></ngc-label>
                </ngc-column>
              </ngc-row>
            </ngc-column>
            <ngc-column>
              <ngc-row>
                <ngc-column column="2">
                  <ngc-checkbox width="50px" formControlName="placeweightdiscrepancy"></ngc-checkbox>
                </ngc-column>
                <ngc-column column="4">
                  <ngc-label width="150px" label="export.fwbfhl.place.weight.discrepancy"></ngc-label>
                </ngc-column>
              </ngc-row>
            </ngc-column>
          </ngc-row>
          <ngc-row>
            <ngc-column>
              <ngc-row>
                <ngc-column column="2">
                  <ngc-checkbox width="50px" formControlName="eawb"></ngc-checkbox>
                </ngc-column>
                <ngc-column column="4">
                  <ngc-label width="50px" label="g.eawb"></ngc-label>
                </ngc-column>
              </ngc-row>
            </ngc-column>
            <ngc-column>
              <ngc-row>
                <ngc-column column="2">
                  <ngc-checkbox width="50px" formControlName="singleprocessprint"></ngc-checkbox>
                </ngc-column>
                <ngc-column column="4">
                  <ngc-label width="150px" label="export.fwbfhl.single.process.print"></ngc-label>
                </ngc-column>
              </ngc-row>
            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>
      <ngc-column>
        <ngc-button value="g.search"></ngc-button>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column column="1">
        <div>
          <ngc-label label="flight.Flight"></ngc-label>
        </div>
        <ngc-display formControlName="flight">
        </ngc-display>
      </ngc-column>
      <ngc-column column="1">
        <div>
          <ngc-label width="50px" label="flight.date"></ngc-label>
        </div>
        <ngc-display formControlName="date">
        </ngc-display>
      </ngc-column>
      <ngc-column column="1">
        <div>
          <ngc-label width="50px" label="flight.std"></ngc-label>
        </div>
        <ngc-display formControlName="std">
        </ngc-display>
      </ngc-column>
      <ngc-column column="1">
        <div>
          <ngc-label width="50px" label="flight.etd"></ngc-label>
        </div>
        <ngc-display formControlName="etd">
        </ngc-display>
      </ngc-column>
      <ngc-column column="1">
        <div>
          <ngc-label width="50px" label="g.status"></ngc-label>
        </div>
        <ngc-display formControlName="status">
        </ngc-display>
      </ngc-column>
      <ngc-column column="1">
        <div>
          <ngc-label width="50px" label="export.fwbfhl.manifest.control"></ngc-label>
        </div>
        <ngc-display formControlName="manifestControl">
        </ngc-display>
      </ngc-column>
      <ngc-column column="1">
        <div>
          <ngc-label width="50px" label="export.fwbfhl.select.segment"></ngc-label>
        </div>
        <ngc-display formControlName="selectSegment">
        </ngc-display>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-datatable formArrayName="outgoingFlights" [height]="200">
        
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>