/*
.jqx-tabs-content-element {
    height:700px;
    overflow: hidden;  
}

tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

ngc-table{
    height:500px;   
    width: 100%;           
    display: -moz-groupbox;    
}

tbody{
    overflow-y: scroll;      
    height: 500px;           
    width: 99.5%;
    position: absolute;
} */
