<ngc-container type="section">
  <ngc-row>
    <ngc-column>
      <ngc-titlebar title="shpmng.changeofawb.changeawbhawb" (cancel)="onCancel($event)" (clear)="onClear($event)">
      </ngc-titlebar>
    </ngc-column>
  </ngc-row>
</ngc-container>
<form [formGroup]="ChangeOfAwbForm">

  <ngc-container type="section">
    <ngc-row>
      <ngc-column>
        <ngc-label value="select"></ngc-label>
        <div>
          <ngc-dropdownlist formControlName="changeOfAwb" sourceId="AWB$Change_of_Awb_Hawb"></ngc-dropdownlist>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>

  <ngc-container type="section" *ngIf="showChangeAwbPartFlag">
    <ngc-row>
      <ngc-column>
        <ngc-label label="shpmng.changeofawb.byawb"></ngc-label>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label="shpmng.changeofawb.oldawb"></ngc-label>
        <div>
          <ngc-input formControlName="shipmentNumber" required></ngc-input>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="shpmng.changeofawb.newawb"></ngc-label>
        <div>
          <ngc-input formControlName="newShipmentNumber" required></ngc-input>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="g.reason"></ngc-label>
        <div>
          <ngc-dropdownlist required sourceId="APP_REASON" sourceType="query"
            [sourceParameters]="{'parameter1':'CHANGEOFAWB'}" formControlName="reasonOfChangeAwb"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column></ngc-column>
      <ngc-column verticalAlign="bottom">
        <ngc-button label="(C)hange" (click)="changeAwb()">
        </ngc-button>
      </ngc-column>

    </ngc-row>

  </ngc-container>

  <ngc-container type="section" *ngIf="showChangeHawbPartFlag">
    <ngc-row>
      <ngc-column>
        <ngc-label label="shpmng.changeofawb.byhawb"></ngc-label>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label="awbnumber"></ngc-label>
        <div>
          <ngc-awbinput formControlName="shipmentNumber"></ngc-awbinput>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="shpmng.changeofawb.oldhawb"></ngc-label>
        <div>
          <ngc-lov formControlName="hawbNumber"  upperCase='true'  accessEnableOn="r" sourceType='query'  [width]="100"
             sourceId='HWBNUMBER'  [noCache]="true"  datafield='code' title="g.hawb.number"
            [sourceParameters]="{'parameter1': ChangeOfAwbForm.get('shipmentNumber').value, 'para2': randomValue}"
             accessEnableOn="r"  valueMember="code" (select)="setAWBNumber($event)" required>
            <ngc-data-column text='g.hawb.number'  dataField='code'  [width]='150' required></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="shpmng.changeofawb.newhawb"></ngc-label>
        <div>
          <ngc-input required formControlName="newHawbNumber"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="g.reason"></ngc-label>
        <div>
          <ngc-dropdownlist required sourceId="APP_REASON" sourceType="query"
            [sourceParameters]="{'parameter1':'CHANGEOFHAWB'}" formControlName="reasonOfChangeHawb"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column verticalAlign="bottom">
        <ngc-button label="awbmng.change" (click)="changeHawb()">
        </ngc-button>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>