<!-- Card Heading (Begin) -->
<ngc-titlebar title='tracing.network.uld.tracking.title' (cancel)="onBack($event)"></ngc-titlebar>
<form [formGroup]="networkuldtrackingform">
  <ngc-container type="section">
    <ngc-row>
      <!--formGroupName="serchNetworkuldtrackingform"  formGroupName="displayNetworkUldTrackingForm"-->
      <ngc-column>
        <ngc-label label='tracing.uld.no'></ngc-label>
        <div>
          <ngc-uldinput [width]="100" formControlName="uldNumber"></ngc-uldinput>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label></ngc-label>
        <div>
          <ngc-button label='g.search' (click)="onSearch()" iconType="search" #searchbutton accessEnableOn="r">
          </ngc-button>
        </div>
      </ngc-column>
      <ngc-column [column]="6"></ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <br>
      </ngc-column>
    </ngc-row>

  </ngc-container>

  <ngc-container>
    <ngc-row>
      <ngc-column>
        <ngc-label label='tracing.uld.no'></ngc-label>
        <div>
          <ngc-display formControlName="uldKey" upperCase="true"></ngc-display>
        </div>
      </ngc-column>

    </ngc-row>
    <ngc-row>
      <ngc-column>
        <br>
      </ngc-column>
    </ngc-row>
  </ngc-container>

  <ngc-container>

    <ngc-row>
      <ngc-column column='4'>
        <ngc-label label='tracing.last.movement'></ngc-label>
        <ngc-table>
          <thead>
            <th [width]="50">
              <ngc-label label='tracing.station'> </ngc-label>
            </th>
            <th [width]="50">
              <ngc-label label='g.flight'> </ngc-label>
            </th>
            <th [width]="50">
              <ngc-label label='g.date'> </ngc-label>
            </th>


          </thead>
          <tbody>
            <tr>
              <td>
                <ngc-display formControlName="inStation" upperCase="true"></ngc-display>
              </td>
              <td>
                <ngc-display formControlName="inFlight" upperCase="true"></ngc-display>
              </td>
              <td>
                <ngc-display [onlyDate]="true" formControlName="inDate" upperCase="true"></ngc-display>
              </td>

            </tr>

          </tbody>
        </ngc-table>
      </ngc-column>


      <ngc-column column='4'>
        <ngc-label label='tracing.last.out.movement'></ngc-label>
        <ngc-table>
          <thead>
            <th [width]="50">
              <ngc-label label='tracing.station'> </ngc-label>
            </th>
            <th [width]="50">
              <ngc-label label='g.flight'> </ngc-label>
            </th>
            <th [width]="50">
              <ngc-label label='g.date'> </ngc-label>
            </th>


          </thead>
          <tbody>
            <tr>
              <td>
                <ngc-display formControlName="outStation" upperCase="true"></ngc-display>
              </td>
              <td>
                <ngc-display formControlName="outFlight" upperCase="true"></ngc-display>
              </td>
              <td>
                <ngc-display [onlyDate]="true" formControlName="outDate" upperCase="true"></ngc-display>
              </td>

            </tr>

          </tbody>
        </ngc-table>
      </ngc-column>
    </ngc-row>


  </ngc-container>
</form>