.tcs-terminal-container {
    display: block;
}

.tcs-terminal-name {
    color: darkgreen;
}

.tcs-sector {
    width: 501px;
    margin-left: 2px;
}

.tcs-level-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tcs-level-name {
    color: lightcoral;
}

.tcs-dock-container,
.tcs-park-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - 100px);
}

.tcs-dock,
.tcs-park {
    padding: 5px;
    height: 70px;
    width: 119px;
    border: 1px solid lightgray;
    margin: 0.5px;
    color: darkslategray;
    cursor: pointer;
    position: relative;
}

.tcs-level {
    margin: 3px;
    padding-top: 12px;
}

.tcs-reserved-dock {
    font-size: 1.5rem;
    color: maroon;
}

.tcs-tenant-dock {
    font-size: 1.5rem;
    color: darkslategray;
}

.tcs-allocated-dock-onway {
    font-size: 1.5rem;
    color: goldenrod;
}

.tcs-vehicle {
    color: darkolivegreen;
    cursor: pointer;
}

.tcs-vehicle-img {
    height: 20px;
    content: url(../../../assets/images/large-truck4.png);
}

.tcs-vehicle-img-1 {
    height: 20px;
    content: url(../../../assets/images/large-truck3.png);
}

.tcs-overstay-time {
    color: orangered;
    position: absolute;
    right: 0;
    top: 0;
}

.tcs-purpose {
    width: 180px;
    height: 12px;
    display: table-cell;
}