<!-- Card Heading (Begin) -->
<ngc-titlebar title='tracing.network.awb.tracking' (cancel)="onBack($event)"></ngc-titlebar>
<form [formGroup]="networkawbtrackingform">
  <ngc-container type="section">
    <ngc-row>
      <!--formGroupName="serchNetworkuldtrackingform"  formGroupName="displayNetworkUldTrackingForm"-->
      <ngc-column>
        <ngc-label label='g.awbNumber'></ngc-label>
        <div>
          <ngc-awbinput [width]="100" formControlName="awbNumber"></ngc-awbinput>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label></ngc-label>
        <div>
          <ngc-button label='tracing.search' (click)="onSearch()" iconType="search" #searchbutton accessEnableOn="r">
          </ngc-button>
        </div>
      </ngc-column>
      <ngc-column [column]="6"></ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <br>
      </ngc-column>
    </ngc-row>

  </ngc-container>

  <ngc-container>
    <ngc-row>
      <ngc-column>
        <ngc-label label='g.awbNumber'></ngc-label>
        <div>
          <ngc-display formControlName="awbKey" upperCase="true"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='g.origin'></ngc-label>
        <div>
          <ngc-display formControlName="origin" upperCase="true"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='g.destination'></ngc-label>
        <div>
          <ngc-display formControlName="destination" upperCase="true"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='tracing.pieces'></ngc-label>
        <div>
          <ngc-display formControlName="pieces" upperCase="true"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='tracing.weight'></ngc-label>
        <div>
          <ngc-display formControlName="weight" upperCase="true"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label='g.shc'></ngc-label>


        <ngc-container formArrayName="shcDetails">
          <ngc-row *ngFor="let item of networkawbtrackingform.controls.shcDetails.controls; let index=index"
            [formGroupName]="index">

            <ngc-column>

              <ngc-display formControlName='shc'></ngc-display>

            </ngc-column>



          </ngc-row>
        </ngc-container>



      </ngc-column>

    </ngc-row>
    <ngc-row>
      <ngc-column>
        <br>
      </ngc-column>
    </ngc-row>
  </ngc-container>

  <ngc-container>

    <ngc-row>
      <ngc-column>
        <br>
      </ngc-column>
    </ngc-row>

    <ngc-row>
      <ngc-column column='8'>


        <ngc-datatable (linkClick)="onLinkClick($event)" formArrayName="awbTrackingDetails" [height]='200'
          [pageSize]='10' *ngIf="dispTableFlag">
          <ngc-data-column text="tracing.airport" dataField="airport" [width]="100" cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="tracing.event.name" dataField="eventName" [width]="100" cellsAlign="left">
          </ngc-data-column>
          <ngc-data-column text="g.flight" dataField="flightKey" [width]="100" cellsAlign="left"></ngc-data-column>
          <ngc-data-column text="tracing.time.event" type="displayDateTime" dataField="eventTime" [width]="100"
            cellsAlign="left"></ngc-data-column>
          <ngc-data-column text="tracing.pieces" dataField="pieces" [width]="100" cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="g.weight" dataField="weight" [width]="100" align="center" cellsAlign="center">
          </ngc-data-column>
        </ngc-datatable>
      </ngc-column>







    </ngc-row>


  </ngc-container>
</form>