<ngc-error>
</ngc-error>
<form [formGroup]="form">
  <ngc-container>
    <ngc-row>
      <ngc-column [grid48]="true" [column]="1">
      </ngc-column>
      <ngc-column>
        <ngc-label value="update.booking.pieces.weight" emphasis="md">
        </ngc-label>
      </ngc-column>
    </ngc-row>
    <ngc-row>
    </ngc-row>
  </ngc-container>
  <ngc-row>
    <ngc-column [grid48]="true" [column]="1">
    </ngc-column>
    <ngc-column [grid48]="true" [column]="20">
      <ngc-container type="rectangle">
        <ngc-row>
          <ngc-column column="2">
            <ngc-label value="g.awbNumber">
            </ngc-label>
          </ngc-column>
          <ngc-column column="2">
            <ngc-label value="awb.origin">
            </ngc-label>
          </ngc-column>
          <ngc-column column="2">
            <ngc-label value="awb.destination">
            </ngc-label>
          </ngc-column>
          <ngc-column column="2">
            <ngc-label value="awb.pieces">
            </ngc-label>
          </ngc-column>
          <ngc-column column="2">
            <ngc-label value="awb.weight">
            </ngc-label>
          </ngc-column>
          <ngc-column column="2">
            <ngc-label value="awb.nog">
            </ngc-label>
          </ngc-column>
        </ngc-row>
        <ngc-row>
          <ngc-column column="2">
            <ngc-display formControlName="shipmentNumber">
            </ngc-display>
          </ngc-column>
          <ngc-column column="2">
            <ngc-display formControlName="origin">
            </ngc-display>
          </ngc-column>
          <ngc-column column="2">
            <ngc-display formControlName="destination">
            </ngc-display>
          </ngc-column>
          <ngc-column column="2">
            <ngc-display formControlName="pieces">
            </ngc-display>
          </ngc-column>
          <ngc-column column="2">
            <ngc-weightdisplay formControlName='grossWeight'   decimalDigits="1">
              </ngc-weightdisplay>
          </ngc-column>
          <ngc-column column="2">
            <ngc-display formControlName="natureOfGoodsDescription">
            </ngc-display>
          </ngc-column>
        </ngc-row>
      </ngc-container>
    </ngc-column>
    <ngc-column [grid48]="true" [column]="1">
    </ngc-column>
    <ngc-column [grid48]="true" [column]="6">
      <ngc-row>
        <ngc-column>
          <ngc-label label="update.booking.remaining.pieces"></ngc-label>
        </ngc-column>
        <ngc-column>
          <ngc-label label="update.booking.remaining.weight"></ngc-label>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column>
          <ngc-display formControlName="remainingPcs"></ngc-display>
        </ngc-column>
        <ngc-column>
          <ngc-weightdisplay formControlName='remainingWt'   decimalDigits="1">
            </ngc-weightdisplay>
        </ngc-column>
      </ngc-row>
    </ngc-column>
    <ngc-column [grid48]="true" [column]="10">
      <ngc-button label='update.booking.create.part.shortcut' (click)="createNewPart()"
        [disabled]="createPartButtonFlag"></ngc-button>
    </ngc-column>
    <ngc-column [grid48]="true" [column]="4">
      <ngc-button label='update.booking.confirm.save.shortcut' (click)="save()" [disabled]="confrimButtonFlag">
      </ngc-button>
    </ngc-column>
  </ngc-row>
  <ngc-row>
    <ngc-column>
      <ngc-label value="">
      </ngc-label>
    </ngc-column>
  </ngc-row>
  <ngc-container>
    <ngc-row>
      <ngc-column [grid48]="true" [column]="28">
        <ngc-table>
          <thead>
            <tr>
              <th rowspan="4" [width]="50">
                <ngc-label value="g.select">
                </ngc-label>
              </th>
              <th align="center" colspan="10" rowspan="1">
                <ngc-label value="awb.booking.information">
                </ngc-label>
              </th>
              <th colspan="2" rowspan="1">
                <ngc-label value="awb.inventory.information">
                </ngc-label>
              </th>
              <th rowspan="4" [width]="50">
                <ngc-label value="g.status">
                </ngc-label>
              </th>
            </tr>
            <tr>
              <th rowspan="3">
                <ngc-label value="export.sfx" [width]='50'></ngc-label>
              </th>
              <th colspan="6">
                <ngc-label value="export.booking.flight.details" [width]='460'></ngc-label>
              </th>
              <th rowspan="3">
                <ngc-label value="update.booking.pcs" [width]='80'></ngc-label>
              </th>
              <th rowspan="3">
                <ngc-label value="update.booking.wt" [width]='100'></ngc-label>
              </th>
              <th rowspan="3">
                <ngc-label value="g.shc" [width]='100'></ngc-label>
              </th>
              <th rowspan="3">
                <ngc-label value="update.booking.pcs" [width]='80'></ngc-label>
              </th>
              <th rowspan="3">
                <ngc-label value="update.booking.wt" [width]='100'></ngc-label>
              </th>
            </tr>
            <tr>
              <th>
                <ngc-label value="flight.flightKey" [width]='100'></ngc-label>
              </th>
              <th>
                <ngc-label value="flight.date" [width]='100'></ngc-label>
              </th>
              <th>
                <ngc-label value="flight.std" [width]='100'></ngc-label>
              </th>
              <th>
                <ngc-label value="flight.sta" [width]='100'></ngc-label>
              </th>
              <th>
                <ngc-label value="flight.brd" [width]='80'></ngc-label>
              </th>
              <th>
                <ngc-label value="flight.off" [width]='80'></ngc-label>
              </th>
            </tr>
          </thead>
          <tbody formArrayName="partBookingList">
            <ng-container *ngFor="let item of form.get('partBookingList').controls; let index=index" [formGroupName]="index">
              <tr>
                <td>
                  <div *ngIf="item.get('isFLightDeparted').value || item.get('isFlightManifested').value;else elsetemp">
                    <ngc-label value=""></ngc-label>
                  </div>
                  <ng-template #elsetemp>
                    <ngc-checkbox formControlName='select' [width]="50"></ngc-checkbox>
                  </ng-template>
                </td>
                <td>
                  <ngc-display formControlName="partSuffix" [width]='50'></ngc-display>
                </td>
                <td colspan="6">
                  <!-- <ngc-label value=""></ngc-label> -->
                  <ngc-table>
                    <tbody formArrayName="singleShipmentFlightBookingList">
                      <tr *ngFor="let flightItem of item.controls.singleShipmentFlightBookingList.controls; let subIndex=index" [formGroupName]="subIndex">
                        <td>
                          <ngc-display formControlName="flightKey" [width]='100'></ngc-display>
                        </td>
                        <td>
                          <ngc-display formControlName="flightOriginDate" [onlyDate]="true" [width]='100'></ngc-display>
                        </td>
                        <td>
                          <ngc-display formControlName="dateSTD" [onlyTime]="true" [width]='100'></ngc-display>
                        </td>
                        <td>
                          <ngc-display formControlName="dateSTA" [onlyTime]="true" [width]='100'></ngc-display>
                        </td>
                        <td>
                          <ngc-display formControlName="flightBoardPoint" [width]='80'></ngc-display>
                        </td>
                        <td>
                          <ngc-display formControlName="flightOffPoint" [width]='80'></ngc-display>
                        </td>
                      </tr>

                    </tbody>
                  </ngc-table>
                </td>
                <td>
                  <ngc-display formControlName="partPieces"></ngc-display>
                </td>
                <td>
                  <ngc-weightdisplay formControlName='partWeight'   decimalDigits="1">
                    </ngc-weightdisplay>
                </td>
                <td>
                  <ngc-display formControlName="concatenatedShc"></ngc-display>
                </td>
                <td>
                  <ngc-display formControlName="inventoryPieces"></ngc-display>
                </td>
                <td>
                  <ngc-weightdisplay formControlName='inventoryWeight'   decimalDigits="1">
                    </ngc-weightdisplay>
                </td>
                <td>
                  <ngc-display formControlName="status"></ngc-display>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </ngc-table>
      </ngc-column>
      <ngc-column [grid48]="true" [column]="3">
        <ngc-button label='update.booking.update.shortcut' (click)="updateBooking()"></ngc-button>
      </ngc-column>
      <ngc-column [grid48]="true" [column]="15">
        <ngc-table>
          <thead>
            <tr>
              <th>
                <ngc-label value="export.sfx"></ngc-label>
              </th>
              <th>
                <ngc-label value="update.booking.pcs"></ngc-label>
              </th>
              <th>
                <ngc-label value="update.booking.wt"></ngc-label>
              </th>
              <th>
                <ngc-label value="update.booking.diff.pcs"></ngc-label>
              </th>
              <th>
                <ngc-label value="update.booking.diff.wt"></ngc-label>
              </th>
              <th>
                <ngc-label value="g.delete"></ngc-label>
              </th>
            </tr>
          </thead>
          <tbody formArrayName="partUpdateList">
            <ng-container *ngFor="let item of form.get('partUpdateList').controls; let index=index" [formGroupName]="index">
              <tr>
                <td>
                  <ngc-display formControlName="partSuffix"></ngc-display>
                </td>
                <td>
                  <ngc-piecesinput formControlName="partPieces" required></ngc-piecesinput>
                </td>
                <td>
                  <ngc-weightinput formControlName="partWeight" required>
                  </ngc-weightinput>
                </td>
                <td>
                  <strong style="color:red;">
                    <ngc-display formControlName="diffPcs"></ngc-display>
                  </strong>
                </td>
                <td>
                  <strong style="color:red;">
                    <ngc-weightdisplay formControlName='diffWt'   decimalDigits="1">
                      </ngc-weightdisplay>
                  </strong>
                </td>
                <td>
                  <ngc-button (click)="deleteData(index)" iconType="Delete" value="g.delete"></ngc-button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </ngc-table>
      </ngc-column>
    </ngc-row>

  </ngc-container>

</form>