<form [formGroup]="telexmessages">
  <ngc-titlebar title='attached.telex.messages.title' (save)="onSave($event)" (clear)="onClear($event)" (cancel)="onCancel()"></ngc-titlebar>
  <ngc-container type="section">
    <ngc-row>

      <ngc-column column="2">
        <ngc-label label='flight.flightNumber'></ngc-label>
        <div>
          <ngc-input accessEnableOn="r" formControlName="flightNumber" [width]="160"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label label="flight.flightDate"></ngc-label>
        <div>
          <ngc-dateinput accessEnableOn="r" formControlName="flightDate" [width]="160"></ngc-dateinput>
        </div>
      </ngc-column>
    
      <ngc-column [column]="2">
        <ngc-label label="bil.shipmentNumber"></ngc-label>
        <div>
          <ngc-shipmentinput  accessEnableOn="r" formControlName="shipmentNumber"  shipmentType='AWB'></ngc-shipmentinput>
        </div>
      </ngc-column>


    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label=""></ngc-label>
      </ngc-column>
    </ngc-row>

    <ngc-row>
      <ngc-column>
        <ngc-label label="messaging.message.content"></ngc-label>
        <div>
          <!--<ngc-textarea formControlName="message" height="400px" width="1200px" required></ngc-textarea>-->
          <ngc-codeeditor formControlName="message" height="400" required></ngc-codeeditor>
        </div>
      </ngc-column>
      <ngc-column>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label=""></ngc-label>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column align="right">
        <div>
          <ngc-button accessEnableOn="r" (click)="onSend()" value="g.process" [width]="100"></ngc-button>
        </div>
      </ngc-column>
      <ngc-column column="2">
      </ngc-column>
      <ngc-column column="2">
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>