<form [formGroup]="form">
  <ngc-titlebar title="export.ecc.outbound.detailer.worksheet.title"></ngc-titlebar>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-label label="export.dateTimeFrom"></ngc-label>
        <div>
          <ngc-datetimeinput showCalendarButton="true" [showTimeButton]="true" formControlName="dateFrom" ></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column [column]="9">
        <ngc-label label="export.dateTimeTo"></ngc-label>
        <div>
          <ngc-datetimeinput showCalendarButton="true" [showTimeButton]="true" formControlName="dateTo"></ngc-datetimeinput>
        </div>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label="export.flight"></ngc-label>
        <div>
          <ngc-input formControlName="flight"></ngc-input>
        </div>
      </ngc-column>

      <ngc-column>
        <ngc-label label="export.flightDate"></ngc-label>
        <div>
          <ngc-datetimeinput formControlName="flightDate" required></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="export.expressService"></ngc-label>
        <div>
          <ngc-dropdownlist formControlName="expressSer"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label></ngc-label>
        <div>
          <ngc-button (click)="onSearch()" label="export.ecc.query"></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="box">
    <ngc-row>
      <ngc-column>
        <ngc-datatable formArrayName="resultList" [height]="500" *ngIf='showTable'>
          <ngc-data-column text="awb.awbnumber" dataField="awbNo" type="text" [width]="100"></ngc-data-column>
          
          <ngc-data-column text="flight.Flight" dataField="flight" type="text" [width]="100"></ngc-data-column>
          <ngc-data-column text="flight.flightDate" dataField="flightDate" type="text" displayTime="true" [width]="100"></ngc-data-column>
          <ngc-data-column text="flight.std" dataField="std" type="text" [width]="200"></ngc-data-column>
          <ngc-data-column text="flight.off" dataField="offPoint" type="text" [width]="100"></ngc-data-column>
          <ngc-data-column text="export.booking.status" dataField="bookStatus" type="text" [width]="100"></ngc-data-column>
          <ngc-data-column text="flight.bay" dataField="bay" type="text" [width]="200"></ngc-data-column>
          <ngc-data-column text="export.ecc.units" dataField="units" type="text" [width]="100"></ngc-data-column>
          <ngc-data-column text="export.ecc.checker" dataField="checker" type="text" [width]="100"></ngc-data-column>
          <ngc-data-column text="agent.agent" dataField="agent" type="text" [width]="200"></ngc-data-column>
          <ngc-data-column text="g.shc" dataField="shc" type="text" [width]="200"></ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-button (click)="addplanningWindow()" label="export.ecc.add.planning.advice"></ngc-button>
      </ngc-column>

      <ngc-column>
        <ngc-button (click)="addAwbWindows()" label="export.ecc.add.awb"></ngc-button>
      </ngc-column>

      <ngc-column>
        <ngc-button (click)="awbDetailWindow()" label="export.ecc.awb.details"></ngc-button>
      </ngc-column>

      <ngc-column>
        <ngc-button (click)="markAwb()" label="export.ecc.mark.awb.no.show"></ngc-button>
      </ngc-column>

      <ngc-column>
        <ngc-button (click)="onClickNavigate()" label="export.ecc.outbound"></ngc-button>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>

<form [formGroup]="addPlanningForm">
  <ngc-window #addPlanningwindow [width]="700" [height]="500" title="export.add.planning.advice">
    <ngc-container type="tab">
      <ngc-row>
        <ngc-column>
          <ngc-label label="export.flight"></ngc-label>
          <div>
            <ngc-input formControlName="flight"></ngc-input>
          </div>
        </ngc-column>
        <ngc-column [column]="9">
          <ngc-label label="export.flightDate"></ngc-label>
          <div>
            <ngc-datetimeinput showCalendarButton="true" [showTimeButton]="false" formControlName="flightDate"></ngc-datetimeinput>
          </div>
        </ngc-column>
        <ngc-column>
          <ngc-label label="flight.offPoint"></ngc-label>
          <div>
            <ngc-input formControlName="off"></ngc-input>
          </div>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column>
          <ngc-label label="export.ecc.planning.advice"></ngc-label>
          <div>
            <ngc-input formControlName="planningAdvice"></ngc-input>
          </div>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column>
          <ngc-button (click)="markAwb()" label="g.save"></ngc-button>
        </ngc-column>
        <ngc-column>
          <ngc-button (click)="markAwb()" label="Cancel"></ngc-button>
        </ngc-column>
      </ngc-row>
    </ngc-container>
  </ngc-window>
</form>

<form [formGroup]="addAwbForm">
  <ngc-window #addAwbWindow [width]="1100" [height]="600" [title]="'Add Awb'">
    <ngc-container type="tab">
      <ngc-row>
        <ngc-column>
          <ngc-label value="awb.awbnumber"></ngc-label>
          <div>
            <ngc-input formControlName="awbNo"></ngc-input>
          </div>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column>
          <ngc-table>
            <thead>
              <tr>
                <th>
                  <ngc-label value="g.weight"></ngc-label>
                </th>
                <th>
                  <ngc-label value="agent.agent"></ngc-label>
                </th>
                <th>
                  <ngc-label value="flight.Flight"></ngc-label>
                </th>
                <th>
                  <ngc-label value="flight.flightDate"></ngc-label>
                </th>
                <th>
                  <ngc-label value="flight.std"></ngc-label>
                </th>
                <th>
                  <ngc-label value="flight.offPoint"></ngc-label>
                </th>
                <th>
                  <ngc-label value="export.booking.status"></ngc-label>
                </th>
                <th>
                  <ngc-label value="flight.bay"></ngc-label>
                </th>
                <th>
                  <ngc-label value="export.ecc.units"></ngc-label>
                </th>
                <th>
                  <ngc-label value="g.shc"></ngc-label>
                </th>
              </tr>
            </thead>
            <tbody formArrayName="addAwbList">
              <tr *ngFor="let item of addAwbForm.controls.addAwbList.controls; let index=index" [formGroupName]="index">
                <td>
                  <ngc-weightinput formControlName="weight"></ngc-weightinput>
                </td>
                <th>
                  <ngc-input formControlName="agent"></ngc-input>
                </th>
                <th>
                </th>
                <td>

                </td>
                <td>
                </td>
                <td>

                </td>
                <td>
                </td>
                <td>

                </td>
                <td>
                  <ngc-input formControlName="remarks"></ngc-input>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>

                </td>
                <td>

                </td>
              </tr>
            </tbody>
          </ngc-table>
        </ngc-column>
      </ngc-row>
    </ngc-container>
  </ngc-window>
</form>
