<form [formGroup]="duplicateNamesForm">
  <ngc-window #duplicateNamePopup [title]="windowTitle" [showCloseButton]="false"
    [width]="isAuthorizedPersonnelScreen ? '700' : '500' " [height]="isAuthorizedPersonnelScreen ? '420' : '300' ">
    <ngc-container *ngIf="!isAuthorizedPersonnelScreen; else forAuthorizedPersonnelScreenContents">
      <ngc-row>
        <ngc-column>
          <div *ngFor="let item of items; let i=index">
            <ngc-radiobutton inline="true" accessEnableOn="r" formControlName="duplicateNames" [value]="item"
              (click)="onNameChange(item)">
            </ngc-radiobutton>
            <ngc-label [label]="item.authorizedPersonnelName"></ngc-label>
          </div>
        </ngc-column>
      </ngc-row>
    </ngc-container>
    <ng-template #forAuthorizedPersonnelScreenContents>
      <ngc-container>
        <ngc-row>
          <ngc-column>
            <ngc-table>
              <tr style="background-color: grey;">
                <th>
                  <ngc-label label="ad.contact"></ngc-label>
                </th>
                <th>
                  <ngc-label label="ad.authorize"></ngc-label>
                </th>
                <th>
                  <ngc-label label="ad.IC"></ngc-label>
                </th>
                <th>
                  <ngc-label label="ad.passno"></ngc-label>
                </th>
              </tr>
              <tbody>
                <tr *ngFor="let item of items; let i=index">
                  <td>{{item.contractorCompanyName}}</td>
                  <td>{{item.authorizedPersonnelName}}</td>
                  <td>{{item.authorizedPersonnelNumber}}</td>
                  <td>{{item.authorizedPassNumber}}</td>
                </tr>
              </tbody>

              <!-- <tr>
                <th colspan="4" style="text-decoration: underline !important;">
                  <ngc-label label="Possible Duplicate Entries">
                  </ngc-label>
                </th>
              </tr>
              <tr style="background-color:#516bc0;">
                <th width="25%">
                  <ngc-label label="ad.contact"></ngc-label>
                </th>
                <th width="25%">
                  <ngc-label label="admin.authorized.person.name"></ngc-label>
                </th>
                <th width="25%">
                  <ngc-label label="ad.IC"></ngc-label>
                </th>
                <th width="25%">
                  <ngc-label label="ad.passno"></ngc-label>
                </th>
              </tr>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>YEO KOK THYE</td>
                  <td>123F</td>
                  <td>2323</td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>{{packageDetails.serviceFlag}}</td>
                            <td>{{packageDetails.origin}}</td>
                            <td>{{packageDetails.destination}}</td>
                            <td>{{packageDetails.pieces}}</td>
                            <td>{{packageDetails.grossWeight}}</td>
                            <td>{{packageDetails.weightUnitCode}}</td>
                            <td>{{packageDetails.natureOfGoodsDescription}}</td>
                  <td>a</td>
                  <td>b</td>
                  <td>c</td>
                  <td>d</td>
                  <td>e</td>
                  <td>f</td>
                  <td>g</td>
                </tr>
              </tbody> -->
            </ngc-table>
          </ngc-column>
        </ngc-row>
        <!-- <ngc-row>
          <ngc-column>
            <ngc-label label="To proceed with duplicates, click OK"></ngc-label>
          </ngc-column>
        </ngc-row> -->
      </ngc-container>
    </ng-template>
    <ngc-window-footer>
      <ngc-container type="tab">
        <ngc-row>
          <ngc-column *ngIf="!isAuthorizedPersonnelScreen; else forAuthorizedPersonnelScreenFooter" align="right">
            <ngc-button (click)="confirmNewEntry()" value="Confirm New Entry">
            </ngc-button>
            <ngc-button (click)="nameSelect()" value="OK"></ngc-button>
          </ngc-column>
          <ng-template #forAuthorizedPersonnelScreenFooter>
            <ngc-column [column]='9'>
              <ngc-label [ngStyle]="{'color':'red','font-size':'18px'}" label="Do you want to continue?">
              </ngc-label>
              <!-- color="red" -->
            </ngc-column>
            <ngc-column align="right">
              <ngc-button (click)="cancelClear()" value="Cancel"></ngc-button>
              <ngc-button (click)="close()" value="OK"></ngc-button>
            </ngc-column>
          </ng-template>
        </ngc-row>
      </ngc-container>
    </ngc-window-footer>
  </ngc-window>
</form>