<!--form control to get the  input Data-->
<form [formGroup]="shipmentNumberForReuse">
  <!-- Title Bar -->
  <ngc-titlebar title='mark.awb.for.reuse' (clear)="onClear($event)" (cancel)="onBack($event)"
    (save)="onDelete($event)"></ngc-titlebar>
  <ngc-container type="section">
    <ngc-row>
      <ngc-column column="6">
        <ngc-row>
          <ngc-column column="2">
            <ngc-awbinput accessEnableOn="r" formControlName="awbshipmentNumber"></ngc-awbinput>
          </ngc-column>
          <ngc-column column="1"></ngc-column>
          <ngc-column column="2">
            <ngc-button accessEnableOn="r" value="search" (click)="onSearch()" iconType="search"></ngc-button>
          </ngc-column>
          <ngc-column column="1"></ngc-column>
          <ngc-column column="2">
            <div>
              <ngc-button value="reuse.add" (click)="onAdd()" iconType="add"></ngc-button>
            </div>
          </ngc-column>
          <ngc-column column="1"></ngc-column>
          <ngc-column column="1"></ngc-column>
        </ngc-row>
      </ngc-column>
      <ngc-column column="6"></ngc-column>
    </ngc-row>
  </ngc-container>
  <form [formGroup]="addShipmentNumberForReuse">
    <ngc-window #insertionWindow [width]="600" [height]="250" title="title.ad.new.shipment.for.reuse"
      [showCloseButton]="true">
      <ngc-container type="tab">
        <ngc-row>
          <ngc-column>
            <ngc-label label="shpReuse.awb"></ngc-label>
            <div>
              <ngc-awbinput formControlName="shipmentNumber" required></ngc-awbinput>
            </div>
          </ngc-column>
          <ngc-column>
            <ngc-label label="shpReuse.addOrigin"></ngc-label>
            <div>
              <ngc-lov formControlName="origin" sourceId="FINAL_DESTINATION" title="g.origin" dataField="code"
                [width]="45">
                <ngc-data-column text="flight.airportCode" dataField="code" [width]="30"></ngc-data-column>
              </ngc-lov>
            </div>
          </ngc-column>
          <ngc-column>
            <ngc-label label="shpReuse.addRemarks"></ngc-label>
            <div>
              <ngc-input [width]="220" formControlName="remarks" upperCase="true"></ngc-input>
            </div>
          </ngc-column>
        </ngc-row>
        <ngc-row></ngc-row>
      </ngc-container>
      <ngc-window-footer>
        <ngc-container type="tab">
          <ngc-row>
            <ngc-column column="6">
              <ngc-row>
                <ngc-column column="8"></ngc-column>
                <ngc-column column="4">
                  <ngc-button (click)="add()" value="g.add.b"></ngc-button>
                </ngc-column>
              </ngc-row>
            </ngc-column>
            <ngc-column column="6">
              <ngc-button (click)="onToggleInsert()" value="cancel"></ngc-button>
            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-window-footer>
    </ngc-window>
  </form>
  <ngc-container *ngIf="showButtons" type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-datatable (linkClick)="onDeleteLinkClick($event)" [pageable]="true" [pagerMode]="'advanced'"
          formArrayName="searchList" [enablePageSizeHeight]="false" [showToolbar]="true"
          [showPrint]="true" [showXLS]="true" [showPDF]="true" [showCSV]="true" >
          <ngc-data-column text='g.awbNumber' dataField="awbResponseNumber" [width]="120" cellsAlign="left" align="left">
          </ngc-data-column>
          <ngc-data-column text='g.source' dataField="source" [width]="90" upperCase="true" cellsAlign="left"
            align="left"></ngc-data-column>
          <ngc-data-column text='g.approved.by' dataField="approvedBy" [width]="130" align="left" cellsAlign="left">
          </ngc-data-column>
          <ngc-data-column text='g.approved.date.time' dataField="createdDateAndTime" [width]="190"
            type="displayDateTime" cellsAlign="left" align="left"></ngc-data-column>
          <ngc-data-column text='g.remarks' dataField="remarks" [width]="340" cellsAlign="left" align="left">
          </ngc-data-column>
          <ngc-data-column [disabled]="hasReadPermission" text='g.delete' [width]="40" iconType='delete' type="link" cellsAlign="center" align="left">
          </ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>