<ngc-titlebar title="airmail.title.mail.booklist"  (clear)="onClear($event)"  (save)="onSave()" (cancel)="onBack()"></ngc-titlebar>
<form [formGroup]="exportBooklistMailForm">
  <ngc-container formGroupName="searchOptions" type='header'>
    <ngc-row>
      <ngc-column column="1">
        <ngc-label label="flight.Flight"></ngc-label>
        <div>
          <ngc-flightkeyinput accessEnableOn="r" formControlName="flightKey" required [width]="100" [maxlength]="7"></ngc-flightkeyinput>
        </div>
      </ngc-column>
      <ngc-column column="1">
        <ngc-label label="airmail.Date"></ngc-label>
        <div>
          <ngc-dateinput accessEnableOn="r" formControlName="departureDate" required></ngc-dateinput>
        </div>
      </ngc-column>
      <ngc-column column="2">
        <ngc-label value='flight.destination'></ngc-label>
        <div>
          <ngc-lov accessEnableOn="r" [noCache]="true" formControlName="flightOffPoint" maxlength='3' sourceId='APT' [width]="55"
            title='Airport' dataField='code' displayMember="code" [maxlength]="3">
            <ngc-data-column text="flight.airportCode" dataField="code" [width]="100">
            </ngc-data-column>
            <ngc-data-column text="flight.airportName" dataField="desc" [width]="150">
            </ngc-data-column>
          </ngc-lov>
          <!--<ngc-input formControlName="flightOffPoint" ></ngc-input>-->
        </div>
      </ngc-column>

      <ngc-column column="2" align="left">
        <ngc-label label=""></ngc-label>
        <div>
          <ngc-button accessEnableOn="r" value="g.search" (click)="onSearch()" verticalAlign="bottom"></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type='section' formGroupName="searchInfo">
    <ngc-row>
      <ngc-column column="1">
        <ngc-label label="flight.Flight"></ngc-label>
        <div>
          <ngc-display formControlName="flightKey"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="1">
        <ngc-label label="airmail.Date"></ngc-label>
        <div>
          <ngc-display formControlName="departureDate" [onlyDate]="true"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="1">
        <ngc-label label="flight.destination"></ngc-label>
        <div>
          <ngc-display formControlName="flightOffPoint"></ngc-display>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column *ngIf="searchFlag">
        <ngc-table>
          <thead>
            <tr>
              <th>
                <ngc-label value="airmail.Dispatch"></ngc-label>
              </th>
              <th>
                <ngc-label value="airmail.RSN"></ngc-label>
              </th>
              <th>
                <ngc-label value="export.book.pieces"></ngc-label>
              </th>
              <th>
                <ngc-label value="export.book.weight"></ngc-label>
              </th>
              <th>
                <ngc-label value="airmail.MailType"></ngc-label>
              </th>
              <th>
                <ngc-label value="origin"></ngc-label>
              </th>
              <th>
                <ngc-label value="flight.destination"></ngc-label>
              </th>
              <th>
                <ngc-label value="import.nextdest"></ngc-label>
              </th>
              <th>
                <ngc-label value="import.remark"></ngc-label>
              </th>
              <th>
                <ngc-label value="mailbag.shipment.location"></ngc-label>
              </th>
              <th>
                <ngc-label value="mailbag.warehouse.location"></ngc-label>
              </th>
            </tr>
          </thead>
          <tbody formArrayName="mailBooklist">
            <ng-container *ngFor="let item of exportBooklistMailForm.get('mailBooklist').controls; let index=index"
              [formGroupName]="index">
              <tr>
                <td>
                  <ngc-display formControlName="dispatch"></ngc-display>
                </td>
                <td>
                  <ngc-shipmentdisplay formControlName="shipmentNumber"></ngc-shipmentdisplay>
                </td>
                <td>
                  <ngc-piecesdisplay formControlName="pieces"></ngc-piecesdisplay>
                </td>
                <td>
                  <ngc-weightdisplay formControlName="weight"></ngc-weightdisplay>
                </td>
                <td>
                  <ngc-display formControlName="mailSubType"></ngc-display>
                </td>
                <td>
                  <ngc-display formControlName="origin"></ngc-display>
                </td>
                <td>
                  <ngc-display formControlName="destination"></ngc-display>
                </td>
                <td>
                  <ngc-display formControlName="nextDestination"></ngc-display>
                </td>
                <td>
                  <ngc-input [width]="300" formControlName="remarks" [maxlength]="65"></ngc-input>
                </td>
                <td>
                  <ngc-display formControlName="shipmentLocation"></ngc-display>
                </td>
                <td>
                  <ngc-display formControlName="wareHouseLocation"></ngc-display>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </ngc-table>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column column="3">
        <ngc-label label="export.mail.booklist.total.pieces"></ngc-label>
            <ngc-display formControlName="totalPieces">
          </ngc-display>
      </ngc-column>
      <ngc-column column="3">
        <ngc-label label="export.mail.booklist.total.weight"></ngc-label>
            <ngc-weightdisplay formControlName="totalWeight">
          </ngc-weightdisplay>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container *ngIf="showAssignedUldTable">
    <ngc-row>
      <ngc-column>
        <ngc-edittable formArrayName="assignedConteiner">
          <ngc-data-column text="uld.uld/trolley.number" [width]="200" align="left" cellsAlign="left"
            dataField="assignedUldNumber"></ngc-data-column>
          <ngc-data-column text="g.pieces" [width]="200" align="left" cellsAlign="left" dataField="totalAssignedPieces"
            type="displayPieces"></ngc-data-column>
          <ngc-data-column text="g.weight" [width]="20" align="left" cellsAlign="left" dataField="totalAssignedWeight">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-weightdisplay formControlName="totalAssignedWeight"></ngc-weightdisplay>
              </ng-container>
            </ng-template>
          </ngc-data-column>

          <ngc-data-row>
            <ng-template let-group>
              <ng-container [formGroupName]="group">
                <ngc-edittable formArrayName="loadedMailBagsInsideUlds" [pageable]="false">
                  <ngc-data-column text="g.mailBagNumber" [width]="20" align="left" cellsAlign="left"
                    dataField="mailBagNumber"></ngc-data-column>
                  <ngc-data-column text="g.pieces" [width]="20" align="left" cellsAlign="left" dataField="pieces"
                    type="displayPieces">
                  </ngc-data-column>

                  <ngc-data-column text="g.weight" [width]="20" align="left" cellsAlign="left" dataField="weight">
                    <ng-template let-name="name" let-group="group">
                      <ng-container [formGroupName]="group">
                        <ngc-weightdisplay formControlName="weight"></ngc-weightdisplay>
                      </ng-container>
                    </ng-template>
                  </ngc-data-column>
                  <ngc-data-column text="mailbag.mail.type" [width]="20" align="left" cellsAlign="left" dataField="mailType">
                  </ngc-data-column>
                  <ngc-data-column text="mailbag.next.destination" [width]="20" align="left" cellsAlign="left"
                    dataField="nextDestination"></ngc-data-column>
                  <ngc-data-column text="mailbag.rsn" [width]="20" align="left" cellsAlign="left" dataField="rsn">
                  </ngc-data-column>
                  <ngc-data-column text="mailbag.origin" [width]="20" align="left" cellsAlign="left" dataField="origin">
                  </ngc-data-column>
                  <ngc-data-column text="mailbag.destination" [width]="20" align="left" cellsAlign="left"
                    dataField="destination"></ngc-data-column>
                    <ngc-data-column text="mailbag.loaded" [width]="20" align="left" cellsAlign="left"
                    dataField="loaded" type="icon" iconType="yesno"></ngc-data-column>
                </ngc-edittable>
              </ng-container>
            </ng-template>
          </ngc-data-row>
        </ngc-edittable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>