<!-- Title Bar (Begin).-->
<ngc-titlebar title="admin.title.registration.approval" (cancel)="onCancel($event)" (clear)="onClear($event)">
</ngc-titlebar>
<!-- Title Bar (End) -->

<!-- fetchedRegistrationRequest Form Group (Begin) -->
<form [formGroup]="fetchedRegistrationRequest">
  <!-- fetchedRegistrationRequest Form Container (Begin) -->
  <!-- This container contains the fields to contain the fetchedRegistrationRequest Form Group -->
  <ngc-container type='section'>
    <ngc-row>
      <ngc-column>
        <ngc-label label="agent.comapanyInformation"></ngc-label>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-checkbox formControlName="existingCustomerFlag" disabled="true">
          <ngc-i18n value="agent.existingcustomerSATS"></ngc-i18n>
        </ngc-checkbox>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label="req.customercode"></ngc-label>
        <div>
          <ngc-display formControlName="customerCode"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="4">
        <ngc-label label="req.customername"></ngc-label>
        <div>
          <ngc-display formControlName="customerName"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column column="4">
        <ngc-label label="req.formallyknownas"></ngc-label>
        <div>
          <ngc-display formControlName="formallyKnownAs" *ngIf="!Pending"></ngc-display>
          <ngc-input formControlName="formallyKnownAs" *ngIf="Pending"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="Customer.CodePreference"></ngc-label>
        <div>
          <ngc-display formControlName="customerCodeChoice1"></ngc-display> (1st Choice)
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="Customer.CodePreference"></ngc-label>
        <div>
          <ngc-display formControlName="customerCodeChoice2"></ngc-display> (2nd Choice)
        </div>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column entityAttribute="Customer.CustomerUniqueEntityNumber">
        <ngc-label label="agent.uen_Number" entityAttribute="Customer.CustomerUniqueEntityNumber"></ngc-label>
        <div>
          <ngc-display formControlName="uenNumber" *ngIf="!Pending"></ngc-display>
          <ngc-input formControlName="uenNumber" *ngIf="Pending" entityAttribute="Customer.CustomerUniqueEntityNumber">
          </ngc-input>
        </div>
      </ngc-column>
      <ngc-column entityAttribute='Customer.ImportAuthorizationHolderFlag'>
        <ngc-label label="agent.ia_Holder" entityAttribute='Customer.ImportAuthorizationHolderFlag'></ngc-label>
        <div>
          <ngc-display formControlName="importAuthorizationFlagValue" *ngIf="!Pending"
            entityAttribute='Customer.ImportAuthorizationHolderFlag'></ngc-display>
          <ngc-input *ngIf="Pending" formControlName="importAuthorizationFlagValue"
            entityAttribute='Customer.ImportAuthorizationHolderFlag'></ngc-input>
          <!--<ngc-dropdownlist formControlName="importAuthorizationFlagValue" sourceId='IAHolder$IA_Holder'></ngc-dropdownlist>-->
        </div>
      </ngc-column>
      <ngc-column entityAttribute='Customer.ImportAuthorizationExpiryDate'>
        <ngc-label label="agent.ia_ExpiryDate"></ngc-label>
        <div>
          <ngc-display formControlName="iaexpiryDate" *ngIf="!Pending"
            entityAttribute='Customer.ImportAuthorizationExpiryDate'></ngc-display>
          <ngc-dateinput *ngIf="Pending" formControlName="iaexpiryDate"
            entityAttribute='Customer.ImportAuthorizationExpiryDate'></ngc-dateinput>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="agent.iataAgentcode"></ngc-label>
        <div>
          <ngc-display formControlName="iataAgentCode" *ngIf="!Pending"></ngc-display>
          <ngc-input [maxlength]="7" formControlName="iataAgentCode" *ngIf="Pending"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column entityAttribute="Customer.ElectronicInvoice">
        <ngc-label entityAttribute="Customer.ElectronicInvoice"></ngc-label>
        <div>
          <ngc-checkbox formControlName="electronicInvoice" *ngIf="Pending"
            entityAttribute="Customer.ElectronicInvoice"></ngc-checkbox>
          <ngc-icon type="yesno" formControlName="electronicInvoice" *ngIf="!Pending"
            entityAttribute="Customer.ElectronicInvoice"></ngc-icon>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label=""></ngc-label>
      </ngc-column>
      <ngc-column>
        <ngc-label label=""></ngc-label>
      </ngc-column>
    </ngc-row>
  </ngc-container>

  <!-- This container contains the fields of correspondence address -->
  <ngc-container type="section">
    <ngc-row>
      <ngc-column>
        <ngc-label label="admin.company.registration.address.contact"></ngc-label>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-tabs #staticTabs>
          <div ngc-tab-card title="agent.correspondence">
            <ngc-container>
              <!--<ngc-row>
                <ngc-column>
                  <ngc-label label=""></ngc-label>
                </ngc-column>
              </ngc-row>-->
              <ngc-row>
                <ngc-column column="6">
                  <ngc-label label="import.address"></ngc-label>
                  <div>
                    <ngc-display formControlName="correspondenceAddress1" width="600px" *ngIf="!Pending"></ngc-display>
                    <ngc-input formControlName="correspondenceAddress1" width="600px" *ngIf="Pending"></ngc-input>
                  </div>
                </ngc-column>
                <ngc-column column="1">
                  <ngc-label label="agent.createShipperPlace"></ngc-label>
                  <div>
                    <ngc-display formControlName="correspondencePlace" width="100px" *ngIf="!Pending"></ngc-display>
                    <ngc-input [maxlength]="17" formControlName="correspondencePlace" width="100px" *ngIf="Pending">
                    </ngc-input>
                  </div>
                </ngc-column>
                <ngc-column entityAttribute="Customer.Address.PostalCode">
                  <ngc-label label="agent.createShipperPostal"></ngc-label>
                  <div>
                    <ngc-display formControlName="correspondencePostalCode" width="100px" *ngIf="!Pending"
                      entityAttribute="Customer.Address.PostalCode"></ngc-display>
                    <ngc-input formControlName="correspondencePostalCode" width="100px" *ngIf="Pending"
                      entityAttribute="Customer.Address.PostalCode"></ngc-input>
                  </div>
                </ngc-column>
                <ngc-column>
                  <ngc-label label="agent.city"></ngc-label>
                  <div>
                    <ngc-display formControlName="correspondenceCityCode" *ngIf="!Pending"></ngc-display>
                    <ngc-lov *ngIf="Pending" [noCache]="true" required sourceId="CITY"  title="g.city"
                      formControlName="correspondenceCityCode" (select)="onselectCity($event)"  dataField="code"
                      width="50%">
                      <ngc-data-column text="g.city"  dataField="code"  [width]="50"></ngc-data-column>
                      <ngc-data-column text="g.cityName" [width]="90" dataField="desc"></ngc-data-column>
                      <ngc-data-column text="g.countryCode" [width]="50" dataField="parameter1"></ngc-data-column>
                    </ngc-lov>
                  </div>
                </ngc-column>

                <ngc-column>
                  <ngc-label label="agent.createShipperCountry"></ngc-label>
                  <div>
                    <ngc-display formControlName="correspondenceCountryCode" *ngIf="!Pending"></ngc-display>
                    <ngc-lov *ngIf="Pending" [noCache]="true"  required formControlName="correspondenceCountryCode"
                      sourceId="COUNTRY"  title="g.country"  dataField="code" width="50%">
                      <ngc-data-column text="g.country" dataField="code" [width]="50"></ngc-data-column>
                      <ngc-data-column text="g.countryName" [width]="150" dataField="desc"></ngc-data-column>
                    </ngc-lov>
                  </div>
                </ngc-column>
                <ngc-column>
                  <ngc-label label="agent.createShipperState"></ngc-label>
                  <div>
                    <ngc-display formControlName="correspondenceStateCode" *ngIf="!Pending"></ngc-display>
                    <ngc-lov *ngIf="Pending" [noCache]="true" sourceId="STATE" title="g.state"
                      formControlName="correspondenceStateCode"  dataField="code" width="50%">
                      <ngc-data-column text="g.state"  dataField="code"  [width]="50"></ngc-data-column>
                      <ngc-data-column text="g.stateName" [width]="150" dataField="desc"></ngc-data-column>
                    </ngc-lov>
                  </div>
                </ngc-column>
              </ngc-row>
              <!--<ngc-row>
                <ngc-label label=""></ngc-label>
              </ngc-row>-->
              <ngc-row>
                <ngc-column entityAttribute="Customer.TelephoneNumber">
                  <ngc-label label="admin.company.registration.approval.telephone.no"></ngc-label>
                  <div>
                    <ngc-display formControlName="correspondenceTelephoneNo" *ngIf="!Pending"
                      entityAttribute="Customer.TelephoneNumber"></ngc-display>

                    <ngc-phoneinput *ngIf="Pending" [noCountryCode]="true" [width]="210"
                      formControlName="correspondenceTelephoneNo" entityAttribute="Customer.TelephoneNumber">
                    </ngc-phoneinput>
                  </div>
                </ngc-column>
                <ngc-column>
                  <ngc-label label="agent.fax"></ngc-label>
                  <div>
                    <ngc-display formControlName="correspondenceFaxNo" *ngIf="!Pending"></ngc-display>

                    <ngc-faxinput *ngIf="Pending" [noCountryCode]="true" [width]="210" [maxlength]='21'
                      formControlName="correspondenceFaxNo"></ngc-faxinput>
                  </div>
                </ngc-column>
              </ngc-row>
            </ngc-container>
          </div>

          <!-- This container contains the fields of billing._address -->
          <div ngc-tab-card title="req.billing">
            <ngc-container>
              <ngc-row>
                <ngc-column>
                  <ngc-checkbox formControlName="sameAsCustomerFlag" [disabled]="true" *ngIf="!Pending">
                    <ngc-i18n value="req.sameascorrespondence"></ngc-i18n>
                  </ngc-checkbox>
                  <ngc-checkbox formControlName="sameAsCustomerFlag" [disabled]="false" *ngIf="Pending">
                    <ngc-i18n value="req.sameascorrespondence"></ngc-i18n>
                  </ngc-checkbox>
                </ngc-column>
              </ngc-row>
              <ngc-row>
                <ngc-column column="6">
                  <ngc-label label="import.address"></ngc-label>:
                  <div>
                    <ngc-display formControlName="billingAddress1" width="600px" *ngIf="!Pending"></ngc-display>
                    <ngc-input formControlName="billingAddress1" width="600px" *ngIf="Pending"></ngc-input>
                  </div>
                </ngc-column>
                <ngc-column column="1">
                  <ngc-label label="agent.createShipperPlace"></ngc-label>
                  <div>
                    <ngc-display formControlName="billingPlace" width="100px" *ngIf="!Pending"></ngc-display>
                    <ngc-input [maxlength]="17" formControlName="billingPlace" width="100px" *ngIf="Pending">
                    </ngc-input>
                  </div>
                </ngc-column>
                <ngc-column>
                  <ngc-label label="agent.createShipperPostal"></ngc-label>
                  <div>
                    <ngc-display formControlName="billingPostalCode" width="100px" *ngIf="!Pending"></ngc-display>
                    <ngc-input formControlName="billingPostalCode" width="100px" *ngIf="Pending"></ngc-input>
                  </div>
                </ngc-column>
                <ngc-column>
                  <ngc-label label="agent.city"></ngc-label>
                  <div>
                    <ngc-display formControlName="billingCityCode" *ngIf="!Pending"></ngc-display>
                    <ngc-lov *ngIf="Pending" [noCache]="true" required sourceId="CITY"  title="g.city"
                      formControlName="billingCityCode" (select)="onselectbillingCity($event)"  dataField="code"
                      width="50%">
                      <ngc-data-column text="g.city"  dataField="code"  [width]="50"></ngc-data-column>
                      <ngc-data-column text="g.cityName" [width]="90" dataField="desc"></ngc-data-column>
                      <ngc-data-column text="g.countryCode" [width]="50" dataField="parameter1"></ngc-data-column>
                    </ngc-lov>
                  </div>
                </ngc-column>
                <ngc-column>
                  <ngc-label label="agent.createShipperCountry"></ngc-label>
                  <div>
                    <ngc-display formControlName="billingCountryCode" *ngIf="!Pending"></ngc-display>
                    <ngc-lov *ngIf="Pending" [noCache]="true"  required formControlName="billingCountryCode"
                      sourceId="COUNTRY"  title="g.country"  dataField="code" width="50%">
                      <ngc-data-column text="g.country" dataField="code" [width]="50"></ngc-data-column>
                      <ngc-data-column text="g.countryName" [width]="150" dataField="desc"></ngc-data-column>
                    </ngc-lov>
                  </div>
                </ngc-column>

                <ngc-column>
                  <ngc-label label="agent.createShipperState"></ngc-label>
                  <div>
                    <ngc-display formControlName="billingStateCode" *ngIf="!Pending"></ngc-display>
                    <ngc-lov *ngIf="Pending" [noCache]="true" sourceId="STATE" title="g.state"
                      formControlName="billingStateCode"  dataField="code" width="50%">
                      <ngc-data-column text="g.state"  dataField="code"  [width]="50"></ngc-data-column>
                      <ngc-data-column text="g.stateName" [width]="150" dataField="desc"></ngc-data-column>
                    </ngc-lov>
                  </div>
                </ngc-column>


              </ngc-row>
              <!--<ngc-row>
                <ngc-label label=""></ngc-label>
              </ngc-row>-->
              <ngc-row>


              </ngc-row>
            </ngc-container>
          </div>

          <!-- FOR ADMINSTARATIVE OFFICE-->
          <ngc-tab-card title='admin.administrativedetails' [indicatorIconType]="billingAddressIcon"
            indicatorIconColor="red" feature="Customer.AdministrativeOfficeAddress">
            <ngc-container>
              <ngc-row>
                <ngc-column column="6">
                  <div>
                    <ngc-label label="g.address"></ngc-label>
                  </div>
                  <ngc-display formControlName="administrativeOfficeAddress" width="600px" *ngIf="!Pending">
                  </ngc-display>
                  <ngc-input formControlName="administrativeOfficeAddress" placeHolder="Administrator Office Address"
                    width="600px" *ngIf="Pending"></ngc-input>
                </ngc-column>
                <ngc-column column="1">
                  <div>
                    <ngc-label label="g.place"></ngc-label>
                  </div>
                  <ngc-display formControlName="administrativeOfficePlace" width="100px" *ngIf="!Pending"></ngc-display>
                  <ngc-input formControlName="administrativeOfficePlace" width="90%" *ngIf="Pending">
                  </ngc-input>
                </ngc-column>
                <ngc-column column="1">
                  <div>
                    <ngc-label label="g.postalCode"></ngc-label>
                  </div>
                  <ngc-display formControlName="administrativeOfficePostalCode" width="100px" *ngIf="!Pending">
                  </ngc-display>
                  <ngc-input [maxlength]="9" formControlName="administrativeOfficePostalCode" width="90%"
                    *ngIf="Pending">
                  </ngc-input>
                </ngc-column>
                <ngc-column column="1">
                  <div>
                    <ngc-label label="g.cityCode"></ngc-label>
                  </div>
                  <ngc-display formControlName="administrativeOfficeCityCode" width="100px" *ngIf="!Pending">
                  </ngc-display>
                  <ngc-lov [noCache]="true" formControlName="administrativeOfficeCityCode" sourceId="CITY"
                     title="g.city" dataField="code" width="50%" *ngIf="Pending">
                    <ngc-data-column text="g.city"  dataField="code"  [width]="50"></ngc-data-column>
                    <ngc-data-column text="g.cityName" [width]="90" dataField="desc"></ngc-data-column>
                    <ngc-data-column text="g.countryCode" [width]="50" dataField="parameter1"></ngc-data-column>
                  </ngc-lov>
                </ngc-column>
                <ngc-column column="1">
                  <div>
                    <ngc-label label="g.countryCode"></ngc-label>
                  </div>
                  <ngc-display formControlName="administrativeOfficeCountryCode" width="100px" *ngIf="!Pending">
                  </ngc-display>
                  <ngc-lov [noCache]="true" formControlName="administrativeOfficeCountryCode" sourceId="COUNTRY"
                     title="g.country"  dataField="code" width="50%" *ngIf="Pending">
                    <ngc-data-column text="g.country"  dataField="code"  [width]="50"></ngc-data-column>
                    <ngc-data-column text="g.countryName" [width]="150" dataField="desc"></ngc-data-column>
                  </ngc-lov>
                </ngc-column>
                <ngc-column column="1">
                  <div>
                    <ngc-label label="g.state"></ngc-label>
                  </div>
                  <ngc-display formControlName="administrativeOfficeStateCode" width="100px" *ngIf="!Pending">
                  </ngc-display>
                  <ngc-lov [noCache]="true" sourceId="STATE" title="g.state"
                    formControlName="administrativeOfficeStateCode"  dataField="code" width="50%"
                    [sourceParameters]='stateByCountry' *ngIf="Pending">
                    <ngc-data-column text="g.state"  dataField="code"  [width]="50"></ngc-data-column>
                    <ngc-data-column text="g.stateName" [width]="150" dataField="desc"></ngc-data-column>
                  </ngc-lov>
                </ngc-column>
              </ngc-row>

              <ngc-row>
                <ngc-column>
                  <ngc-label label="admin.company.registration.approval.telephone.no"></ngc-label>
                  <div>
                    <ngc-display formControlName="administrativeOfficeTelephoneNo" *ngIf="!Pending"></ngc-display>
                    <ngc-phoneinput *ngIf="Pending" [noCountryCode]="true" [width]="210" [maxlength]='21'
                      formControlName="administrativeOfficeTelephoneNo"></ngc-phoneinput>
                  </div>
                </ngc-column>
                <ngc-column>
                  <ngc-label label="agent.fax"></ngc-label>
                  <div>
                    <ngc-display formControlName="administrativeOfficeFaxNo" *ngIf="!Pending"></ngc-display>
                    <ngc-faxinput *ngIf="Pending" [noCountryCode]="true" [width]="210" [maxlength]='21'
                      formControlName="administrativeOfficeFaxNo"></ngc-faxinput>
                  </div>
                </ngc-column>
              </ngc-row>

            </ngc-container>
            <br>
          </ngc-tab-card>

        </ngc-tabs>
      </ngc-column>
    </ngc-row>
    <ngc-row></ngc-row>
  </ngc-container>
  <ngc-container type="section">
    <!-- This contains the fields of comapany administrator -->
    <ngc-row>
      <ngc-column>
        <ngc-label label="agent.comapanyadmin"></ngc-label>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label="req.administratorname"></ngc-label>
        <div>
          <ngc-display formControlName="administratorName"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="agent.designation"></ngc-label>
        <div>
          <ngc-display formControlName="designation"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="agent.emailNofication*"></ngc-label>
        <div>
          <ngc-display *ngIf="!Pending" formControlName="notificationEmailId"></ngc-display>
          <ngc-input *ngIf="Pending" [width]="350" formControlName="notificationEmailId"></ngc-input>
        </div>
      </ngc-column>

    </ngc-row>
    <ngc-row></ngc-row>
  </ngc-container>
  <!-- This contains the fields of Sats Approval -->
  <ngc-container type="section" *ngIf="Approved || Pending">
    <ngc-row>
      <ngc-column>
        <ngc-label label="req.sats"></ngc-label>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label="req.customercode"></ngc-label>
        <div>
          <ngc-display *ngIf="fetchedRegistrationRequest.controls.existingCustomerFlag.value || Approved"
            formControlName="customerCodeFinal"></ngc-display>
          <ngc-input *ngIf="!fetchedRegistrationRequest.controls.existingCustomerFlag.value && Pending"
            formControlName="customerCodeFinal"
            [required]="fetchedRegistrationRequest.controls.customerTypeList.value.includes('AGT') || fetchedRegistrationRequest.controls.customerTypeList.value.includes('ARL')">
          </ngc-input>
        </div>
      </ngc-column>
      <ngc-column entityAttribute="User.LoginId">
        <ngc-label label="req.loginid"></ngc-label>
        <div>
          <ngc-display *ngIf="Approved" formControlName="loginId" entityAttribute="User.LoginId"></ngc-display>
          <ngc-input *ngIf="Pending" formControlName="loginId" entityAttribute="User.LoginId"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="agent.customerType"></ngc-label>
        <div>
          <ngc-display *ngIf="Approved" formControlName="customerTypeListApproved"></ngc-display>
          <!--<ngc-dropdownlist *ngIf="Approved" [disabled]="true" formControlName="customerTypeListApproved" sourceId='CUSTOMER_TYPES' sourceType='query' [multiSelect]="true"></ngc-dropdownlist>-->
          <ngc-dropdownlist *ngIf="Pending" formControlName="customerTypeList" sourceId='CUSTOMER_TYPES'
            sourceType='query' [multiSelect]="true"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="role.assign.role.code"></ngc-label>
        <div>
          <ngc-display formControlName="roleCode" *ngIf="!Pending"></ngc-display>
          <ngc-lov *ngIf="Pending" (select)='onCompanyLOVSelect($event)'  required formControlName="roleCode"
            sourceId="CUSTOMER_ROLE"  title="admin.roleCode"  dataField="code" width="50%">
            <ngc-data-column text="role.rolecode" dataField="code" [width]="100"></ngc-data-column>
            <ngc-data-column text="role.roledescription" [width]="150" dataField="desc"></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label="role.roledescription"></ngc-label>
        <div>
          <ngc-display formControlName="roleDesc" *ngIf="!Pending"></ngc-display>
          <ngc-display formControlName="roleDesc" *ngIf="Pending"></ngc-display>
        </div>
      </ngc-column>
      <ngc-column align="right">
        <ngc-label label=""></ngc-label>
        <div>
          <ngc-button [disabled]="hasReadPermission" *ngIf="Pending" (click)="onApprove($event)" value="admin.company.registration.approval.approve"></ngc-button>
          <ngc-button [disabled]="hasReadPermission" *ngIf="Approved" (click)="onApprovePrint($event)" value="g.print"></ngc-button>
        </div>
      </ngc-column>

    </ngc-row>
    <ngc-row>


    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label=""></ngc-label>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-report #reportWindow title="g.report" reportId='UserRegistrationApporovalReport'
    [reportParameters]='reportParameters'></ngc-report>

  <ngc-container type="section" *ngIf="rejected || Pending">
    <ngc-row>
      <ngc-column>
        <ngc-label label="admin.company.registration.approval.sats.rejection"></ngc-label>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label="req.reason"></ngc-label>
        <div>
          <ngc-display *ngIf="rejected" formControlName="reasonForRejection"></ngc-display>
          <ngc-combobox [maxlength]="64" *ngIf="Pending" [width]="300" [disabled]="rejected"
            formControlName="reasonForRejection" sourceId='COM_REQ_REJECT'  sourceType='query'
            [disableAutoSelectOnBlank]="true" valueMember="desc"></ngc-combobox>
        </div>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label=""></ngc-label>
      </ngc-column>
      <ngc-column align="right">
        <ngc-label label=""></ngc-label>
        <div>
          <ngc-button [disabled]="hasReadPermission" *ngIf="Pending" (click)="onRejectRequest($event)" value="admin.company.registration.approval.reject"></ngc-button>
          <ngc-button [disabled]="hasReadPermission" *ngIf="rejected" (click)="onRejectionPrint($event)" value="g.print"></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label label=""></ngc-label>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-report #reportWindowRejection title="g.report" reportId='UserRegistrationRejectionReport'
    [reportParameters]='reportParameters'></ngc-report>
</form>

<!-- fetchedRegistrationRequest Form Group (End)-->