<ngc-error></ngc-error>

<form [formGroup]="changePasswordForm">
  <ngc-container type="box" title="auth.change.pass">

    <ngc-row style="margin-left: 3px;">
      <ngc-column>
        <br>
        <!-- <ngc-label label="Login Id"></ngc-label>
        <ngc-row>
          <ngc-column> 
            <ngc-input formControlName="loginCode" value="staffIdFromfp" required></ngc-input>
          </ngc-column>
        </ngc-row>
        &nbsp; -->
        <ngc-label label="auth.current.pass" shortcutFor="password"></ngc-label>
        <ngc-row>
          <ngc-column>
            <ngc-passwordinput formControlName="currentPassword" required></ngc-passwordinput>
          </ngc-column>
        </ngc-row>
        &nbsp;
        <ngc-label label="auth.new.pass" shortcutFor="newPassword"></ngc-label>
        <ngc-row>
          <ngc-column>
            <ngc-passwordinput formControlName="newPassword" required></ngc-passwordinput>
          </ngc-column>
        </ngc-row>
        &nbsp;
        <ngc-label label="auth.confirm.new.pass" shortcutFor="confirmPassword"></ngc-label>
        <ngc-row>
          <ngc-column>
            <ngc-passwordinput formControlName="confirmPassword" required></ngc-passwordinput>
          </ngc-column>
        </ngc-row>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <br>
        <ngc-button priority="primary" (click)="changePassword($event)" value="g.submit"></ngc-button>
        <ngc-button priority="secondary" (click)="clearChangePassword($event)" value="g.clear"></ngc-button>
      </ngc-column>
    </ngc-row>



    <ngc-row>
      <ngc-column>
        <br>

        <ngc-label style="font-size: 20px;" color="red" label='User.password.policy.conditions'></ngc-label><br>
        <ngc-label color="red" label='User.password.policy1'></ngc-label><br>
        <ngc-label color="red" label='User.password.policy2'></ngc-label><br>
        <ngc-label color="red" label='User.password.policy3'></ngc-label><br>
        <ngc-label color="red" label='User.password.policy4'></ngc-label><br>
        <ngc-label color="red" label='User.password.policy5'></ngc-label><br>
        <ngc-label color="red" label='User.password.policy6'></ngc-label><br>
        <ngc-label color="red" label='User.password.policy7'></ngc-label>
        <!-- <p id="instuct">5. New password must be different from the Old Password.</p> -->

      </ngc-column>
    </ngc-row>
  </ngc-container>


</form>