#pinstuct{
    margin-top: 0;
    margin-bottom: 0.8rem;
    font-size: 18px;
    font-weight: 600;
    color:red;
}

#instuct{
    margin-top: 0;
    margin-bottom: auto;
    font-size: 16px;
    color:red;
}

