<ng-container [formGroup]="form">
    <ngc-container type="tab">
        <ng-container formArrayName="handlingConstraintsList">
            <ngc-row *ngFor="let handlingConstriant of form.controls.handlingConstraintsList.controls; let index=index"
                [formGroupName]="index">
                <ngc-column>
                    <!-- <ngc-checkbox formControlName="select"></ngc-checkbox> -->
                    <ngc-radiobutton groupName="sel" formControlName="select">

                        <ngc-display formControlName="name"></ngc-display>
                    </ngc-radiobutton>
                </ngc-column>
            </ngc-row>
        </ng-container>
        <ngc-row>
            <ngc-column>
                <ngc-button label="g.save" (click)="onSave()"></ngc-button>
            </ngc-column>
            <ngc-column>
                <ngc-button label="warehouse.clearconstraint" (click)="onDelete()"></ngc-button>
            </ngc-column>
        </ngc-row>
    </ngc-container>
</ng-container>