<form [formGroup]='form'>
  <ngc-titlebar title='master.airline.weight.tolerance'></ngc-titlebar>
  <ngc-container type="rectangle">
    <ngc-row>
      <ngc-column column="1">
        <ngc-label label='masters.carrier'></ngc-label>
        <div>
          <ngc-lov formControlName="carrier" [width]="45" title='CARRIER' upperCase="true" dataField="code" displayMember="code" sourceId="CARRIER"
            required>
            <ngc-data-column text="g.code" dataField="code" [width]="100"></ngc-data-column>
            <ngc-data-column text="g.description" dataField="desc" [width]="150"></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label=''></ngc-label>
        <div>
          <ngc-button (click)="onSearch($event)" value="Search" iconType="search"></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-table>
          <thead>
            <tr>
              <th>
                <ngc-label label="g.select"></ngc-label>
              </th>
              <th>
                <ngc-label label="g.carrier"></ngc-label>
              </th>
              <th>
                <ngc-label label="g.absoluteWeight"></ngc-label>
              </th>
              <th>
                <ngc-label label="g.percentage.weight"></ngc-label>
              </th>
              <th>
                <ngc-label label="g.startDate"></ngc-label>
              </th>
              <th>
                <ngc-label label="g.endDate"></ngc-label>
              </th>
              <!--<th>
                <ngc-label label="Stab Tolerance"></ngc-label>
                <thead>
                  <tr>-->
              <th>
                <ngc-label label="g.complex"></ngc-label>
              </th>
              <th>
                <ngc-label label="g.flat"></ngc-label>
              </th>
              <th>
                <ngc-label label="g.shc"></ngc-label>
              </th>
              <!--</tr>
                </thead>
              </th>-->
            </tr>
          </thead>
          <tbody formArrayName="airlineWeigthToleranceLimit">
            <tr *ngFor="let item of form.controls.airlineWeigthToleranceLimit.controls; let index=index" [formGroupName]="index">
              <td>
                <ngc-checkbox formControlName="select"></ngc-checkbox>
              </td>
              <td>
                <ngc-input formControlName="carrier"></ngc-input>
              </td>
              <td>
                <ngc-weightinput formControlName="absoluteWeight"></ngc-weightinput>
              </td>
              <td>
                <ngc-weightinput formControlName="weight"></ngc-weightinput>
              </td>
              <td>
                <ngc-input formControlName="startDate"></ngc-input>
              </td>
              <td>
                <ngc-input formControlName="enddate"></ngc-input>
              </td>
              <td>
                <ngc-button priority="quaternary" iconType="add" (click)="onSearchComplex(index)"></ngc-button>
              </td>
              <td>
                <ngc-button priority="quaternary" iconType="add" (click)="onSearchFlat(index)"></ngc-button>
              </td>
              <td>
                <ngc-button priority="quaternary" iconType="add" (click)="onSearchSHC(index)"></ngc-button>
              </td>
            </tr>
          </tbody>
        </ngc-table>
      </ngc-column>
    </ngc-row>
  </ngc-container>

  <ngc-window #complexSlabWindow [width]="540" [height]="350" title="warehouse.complexslab" [showCloseButton]="true">
    <ngc-container type="tab">
      <ngc-row>
        <ngc-column column="10">
          <ngc-label label="g.carrier"></ngc-label>
          <div>
            <ngc-display formControlName="carrier"></ngc-display>
          </div>
        </ngc-column>
        <ngc-column>
          <ngc-label label=""></ngc-label>
          <div>
            <ngc-button (click)="onAddComplex($event)" value="g.add"></ngc-button>
          </div>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column>
          <ngc-table>
            <thead>
              <tr>
                <th>
                  <ngc-label label="g.select"></ngc-label>
                </th>
                <th>
                  <ngc-label label="master.tolerance.operator"></ngc-label>
                </th>
                <th>
                  <ngc-label label="master.tolerance.weight"></ngc-label>
                </th>
                <th>
                  <ngc-label label="master.discrepancy.operator"></ngc-label>
                </th>
                <th>
                  <ngc-label label="master.discrepancy.weight"></ngc-label>
                </th>
                <th>
                  <ngc-label label="master.amend.flag"></ngc-label>
                </th>
              </tr>
            </thead>
            <tbody formArrayName="complexSlab">
              <tr *ngFor="let item of form.controls.complexSlab.controls; let index=index" [formGroupName]="index">
                <td>
                  <ngc-checkbox formControlName="select"></ngc-checkbox>
                </td>
                <td>
                  <ngc-input></ngc-input>
                </td>
                <td>
                  <ngc-input></ngc-input>
                </td>
                <td>
                  <ngc-input></ngc-input>
                </td>
                <td>
                  <ngc-input></ngc-input>
                </td>
                <td>
                  <ngc-input></ngc-input>
                </td>
              </tr>
            </tbody>
          </ngc-table>
        </ngc-column>
      </ngc-row>
    </ngc-container>
  </ngc-window>

  <ngc-window #flatSlabWindow [width]="540" [height]="350" title="master.flatslab" [showCloseButton]="true">
    <ngc-container type="tab">
      <ngc-row>
        <ngc-column column="10">
          <ngc-label label="g.carrier"></ngc-label>
          <div>
            <ngc-display formControlName="carrier"></ngc-display>
          </div>
        </ngc-column>
        <ngc-column>
          <ngc-label label=""></ngc-label>
          <div>
            <ngc-button (click)="onAddFlat($event)" value="g.add"></ngc-button>
          </div>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column>
          <ngc-table>
            <thead>
              <tr>
                <th>
                  <ngc-label label="g.select"></ngc-label>
                </th>
                <th>
                  <ngc-label label="g.from.weight"></ngc-label>
                </th>
                <th>
                  <ngc-label label="g.to.weight"></ngc-label>
                </th>
                <th>
                  <ngc-label label="master.tolerance.weight.br"></ngc-label>
                </th>
              </tr>
            </thead>
            <tbody formArrayName="flatSlab">
              <tr *ngFor="let item of form.controls.flatSlab.controls; let index=index" [formGroupName]="index">
                <td>
                  <ngc-checkbox formControlName="select"></ngc-checkbox>
                </td>
                <td>
                  <ngc-input></ngc-input>
                </td>
                <td>
                  <ngc-input></ngc-input>
                </td>
                <td>
                  <ngc-input></ngc-input>
                </td>
            </tbody>
          </ngc-table>
        </ngc-column>
      </ngc-row>
    </ngc-container>
  </ngc-window>

  <ngc-window #SHCSlabWindow [width]="540" [height]="350" title="master.shc.slab" [showCloseButton]="true">
    <ngc-container type="tab">
      <ngc-row>
        <ngc-column column="10">
          <ngc-label label="g.carrier"></ngc-label>
          <div>
            <ngc-display formControlName="carrier"></ngc-display>
          </div>
        </ngc-column>
        <ngc-column>
          <ngc-label label=""></ngc-label>
          <div>
            <ngc-button (click)="onAddSHC($event)" value="g.add"></ngc-button>
          </div>
        </ngc-column>
      </ngc-row>
      <ngc-row>
        <ngc-column>
          <ngc-table>
            <thead>
              <tr>
                <th>
                  <ngc-label label="g.select"></ngc-label>
                </th>
                <th>
                  <ngc-label label="g.shc"></ngc-label>
                </th>
                <th>
                  <ngc-label label="master.tolerance.weight"></ngc-label>
                </th>
              </tr>
            </thead>
            <tbody formArrayName="shcSlab">
              <tr *ngFor="let item of form.controls.shcSlab.controls; let index=index" [formGroupName]="index">
                <td>
                  <ngc-checkbox formControlName="select"></ngc-checkbox>
                </td>
                <td>
                  <ngc-input></ngc-input>
                </td>
                <td>
                  <ngc-input></ngc-input>
                </td>
              </tr>
            </tbody>
          </ngc-table>
        </ngc-column>
      </ngc-row>
    </ngc-container>
  </ngc-window>
</form>