// ngc-display{
//     color:white; 
//     font-size:30px;
// }

// ngc-label{
//     color:white; 
//     font-size:30px;
// }

td{
    // border-color: black;
    
}

th{
    border-color: #373333;
}

tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

ngc-button{
    font-size:20px !important;
    height:"100px" ;
    width:"100px";
}