<form [formGroup]="form">
  <!-- Title Bar (Begin) -->
  <ngc-titlebar title="val.signed.handover.form" (print)="printHandoverForm($event)" (cancel)="onBack($event)"
    (clear)="clear($event)"></ngc-titlebar>
  <!-- Title Bar (End) -->
  <ngc-container type="header">
    <ngc-row>
      <ngc-column [column]="2">

        <ngc-label label="val.carried.on.date.from"></ngc-label>

        <div>
          <ngc-datetimeinput accessEnableOn="r" formControlName="carriedOnDateFrom" [showCalendarButton]="true" [showTimeButton]="true"
            required></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column [column]="2">


        <ngc-label label="val.carried.on.date.to"></ngc-label>

        <div>
          <ngc-datetimeinput accessEnableOn="r" formControlName="carriedOnDateTo" [showCalendarButton]="true" [showTimeButton]="true"
            required></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label></ngc-label>
        <div>
          <ngc-button  accessEnableOn="r" (click)="onSearch($event)" value="g.search" iconType="search">
          </ngc-button>
        </div>
      </ngc-column>
      <ngc-column column='7'></ngc-column>
    </ngc-row>
  </ngc-container>

  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-edittable formArrayName="handoverShipment" *ngIf="flag" [pageable]="true">
          <ngc-data-column text=" " dataField="checkbox" [width]="20">
            <ng-template let-data let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-checkbox accessEnableOn="r" [formControlName]='name'></ngc-checkbox>
              </ng-container>
            </ng-template>
          </ngc-data-column>

          <ngc-data-column text="val.started.at" dataField="startedAt" type="displayDateTime" [width]="80">
          </ngc-data-column>
          <ngc-data-column text="val.completed.at" dataField="completedAt" type="displayDateTime" [width]="70">
          </ngc-data-column>
          <ngc-data-column text="val.handover.from.staff" dataField="handoverFromStaff" type="display" [width]="60">
          </ngc-data-column>
          <ngc-data-column text="val.handover.to.staff" dataField="handoverToStaff" type="display" [width]="60">
          </ngc-data-column>
          <ngc-data-column text="val.total.found.shipment" dataField="totalFoundShipment" type="display" [width]="60">
          </ngc-data-column>
          <ngc-data-column text="g.remarks" dataField="remarks" type="display" [width]="60"></ngc-data-column>



        </ngc-edittable>
      
      </ngc-column>
    </ngc-row>

  </ngc-container>
  <ngc-report #reportWindow title="g.report"  reportId='signedHandoverForm'  [reportParameters]='reportParameters'>
  </ngc-report>
</form>