<ngc-titlebar title="master.maintain.terms.condition" (save)="onSave()" (clear)="onClear($event)" (cancel)="onCancel($event)">
</ngc-titlebar>
<form [formGroup]="maintainTCform">
    <ngc-container type="section">
        <ngc-row>
            <ngc-column column="2">
                <ngc-label label='terms.externalFunction'></ngc-label>
                <div>
                    <ngc-dropdownlist accessEnableOn="r" [width]="180" sourceId="AgentPortal$TERMSANDCONDITIONS" formControlName="requestfor"
                        required></ngc-dropdownlist>
                </div>
            </ngc-column>

            <ngc-column column="1">
                <ngc-label></ngc-label>
                <div>
                    <ngc-button accessEnableOn="r" value='g.search' (click)="onSearch()" [disabled]="disbaleSearch"></ngc-button>
                </div>
            </ngc-column>

            <ngc-column column="1">
                <ngc-label></ngc-label>
                <div>
                    <ngc-button value='terms.maintain' *ngIf="maintainFlag" (click)="onMaintain()"></ngc-button>
                </div>
            </ngc-column>

        </ngc-row>
    </ngc-container>


    <ngc-container type="tab" *ngIf="isMaintain">
        <ngc-row>
            <ngc-column column="2">
                <ngc-label label='terms.externalFunction'></ngc-label>
                <ngc-display formControlName="functionCode"></ngc-display>
            </ngc-column>

            <ngc-column column="2.5">
                <ngc-label label='terms.copyFunction'></ngc-label>
                <div>
                    <ngc-dropdownlist [width]="180" sourceId="TERMANDCONDITION" sourceType='query' [noCache]="true" (select)="search()" formControlName="queryfor">
                    </ngc-dropdownlist>
                </div>
            </ngc-column>

            <ngc-column>
                <ngc-label></ngc-label>
                <ngc-checkbox formControlName="showTermCondition">
                    <ngc-label label='terms.showTC'></ngc-label>
                </ngc-checkbox>
            </ngc-column>
        </ngc-row>

        <ngc-row>
            <ngc-column>
                <ngc-editor [width]="800" formControlName="termsConditionDetails" required>
                </ngc-editor>
            </ngc-column>
        </ngc-row>
    </ngc-container>


    <ngc-container *ngIf="isData" type="tab">
        <ngc-row>
            <ngc-column column="1.5">
                <ngc-label label='terms.externalFunction'></ngc-label>
                <ngc-display formControlName="functionCode"></ngc-display>
            </ngc-column>

            <ngc-column column="1.5">
                <ngc-label></ngc-label>
                <ngc-checkbox formControlName="showTermCondition">
                    <ngc-label label='terms.showTC'></ngc-label>
                </ngc-checkbox>
            </ngc-column>
        </ngc-row>

        <ngc-row>
            <ngc-column>
                <ngc-editor [width]="800" formControlName="termsConditionDetails" required>
                </ngc-editor>
            </ngc-column>
        </ngc-row>
    </ngc-container>
</form>