<form [formGroup]="uldFlightData">
  <ngc-container type="header" title="title.DETAILS">

    <ngc-row>
      <ngc-column>
        <ngc-label value="uld.Flight"></ngc-label>
        <div>
          <ngc-input [width]="168" formControlName="flight" upperCase="true" required></ngc-input>
        </div>

      </ngc-column>
      <ngc-column>
        <ngc-label value="uld.arrival.date"></ngc-label>
        <div>
          <ngc-datetimeinput [width]="159" formControlName="depDate" [showTimeButton]="true" [showCalendarButton]="true"
            (ngModelChange)="onChange($event)" required></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label value="uld.origin.airport"></ngc-label>
        <div>
          <ngc-lov formControlName="originAirport" sourceId="FINAL_DESTINATION" title="uld.origin.airport"
            dataField="code" [width]="155" required [maxlength]="3">
            <ngc-data-column text="uld.airport.code" dataField="code" [width]="30"></ngc-data-column>
            <ngc-data-column text="uld.airport.description" dataField="desc" [width]="50"></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-label value="uld.canditionType"></ngc-label>
        <div>
          <ngc-dropdownlist sourceId="ULD$ULD_CONDITION_TYPE" [width]="159" [dropDownWidth]="100"
            formControlName="conditionType"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label value="uld.contents.code.label"></ngc-label>
        <div>
          <ngc-lov [width]="130" formControlName="contentsCode" sourceId="CONTENTS_CODE_ID" title="uld.contents.code.label"
            dataField="code">
            <ngc-data-column text="uld.code" dataField="code" [width]="100"></ngc-data-column>
            <ngc-data-column text="uld.description" dataField="desc" [width]="300"></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label value="uld.AirportPosition"></ngc-label>
        <div>
          <ngc-dropdownlist sourceId="ULD$CGO_LOC" [width]="159" [dropDownWidth]="100" formControlName="airportPosition"
            required></ngc-dropdownlist>
        </div>
      </ngc-column>

    </ngc-row>

    <ngc-row>
      <ngc-column>
        <ngc-label value="uld.Date"></ngc-label>
        <div>
          <ngc-datetimeinput formControlName="date" [showTimeButton]="true" [showCalendarButton]="true" [width]="159"
            required></ngc-datetimeinput>
        </div>

      </ngc-column>

      <ngc-column>
        <ngc-label value="uld.Remark"></ngc-label>
        <div>
          <ngc-input [width]="170" [placeHolder]="'uld.Remark'" maxlength="65" formControlName="remarks"></ngc-input>
        </div>
      </ngc-column>
    </ngc-row>

  </ngc-container>
</form>