// .table-responsive {
//     max-height:450px;
// }

/*
tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

ngc-table{
    height:600px;              // <-- Select the height of the table
    display: -moz-groupbox;    // Firefox Bad Effect
}

tbody{
    overflow-y: scroll;      
    height: 600px;            //  <-- Select the height of the body 370
    width: 100%;
    position: absolute;
} */