<ngc-titlebar title='print.accessory.title' (cancel)="onCancel($event)" (clear)="onClear($event)">
</ngc-titlebar>
<form [formGroup]='printAccessoryForm'>
  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-container type="tab">
          <ngc-row>
            <ngc-column column='1.5'>
              <ngc-label label='g.dateFrom'></ngc-label>
              <div>
                <ngc-datetimeinput accessEnableOn="r" onlyDate='true' required [width]="80" formControlName="fromDate">
                </ngc-datetimeinput>
              </div>
            </ngc-column>
            <ngc-column column='1.5'>
              <ngc-label label='g.dateTo'></ngc-label>
              <div>
                <ngc-datetimeinput accessEnableOn="r" onlyDate='true' required [width]="80" formControlName="toDate">
                </ngc-datetimeinput>
              </div>
            </ngc-column>
            <ngc-column column='1.5'>
              <ngc-label label="g.carrier"></ngc-label>
              <div>
                <ngc-lov accessEnableOn="r" required formControlName="carrier" upperCase='true' sourceId='CARRIER'
                  title="g.carrierCode" dataField='code' [width]="60">
                  <ngc-data-column text="g.carrierCode" [width]="80" dataField="code"></ngc-data-column>
                  <ngc-data-column text="g.carrierName" [width]="150" dataField="desc"></ngc-data-column>
                </ngc-lov>
              </div>
            </ngc-column>

            <ngc-column column='1'>
              <br />
              <ngc-radiobutton accessEnableOn="r" formControlName="byFlight">
                <ngc-label label="print.accessory.report.flight"></ngc-label>
              </ngc-radiobutton>
            </ngc-column>

            <ngc-column column='1'>
              <br />
              <ngc-radiobutton accessEnableOn="r" formControlName="byEir">
                <ngc-label label="print.accessory.report.eir"></ngc-label>
              </ngc-radiobutton>
            </ngc-column>

            <ngc-column column='1.5'>
              <br />
              <ngc-radiobutton accessEnableOn="r" formControlName="bySummary">
                <ngc-label label="print.accessory.report.summary"></ngc-label>
              </ngc-radiobutton>
            </ngc-column>
          </ngc-row>

          <ngc-row>
            <ngc-column>
              <ngc-label></ngc-label>
            </ngc-column>
          </ngc-row>
          
          <ngc-row>
            <ngc-column [column]="5">
              <ngc-label label="print.accessory.add.accessory"></ngc-label>
              <div>
                <ngc-dropdownlist accessEnableOn="r" [width]="280" required [multiSelect]="true" [width]="50"
                  formControlName="accessory" upperCase='true' sourceId='ACCESSORY_TYPE' sourceType='query'
                  valueMember='desc'>
                </ngc-dropdownlist>
              </div>
            </ngc-column>
            <ngc-column [column]="6" align='right'>
              <br />
              <div>
                <ngc-button accessEnableOn="r" accessSectionId="printAccessory" label="accessory.print"
                  (click)="onreportcreation()">
                </ngc-button>
              </div>
            </ngc-column>
          </ngc-row>
        </ngc-container>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-report format='pdf' #reportWindow title="Accessory report"  reportId='Print_Accessory_By_Flight'
    [reportParameters]='reportParameters'>
  </ngc-report>
</form>