<ngc-titlebar title='rec.title' (cancel)="onBack($event)">
</ngc-titlebar>
<form [formGroup]='RecErrorForm'>

  <form formGroupName='recData'>
    <ngc-container type="section">
      <ngc-row>
        <ngc-column [column]="4">
          <ngc-label label='rec.control.date'></ngc-label>&nbsp;&nbsp;&nbsp;
          <ngc-display emphasis="md" formControlName="controlDate" [onlyDate]="true">
          </ngc-display>
        </ngc-column>

        <ngc-column [column]="4">
          <ngc-label label='rec.type'></ngc-label>&nbsp;&nbsp;&nbsp;
          <ngc-display emphasis="md" formControlName="messageType"> </ngc-display>
        </ngc-column>

        <ngc-column [column]="4">
          <ngc-label label='rec.requid'></ngc-label>&nbsp;&nbsp;&nbsp;
          <ngc-display emphasis="md" formControlName="uid"> </ngc-display>
        </ngc-column>
      </ngc-row>
    </ngc-container>
  </form>

  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-edittable formArrayName="reconData" [pageable]="false">
          <ngc-data-column text="g.sNo" align="center" cellsAlign="center" [width]="20" cellsAlign="left" dataField=""
            [cellsRenderer]="cellsRendererSno">
          </ngc-data-column>
          <ngc-data-column text="rec.ver" align="center" [width]="30" cellsAlign="center" dataField="versionNo">
          </ngc-data-column>
          <ngc-data-column text="rec.subdate" align="center" cellsAlign="center" [width]="100" align="center"
            dataField="subDateTime" type="displayDateTime">
          </ngc-data-column>
          <ngc-data-column text="rec.ackdate" align="center" cellsAlign="center" dataField="ackDateTime"
            type="displayDateTime">
          </ngc-data-column>
          <ngc-data-column text="agent.status" [width]="60" align="center" cellsAlign="center" dataField="status">
          </ngc-data-column>
          <ngc-data-column text="g.action" [width]="40"  align="center">
            <ng-template let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-link accessEnableOn="r" type="link" (linkClick)="openReconciliationErrorDetail(group)"
                  iconType="open-link" align="center" cellsAlign="center">
                </ngc-link>
              </ng-container>
            </ng-template>
          </ngc-data-column>
        </ngc-edittable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>