<form [formGroup]='undeliveredShipmentform'>
  <ngc-titlebar title='import.undelivered' (print)='onExportToExcel()' (clear)="clear($event)"></ngc-titlebar>
  <ngc-container type='header'>
    <ngc-row>
      <ngc-column column='1.5'>
        <ngc-label label='g.terminal'>
        </ngc-label>
        <div>
          <ngc-dropdownlist [width]='80' [dropDownWidth]='70' sourceType='query' sourceId='TERMINAL_CODE'
            accessEnableOn="r" formControlName='terminalCode' valueMember="desc"></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [column]="1" entityAttribute="Flight.DomesticInternationalHandling">
        <ngc-label label="imp.intl.dom.full" entityAttribute="Flight.DomesticInternationalHandling"></ngc-label>
        <div>
          <ngc-dropdownlist accessEnableOn="r" sourceId="Flight$Flight_Handler_Type" [width]="120"
            formControlName="domesticInterFlight" entityAttribute="Flight.DomesticInternationalHandling">
          </ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column='2'>
        <ngc-label label='import.shcgroup'>
        </ngc-label>
        <div>
          <ngc-dropdownlist [width]='180' [dropDownWidth]='170' sourceType='query' sourceId='SHC_LIST_TYPE'
            accessEnableOn="r" formControlName='shcs'></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [column]='2'>
        <ngc-label label='import.dateFrom'></ngc-label>
        <div>
          <ngc-datetimeinput accessEnableOn="r" formControlName='dateTimeFrom' [showCalendarButton]="true"
            [showTimeButton]="true"></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column column='2'>
        <ngc-label label='import.dateTo'></ngc-label>
        <div>
          <ngc-datetimeinput accessEnableOn="r" formControlName='dateTimeTo' [showCalendarButton]="true"
            [showTimeButton]="true" [min]="this.undeliveredShipmentform.get('dateTimeFrom').value"></ngc-datetimeinput>

        </div>
      </ngc-column>
      <ngc-column column='1'>
        <ngc-label label='import.notify'>
        </ngc-label>
        <div>
          <ngc-dropdownlist [placeHolder]="" [width]='80' [dropDownWidth]='70' [source]='notifyAll' accessEnableOn="r"
            formControlName='notify'></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [column]='1'>
        <ngc-label label='import.flight'></ngc-label>
        <div>
          <ngc-flightkeyinput [width]='84' accessEnableOn="r" formControlName='flightNumber'></ngc-flightkeyinput>
        </div>
      </ngc-column>
      <ngc-column [column]='2'>
        <ngc-label label='airmail.Date'></ngc-label>
        <div>
          <ngc-dateinput [width]='140' accessEnableOn="r" formControlName='date'>
          </ngc-dateinput>
        </div>
      </ngc-column>
      <ngc-column [column]='1.5'>
        <ngc-label label='agent.searchAWB'></ngc-label>
        <div>
          <ngc-awbinput accessEnableOn="r" formControlName='shipmentNumber'></ngc-awbinput>
        </div>
      </ngc-column>
      <ngc-column [column]='1.5' feature="Imp.Bd.HAWBHandling">
        <!-- *ngIf=handledbyHouse -->
        <ngc-label label="g.hawb.number"></ngc-label>
        <div>
          <ngc-lov formControlName="hawbNumber" [noCache]="true" title="g.hawbNumber" dataField='code'
            sourceType='query' sourceId="HWBNUMBER" [width]="100"
            [sourceParameters]="{'parameter1': undeliveredShipmentform.get('shipmentNumber').value,r:variable}"
            maxlength="16">
            <ngc-data-column text="g.hawbNumber" dataField="code" [width]="100"></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column column='1'>
        <ngc-label label='import.carrierGroup'>
        </ngc-label>
        <div>
          <ngc-dropdownlist [width]='80' [dropDownWidth]='70' sourceType='query' sourceId='CARRIER_GROUP'
            accessEnableOn="r" formControlName='carrierGroup'></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column column='1'>
        <ngc-label label='g.carrier'>
        </ngc-label>
        <div>
          <ngc-lov accessEnableOn="r" formControlName='carrierCode' [width]='50' upperCase='true' dataField="code"  
            displayMember="code" displayMember="code" sourceId='CARRIER_OPT' maxlength='3'>
            <ngc-data-column text="g.carrierCode"  [width]="80"  dataField="code"></ngc-data-column>
            <ngc-data-column text="g.carrierName"  [width]="150"  dataField="desc"></ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column column='4'>
        <ngc-label label='import.consigneeDetails'>
        </ngc-label>
        <div>
          <ngc-lov accessEnableOn="r" [width]='300' formControlName="consigneeDetails" upperCase="true"
            sourceId="KEY_AWB_CONSIGNEE_DATA_REVAMP" title="g.name" dataField="desc">
            <ngc-data-column text="g.name" dataField="desc" [width]="50">
            </ngc-data-column>
            <ngc-data-column text="g.code" dataField="code" [width]="80">
            </ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column [column]='1'>
        <ngc-label label='agent.dwellTime'></ngc-label>
        <div>
          <ngc-dropdownlist [placeHolder]="" [width]='100' [dropDownWidth]='80' [source]='dewllTime' accessEnableOn="r"
            formControlName='dwellTime'></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [column]='1'>
        <ngc-label label='undelivered.readyStatus'></ngc-label>
        <div>
          <ngc-dropdownlist [placeHolder]="" [width]='100' [dropDownWidth]='80' [source]='readyNotReadyDropDown'
            accessEnableOn="r" formControlName='readyNotReady'></ngc-dropdownlist>
        </div>
      </ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column column="1.5" entityAttribute="Import.Dlv.IATAAgentCode">
        <div>
          <ngc-label label="agent.iataAgentcode"></ngc-label>
        </div>
        <ngc-lov dataField='code' valueMember='code' formControlName='iataAgentCode' [width]='160' upperCase='true'
          sourceId='IATACODE' title='g.iatacode' accessEnableOn="r" [dropDownWidth]='50'>
          <ngc-data-column text='g.iatacode' dataField='code' [width]='70'></ngc-data-column>
        </ngc-lov>
      </ngc-column>
      <ngc-column [column]='1.5' entityAttribute="Import.Dlv.CAR">
        <ngc-label label='import.day.before'></ngc-label>
        <div>
          <ngc-input type="number" formControlName="daysBeforeATA"></ngc-input>
        </div>
      </ngc-column>
      <ngc-column [column]='1.5' entityAttribute="Import.Dlv.DGNonDG.Shipment">
        <ngc-label label='import.dg.nondg.ship'></ngc-label>
        <div>
          <ngc-dropdownlist [placeHolder]="" [width]='100' [dropDownWidth]='80' [source]='dgNonDgShip'
            accessEnableOn="r" formControlName='dgFlag'></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [column]='1' entityAttribute="Import.Dlv.DGNonDG.Shipment">
        <ngc-label label='import.awb.on.hold'></ngc-label>
        <div>
          <ngc-dropdownlist [placeHolder]="" [width]='100' [dropDownWidth]='80' [source]='dgOnHold' accessEnableOn="r"
            formControlName='dgOnHold'></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [column]='1' entityAttribute="Import.Dlv.NCCode">
        <ngc-label label='import.nc.code'></ngc-label>
        <div>
          <ngc-dropdownlist [placeHolder]="" [width]='100' [dropDownWidth]='80' [source]='ncCode' accessEnableOn="r"
            formControlName='ncCode'></ngc-dropdownlist>
        </div>
      </ngc-column>
      <ngc-column [column]='2' entityAttribute="Import.Dlv.ATA">
        <ngc-label label='flight.ata'></ngc-label>
        <div>
          <ngc-datetimeinput accessEnableOn="r" formControlName='ata' [showCalendarButton]="true"
            [showTimeButton]="true" required></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column [column]='1'>
        <ngc-label label='&nbsp;'></ngc-label>
        <div>
          <ngc-button accessEnableOn="r" (click)='searchUndeliveredShipment()' value='g.search'></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>

  <ngc-container type="tab">
    <ngc-row>
      <ngc-column>
        <ngc-datatable (linkClick)="onHyperLinkClick($event)" formArrayName="unShipmentList" *ngIf="showTable"
          [showToolbar]="false" [pageSize]=13 [enablePageSizeHeight]="false">
          <ngc-data-column text="g.select" dataField="scInd" [width]="50" type="check" align="center" [pinned]='true'>
          </ngc-data-column>
          <ngc-data-column text="undelivered.shipmentNumber" dataField="shipmentNumber" [width]="160"
            [cellsStyleRenderer]="cellsStyleRenderer"></ngc-data-column>
          <ngc-data-column feature="Imp.Bd.HAWBHandling" text="import.custom.hawbNumber" dataField="hawbNumber"
            [width]="160">
          </ngc-data-column>
          <ngc-data-column text="g.carrier" dataField="carrierCode" [width]="80"></ngc-data-column>
          <ngc-data-column text="flight.Flight" dataField="flightNumber" [width]="120"></ngc-data-column>
          <ngc-data-column text="g.date" dataField="date" type="displayDate" [width]="140" align="center"
            cellsAlign="center"></ngc-data-column>
          <ngc-data-column text="Shipment Location/Warehouse Location/Pieces/Weight" dataField="locationInfo"
            [width]="600"></ngc-data-column>
          <ngc-data-column text="g.shc" dataField="shcs" [width]="80"></ngc-data-column>
          <ngc-data-column text="display.consignee" dataField="consigneeDetails" [width]="150"></ngc-data-column>
          <ngc-data-column text="import.appointed" dataField="agent" [width]="120"></ngc-data-column>
          <ngc-data-column text="shp.hold" name="Hold" [width]="220" align="center">
            <ngc-data-column text="coolport.by" dataField="holdBy" [width]="100"></ngc-data-column>
            <ngc-data-column text="g.reason" dataField="holdReason" [width]="100"></ngc-data-column>
            <ngc-data-column text="g.remarks" dataField="holdRemarks" [width]="100"></ngc-data-column>

          </ngc-data-column>
          <ngc-data-column text="import.awd" dataField="awb" [width]="80" align="center" cellsAlign="center" type="icon"
            iconType="yesno"></ngc-data-column>
          <ngc-data-column text="import.nfd" dataField="nfd" [width]="80" align="center" cellsAlign="center" type="icon"
            iconType="yesno"></ngc-data-column>
          <ngc-data-column text="undelivered.pendingStorage" dataField="storageCharges" [width]="180" align="center"
            cellsAlign="right" type='link'></ngc-data-column>
          <ngc-data-column text="undelivered.chargesAsOn" dataField="chargesAsOn" [width]="180" align="center"
            cellsAlign="right" type='displayDate'></ngc-data-column>
          <ngc-data-column text="import.dwellTime" dataField="dwellTime" [width]="180" align="center"
            cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="import.car" dataField="car" [width]="80" align="center" cellsAlign="center" type="icon"
            iconType="yesno"></ngc-data-column>
          <ngc-data-column text="import.cc.code" dataField="customsConstraintCode" [width]="120"></ngc-data-column>
          <ngc-data-column text="flight.ata" dataField="ata" [width]="140" align="center" type="displayDateTime"
            cellsAlign="center">
          </ngc-data-column>
          <ngc-data-column text="import.awb.on.hold" dataField="dgOnHold" [width]="80" align="center"
            cellsAlign="center" type="icon" iconType="yesno"></ngc-data-column>
          <ngc-data-column text="import.required.relocation" dataField="requiredRelocation" [width]="80" align="center"
            cellsAlign="center" type="icon" iconType="yesno"></ngc-data-column>
        </ngc-datatable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-report #reportWindowExcel title="g.report"  format="xls" reportId='undeliveredShipmentExportToExcel'
     [reportParameters]='reportParameters'></ngc-report>
  <ngc-window #enquiryWindow [width]="1200" [height]="380" title="bil.groupPayment.chargeEnquiry"
    [showCloseButton]="true">
    <ngc-container type="tab">
      <ngc-row>
        <ngc-column>
          <ngc-table>
            <thead>
              <tr>
                <th>
                  <ngc-label value='bil.serviceType'></ngc-label>
                </th>
                <th>
                  <ngc-label value='g.quantity'></ngc-label>
                </th>
                <th>
                  <ngc-label value='g.duration'></ngc-label>
                </th>
                <th>
                  <ngc-label value='g.amount'></ngc-label>
                </th>
                <th>
                  <ngc-label value='bil.groupPayment.paymentType'></ngc-label>
                </th>
                <th>
                  <ngc-label value='bil.enquireCharges.paid'></ngc-label>
                </th>
                <th>
                  <ngc-label value='bil.receiptNumber'></ngc-label>
                </th>
                <th>
                  <ngc-label value='bil.waivedAmount'></ngc-label>
                </th>
                <th>
                  <ngc-label value='bil.toCollect'></ngc-label>
                </th>
                <th>
                  <ngc-label value='bil.toBill'></ngc-label>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of chargeWindowData; let index=index" [formGroupName]="index">
                <td>
                  <ngc-display [value]='item.serviceType'></ngc-display>
                </td>
                <td>
                  <ngc-display [value]='item.quantity'></ngc-display>
                </td>
                <td>
                  <ngc-display [value]='item.duration'></ngc-display>
                </td>
                <td>
                  <ngc-currencydisplay [value]='item.amount'></ngc-currencydisplay>
                </td>
                <td>
                  <ngc-display [value]='item.paymentType'></ngc-display>
                </td>
                <td>
                  <ngc-currencydisplay [value]='item.paid'></ngc-currencydisplay>
                </td>
                <td>
                  <ngc-display [noWrap]='true' [value]='item.receiptNumber'></ngc-display>
                </td>
                <td>
                  <ngc-currencydisplay [value]='item.waivedAmount'></ngc-currencydisplay>
                </td>
                <td>
                  <ngc-currencydisplay [value]='item.toCollect'></ngc-currencydisplay>
                </td>
                <td>
                  <ngc-currencydisplay [value]='item.toBill'></ngc-currencydisplay>
                </td>
              </tr>
              <tr class='greyBack'>
                <td>
                  <ngc-label value='g.total'></ngc-label>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <ngc-currencydisplay *ngIf='collectTotal' emphasis='md' [value]='collectTotal'></ngc-currencydisplay>
                </td>
                <td>
                  <ngc-currencydisplay *ngIf='billTotal' emphasis='md' [value]='billTotal'></ngc-currencydisplay>
                </td>
              </tr>
            </tbody>
          </ngc-table>
        </ngc-column>
      </ngc-row>
    </ngc-container>
  </ngc-window>
</form>
<ngc-footer>
  <ngc-container type="tab" *ngIf="showTable">
    <ngc-row>
      <ngc-column>
        <ngc-button (click)='onCustomer($event)' value="awb.Notification"></ngc-button>
        <ngc-button (click)='onAwbDocument($event)' value='2.undelivered'> </ngc-button>
        <ngc-button (click)='onAwbRelease($event)' value='3.undelivered'> </ngc-button>
        <ngc-button (click)='onAbandoned($event)' value='4.undelivered'> </ngc-button>
        <ngc-button entityAttribute="Import.Dlv.CAR" (click)='onEcanStatus()' value='5.undelivered'> </ngc-button>
        <ngc-button entityAttribute="Import.Dlv.CAR" value='import.shipmentInfo.button' accessEnableOn="r"
          (click)='onClickShipmentInformation()'></ngc-button>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</ngc-footer>