<form [formGroup]='codeAdminform'>
  <ngc-titlebar title='Sub Group Details ({{parameter2}})' (save)="onSaveCodeAdministrationDetails($event)"
    (cancel)="onCancelDetails($event)" [disableSave]="hasReadPermission"></ngc-titlebar>
  <ngc-container type="section">
    <ngc-row>
      <ngc-column column="3">
        <ngc-label label='masters.code'></ngc-label>
        <div>
          <ngc-lov formControlName="subGroupDetailsCode" width="300"
            sourceId="KEY_CODE_ADMINISTRATION_SUB_GROUP_DETAILS" [sourceParameters]="{ 'parameter1': this.parameter1 }"
            title="CODE" displayMember="code" dataField="code" accessEnableOn="r"
            (select)="onSelectGroupDetailsCode($event)">
            <ngc-data-column text="Code" dataField="code">
            </ngc-data-column>
            <ngc-data-column text="Name" dataField="desc">
            </ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column column="3">
        <ngc-label label='g.description'></ngc-label>
        <div>
          <ngc-lov formControlName="subGroupDetailsDesc" width="300"
            sourceId="KEY_CODE_ADMINISTRATION_SUB_GROUP_DETAILS" [sourceParameters]="{ 'parameter1': this.parameter1 }"
            title="Description" displayMember="desc" dataField="desc" accessEnableOn="r"
            (select)="onSelectGroupDetailsDesc($event)">
            <ngc-data-column text=" Name" dataField="desc">
            </ngc-data-column>
            <ngc-data-column text="Code" dataField="code">
            </ngc-data-column>
          </ngc-lov>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label label=' '></ngc-label>
        <div>
          <ngc-button (click)="onSearch()" value="search" iconType="search" accessEnableOn="r"></ngc-button>
        </div>
      </ngc-column>
      <ngc-column align="right">
        <ngc-label label="&nbsp;"></ngc-label>
        <div>
          <ngc-button [disabled]="hasReadPermission" value='g.addRow' iconType="add" (click)="onAddRow()"></ngc-button>
        </div>
      </ngc-column>
    </ngc-row>
  </ngc-container>
  <ngc-container>
    <ngc-row>
      <ngc-column>
        <ngc-edittable formArrayName="codeAdminformLisst" *ngIf="showDetails" (linkClick)="onUpdateRow($event)">
          <ngc-data-column [width]="20" text="g.sNo" align="center" cellsAlign="center" dataField="sequence">
            <ng-template let-data let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-display [value]='group + 1'></ngc-display>
              </ng-container>
            </ng-template>
          </ngc-data-column>
          <ngc-data-column [width]="100" text="g.code" align="center" dataField="code">
            <ng-template let-data let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-display *ngIf="codeAdminform.get(['codeAdminformLisst', group, 'subGroupDetailsCode']).value"
                  [width]="210" required formControlName='code'></ngc-display>
                <ng-container *ngIf="!codeAdminform.get(['codeAdminformLisst', group, 'subGroupDetailsCode']).value">
                  <ngc-input *ngIf="parameter1 !== 'ACAS_AGENT_EXMPT'" upperCase='false' [width]="240" required
                    formControlName='code' maxlength='25'>
                  </ngc-input>
                  <ngc-lov *ngIf="parameter1 === 'ACAS_AGENT_EXMPT'" upperCase='true' [validOnly]="true"
                    formControlName="code" sourceId="COMPANY" title="admin.company" [width]="140" dataField="code"
                    (select)="setDescription($event,group)" required>
                    <ngc-data-column text="g.code" dataField="code" [width]="80"></ngc-data-column>
                    <ngc-data-column text="g.description" dataField="desc" [width]="150"></ngc-data-column>
                  </ngc-lov>
                </ng-container>
              </ng-container>
            </ng-template>
          </ngc-data-column>
          <ngc-data-column [width]="550" text="g.description" align="center" dataField="desc">
            <ng-template let-data let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-input upperCase='false' [width]="550" maxlength='65' required formControlName='desc'></ngc-input>
              </ng-container>
            </ng-template>
          </ngc-data-column>
          <ngc-data-column [width]="150" text="master.attribute.one" align="center" dataField="attribute1">
            <ng-template let-data let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-input maxlength='25' upperCase='false' [width]="150" formControlName='attribute1'>
                </ngc-input>
              </ng-container>
            </ng-template>
          </ngc-data-column>
          <ngc-data-column [width]="150" text="master.attribute.two" align="center" dataField="attribute2">
            <ng-template let-data let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-input maxlength='25' upperCase='false' [width]="150" formControlName='attribute2'>
                </ngc-input>
              </ng-container>
            </ng-template>
          </ngc-data-column>
          <ngc-data-column [width]="150" text="master.attribute.three" align="center" dataField="attribute3">
            <ng-template let-data let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-input maxlength='25' upperCase='false' [width]="150" formControlName='attribute3'>
                </ngc-input>
              </ng-container>
            </ng-template>
          </ngc-data-column>
          <ngc-data-column [width]="150" text="master.attribute.four" align="center" dataField="attribute4">
            <ng-template let-data let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-input maxlength='25' upperCase='false' [width]="150" formControlName='attribute4'>
                </ngc-input>
              </ng-container>
            </ng-template>
          </ngc-data-column>
          <ngc-data-column [width]="150" text="master.attribute.five" align="center" dataField="attribute5">
            <ng-template let-data let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-input maxlength='25' upperCase='false' [width]="150" formControlName='attribute5'>
                </ngc-input>
              </ng-container>
            </ng-template>
          </ngc-data-column>
          <ngc-data-column *ngIf="showStartAndLastDate" [width]="600" text="master.effective.start.date" align="center"
            dataField="createdDateOn">
            <ng-template let-data let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-datetimeinput required [showCalendarButton]="true" [showTimeButton]="true"
                  formControlName='createdDateOn' [width]="150"></ngc-datetimeinput>
              </ng-container>
            </ng-template>
          </ngc-data-column>
          <ngc-data-column *ngIf="showStartAndLastDate" [width]="600" text="master.effective.end.date" align="center"
            dataField="modifiedDateOn">
            <ng-template let-data let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-datetimeinput [showCalendarButton]="true" [showTimeButton]="true" formControlName='modifiedDateOn'
                  [width]="150"></ngc-datetimeinput>
              </ng-container>
            </ng-template>
          </ngc-data-column>
          <ngc-data-column [width]="80" text="g.delete" align="center" cellsAlign="center">
            <ng-template let-data let-name="name" let-group="group">
              <ng-container [formGroupName]="group">
                <ngc-link [disabled]="hasReadPermission" (click)="deleteDetails(group)" iconType="delete"></ngc-link>
              </ng-container>
            </ng-template>
          </ngc-data-column>
        </ngc-edittable>
      </ngc-column>
    </ngc-row>
  </ngc-container>
</form>