td {
  height: 5rem;
  width: 5rem;
  text-align: center;
  border: 1px solid #757272;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

tr:nth-child(2n) {
  background: #C6C4C4;
}

td:first-child {
  width: 2.5rem;
  background: black;
  color: white;
}

tr:nth-child(3n)>td {
  /* border: 1px solid red; */
  height: 2rem;
  background: none;
  border: none;
}

tr:nth-child(3n)>td:first-child>.columnNumber {
  /* border: 1px solid red; */
  background: none;
  
}

.columnNumber {
  width: 4.5rem;
  height: 1.33rem;
  /* font-size: 1rem; */
  color: white;
  background: #231F1F;
  margin: 0 auto;
}

.div-container {
  height: 5px;
}