<form [formGroup]="detailsScheduleForm">
    <ngc-titlebar title="flight.flightScheduleDetails.title" (cancel)='onCancel()'>
    </ngc-titlebar>
    <ngc-container type="tab">
        <ngc-row>
            <ngc-column column="1">
                <ngc-label label="g.flight"></ngc-label>
                <div>
                    <ngc-display ngc-form-control formControlName="flight">
                    </ngc-display>
                </div>
            </ngc-column>
            <ngc-column column="2">
                <ngc-label label="g.name"></ngc-label>
                <div>
                    <ngc-display ngc-form-control formControlName="flightName"></ngc-display>
                </div>
            </ngc-column>
            <ngc-column column="1">
                <ngc-label label="g.fromDate"></ngc-label>
                <div>
                    <ngc-display formControlName="dateFrom" [onlyDate]="true"></ngc-display>
                </div>
            </ngc-column>
            <ngc-column column="1">
                <ngc-label label="g.toDate"></ngc-label>
                <div>
                    <ngc-display formControlName="dateTo" [onlyDate]="true"></ngc-display>
                </div>

            </ngc-column>
            <ngc-column column="1">
                <ngc-label label="flight.apron"></ngc-label>
                <div>
                    <ngc-display formControlName="apron"></ngc-display>
                </div>
            </ngc-column>
            <ngc-column column="1">
                <ngc-label label="flight.handler"></ngc-label>
                <div>
                    <ngc-display formControlName="groundHandler"></ngc-display>
                </div>
            </ngc-column>
            <ngc-column align="right">
                <div style="padding-top:22px;">
                    <ngc-button (click)="backToFlightSchedule()" value="flight.back.schedule" iconType="back">
                    </ngc-button>

                    <ngc-button iconType="copy" entityAttribute="Flight.CustomSplitButton" (click)="spiltwindowopen()"
                        value="flight.splitSchedule" id="container">
                    </ngc-button>

                    <ngc-button iconType="copy" (click)="windowopen()" value="flight.copySchedule" id="container">
                    </ngc-button>
                    <ngc-button (click)="callAddOrEdit()" value="flight.add/EditDetail"></ngc-button>
                </div>
                <ngc-window #window [width]="700" [height]="400" title="flight.copySchedule" [showCloseButton]="false">
                    <ngc-container type="tab">
                        <ngc-row>
                            <ngc-column column="1"></ngc-column>
                            <ngc-column>
                                <ngc-row>
                                    <ngc-column>
                                        <ngc-label label="flight.copyFrom"></ngc-label>
                                    </ngc-column>
                                </ngc-row>
                                <ngc-row>
                                    <ngc-column>
                                        <ngc-label label="g.fromDate"></ngc-label>
                                        <br />
                                        <ngc-display ngc-form-control formControlName="dateFrom" [onlyDate]="true">
                                        </ngc-display>
                                    </ngc-column>
                                    <ngc-column>
                                        <ngc-label label="g.toDate"></ngc-label>
                                        <br />

                                        <ngc-display ngc-form-control formControlName="dateTo" [onlyDate]="true">
                                        </ngc-display>
                                    </ngc-column>
                                </ngc-row>
                            </ngc-column>
                            <ngc-column>
                                <ngc-row>
                                    <ngc-column>
                                        <ngc-label label="flight.copyTo"></ngc-label>
                                    </ngc-column>
                                </ngc-row>
                                <ngc-row>
                                    <ngc-column>
                                        <ngc-label label="g.fromDate"></ngc-label>
                                        <br />
                                        <!--<ngc-datetimeinput [width]="100" (ngModelChange)='onSelectoDate($event)' formControlName="copyFromDate"></ngc-datetimeinput>-->
                                        <ngc-datetimeinput [width]="100" formControlName="copyFromDate" required>
                                        </ngc-datetimeinput>
                                    </ngc-column>
                                    <ngc-column>
                                        <ngc-label label="g.toDate"></ngc-label>
                                        <br />
                                        <!--<ngc-datetimeinput [width]="100" [min]="this.detailsScheduleForm.get('copyFromDate').value" formControlName="copyToDate"
                                            required></ngc-datetimeinput>-->
                                        <ngc-datetimeinput [width]="100" formControlName="copyToDate" required>
                                        </ngc-datetimeinput>
                                    </ngc-column>
                                </ngc-row>
                            </ngc-column>
                        </ngc-row>
                    </ngc-container>
                    <ngc-window-footer>
                        <ngc-container type="tab">
                            <ngc-row>
                                <ngc-column align="right">
                                    <ngc-button [disabled]="copyError" (click)="callCreate()" value="flight.create"
                                        iconType="create"></ngc-button>
                                    <ngc-button (click)="callCancel()" value="flight.cancel"></ngc-button>
                                </ngc-column>
                            </ngc-row>
                        </ngc-container>
                    </ngc-window-footer>
                </ngc-window>

                <ngc-window #spiltwindow [width]="700" [height]="400" title="flight.splitSchedule"
                    [showCloseButton]="false">
                    <ngc-container type="tab">
                        <ngc-row>
                            <ngc-column column="1"></ngc-column>
                            <ngc-column>
                                <ngc-row>
                                    <ngc-column>
                                        <ngc-label label="flight.splitFrom"></ngc-label>
                                    </ngc-column>
                                </ngc-row>
                                <ngc-row>
                                    <ngc-column>
                                        <ngc-label label="g.fromDate"></ngc-label>
                                        <br />
                                        <ngc-display ngc-form-control formControlName="dateFrom" [onlyDate]="true">
                                        </ngc-display>
                                    </ngc-column>
                                    <ngc-column>
                                        <ngc-label label="g.toDate"></ngc-label>
                                        <br />

                                        <ngc-display ngc-form-control formControlName="dateTo" [onlyDate]="true">
                                        </ngc-display>
                                    </ngc-column>
                                </ngc-row>
                            </ngc-column>
                            <ngc-column>
                                <ngc-row>
                                    <ngc-column>
                                        <ngc-label label="flight.splitTo"></ngc-label>
                                    </ngc-column>
                                </ngc-row>
                                <ngc-row>
                                    <ngc-column>
                                        <ngc-label label="g.fromDate"></ngc-label>
                                        <br />
                                        <!-- <ngc-datetimeinput [width]="100" formControlName="copyFromDate"> -->
                                        <ngc-datetimeinput [width]="100" formControlName="splitDateFrom">
                                        </ngc-datetimeinput>
                                    </ngc-column>
                                    <ngc-column>
                                        <ngc-label label="g.toDate"></ngc-label>
                                        <br />
                                        <!-- <ngc-datetimeinput [width]="100" formControlName="copyToDate" required> -->
                                        <ngc-datetimeinput [width]="100" formControlName="splitDateTo" required>
                                        </ngc-datetimeinput>
                                    </ngc-column>
                                </ngc-row>
                            </ngc-column>
                        </ngc-row>
                    </ngc-container>
                    <ngc-window-footer>
                        <ngc-container type="tab">
                            <ngc-row>
                                <ngc-column align="right">
                                    <ngc-button [disabled]="copyError" (click)="spiltCreate()" value="flight.create"
                                        iconType="create">
                                    </ngc-button>
                                    <ngc-button (click)="spiltCancel()" value="flight.cancel"></ngc-button>
                                </ngc-column>
                            </ngc-row>
                        </ngc-container>
                    </ngc-window-footer>
                </ngc-window>

            </ngc-column>
        </ngc-row>
    </ngc-container>
    <ngc-container *ngIf="resp" type="tab">
        <ngc-row *ngFor="let flight of resp.schFlightList;  let index=index">
            <ngc-column>
                <ngc-scheduledetails [responseServer]="flight" [index]="index"></ngc-scheduledetails>
            </ngc-column>
        </ngc-row>
    </ngc-container>
</form>