<form [formGroup]="form">
  <ngc-titlebar title="export.carrier.fwb.title" (save)="onSave($event)" (clear)="onClear($event)"></ngc-titlebar>

  <ngc-container type="tab">
    <ngc-row>
      <ngc-column [column]='1'>
        <ngc-label label="g.carrier"></ngc-label>
      </ngc-column>
      <ngc-column [column]='2'>
        <ngc-lov formControlName="carrierCode" upperCase="true" dataField="code" displayMember="code" [width]="75" sourceId='CARRIER'
          title='flight.carrierType' (onChange)="onSelectCarrier($event)" (select)="onSelectCarrier($event)" required>
          <ngc-data-column text="g.carrier" dataField="code" [width]="100"></ngc-data-column>
          <ngc-data-column text="g.description" dataField="desc" [width]="150"></ngc-data-column>
          <ngc-data-column text="flight.assisted" dataField="param1"></ngc-data-column>
        </ngc-lov>
      </ngc-column>
      <ngc-column [column]='2'>
        <ngc-button label="g.search" iconType="search" (click)="onSearch()"></ngc-button>
      </ngc-column>
      <ngc-column [column]='2'>
        <ngc-button label="g.addRow" (click)="onAddRow()"></ngc-button>
      </ngc-column>
      <ngc-column [column]='4'></ngc-column>
    </ngc-row>
    <ngc-row>
      <ngc-column>
        <ngc-table>
          <thead>
            <tr>
              <th>
                <ngc-label label="g.carrier"></ngc-label>
              </th>
              <th>
                <ngc-label label="g.country"></ngc-label>
              </th>
              <th>
                <ngc-label label="flight.flight.sector"></ngc-label>
              </th>
              <th>
                <ngc-label label="export.carrier.fwb.req"></ngc-label>
              </th>
              <th>
                <ngc-label label="export.carrier.fhl.req"></ngc-label>
              </th>
              <th>
                <ngc-label label="g.startDate"></ngc-label>
              </th>
              <th>
                <ngc-label label="g.endDate"></ngc-label>
              </th>
              <th>
                <ngc-label label="export.carrier.customer.req"></ngc-label>
              </th>
              <th>
                <ngc-label label="export.carrier.fwb.airline.req"></ngc-label>
              </th>
              <th>
                <ngc-label label="export.carrier.amend.fwb"></ngc-label>
              </th>
              <th>
                <ngc-label label="export.carrier.fwb.amend.eawb.fwb"></ngc-label>
              </th>
              <th>
                <ngc-label label="g.delete"></ngc-label>
              </th>
            </tr>
          </thead>
          <tbody formArrayName="carrierFWB">
            <tr *ngFor="let item of form.controls.carrierFWB.controls; let index=index" [formGroupName]="index">
              <td>
                <ngc-lov formControlName="carrierCode" upperCase="true" dataField="code" displayMember="code" [width]="75" sourceId='CARRIER'
                  title='flight.carrierType' (onChange)="onSelectCarrier($event)" (select)="onSelectCarrier($event)" required>
                  <ngc-data-column text="g.carrier" dataField="code" [width]="100"></ngc-data-column>
                  <ngc-data-column text="g.description" dataField="desc" [width]="150"></ngc-data-column>
                  <ngc-data-column text="flight.assisted" dataField="param1"></ngc-data-column>
                </ngc-lov>
              </td>
              <td>
               
                <ngc-lov formControlName="country" upperCase="true" dataField="code" displayMember="code" [width]="75" sourceId='COUNTRY'
                  title='flight.carrierType' (onChange)="onSelectCarrier($event)" (select)="onSelectCarrier($event)" required>
                  <ngc-data-column text="g.carrier" dataField="code" [width]="100"></ngc-data-column>
                  <ngc-data-column text="g.description" dataField="desc" [width]="150"></ngc-data-column>
                </ngc-lov>
              </td>
              <td>
                <ngc-display formControlName="flightSector"></ngc-display>
               
              </td>
              <td>
                <ngc-display formControlName="FWBRequest"></ngc-display>
              </td>
              <td>
                <ngc-display formControlName="FHLRequest"></ngc-display>
              </td>
              <td>
                <ngc-datetimeinput formControlName="startDate"></ngc-datetimeinput>
              </td>
              <td>
                <ngc-datetimeinput formControlName="endDate"></ngc-datetimeinput>
              </td>
              <td>
                <ngc-display formControlName="customerRequest"></ngc-display>
              </td>
              <td>
                <ngc-display formControlName="airlineRequest"></ngc-display>
              </td>
              <td>
                <ngc-display formControlName="amendFWB"></ngc-display>
              </td>
              <td>
                <ngc-display formControlName="amendeAWBFWB"></ngc-display>
              </td>
              <td>
                <ngc-link (linkClick)="onDelete(index)" hide-value="true">
                  <ngc-icon type="yesno" value="false"></ngc-icon>
                </ngc-link>
              </td>
            </tr>
          </tbody>
        </ngc-table>
      </ngc-column>
    </ngc-row>
   
  </ngc-container>