<ngc-titlebar *ngIf="!popup" title="tcs.connectingTruck" (save)="onSave()">
</ngc-titlebar>
<form [formGroup]="connectingTruckForm">
    <ngc-container type="section" formGroupName="search">
        <ngc-row>
            <ngc-column column="2">
                <ngc-label label="tcs.truckDock"></ngc-label>
                <div>
                    <ngc-lov [validOnly]="true" formControlName="truckDockNo" dataField="desc" displayField="desc" sourceId="Truck_Dock_No"
                        required accessEnableOn="r" [width]="100">
                        <ngc-data-column text="g.code" [width]="150" dataField="desc"></ngc-data-column>
                    </ngc-lov>
                </div>
            </ngc-column>
            <ngc-column verticalAlign="bottom">
                <div>
                    <ngc-button (click)="onSearch()" value="Search" iconType="search" accessEnableOn="r">
                    </ngc-button>
                </div>
            </ngc-column>
        </ngc-row>
    </ngc-container>
        <ngc-container *ngIf="isSearch" type="tab" formGroupName="details">
        <ngc-row>
            <ngc-column>
                <ngc-label label="tcs.currentVehicleNo">
                </ngc-label>
                <div>
                    <ngc-display formControlName="vehicleNo"></ngc-display>
                </div>
            </ngc-column>
        </ngc-row>
        <ngc-row>
            <ngc-column column="4">
                <ngc-table>
                    <thead>
                        <tr>
                            <th>
                                <ngc-label label="tcs.vehicleNo"></ngc-label>
                            </th>
                        </tr>
                    </thead>
                    <tbody formArrayName="vehicleDetails">
                        <tr *ngFor="let item of connectingTruckForm.get('details.vehicleDetails').controls; let index=index"
                            [formGroupName]="index">
                            <td>
                                <ngc-input  formControlName='vehicleNo' patternName="alphanum"
                                    sourceCategory="dropdown"  sourceId="TCS_VEHICLES">
                                </ngc-input>
                            </td>
                        </tr>
                    </tbody>
                </ngc-table>
            </ngc-column>
        </ngc-row>
    </ngc-container>
</form>