<form [formGroup]="newUldRepairForm">
  <ngc-container type="header" title="title.DETAILS" *ngIf="formDisplay">

    <ngc-row>
      <ngc-column>
        <ngc-label value="uld.Date"></ngc-label>
        <div>
          <ngc-datetimeinput [width]="170" formControlName="date" [showTimeButton]="true" [showCalendarButton]="true"
            required></ngc-datetimeinput>
        </div>
      </ngc-column>
      <ngc-column>
        <ngc-label value="uld.Remark"></ngc-label>
        <div>
          <ngc-input [width]="200" [placeHolder]="'uld.Remark'" formControlName="remarks"></ngc-input>
        </div>
      </ngc-column>
    </ngc-row>
  
  </ngc-container>
</form>